[2019-06-04 04:03] nuclearsandwich commented on #276
- [ ] http://wiki.ros.org/ShadowRepository needs to reflect the rename to `ros-testing`.
- [ ] http://wiki.ros.org/SnapshotRepository needs to note the updated repository layout and the presence of unsupported releases.
- [ ] http://wiki.ros.org/melodic/Installation/Ubuntu and all installation instructions for current rosdistros need to use the updated key id.

[2019-06-04 07:11] gavanderhoorn commented on #276
Perhaps also rename `wiki/ShadowRepository` to `wiki/TestingRepository` and setup a redirect from the old to the new page?

[2019-06-04 07:13] tfoote commented on #275
We've turned off many of the features of moin moin to prevent overloading the system as we've scaled too high. The rss feed generation is one of them. A PR to remove the icon would be appreciated, but I don't think that we're going to be able to find the resources to enable the rss.

[2019-06-04 07:13] #275 closed

[2019-06-04 07:46] tfoote commented on #258
@calvertdw @ulyssesrr @prasannashevare @seanyen @ts-adi @RaminYT added

[2019-06-04 15:32] kyrofa commented on #276
Plus Indigo.

[2019-06-06 02:00] jiuyewxy commented on #258
Please add my username wangxiaoyun for access to the ROS wiki

[2019-06-06 05:47] Jamesiong opened #277 "Please add my username: Jamesiong"

[2019-06-06 16:47] GaboTor commented on #258
Please add my username "GabrielTorre" for access to the ROS wiki
Thanks!

[2019-06-07 02:55] umhan35 commented on #258
Please add `ZhaoHan` to the wiki. Thanks!

[2019-06-07 21:11] J0 commented on #258
Please add my username `JoelLee` to the ROS wiki
Thanks!

[2019-06-07 23:57] ruffsl commented on #276
- [x] ROS2 for Docker Library https://github.com/docker-library/official-images/pull/6000
- [x] ROS1 for Docker Library https://github.com/docker-library/official-images/pull/6053
- [x] Update dockerfiles osrf/ros2 nightly and devel https://github.com/osrf/docker_images/pull/266
- [ ] Update legacy dockerfiles with new key and snapshot URL

[2019-06-08 04:30] kyrofa commented on #276
* [x] Snapcraft: Trust new key: https://github.com/snapcore/snapcraft/pull/2578
* [ ] Snapcraft: Stop trusting old key: https://github.com/snapcore/snapcraft/pull/2586

[2019-06-08 12:44] ipa-mdl commented on #276
https://github.com/ros-industrial/industrial_ci/pull/373 was merged, I will post some migration notes on discourse later

[2019-06-08 18:01] ana0209 commented on #258
Please add my username AnaLovejoy for access to the ROS wiki

[2019-06-11 02:21] rojas70 commented on #276
not being able to receive the keys...

[2019-06-11 06:30] n-ando commented on #258
Please add my username n-ando for access to the ROS wiki. Thanks!!

[2019-06-11 14:57] DaftMe commented on #258
Please add my username YinxiaoZhan for access to the ROS wiki

[2019-06-11 21:51] tfoote commented on #258
@DaftMe @ana0209 @J0 @umhan35 @GaboTor @jiuyewxy @n-ando  added

[2019-06-12 09:02] fskaiser commented on #258
Please add my username FelixKaiser for access to the ROS wiki. Thanks!

[2019-06-12 10:29] palomacarrasco commented on #258
Please add my username palomacarrasco for access to the ROS wiki. Thanks!

[2019-06-13 01:11] tfoote commented on #277
Please comment on #258 to be added.

[2019-06-13 01:11] #277 closed

[2019-06-13 02:31] tfoote commented on #258
@palomacarrasco @fskaiser added

[2019-06-13 13:23] julian-r commented on #258
please access my username "julzi"

[2019-06-13 18:24] NoahAndrews commented on #258
Please add my username NoahAndrews for access to the ROS wiki.

[2019-06-14 04:33] b2256 commented on #258
Please add my username b2256 for access to the ROS wiki.  Thanks

[2019-06-14 11:11] NighttimeDriver50000 commented on #258
Please add my username `ChristopherMcKinney` to the whitelist. Thanks

[2019-06-14 15:31] artursg commented on #258
Please add my username `ArturSagitov` for access to the ROS wiki

[2019-06-15 03:16] jimmyshe commented on #258
add me plz username: cq2essz

[2019-06-17 09:56] easdue commented on #258
Please add me "Erik Duisters" to the whitelist

[2019-06-18 04:39] hi-kondo commented on #258
please add my username seed-solutions for access to the ROS wiki.
Thanks

[2019-06-18 14:35] cxgarcia95 commented on #258
Please add my username CarlosGarcia for access to the ROS wiki

[2019-06-19 04:34] abhip64 commented on #258
Please add my username "Abhijith Prakash" to the whitelist

[2019-06-19 10:53] nickzherdev commented on #276
This command helped me:
sudo launchpad-getkeys

[2019-06-21 05:05] cxbrooks commented on #258
Please add my username ChristopherBrooks to the whitelist

[2019-06-21 08:36] JoveH-H commented on #258
Please add my username JOVE for access to the ROS wiki

[2019-06-21 09:10] claudiolanfranco commented on #258
Please add my Id  ClaudioLanfranco to the whitelist. for access to the ROS wiki thanks

[2019-06-25 04:06] hi-kondo commented on #258
Please add my username hi-kondo for access to the ROS wiki.

[2019-06-25 14:24] nseckel commented on #258
Please add my username NancySeckel to the whitelist for the ROS wiki.

[2019-06-25 14:48] pedrombmachado commented on #258
Please add my username @pedrombmachado

[2019-06-25 22:38] tfoote commented on #258
@julian-r @NoahAndrews @b2256 @cxgarcia95 @abhip64 @cxbrooks @NighttimeDriver50000 @artursg  @easdue @jimmyshe @JoveH-H @claudiolanfranco @hi-kondo @nseckel  added

@pedrombmachado you appear to already be listed

[2019-06-29 08:11] bulaybulayRJ commented on #258
Please add my username 'Riel Joseph Bulaybulay' to the whitelist for the ROS wiki.

[2019-06-30 03:14] survyvaish commented on #258
I would like edit permissions to the wiki please `Sarvagya Vaish`.
Most of the links for the Apriltag package are broken and i would like to fix them :)
http://wiki.ros.org/action/login/apriltag_ros

[2019-07-01 05:43] jwhendy opened #279 "Allowable requests per time to avoid triggering surge protection?"
Greetings,

I'm trying to automate a pretty big update to our [ros-melodic-arch](https://github.com/ros-melodic-arch) effort. One of these involves updating our wiki links. I found the [distribution list](https://github.com/ros/rosdistro/blob/master/melodic/distribution.yaml), but it doesn't have wiki pages at the release package level, so in my script I'm seeing if `https://wiki.ros.org/foo` exis

[2019-07-02 14:37] KevinWarburton commented on #258
Please add my username "KevinWarburton" to the whitelist for editing the ROS wiki.

[2019-07-02 18:50] tfoote commented on #258
@KevinWarburton @survyvaish @bulaybulayRJ  added

[2019-07-02 19:03] AdmiralWall commented on #258
Please add "rwall" to the whitelist for editing the ROS Wiki

[2019-07-03 20:14] skalldri commented on #258
Hello,

Can you please add 'StuartAlldritt' to the whitelist for editing the ROS wiki?

Cheers,
Stuart

[2019-07-06 00:26] shiluobeiing commented on #258
Hello, could you please add my ID David Smith to the whitelist？Thank you very much.

[2019-07-08 17:27] zih301 commented on #258
Please add ZainHussaini as well, thank you!

[2019-07-09 06:12] yemreikiz commented on #258
Morning fellas! It will be very kind of you to add me, YunusIkiz, to your whitelist!

[2019-07-10 06:50] tfoote commented on #279
The wiki is pretty overloaded. We can't really open it up more. There's more relevant discussion at: https://github.com/ros/rosdistro/issues/21660 lets follow up there.

[2019-07-10 06:50] #279 closed

[2019-07-10 16:01] jwhendy commented on #279
I think the question is really: "How do [these limits ](https://github.com/ros-infrastructure/roswiki/blob/conf/roswiki.py#L110-L122)apply in practice?

[code]

What does a page request via the python `requests` library equate to in the above? On the low end, we have 1/min and 6/min, but most others would seem to allow an action every 1-2 seconds. I found I had to use `time.sleep(10)` in order not

[2019-07-10 16:59] alankdkd commented on #258
Please add Alan8.

[2019-07-11 00:11] brunodmt commented on #258
Please add **BrunoDemartino** to the whitelist. Thanks!

[2019-07-11 12:25] lxttian commented on #258
Please add my username lxttian for access to the ROS wiki

[2019-07-12 01:16] tfoote commented on #258
@lxttian @brunodmt @alankdkd @yemreikiz @zih301 @shiluobeiing @skalldri @AdmiralWall  added

[2019-07-12 01:38] tfoote commented on #279
Overall you're reading it right. But I think what you can't see is that some pages incur multiple costs if they cause other page loads etc such as via an include mechanism or other things potentially in embedded macros. An empirical approach is likely going to be the most effective. And note that even if you respect these limits they're also set empirically to keep the server running. It's possibl

[2019-07-12 03:44] jwhendy commented on #279
Thanks for pointing this out. I did not think about subsequent loads.

Should anyone else run into this, I found that creating a page request to `ros.wiki.org/foo` with `time.sleep(10)` built in to my loop was effective.

Thanks for the clarification!

[2019-07-12 11:55] senceryazici commented on #258
Please add my username SencerYazici for access to the whitelist. Thank you

[2019-07-12 18:06] injones commented on #258
Please add my username IeuanJones for access to the ROS wiki

[2019-07-15 08:11] weixrein commented on #258
Please add my username wei xiang for access to the whitelist. Thank you

[2019-07-15 09:07] ClaudiaAlvarezAparicio commented on #258
Please add my username ClaudiaAlvarez to the whitelist.
Thank you

[2019-07-16 22:39] jatowler commented on #258
Please add my username JerryTowler to the whitelist.

Thanks,
Jerry

[2019-07-17 12:36] teddyluo commented on #258
Hi, please add my username teddyluo to the whiltelist. Many thanks.

[2019-07-18 20:45] shakeelsamsu commented on #258
Please add `ShakeelSamsu` to the whitelist

[2019-07-19 02:52] yg97 commented on #258
Please add JohnGiannopoulos to the whitelist.

[2019-07-19 16:12] jcuara123 commented on #258
Please add my username JavierCuara

[2019-07-20 00:45] tfoote commented on #258
@jcuara123 @yg97 @shakeelsamsu @teddyluo @jatowler @ClaudiaAlvarezAparicio @weixrein @injones @senceryazici added

[2019-07-21 05:46] linmianhao commented on #258
Please add my username linmianhao for access to the ROS wiki

[2019-07-22 10:55] knight8rider commented on #258
Please add my UserName 'Khalilur Rahman'

[2019-07-22 11:49] linmianhao commented on #258
Please add my UserName 'Khalilur Rahman'

[2019-07-22 15:50] Lambrosia commented on #258
Please add username Lambtron for access to the ROS wiki

[2019-07-23 03:15] kPatch commented on #258
Please add user 'IrvinCardenas' to the whitelist. Thanks in advance!

[2019-07-23 15:47] dual-tree commented on #258
请添加我的用户名dual-tree以访问ROS wiki

[2019-07-23 15:48] dual-tree commented on #258
Please add my username dual-tree for access to the ROS wiki

[2019-07-23 19:17] CHARISMAlab commented on #258
Please add SamarendraHedaoo to the whitelist.

[2019-07-24 03:29] PGTav commented on #258
Please add my username Tav_PG for access to the ROS wiki

[2019-07-24 06:33] tongsky723 commented on #258
Please add my username tongsky723 for access to the ROS wiki

[2019-07-24 18:03] adaruna3 commented on #258
Please add my username AngelDaruna for access to the ROS wiki

[2019-07-24 21:50] tfoote commented on #258
@adaruna3 @tongsky723 @PGTav @CHARISMAlab @dual-tree @kPatch @Lambrosia @linmianhao added

[2019-07-24 22:01] maryaB-osr commented on #258
Please add my username MaryaBelanger for access to the ROS wiki

[2019-07-24 22:08] tfoote commented on #258
@maryaB-osr added

[2019-07-27 22:43] TheoKanning commented on #258
Can you add TheoKanning? Thanks!

[2019-07-28 02:14] FanZhenQuan commented on #258
@TheoKanning added

[2019-07-28 03:56] avivsworld commented on #258
Can you please add AvivM?

[2019-07-28 04:22] FanZhenQuan commented on #258
@AvivM added

[2019-07-28 11:59] teddyluo commented on #258
please add "teddy.luo" to the white list. Many thanks.

[2019-07-29 09:34] jeremyfix commented on #258
Hi, could you please add me    JeremyFix       to the white list. Thanks.

[2019-07-30 05:44] YuwoChu commented on #258
Add 'Yuwob Chu' to the WHITE list.

[2019-07-30 18:05] njoubert commented on #258
Please add `njoubert` to the whitelist, thank you!

[2019-07-31 05:11] busebatman commented on #258
Please add my username BuseBatman for access to the ROS wiki

[2019-07-31 14:24] stasgurevich commented on #258
Please add my username StasGurevich to the whitelist, thank you. I would like to describe steps to build ROS on Raspbian Buster.

[2019-07-31 19:35] henrik7264 commented on #258
Please add my username Henrik Larsen for access to the ROS wiki

[2019-08-01 04:42] yiuchiwai commented on #258
Please add my username "yiuchiwai" access to the ROS wiki, thanks

[2019-08-01 13:05] JuicyJay commented on #258
Please add my username JasminZiegler for access to the ROS wiki
Thanks guys :-)

[2019-08-01 22:02] tfoote commented on #258
@teddyluo I modified your entry to be the new name.

@FanZhenQuan just adding a comment here doesn't give them access.

@TheoKanning @avivsworld @jeremyfix @YuwoChu  @njoubert @busebatman @stasgurevich @henrik7264 @yiuchiwai @JuicyJay added

[2019-08-02 06:18] MarcoStb1993 commented on #258
Please add my username MarcoSteinbrink to the ROS wiki, thank you!

[2019-08-02 20:15] MoYuZhe commented on #258
username: YichiChen
@tfoote Please add me to the ROS Wiki. Thank you!

[2019-08-05 10:33] flymaxty commented on #258
Please add my username flymaxty for access to the ROS wiki.

Thank you!

[2019-08-05 11:56] replicatesyndicate commented on #258
Please add AtakanBotasun for the ROS wiki access, thanks

[2019-08-06 16:00] nathangeorge1 commented on #258
Please add NathanGeorge to ROS wiki access; thanks

[2019-08-06 17:26] AeroWRX commented on #258
Please add Stigma to the white list. Thx

[2019-08-07 02:49] FProgrammerLIU commented on #258
Please add iquotient-robotics to ROS wiki access; thanks

[2019-08-07 03:06] FProgrammerLIU commented on #258
Please add hangliu to ROS wiki access; thanks

[2019-08-07 16:31] dmillard commented on #258
Please add DavidMillard to the whitelist. Thank you!

[2019-08-07 22:49] tfoote commented on #258
@dmillard @FProgrammerLIU @AeroWRX @nathangeorge1 @replicatesyndicate @flymaxty @MoYuZhe @MarcoStb1993  added

[2019-08-08 18:46] seanyen opened #280 "Google+ broken link on the footer."
For every ROS Wiki page, there is a [`Find us on Google+`](https://plus.google.com/113789706402978299308) link and it appears to lead to a 404 page. Perhaps we should remove it?

EDITED: The code for the link is here: https://github.com/ros-infrastructure/roswiki/blob/3da4f94f6b9af4b07ab9858ac86ea64a9a47b80f/theme/rostheme.py#L335

[2019-08-08 19:03] jeremyroy commented on #258
Please add my username JeremyRoy for access to the ROS wiki.  Thank you!

[2019-08-09 08:09] pcarrascof commented on #258
Please add my username Fada_Catec

[2019-08-09 18:13] tfoote commented on #280
Fixed in #278

[2019-08-09 18:13] #280 closed

[2019-08-09 18:51] tfoote commented on #258
@pcarrascof @jeremyroy added

[2019-08-11 22:16] braineniac commented on #258
Hello, could you add me? username DanielHammer
found an error [here](http://wiki.ros.org/action/login/roslaunch/API%20Usage)(posting just to remind myself in a few days)

[2019-08-11 22:49] 2bw commented on #258
Please, add "bowe" to the white list. Thanks

[2019-08-12 18:53] tfoote commented on #258
@2bw @braineniac added

[2019-08-13 07:42] sktometometo commented on #258
Please add my username KokiShinjo for access to the ROS wiki

[2019-08-13 20:12] padiln commented on #258
Please add my username NicholasPadilla to edit ROS Wiki

[2019-08-13 21:51] Bilelhmaidi commented on #258
Please add my username Hmaidi bilel

[2019-08-14 09:40] hgschwan commented on #258
please add HaraldGschwandtner

[2019-08-15 08:06] RBinsonB commented on #258
Please add my username RobinBaran for access to the ROS wiki

[2019-08-16 11:59] ceplbr commented on #258
Please add MiroslavCepl, thanks!

[2019-08-16 22:40] tfoote commented on #258
@sktometometo @padiln @Bilelhmaidi @hgschwan @RBinsonB @ceplbr added

[2019-08-21 22:35] tfoote commented on #276
Finished the last checklist, closing this.

[2019-08-21 22:35] #276 closed

[2019-08-21 22:50] kscottz commented on #258
Please add @kscottz

[2019-08-22 04:43] msadowski commented on #258
Can you please add MatSadowski ? Thanks!

[2019-08-23 08:10] heizmreSICKAG commented on #258
Can you please add Reinhard Heizmann? Thank You

[2019-08-27 08:57] Ermanas commented on #258
Can you please add my account to the list.
Wiki ROS ID: Ermanas

[2019-08-27 11:22] galaxywenze opened #281 "期待加入大家庭"

[2019-08-29 02:01] qiuxiaokun commented on #258
please add my username qiuxiaokun for access to the ROS wiki.
Thanks

[2019-08-30 13:17] Jean-Alix commented on #258
Hi,
May you please add my username Jean-AlixDavid to the whitelist.
Thanks

[2019-08-30 15:17] nrotella-ainstein commented on #258
Please add my username nrotella-ainstein to the whitelist.

Thank you.

[2019-08-31 08:24] GreenGhostMan commented on #258
Please add me.
username : Pyae soan aung
Very Thank!

[2019-09-03 07:42] calvama commented on #258
Please add CelestinoAlvarez
Cheers!

[2019-09-03 10:29] totordudu commented on #258
Please add Duvinage
Thanks

[2019-09-04 08:52] rachsc commented on #258
Hello, please add RaquelSuarez
Thanks!

[2019-09-04 08:52] JKMartin80 commented on #258
Please add Joaquin Martin
Cheers!

[2019-09-04 11:38] apartridge commented on #258
Please add StianPedersen

[2019-09-04 20:51] ahmedfarag9 commented on #258
Please add my username ahmedfarag for access to the ROS wiki

[2019-09-05 08:09] nachosecades commented on #258
please add my username nachosecades for access to the ROS wiki.
Thanks
Nacho

[2019-09-05 19:22] kscottz commented on #258
@qiuxiaokun, @Jean-Alix, @nrotella-ainstein, @GreenGhostMan, @calvama, @totordudu, @rachsc, @JKMartin80, @apartridge, @ahmedfarag9, @nachosecades

Sorry about the delay. You should all be granted access soon. If you have any issues please get a hold of me.

[2019-09-06 12:46] Josque commented on #258
Please add my username JoostWagensveld for access to the ROS wiki

[2019-09-06 14:09] flaavour commented on #258
Please add my username **MarcinPanek** for access to the ROS wiki.

Thank you!

[2019-09-06 15:05] akinerkan commented on #258
please add me to whitelist with my username  akinerkan

[2019-09-06 19:33] kscottz commented on #258
@Josque
@flaavour
@akinerkan

You have been granted access. Please let me know if you have any problems.

:robot:

[2019-09-06 19:58] akinerkan commented on #258
I noticed that I used AkınErkan as my wiki login.  I created second login  akinerkan instead. But still advising me same thing.

Can you check akinerkan again please ?

[2019-09-06 20:16] kscottz commented on #258
I believe these log ins to be case sensitive. I went and added the CamelCase version too. Let me know if that doesn't work.

[2019-09-07 03:50] monkeytub commented on #258
Username Cat, here I'm eager to join ROS Family!

[2019-09-09 18:57] kscottz commented on #258
@monkeytub you are now CAT :cat: on the wiki. Let me know if you have issues.

[2019-09-10 21:39] h3ct0r commented on #258
Please add my name to edit the ROS wiki! username: h3ct0r

[2019-09-10 22:03] kscottz commented on #258
@h3ct0r I added you to the list. Let me know if it doesn't work.

[2019-09-11 02:11] xinwf commented on #258
Please add my name to edit the ROS wiki! username: __xinwf__ . Thanks!

[2019-09-11 14:38] ayitsparker commented on #258
Do we need to comment name or Alias-name? My Alias-name is: ayitsparker

[2019-09-11 18:35] kscottz commented on #258
@ayitsparker @xinwf You have been added to the wiki.

[2019-09-11 18:40] RuanvanBreda commented on #258
Please add my username RuanvanBreda for access to the ROS wiki

[2019-09-13 16:49] kscottz commented on #258
@nschoenhals-cpr You should be good to go now. Thanks for contributing.

[2019-09-16 21:16] acxz commented on #258
Hello I would like access the ROS Wiki: acxz

[2019-09-16 21:57] kscottz commented on #258
@acxz I added you.  Let me know if it doesn't work.

[2019-09-16 22:33] acxz commented on #258
Thank you, works fine!

[2019-09-17 13:41] Gatien-G commented on #258
Hello :)
I would like to access the ROS Wiki, with username : GatienGaumerais
Thanks !

[2019-09-17 20:06] lighterix commented on #258
Please add my wiki UserName, 'DiglioSimoni', to the whitelist.

[2019-09-17 21:05] kscottz commented on #258
@Gatien-G @lighterix You should be good to go.

[2019-09-18 05:28] aelij commented on #258
Please add `EliArbel`, thanks.

[2019-09-18 10:55] AlexisTM commented on #258
Hi! I would like to add xacro tricks to the wiki such as loops.

My username is `AlexisTM`

Thanks!

[2019-09-18 12:53] yuchen-zhzh commented on #258
Please add my username:`yuchen_zhzh`
Thanks!

[2019-09-18 18:02] kscottz commented on #258
@aelij @AlexisTM @yuchen-zhzh You have been granted access to the wiki.

[2019-09-19 11:55] lixianqiang commented on #258
please add lixianqiang to the whitelist.

[2019-09-19 22:14] kscottz commented on #258
@lixianqiang You are good to go.

[2019-09-20 06:10] mgruhler opened #286 "package header source entry - where is this retrieved from?"
A question about the autogenerated header information of the packages.

I've taken over the maintainership of the [soem ROS package](http://wiki.ros.org/soem).

I just noticed the the `source` entry in the package information still links to the old repo for `kinetic`, wheras it links to the correct/new one for `melodic`. (is there a way to link directly to the different distro versions?)

I've pre

[2019-09-20 07:06] tfoote commented on #286
That "repository" header is just a comment.

Some of the wiki documentation header comes from the individual doc jobs. The last time it was run was Sep 3rd for Kinetic: http://docs.ros.org/kinetic/api/soem/

![Screenshot from 2019-09-19 23-53-10](https://user-images.githubusercontent.com/447804/65305685-aab2b200-db38-11e9-8b30-6c91cb1bd823.png)

Updated by the last doc job: http://build.ros.org/vi

[2019-09-20 07:44] mgruhler commented on #286
Cool, thx for the explanation @tfoote.
This helps a lot. So I'll just check the wiki in a few days, should be updated then.

[2019-09-20 07:44] #286 closed

[2019-09-20 22:32] tfoote commented on #286
Yeah, I'd expect it on the 21st having last polled on the 18th.

[2019-09-20 23:14] gmsanchez commented on #258
Please add my username GuidoSanchez to the whitelist for the ROS wiki.
Thanks

[2019-09-21 11:03] Auledas commented on #258
Hello, could I get write access to the ROS wiki? My username is: MarcAuledas
Thanks.

[2019-09-23 09:11] leishen-lidar commented on #258
I'd add my account leishen_lidar to wiki of white list, thank you.

[2019-09-23 14:54] jaywinston commented on #258
Please add my username JayWinston for access to the ROS wiki.
Thanks.

[2019-09-23 18:36] kscottz commented on #258
@gmsanchez @Auledas @leishen-lidar @jaywinston You are good to go.

[2019-09-24 05:57] cygnusyang commented on #258
Please add me to the ROS wiki whitelist. My account name: cygnusyang

Thanks.

[2019-09-24 16:35] tinoreycoc commented on #258
Can please add me to the ROS wiki whitelist ?
My account name is tinoreycoc

Thanks.

[2019-09-24 19:48] kscottz commented on #258
@tinoreycoc @cygnusyang You should now have access.

[2019-09-25 03:30] frank26080115 commented on #258
Hi, my account name is `FrankZhao` and I've been doing a bunch of installation of ROS on Raspbian Buster and I would like to make some additions to the instructions on the wiki regarding that topic.

[2019-09-25 12:09] EasonQu commented on #258
Please add my username 'eason.qu' access to the ROS wiki, thanks!

[2019-09-25 18:01] kscottz commented on #258
@frank26080115 I gave you auth. Let me know when you are done. I'm interested in what you found.

@EasonQu You are good to go.

[2019-09-26 10:33] mortenfyhn commented on #258
Please add my username `Morten Fyhn Amundsen` for access to the ROS wiki. Wanna fix [this thing](https://github.com/mavlink/mavros/pull/1321).

[2019-09-26 18:55] kscottz commented on #258
@mortenfyhn Thanks for the help. I went and added you.

[2019-09-27 13:52] VorpalBlade commented on #258
Please add my user name `ArvidNorlander` for access. Want to fix some dead links to the CDN for roslibjs.

[2019-09-27 18:05] kscottz commented on #258
@VorpalBlade That is great. I just granted access.

[2019-09-30 16:40] ruizhou611 commented on #258
Please add me into ROS wiki

[2019-09-30 18:31] kscottz commented on #258
@ruizhou611 Assuming your wiki name is the same as your git name you are in.

[2019-10-02 12:42] lindemeier commented on #258
Please add me to the ROS wiki:
ThomasLindemeier

thx!

[2019-10-02 20:39] YZ6565785 commented on #258
Hi, can you please add my username "Yuhang Zhang" to the ROS wiki whitelist? Thanks!

[2019-10-03 05:47] higuchish commented on #258
Please add my username ShotaroHiguchi for access to the ROS wiki.

[2019-10-03 10:56] MRo47 commented on #258
Please add my username
MRo47
thanks

[2019-10-04 06:55] wonjin commented on #258
Please add my username: "Kang Wonjin". Thanks!

[2019-10-04 08:09] appie-17 commented on #258
Please add my username `Jordy van Appeven` for access to the ROS wiki

[2019-10-04 17:49] kscottz commented on #258
@appie-17 @MRo47 @wonjin @higuchish @YZ6565785 @lindemeier Y'all should have access now.

[2019-10-06 10:50] pabloinigoblasco commented on #258
Please, add my username Pablo Iñgo Blasco for access to the ROS wiki

[2019-10-06 16:23] m-elwin commented on #258
please add username: melwin for the ROS wiki.  Thank you.

[2019-10-07 00:17] max-krichenbauer commented on #258
Hello!
Please add "max-krichenbauer" to the white-list for the ROS wiki.
Thank you!

[2019-10-07 19:33] hexonxons commented on #258
Please add me to the ROS wiki whitelist. My account name: hexonxons
Thanks!

[2019-10-07 23:05] kscottz commented on #258
@pabloinigoblasco @m-elwin @max-krichenbauer @hexonxons I have given you edit rights! Enjoy.

[2019-10-08 02:08] Ink163 commented on #258
Please add "TonyJie" to the white-list for the ROS wiki.
Thank you!

[2019-10-09 09:02] MatthiasNieuwenhuisen commented on #258
Please add "MatthiasNieuwenhuisen" to the whitelist.
Thanks!

[2019-10-09 12:55] TheProjectsGuy commented on #258
Please add "AvneeshMishra" to the whitelist for ROS Wiki.
Thanks!

[2019-10-09 18:41] kscottz commented on #258
@TheProjectsGuy @MatthiasNieuwenhuisen @Ink163 You should be good to go.

[2019-10-11 18:24] kscottz commented on #258
@kruusamae :robot: :+1: You are good to go.

[2019-10-15 09:22] wgengland commented on #258
Please add "wgengland" to the white list! thank you!!

[2019-10-15 18:29] kscottz commented on #258
@wgengland Your access has been granted.

[2019-10-15 18:31] AniketNavlur commented on #258
Please add my username: AniketNavlur

[2019-10-16 12:07] tropappar commented on #258
Please add my username MichaSende for access to the ROS wiki

[2019-10-16 16:23] kscottz commented on #258
@AniketNavlur @tropappar You have access now.

[2019-10-17 20:07] Stefal commented on #258
please add my username : Stefal

[2019-10-18 11:40] sthoduka commented on #258
Please add my username `sthoduka` for access to the ROS wiki

[2019-10-18 19:21] realtime-neil commented on #258
Please add my username `realtime-neil` to the whitelist.

[2019-10-21 12:58] Levaru commented on #258
Please add my username `RaniotElut` to the whitelist.

[2019-10-21 19:37] SidFaber commented on #258
Please add mu username SidFaber to the whitelist.

[2019-10-22 16:23] andrewda commented on #258
Hi! Please add `AndrewDassonville` to the whitelist. Thanks!

[2019-10-22 23:22] kscottz commented on #258
@Stefal @sthoduka @realtime-neil @Levaru @SidFaber  @andrewda

You are ready to rock and robot.

[2019-10-24 18:22] crystalsolenoid commented on #258
Please add QuintenKonyn to the whitelist. Thank you!

[2019-10-24 18:47] kscottz commented on #258
@crystalsolenoid you are good to go.

[2019-10-26 17:51] fangorn-fr commented on #258
Hi! Would you please add me to the whitelist?
**_fangorn_fr_**
Thanks in advance.Cheers

[2019-10-27 15:40] tanjiuelin commented on #258
Please add Tan Jiue Lin to the whitelist. Thanks in advance!

[2019-10-27 16:48] knez93 commented on #258
Please add me to the whitelist, NikolaKnezevic

[2019-10-28 05:08] minhkhang1795 commented on #258
Please add my username: Khang Vu
Thanks

[2019-10-28 06:00] LucidOne commented on #258
Please add: I Heart Robotics

[2019-10-28 11:19] millerluki commented on #258
Please add my username: millerluki
Thx

[2019-10-29 05:52] dragonlinux commented on #258
Please add "dragonlinux" to the white list! thank you!!

[2019-10-29 08:47] NevzatBOL commented on #258
Please add my username: Nevzat BOL
Thanks

[2019-10-30 02:14] kscottz commented on #258
@NevzatBOL @dragonlinux @millerluki @LucidOne @minhkhang1795 @knez93 @tanjiuelin @fangorn-fr

You should be ready to go. Sorry about the delay.

[2019-11-02 11:07] zoubata commented on #258
please add me @zoubata
I would like to use rosjava, and complete topic with basic botle nec that i have and fix.
to have a tutorial more freindly.

[2019-11-05 11:49] liaoyinyu commented on #258
Please add my name :Liaoyinyu
I would like to use roscpp and rospy

[2019-11-05 18:34] jcook3701 commented on #258
Please add my username, jcook3701, to the white list.
I would like to add instructions explaining how to setup ROS melodic to run on RHEL/Centos 7 systems.
Thank you!

[2019-11-05 20:55] kscottz commented on #258
@jcook3701 @liaoyinyu @zoubata @ndalmedico you have been granted access.

[2019-11-06 18:06] Bracewind commented on #258
Hi, please add: Bracewind
Thanks !

[2019-11-06 23:12] kscottz commented on #258
@Bracewind you are good to go.

[2019-11-08 01:10] ZhangYanglyu commented on #258
please add Abilene to the whitelist.

[2019-11-08 18:28] rudomorg commented on #258
Please add "MorganRudolph" to the whitelist for wiki editing

[2019-11-09 16:29] zulsyah commented on #258
Please add my username zulsyah7 for access to the ROS wiki

[2019-11-11 04:42] NoThingA11 commented on #258
Please add my username "NoThingAll" for access to the ROS wiki

[2019-11-11 16:54] pincom15 commented on #258
Please add my username `jypark` for access to the ROS wiki

[2019-11-11 18:46] kscottz commented on #258
@pincom15 @NoThingA11 @zulsyah @rudomorg @ZhangYanglyu

Y'all have been granted access.

[2019-11-12 06:27] youngrak commented on #258
Please add me: youngrak

[2019-11-12 13:59] pauljurczak commented on #258
Please add: pauljurczak

[2019-11-13 01:25] kscottz commented on #258
@youngrak @pauljurczak You have been granted access.

[2019-11-13 01:47] kanimedes commented on #258
Please add me : taeyong

[2019-11-13 02:07] kscottz commented on #258
@kanimedes You have been granted access. =)

[2019-11-13 09:34] ThomasDelbaere commented on #258
Please add me to the whitelist : ThomasDelbaere, thank you !

[2019-11-14 20:36] kscottz commented on #258
@ThomasDelbaere you should be good to go.

[2019-11-19 06:30] eunsooJeon commented on #258
Please add my username: eunsooJeon
Thanks:)

[2019-11-21 08:59] glazik12 commented on #258
Username: glaz
Thanks

[2019-11-21 17:06] kscottz commented on #258
@eacousineau @glazik12 you have access now.

[2019-11-22 18:20] bk-mtg commented on #258
Username: BenKurtzMTG
Thanks!

[2019-11-22 18:53] david0429 commented on #258
Username: david0429
Please :)

[2019-11-25 18:59] kscottz commented on #258
@bk-mtg @david0429 You have been added.

[2019-11-26 00:53] ZakMac90 commented on #258
Please add my username **ZakMac** for access to the ROS wiki
Thanks

[2019-11-26 07:10] marcin-ochman commented on #258
Hi! Please add my username MarcinOchman for access to the ROS wiki.

Thanks!

[2019-11-26 12:49] SansoneG opened #287 "Please add my user name. I need to write wiki articles for a laser scanner."

[2019-11-26 14:12] saheinisch opened #288 "gain edit permissions for me .. please"
Could you please gain me edit permissions?

saheinisch

Thank you very much in advance!

[2019-11-26 14:13] saheinisch commented on #258
please add my username saheinisch for access to the ROS wiki.
Thanks
Felix

[2019-11-26 18:20] kscottz commented on #258
@saheinisch @marcin-ochman @ZakMac90 You are good to go.

[2019-11-27 02:50] furushchev commented on #258
Please add my username YukiFuruta for editing ROS wiki.

I have former username Furushchev but I could not login any more and it seems the password reminder does not work (I couldn't receive the reminder e-mail)..

Thank you!

[2019-11-27 16:24] Loic-lantoine commented on #258
Hello, please add my username on the whitelist for the ROS wiki : LoicLantoine

[2019-11-27 17:03] arpit15 commented on #258
Hello, please add my username on the whitelist for the ROS wiki : arpitAgarwal

[2019-11-27 18:39] kscottz commented on #258
@Loic-lantoine @arpit15 You have been added.

[2019-11-28 02:17] Circle-Kai commented on #258
Please add my username on the whitelist for the ROS wiki : Circle-Kai

[2019-11-28 13:49] Dominik-FKIE opened #289 "Please add user DominikAKlein to whitelist"

[2019-11-28 13:50] #289 closed

[2019-11-28 13:52] Dominik-FKIE commented on #258
Please add user DominikAKlein to the whitelist of ROS wiki.

[2019-11-29 04:07] furushchev commented on #258
@kscottz Kindly ask to add me to the whitelist.... Thank you.

[2019-11-29 09:48] #287 closed

[2019-11-29 10:28] SansoneG commented on #258
Please add my username GSansone for access to the ROS wiki.
Thanks in advance.

[2019-12-02 01:50] Yaiba777 commented on #258
please add my username JerryZhou for access to the ROS wiki.
Thanks so much.

[2019-12-02 02:03] benbongalon commented on #258
please add my username BenBongalon to the whitelist of ROS wiki. thanks!

[2019-12-02 02:35] praveen-palanisamy commented on #258
Please add my wiki username: Praveen-Palanisamy . Thanks.

[2019-12-02 11:40] cdoehn commented on #258
Add ChristianDoehn please

[2019-12-02 14:07] cuijianaaa commented on #258
Add my wiki user name: cuijianaaa , thanks!

[2019-12-02 19:40] kscottz commented on #258
Sorry about the delay, it is a holiday here in the U.S.

@furushchev you are already on the whitelist, your github name may be different than your wiki name.

@cuijianaaa @cdoehn @praveen-palanisamy @benbongalon @Yaiba777 @SansoneG @Dominik-FKIE @Circle-Kai you have been added.

[2019-12-03 01:32] furushchev commented on #258
@kscottz Yes, I already registered with user name "Furushchev", but I could not recover the password any more (No recovery email received even if I entered my username on the page http://wiki.ros.org/action/recoverpass/Documentation?action=recoverpass ).
Could you remove the account "Furushchev" and register "YukiFuruta" instead?
Or is it ok to me that I create the account named "Furushchev" with

[2019-12-03 04:44] mqcmd196 commented on #258
Hi
please add  "Yoshiki Obinata"  for access to the ROS wiki.

[2019-12-04 07:58] JaYNits commented on #258
Hi

please add "Nitesh j" for access to the ROS wiki.

Regards
Nitesh J

[2019-12-04 13:12] AndresArboleda commented on #258
Hi, please add "Andres A" for access to the ROS wiki.

[2019-12-04 19:49] eunsooJeon commented on #258
Username: eunsooJeon
please add my username wiki.

[2019-12-05 08:51] jbezamat commented on #258
Hi, please add "JeremyBezamat" for access to the ROS wiki.
Thanks !

[2019-12-05 21:26] cwbollinger commented on #258
Please whilelist user: ChrisBollinger

Thanks!

[2019-12-06 05:25] chengtianhong commented on #258
Hi
please add "ralph" for access to the ROS wiki.

[2019-12-06 09:00] ustyui commented on #258
Hi!
please add my username ShiqiYu for access to the ROS wiki.
Thanks!

[2019-12-06 23:21] kscottz commented on #258
@ustyui @chengtianhong @cwbollinger @jbezamat @eunsooJeon @AndresA007 @JaYNits @mqcmd196 You have been granted access.

[2019-12-06 23:24] kscottz commented on #258
@furushchev I added YukiFuruta. Give that a try.

[2019-12-07 10:58] rahul-botsync commented on #258
Please add "Rahul Nambiar" to the ROS wiki whitelist

[2019-12-07 17:18] ZeKubiki commented on #258
Please add LeonidSapronov to the ROS wiki whitelist

[2019-12-09 16:28] FarmerJames commented on #258
Please add 'JamesD' to the ROS wiki whitelist , Thx.

[2019-12-09 19:23] kscottz commented on #258
@rahul-botsync @ZeKubiki @FarmerJames

You are good to go. Let me know if you have any issues.

[2019-12-10 13:40] geotsam commented on #258
Can you add _GiorgosTsamis_ to the ROS wiki whitelist? Thanks :D

[2019-12-10 19:46] kscottz commented on #258
@geotsam you have been added.

[2019-12-11 11:16] max-krichenbauer opened #291 "PackageHeader macro not working for ROS2 packages"
If a package is being built on http://build.ros2.org, then the documentation does not end up on http://docs.ros.org/ and the generation of the package header in the wiki fails.

Example: http://wiki.ros.org/webots_ros2?distro=dashing

Apparently, the documentation is also not available on http://docs.ros2.org/

If someone could let me know if/how the Wiki should be able to handle pages for ROS2 pa

[2019-12-11 12:31] mintar commented on #288
You don't need write permissions to this repository. If you want to change something, you should submit a pull request: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests

[2019-12-11 19:24] dirk-thomas commented on #291
The package header macro uses information generated by the repository specific `doc` jobs run on the ROS 1 buildfarm and the generic documentation job collecting all metadata from packages which don't have a dedicated `doc` job.

For ROS 2 there is at the moment no equivalent to these `doc` jobs and therefore the metadata is not available. Also it is not planned to add ROS 2 specific documentation

[2019-12-12 05:17] max-krichenbauer commented on #291
Understood. Thank you for the explanation!

[2019-12-12 05:17] #291 closed

[2019-12-12 16:37] rahul-botsync commented on #258
Could you also add "Botsync" to the ROS wiki whitelist ? Thanks

[2019-12-12 20:19] kscottz commented on #258
@rahul-botsync you have been granted access

[2019-12-13 01:39] tfoote commented on #288
If you're asking for permission to write to the ROS wiki please comment on #258 as directed.

[2019-12-13 01:39] #288 closed

[2019-12-13 12:26] mbaat opened #292 "Please add me: Mads"

[2019-12-13 12:27] mbaat commented on #258
Please add me: Mads

[2019-12-13 12:28] #292 closed

[2019-12-13 13:37] navidhh commented on #258
Please add me: NavidH

[2019-12-13 14:57] ouminqiang commented on #258
please add me: minqiang

[2019-12-13 18:51] kscottz commented on #258
@mbaat @navidhh @ouminqiang  you have access.

[2019-12-15 17:48] PPVTecchio commented on #258
Hi, please add me: PedroPVTecchio

[2019-12-16 03:28] amranov commented on #258
Please add my username Amrani Raouf for access to the ROS wiki

[2019-12-16 03:29] amranov commented on #258
Please add my username Amrani Raouf for access to the ROS wiki

[2019-12-16 10:13] vec123 commented on #258
Please add my username: vec123 :) Thank you

[2019-12-16 19:06] kscottz commented on #258
@PPVTecchio @amranov @vec123 You have been granted access to the wiki.

[2019-12-16 19:21] asr-ros commented on #258
Please add 'PascalMeißner'. Thanks a lot!

[2019-12-16 19:32] kscottz commented on #258
@asr-ros you that name is already on the wiki.

[2019-12-17 00:43] furushchev commented on #258
Thank you I can now write the wiki :+1:

[2019-12-19 12:36] sincere-Q commented on #258
Thanks for providing this platform！

[2019-12-28 22:27] MichaelATang commented on #258
please add michaeltang to whitelist,  arduino ide setup is somewhat misleading

[2019-12-30 11:54] sumegh26 opened #293 "please add @sumegh thale"

[2019-12-30 12:04] sumegh26 opened #294 "please add @sumeghthale"

[2019-12-30 14:15] kscottz commented on #258
@MichaelATang you should be good to go.

[2019-12-30 20:17] janpaul123 commented on #258
Hi, can you please add me? JPPosma

[2019-12-30 22:22] MYComodo commented on #258
Hi, please add me: komodo

[2019-12-31 03:18] shisheng77277 commented on #258
Hi,please add me:shisheng77277

[2020-01-02 14:20] kscottz commented on #258
@MYComodo @janpaul123 @shisheng77277  you have been added.

[2020-01-03 04:24] cubeeye commented on #258
please add CubeEye to the whitelist.

[2020-01-03 04:58] doosan-robotics commented on #258
please add me : doosan-robotics

[2020-01-03 15:48] Reinbert commented on #258
Hi! Please add me to the wiki whitelist: Reinbert
Thx

[2020-01-05 06:21] aliozcan01 commented on #258
please add AliOzcan to the whitelist.

[2020-01-06 19:35] kscottz commented on #258
@aliozcan01 @cubeeye @Reinbert you have been added.

@doosan-robotics You are already on the whitelist. Try resetting your password.

[2020-01-07 07:14] RLi43 commented on #258
Hi! please add RRRR to the whitelist. Thanks : )

[2020-01-07 08:50] juntuck commented on #258
Please add my username judejtng for access to the ROS wiki
Thank you! :)

[2020-01-07 12:18] cshreyastech commented on #258
Please add my username cshreyastech for access to the ROS wiki

Thanks

[2020-01-07 19:38] kscottz commented on #258
@juntuck @RLi43 @cshreyastech You should have access.

[2020-01-08 07:33] skpick99 commented on #258
Please add me -- Scott Pickett -- for access to edit the wiki.  Thank you.

[2020-01-08 07:35] skpick99 commented on #258
Please add me for access to the wiki.  Thanks.

Scott Pickett

[2020-01-08 18:03] kscottz commented on #258
@skpick99 :+1: :robot: :rainbow: you are good to go.

[2020-01-09 20:30] Stormiix commented on #258
Please add my username AnasMazouni to the ROS wiki :D

Thanks!

[2020-01-10 02:05] tfoote commented on #293
Please make your request on #258 as directed.

[2020-01-10 02:05] #293 closed

[2020-01-10 02:05] tfoote commented on #294
Please don't make duplicate issues re: #293 and again please make your request on #258 as directed.

[2020-01-10 02:05] #294 closed

[2020-01-10 05:48] F-ROSROBO commented on #258
Please add my username Takashi Sakai for access to the ROS wiki

[2020-01-10 05:49] yoshimurar commented on #258
Please add my username RyosukeYoshimura for access to the ROS wiki

[2020-01-11 15:58] alper111 commented on #258
Please add my username AlperAhmetoglu for access to the ROS wiki

[2020-01-13 18:45] kscottz commented on #258
@alper111 @yoshimurar @F-ROSROBO @Stormiix

You can now add to the ROS wiki.

[2020-01-13 21:24] vishvajeetbhore commented on #258
please add my username vishvajeetbhore for access to the ROS wiki.

[2020-01-14 00:27] kscottz commented on #258
@vishvajeetbhore

![](https://pbs.twimg.com/profile_images/958059707356368897/Y5OpA8B-.jpg)

[2020-01-14 10:48] naagmani commented on #258
please add my username Pankaj for access to the ROS wiki.

[2020-01-14 22:53] kscottz commented on #258
@naagmani you are good to go.

[2020-01-18 08:30] zorawar12 commented on #258
Swadhin Agrawal, please add me to ROSwiki

[2020-01-19 01:32] natekc commented on #258
Please add my username Nathan Chan to the ROS wiki, thanks!

[2020-01-21 12:07] dmccomas commented on #258
Please add DavidMcComas to the ROS wiki.  Thanks - Dave

[2020-01-21 19:29] kscottz commented on #258
@dmccomas @natekc @zorawar12 Access granted.

[2020-01-22 07:18] simontegelid commented on #258
Please add SimonTegelid to the ROS wiki. Thanks!

[2020-01-22 18:47] kscottz commented on #258
@simontegelid you are good to go.

[2020-01-22 19:54] zlacelle commented on #258
Please add "Zachary LaCelle" to the ROS wiki. Thank you.

[2020-01-23 23:12] restiles1 commented on #258
Please add "Rick" to the ROS Wiki, Thanks!

[2020-01-24 07:09] jash101 commented on #258
Please add `JashMota` for access to ROS Wiki

[2020-01-24 18:09] kscottz commented on #258
@jash101 @restiles1 @zlacelle Access granted.

[2020-01-24 18:39] calismurat commented on #258
Pleas add: MuratCalis

[2020-01-25 12:03] Hrtkk commented on #258
please add my username Hritik Kumar for access to the ROS wiki.

[2020-01-26 14:03] shuntaraw commented on #258
Please add: Shuntaro Yamazaki

[2020-01-26 20:49] d4n1elchen commented on #258
Please add: DanielChen
Thanks!

[2020-01-27 14:37] zlacelle commented on #258
@kscottz Do you mind double-checking that I have wiki edit access? Username "ZacharyLaCelle". Thank you!

[2020-01-27 16:34] abougouffa commented on #258
Please add "abougouffa", Thanks

[2020-01-27 20:07] kscottz commented on #258
@calismurat you are already authorized.
@zlacelle it appears you gave me the wrong name, I updated you user name.
@abougouffa @d4n1elchen @Hrtkk @shuntaraw You have been granted access.

[2020-01-28 23:53] ChoudryHumza commented on #258
Please add 'humzachoudry'

[2020-01-29 02:04] kscottz commented on #258
@ChoudryHumza you should be good to go.

[2020-01-29 04:39] sixer51 commented on #258
Please add my username `sixer51` for access to the ROS wiki. Thanks!

[2020-01-29 16:37] surfii3z commented on #258
JedsadakornY

TIA

[2020-01-29 19:16] kscottz commented on #258
@sixer51 @surfii3z You are good to go. Document some :robot: :robot: :robot:

[2020-01-30 14:03] Combinacijus commented on #258
Please add my username Combinacijus for access to the ROS wiki. Thanks

[2020-01-31 19:25] mahaidong commented on #258
Please add my username microartisan for access to the ROS wiki. Thanks

[2020-01-31 19:59] kscottz commented on #258
@Combinacijus @mahaidong  You should have access now.

[2020-02-03 14:49] saracooper18 commented on #258
Please add my username for access to ROS wiki, thanks!: SaraCooper

[2020-02-03 21:26] kscottz commented on #258
@saracooper18 :arrow_right: :robot: :computer: :+1:

[2020-02-05 07:15] hawesie commented on #258
Please add 'Nick Hawes' thanks!

[2020-02-06 02:14] kscottz commented on #258
@hawesie you are good to go

[2020-02-08 17:36] SherifN commented on #258
Hi! :) Please add SherifNekkah

[2020-02-10 12:21] alibenD commented on #258
Please add my username "aliben" for access to the ROS wiki. Thanks

[2020-02-10 12:55] g0mb4 commented on #258
Please add my username: gmb
Thanks

[2020-02-11 01:35] kscottz commented on #258
@SherifN @alibenD @g0mb4

Welcome to the robot club.

![download](https://user-images.githubusercontent.com/967306/74205321-b7d95600-4c2b-11ea-85cb-7d54c772b78e.gif)

[2020-02-11 03:07] jungyilin commented on #258
username: MickLin
Thanks

[2020-02-11 04:07] 546454596 opened #295 "Request to be added to ROS wiki whitelist v2 user name 546454596, thank you."

[2020-02-11 19:07] quattrinili commented on #258
Please add my username AlbertoQuattriniLi for access to the ROS wiki. Thank you!

Alberto Quattrini Li

Assistant Professor
Department of Computer Science
Dartmouth College
Personal: https://sites.google.com/view/albertoq
Lab: https://rlab.cs.dartmouth.edu/home/

[2020-02-11 21:17] bjsowa commented on #258
Please add my username `BlazejSowa` for access to the ROS wiki

[2020-02-11 22:50] kscottz commented on #258
@jungyilin @bjsowa you have been added.

@quattrinili that user name is already white listed on the wiki. Either reset your password or pick a new user name.

[2020-02-16 03:09] yucedagonurcan commented on #258
Please add 'OnurCanYücedağ' for acces to ROS Wiki.

[2020-02-16 14:24] loxxy commented on #258
Please add 'loxxy' to the whitelist.

[2020-02-16 19:56] jetdillo commented on #258
Please add 'JetDillo' to the Whitelist

[2020-02-16 20:02] kscottz commented on #258
@yucedagonurcan @loxxy @jetdillo Here you go, a special weekend edition of update the ROS wiki.

[2020-02-18 22:27] Achllle commented on #258
Please add my username Achille for access to the ROS wiki

[2020-02-19 01:44] kscottz commented on #258
@Achllle you are ready to go.

[2020-02-20 23:37] tfoote commented on #295
Please comment on #258 with your request as directed.

[2020-02-20 23:37] #295 closed

[2020-02-21 06:45] Sergey-Marvelmind opened #296 "Please add my username Sergey Mukhantsev for access to the ROS wiki"

[2020-02-21 06:49] Sergey-Marvelmind commented on #258
Please add my username Sergey_Marvelmind for access to the ROS wiki

[2020-02-21 06:49] Sergey-Marvelmind commented on #258
Please add my username Sergey-Marvelmind for access to the ROS wiki

[2020-02-21 09:13] lepalom commented on #258
Please add my username LeopoldPalomoA for access to the ROS wiki. Thanks

[2020-02-21 20:25] kscottz commented on #258
@Sergey-Marvelmind @lepalom Welcome to the party!

[2020-02-21 21:20] tfoote commented on #296
Please comment on #258 with your username to request access.

[2020-02-21 21:20] #296 closed

[2020-02-22 12:35] sachinkum0009 commented on #258
Please add my username Sachin Kumar for access to the ROS wiki. Thanks

[2020-02-24 12:22] tschinz commented on #258
Please add: tschinz

[2020-02-25 21:36] kscottz commented on #258
@sachinkum0009 @tschinz There you go!

[2020-02-26 13:40] Arthav24 commented on #258
AnirudhSwarankar

[2020-02-26 23:30] lilustga commented on #258
LiorLustgarten

[2020-02-27 00:32] kscottz commented on #258
@Arthav24 @lilustga

You can now edit the ROS wiki!

[2020-02-29 04:41] juanpabloplus commented on #258
ROS wiki

[2020-03-01 02:28] determ1ne commented on #258
Please add my username 'Azuk 443' for access to the ROS wiki. Thanks!

[2020-03-02 21:18] Victorrent commented on #258
VictorRojas

[2020-03-03 15:53] poggenhans commented on #258
Please add: poggenhans

[2020-03-03 16:55] PoussPouss commented on #258
Hi, please add my username: "HugoPousseur" to the whitelist.
Thanks.

[2020-03-03 21:13] kscottz commented on #258
@PoussPouss @poggenhans @Victorrent @determ1ne You now have access.

@juanpabloplus  Was that an error? Can you clarify? I am not sure if that is even a valid wiki name.

[2020-03-03 23:19] juanpabloplus commented on #258
Hi Katherine

Yes that's my user name

[image: image.png]

Regards

On Tue, 3 Mar 2020 at 16:13, Katherine Scott <notifications@github.com>
wrote:

[2020-03-04 10:08] sm02 commented on #258
Please add :
SMougel
Thanks.

[2020-03-05 08:58] cubeeye commented on #258
Please add : cubeeye
Thanks.

[2020-03-05 15:23] kscottz commented on #258
@juanpabloplus I guess it is a viable name, and somewhat clever, but I am afraid this name might cause a lot of confusion. I would appreciate if you choose another name.

[2020-03-05 15:26] kscottz commented on #258
@cubeeye there is already "CubeEye" on the wiki. Is that you? I would prefer you reset your password rather than create a new account with a similar name.

[2020-03-05 15:28] kscottz commented on #258
@sm02 you are good to go.

[2020-03-05 17:25] juanpabloplus commented on #258
Hi, please add my modified name juanpablo3

[2020-03-07 01:02] kscottz commented on #258
@juanpabloplus Thanks for changing it. You should be good to go.

[2020-03-07 11:45] therobotacademy commented on #258
Please add: BernardoRonquillo
Thanks

[2020-03-09 02:05] cubeeye commented on #258
I logged into the wiki with cubeeye.
I want to create and edit a page, but when I log in I get
"  Note: Hi there, cubeeye! In an effort to combat spam, we require that users be added to a whitelist to gain edit permissions. "
How can I get permission when the content comes out?

[2020-03-09 07:30] umor3 commented on #258
Hey, please add RobertZickler

[2020-03-09 18:32] kscottz commented on #258
@umor3 @therobotacademy Welcome to the ROS team.

[2020-03-09 19:18] BillThePlatypus commented on #258
Could you please add 'TreyHenrichsen'?

[2020-03-10 17:02] kscottz commented on #258
@BillThePlatypus You are good to go.

[2020-03-10 18:34] chiprobotics commented on #258
Could you please add 'ChipRobotics'? Thank you!

[2020-03-10 19:49] yogeshs-ti commented on #258
Could you please add 'YogeshSiraswar'.

Thanks !

[2020-03-11 17:18] kscottz commented on #258
@chiprobotics @yogeshs-ti you should have access now.

[2020-03-12 16:31] 130s opened #297 "Notification from roswiki ends up in GMail spam folder"
I noticed this started happening a few days ago.

I've been "training" GMail by telling it these are not a spam, but so far I keep seeing this happen, say at least a few emails a day.

Example of the entire email is below (user account names are swapped):
[code]

[2020-03-12 16:38] vladimirjendrol commented on #258
Please add my username 'VladimirJendrol' for access to the ROS wiki.

[2020-03-12 16:54] kscottz commented on #258
@vladimirjendrol you are good to go.

[2020-03-18 04:26] Jubian540 commented on #258
Please add my username: `JubianZhu`.
Thanks!

[2020-03-18 11:58] FrancoisVanEeden commented on #258
Hi,
Please add my username: FrancoisVanEeden
Thank you.

[2020-03-18 18:55] kscottz commented on #258
@FrancoisVanEeden @Jubian540 You have been granted access. :robot:

[2020-03-18 21:30] fjp commented on #258
Hi, please add my username fjp. Thank you.

[2020-03-19 05:44] wyj4766 commented on #258
Dear, please add my username "wangyj"
Thank you.

[2020-03-19 18:25] kscottz commented on #258
@fjp you are already on the list, try resetting your password.

@wyj4766 you should be good to go.

[2020-03-22 09:49] flughafencon commented on #258
Please add my username XiLi for access to the ROS wiki

[2020-03-23 19:35] kscottz commented on #258
@flughafencon You are good to go.

[2020-03-24 00:33] ricopicone commented on #258
RicoPicone

[2020-03-24 16:56] kscottz commented on #258
@ricopicone you should be good to go.

[2020-03-24 17:12] ric-mendonca commented on #258
Please add RicardoMendonça
Thanks

[2020-03-25 10:01] itaouil commented on #258
Please add **IlyassTaouil**.
Thanks.

[2020-03-25 18:35] kscottz commented on #258
@ric-mendonca @itaouil You are good to go!

[2020-03-25 23:10] tfoote commented on #297
Thanks for the report. You won't be able to train that out of your spam box due to the spf errors above. I've reported it to our hosting and hopefully can close this out when they resolve the spf issue.

[2020-03-26 02:33] ricopicone commented on #258
Thanks!

On Tue, Mar 24, 2020 at 9:56 AM Katherine Scott <notifications@github.com>
wrote:

[2020-03-27 22:25] tfoote commented on #297
We've resolved the SPF issue. Emails now should get an spf pass result and thus not get flagged as spam. Please comment back if you see otherwise.

[2020-03-27 22:25] #297 closed

[2020-03-28 04:44] Arvin-Ren commented on #258
Please add my username Arvin.Ren for access to the ROS wiki.
Thanks!

[2020-03-30 03:19] RamonCardona22 commented on #258
Please add: RamonCardona to ROS Wiki Whitelist.
Thank you!

[2020-03-30 08:29] ZHAOHSIHAO commented on #258
please add: zhaoshihao
Thanks

[2020-03-30 17:32] kscottz commented on #258
@Arvin-Ren @RamonCardona22 @ZHAOHSIHAO

Thanks in advance for improving the wiki.

[2020-03-30 23:05] ZHAOHSIHAO commented on #258
thanks ！

[2020-03-31 00:33] HansRobo commented on #258
Please add: "Kotaro Yoshimoto"  to ROS Wiki Whitelist.
Thank you!

[2020-03-31 01:31] siyandong commented on #258
Please add my username siyan for access to the ROS wiki. Thank you!

[2020-03-31 16:17] kscottz commented on #258
@HansRobo May the force be with you.
@siyandong you are good to go.

![tenor](https://user-images.githubusercontent.com/967306/78049801-592d8000-7330-11ea-9f8b-3a0a7332980f.gif)

[2020-03-31 16:22] siyandong commented on #258
Thanks！

[2020-04-01 03:37] HansRobo commented on #258
thank you!!

[2020-04-01 04:28] yogeshs-ti commented on #258
Please add my user name "yogeshs-ti" for access to the ROS wiki. Thank you!

[2020-04-01 14:37] nguyenvanviet1102 commented on #258
Please add my user name "nguyenvanviet1102". Thanks a lot!

[2020-04-01 20:11] kscottz commented on #258
@yogeshs-ti @nguyenvanviet1102 You should be good to go!

[2020-04-02 07:46] tomlogan501 commented on #258
Hi, please add: Tomlogan501
Thanks !

[2020-04-02 13:23] MitchAllain commented on #258
Please add my username: MitchellAllain
Thanks!

[2020-04-02 21:58] kscottz commented on #258
@MitchAllain @tomlogan501 you have been granted access.

[2020-04-04 19:53] aprotyas commented on #258
Please add my username "AbrarRahmanProtyasha" for access to the ROS wiki. Thanks!

[2020-04-06 11:06] pedrombmachado commented on #258
please add me @pedrombmachado

[2020-04-06 17:48] kscottz commented on #258
@aprotyas You are good to go.
@pedrombmachado You are already on the list. Have you tried a password reset?

[2020-04-07 08:40] MarcinPilch commented on #258
Hi, please add "MarcinPilch". Thanks!

[2020-04-07 10:39] pedrombmachado commented on #258
@kscottz, in that case, is because I don't have permissions to edit the wiki. Found typos and errors [here](http://wiki.ros.org/mallasrikanth/baxter) and wanted to correct them.

[2020-04-07 16:40] kscottz commented on #258
@pedrombmachado Does your login work? Can you edit other pages? AFAICT you should have no problems editing. Sometimes the wiki doesn't correctly pick up your authorization. You might want to try logging in on a private tab and then navigating to page you want to edit.

@MarcinPilch you have access now.

[2020-04-07 16:50] pedrombmachado commented on #258
Hi @kscottz ,
Same problem..
![image](https://user-images.githubusercontent.com/9907068/78697180-51557900-78f8-11ea-9095-219f01442000.png)

[2020-04-07 17:06] kscottz commented on #258
@pedrombmachado Strange. I am not sure what the problem is. I deleted and re-added you to the users list. Perhaps that might do the trick? Alternatively, we could try having you create a new login.

[2020-04-08 10:35] szlachcic commented on #258
please add @PiotrSzlachcic. Thanks!

[2020-04-08 14:37] Groebehavn commented on #258
Please add @Groebehavn also. Thank you in advance! :)

[2020-04-08 21:06] pedrombmachado commented on #258
@kscottz How do we know that my ROS account is linked to my GitHub account?

[2020-04-08 22:47] kscottz commented on #258
@szlachcic @Groebehavn You are good to go.

@pedrombmachado There is no linkage between your github account and the ros wiki account. You either need to reset your ROS wiki account or create a new one.

[2020-04-09 08:44] aric1520 commented on #258
aric.zheng

[2020-04-09 17:49] kscottz commented on #258
@aric1520 You have been granted access.

[2020-04-10 13:30] ShiiiiitX commented on #258
please add username: Shiiiiit X
Thanks.

[2020-04-10 18:12] kscottz commented on #258
@ShiiiiitX you are good to go.

[2020-04-10 19:43] csorvagep commented on #258
Hi, please add user GaborCsorvasi as well, thanks!

[2020-04-11 08:05] abrzozowski commented on #258
Hi. Please add AdrianBrzozowski for access to edit the **wiki.ros.org** due to a https://github.com/ros/ros_comm/pull/1892
Thanks

[2020-04-11 16:26] UncleMilan commented on #258
Hi. Please add HamidHakimi to the whitelist.
Thanks.

[2020-04-11 19:28] doguscank commented on #258
Hi, my username is DoğuşCanKorkmaz. Thanks for helping!

[2020-04-12 22:53] bjajoh commented on #258
Hi, I would like to share my knowledge, please add me: "BjarneJohannsen" to the whitelist.

[2020-04-13 17:30] arunumd commented on #258
Please add my user name Arun Kumar Devarajulu.

Thanks

[2020-04-13 23:13] kscottz commented on #258
@arunumd @bjajoh @doguscank @UncleMilan @abrzozowski @csorvagep

Welcome to the ROS family!

[2020-04-15 10:56] aremazeilles commented on #258
hello, could you add me the whitelist? anthonyRemazeilles

Thanks!

[2020-04-15 16:19] JStech commented on #258
Please add me to the whitelist: JohnStechschulte

Thanks!

[2020-04-15 20:30] lellasone commented on #258
Any chance you could add me to the whitelist? jake_ketchum

Best,
Jake

[2020-04-15 22:21] kscottz commented on #258
@lellasone @JStech @aremazeilles You are good to go.

[2020-04-16 00:07] leobalestri commented on #258
Could you please add me (PendularIcon) to the whitelist? Thanks!

[2020-04-16 13:44] manucalop opened #299 "Ros wiki access"
Hi! I'd like to document my package in the wiki, so I'll need access: UserName, 'Manuel Castillo-Lopez'. Thanks in advance!

[2020-04-17 16:22] ros-discourse commented on #258
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/ros-brasil-meet-up/13698/1

[2020-04-17 17:04] hpoleselo commented on #258
Could you add me please (hpoleselo) to the whitelist?

[2020-04-17 17:46] hbaqueiro commented on #258
Please add `HenriqueBaqueiro` to the whitelist :)

[2020-04-17 18:21] kscottz commented on #258
@hpoleselo @hbaqueiro @leobalestri you are good to go.

[2020-04-17 20:14] hbaqueiro commented on #258
I had to change my username and something went wrong with the edit permission, sorry for that!! Could you please add `hbaqueiro` to the whitelist?

[2020-04-17 23:07] caioaamaral commented on #258
Please, add `caioaamaral`to the whitelist

[2020-04-17 23:27] mateusmenezes95 commented on #258
Could you add me please to the whitelist? `MateusMenezes`

[2020-04-18 05:42] wjdittmar commented on #258
Please add my username JamesDittmar for access to the ROS wiki

[2020-04-18 11:36] Ivening commented on #258
Could you add my user name Ivening to the whitelist for access to the ROS wiki?
Thanks a lot!!!

[2020-04-18 18:31] tfoote commented on #299
Please ask on #258 so we have a log of it.

[2020-04-18 18:31] #299 closed

[2020-04-18 18:38] tfoote commented on #258
@Ivening @wjdittmar @mateusmenezes95 @caioaamaral added

@hbaqueiro updated

[2020-04-20 05:01] Lost-Monkey-5 commented on #258
Please add my username SamDauchert for access to the ROS wiki.

[2020-04-20 15:58] DebyKatz commented on #258
Please add my username dk1840 for access to the ROS wiki.

[2020-04-20 16:17] kscottz commented on #258
@Lost-Monkey-5 @DebyKatz you have been added.

[2020-04-21 08:18] ros-discourse commented on #244
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/wiki-ros-org-redirects-to-status-ros-org/13758/1

[2020-04-21 08:26] tfoote commented on #244
For good measure we could also add ros.org to the hstspreload: https://hstspreload.org/?domain=ros.org

As suggested in this thread: https://discourse.ros.org/t/wiki-ros-org-redirects-to-status-ros-org/13758

[2020-04-22 10:24] lukicdarkoo commented on #258
Please add my username `LukicDarkoo` to the ROS wiki

[2020-04-22 14:24] josephduchesne commented on #258
Please add `JosephDuchesne` :)

[2020-04-22 18:32] kscottz commented on #258
@lukicdarkoo and @josephduchesne you have been granted access.

[2020-04-23 06:28] askkvn commented on #258
Please add `kevinpatel`

[2020-04-23 11:06] manucalop commented on #258
Hi! I'd like to document my package in the wiki, so I'll need access: UserName, 'Manuel Castillo-Lopez'. Thanks in advance!

[2020-04-23 17:26] kscottz commented on #258
@askkvn @manucalop you have been granted access.

[2020-04-24 07:24] happyaron commented on #258
Please add `AronXu`

[2020-04-24 08:39] tobi-v commented on #258
Please add my username TobiasVetter for access to the ROS wiki

[2020-04-24 18:45] kscottz commented on #258
@tobi-v @happyaron You are good to go!

[2020-04-24 20:05] novatel-applications-engineering commented on #258
Hello, please add username "NovAtelApplicationsEngineering" for edit access on the ROS wiki. Thank you!

[2020-04-25 13:05] hudingyin commented on #258
please add my username 'Dingyin HU'
Thanks

[2020-04-25 16:09] okalachev commented on #258
Hi! Please add `OlegKalachev` to whitelist.

[2020-04-27 11:47] LXlx916 commented on #258
Please add my username 'xiaoliu' to whitelist,
Thanks

[2020-04-27 18:24] kscottz commented on #258
@LXlx916 @okalachev @hudingyin @novatel-applications-engineering

You have been granted access.

[2020-04-28 16:14] JeremyGaissl commented on #258
Please add 'JeremyGaissl' to editing permissions on ROS Wiki

[2020-04-28 17:47] kscottz commented on #258
@JeremyGaissl you are good to go.

[2020-04-29 04:18] suddrey-qut commented on #258
Hi, could you please add GavinSuddrey to the edit whitelist. Thank you!

[2020-04-30 00:31] kscottz commented on #258
@suddrey-qut  you are good to go.

[2020-05-01 04:36] yuseidesu commented on #258
Could you add YuseiKujirai to ROS Wiki too?
Found some typo on jp wiki, and would like to fix it.

[2020-05-01 18:20] kscottz commented on #258
@yuseidesu you have access now.

[2020-05-02 08:36] MelihCelik00 commented on #258
Hi, please add my username "MelihSafaCelik" to the whitelist,
Thanks

[2020-05-02 18:14] jagunh commented on #258
Hi, please add my username JanGuhl for access to the ROS wiki.
Thank you

[2020-05-04 18:11] kscottz commented on #258
@MelihCelik00 @jagunh you should be good to go.

[2020-05-04 21:12] Thorpedough commented on #258
Hi, please add my username DmT for access to the ROS wiki.  Although my initial concern/contribution would be with http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Kinetic%20on%20the%20Raspberry%20Pi where the last two instructions could maybe use some updating:
1.  If you have Raspbian Stretch (instead of Jessie) [or does it make any difference?]:
$ rosdep install --from-paths src --ignore-src -

[2020-05-04 22:52] ArekBerc commented on #258
Please add my name " ArekBercGokdag " to the whitelist, thanks.

[2020-05-05 18:34] kscottz commented on #258
@ArekBerc @Thorpedough You have been granted access.

[2020-05-05 22:05] jbcpollak opened #300 "Docker instruction does not tell tell you to start `roscore`"
this page: http://wiki.ros.org/action/login/docker/Tutorials/Docker

tells the user to start the ros container with this command:

[code]

but this should be:

[code]

At least when using melodic.

[2020-05-06 19:09] jesseli2002 commented on #258
Please add my username `JesseLi` for access to the ROS Wiki

[2020-05-07 16:21] kscottz commented on #258
@jesseli2002 you should have access now.

[2020-05-08 10:38] jamescoady commented on #258
Please add my username James Coady access to the ROS wiki

[2020-05-08 18:28] kscottz commented on #258
@jamescoady you have been granted access.

[2020-05-11 21:45] Rezenders commented on #258
Please add my username GustavoSilva for access to the ROS Wiki

[2020-05-12 17:44] kscottz commented on #258
@Rezenders you are good to go.

[2020-05-13 20:01] NicoBartholomai commented on #258
Please add my username NicolasBartholomai for access to the ROS Wiki.

[2020-05-14 17:21] kscottz commented on #258
@NicoBartholomai You should have access now.

[2020-05-15 18:28] devanshdhrafani commented on #258
Please add my username DevanshDhrafani for access to the ROS Wiki.

Thanks,
Devansh.

[2020-05-15 21:35] kscottz commented on #258
@devanshdhrafani you have been granted access.

[2020-05-18 19:27] migueelnery commented on #258
Please add my username miguelnery

[2020-05-19 15:58] nmcbins commented on #258
please add:  binsdev

Thanks!

[2020-05-19 17:54] kscottz commented on #258
@nmcbins  @migueelnery you are good to go!

[2020-05-20 08:15] pgorczak commented on #258
I'd like to get access to fix https://github.com/ros/ros_comm/issues/1955. Username is PhilippGorczak
Thanks!

[2020-05-20 19:42] kscottz commented on #258
@pgorczak Thank you very much! You have been granted access.

[2020-05-21 10:19] AnShuai666 commented on #258
Please add AnShuai, Many thanks!

[2020-05-21 17:07] kscottz opened #301 "Issue rendering Latex"
From Discourse:

[2020-05-21 17:39] kscottz commented on #258
@AnShuai666 you have access

[2020-05-21 19:38] tfoote commented on #300
That's not the intent of that part of the tutorial. The following line is "This will move you into an interactive session with the running container." if you run roscore directly you won't get the interactive shell and won't be able to do anything else.

Please note that this tracker is for the technical side of hosting the wiki, and isn't focused on tracking content changes.

[2020-05-21 19:38] #300 closed

[2020-05-21 19:42] jbcpollak commented on #300
If you follow the tutorial by the letter you don't get a functioning instance of the container because roscore isn't running and there is no instructions to start it.

This is confusing for a newbie.

As a new user you aren't able to edit the wiki, where are we supposed to request content changes? The wiki says to request edit access to edit from this repo.

[2020-05-21 19:58] tfoote commented on #301
When we migrated hosting I think that LaTeX wasn't installed on the new host. As part of our process for moving the wiki forward we're trying to slowly trim away. I'd like to suggest that we consider replacing the few instances of the use of this plugin so that we don't need to support it in the future. There appear to be only 86 instances used at the moment which is a reasonable amount to conside

[2020-05-26 09:20] razr commented on #258
Please add UserName, 'razr', to the whitelist. Thanks much!

[2020-05-26 12:35] iliasam commented on #258
Please add my UserName: 'IliaSam' to the whitelist. Thanks!

[2020-05-26 21:32] kscottz commented on #258
@MieRobot @razr @iliasam You have been granted access.

[2020-05-27 02:16] kimofy commented on #258
Please add my username Botsync for access to the ROS wiki

[2020-05-27 19:59] kscottz commented on #258
@kimofy that name already exists. You either need to change your name or reset your password.

[2020-05-28 17:35] dospalabras commented on #258
Please add me to the list:  Matt Storz

[2020-05-30 12:44] johnrickman commented on #258
Hi, Please add John Rickman to the list.

Thanks! Looking forward to contributing.

[2020-06-01 15:45] esmacat-hb commented on #258
Please add Esmacat to ROS Wiki whitelist. Thanks!

[2020-06-03 13:41] andreeasandulescu commented on #258
Please add my username AndreeaSandulescu for access to the ROS wiki

[2020-06-05 00:20] kscottz commented on #258
@drhieu you have access!

[2020-06-05 01:45] standmit commented on #258
Please add my username **standmit** to the whitelist.

[2020-06-05 20:50] kscottz commented on #258
@standmit you've been added.

[2020-06-05 20:57] JessMotta commented on #258
Please add my username JessMotta to the whitelist

[2020-06-05 21:03] kscottz commented on #258
@JessMotta you slid in just in time. Enjoy!

[2020-06-06 12:48] ros-discourse commented on #258
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/web-based-urdf-visualization-tool-and-library-opensourced-from-nasa-jpl/14404/5

[2020-06-06 19:09] aliozcan096 commented on #258
Please add my username 'aliozcan096' to the whitelist

[2020-06-06 21:47] ros-discourse commented on #258
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/web-based-urdf-visualization-tool-and-library-opensourced-from-nasa-jpl/14404/6

[2020-06-06 21:52] gkjohnson commented on #258
Please add my username `gkjohnson` for access to the ROS wiki

[2020-06-08 14:33] JessMotta commented on #258
Hello I'm research in Brazilian Institute of Robotics (BIR) and I'm interesting to make some tutorials to help others to learning ROS.

[2020-06-08 18:22] kscottz commented on #258
@gkjohnson @aliozcan096 You have been granted access.

[2020-06-11 01:57] hazevedosa commented on #258
Please add my ROS wiki username to access the ROS wiki: HebertAzevedo-Sa

[2020-06-11 02:29] ElectricRCAircraftGuy opened #303 ""Unknown action fullsearch""
If you click on any title on a wiki page it will attempt and then fail to do a "fullsearch"--whatever that means. Please remove all of these apparently useless?/deprecated? "fullsearch" hyperlinks from each wiki page.

Ex: go here: http://wiki.ros.org/catkin

Click the "catkin" link at the top, and you'll get the "Unknown action fullsearch" error, as shown (in French) below:

![image](https://user

[2020-06-11 03:08] ElectricRCAircraftGuy opened #304 "The "http://wiki.ros.org/EditingTheWiki" page seems to be useless and is getting mutilated by ROS wiki editors"
Here is a screenshot of this page: http://wiki.ros.org/EditingTheWiki

![image](https://user-images.githubusercontent.com/6842199/84340605-f5a4a780-ab55-11ea-9167-330ec557c043.png)

I don't know what's going on with it, but I don't like that it's apparently getting mutilated by ROS wiki editors. What is this page supposed to contain? Is this how it is supposed to look? Should this wiki editor lose

[2020-06-11 03:42] ElectricRCAircraftGuy opened #305 "Feature Request: allow pasting images directly into the wiki text editor, same as StackOverflow and GitHub"
Pasting images into a ROS wiki pages seems to be difficult:

1. exit the editor
1. attach an image
1. re-open the page editor
1. link back to the freshly-attached image with `{{attachment:some_image.png}}`, as is done [with this image here](http://wiki.ros.org/WritingTutorials#How_to_Start)

However, adding images in StackOverflow or GitHub is a breeze: just copy and paste the image right into the

[2020-06-11 03:48] ElectricRCAircraftGuy opened #306 "KEEP ME OPEN: image store for ROS wiki pages"
Let's use this GitHub issue as a place where a person editing the [ROS wiki](http://wiki.ros.org/) can easily copy and paste an image for reference on their ROS wiki page. This is a temporary (albeit long-term perhaps) work-around for #305. Ex: here's an image:

![image](https://user-images.githubusercontent.com/6842199/84342916-9fd2fe00-ab5b-11ea-8115-c1e6f06e297a.png)

Now, this image can easily

[2020-06-11 05:28] kscottz commented on #304
Thank you for taking this on. After a brief review AFAICT this page never contained any actually useful information, so thank you for adding it. I wouldn't attribute the content that was there to malice as it could just as easily be attributed to stupidity and our byzantine editing process.  Be aware that Moin Moin, the ROS wiki software, isn't Media Wiki (the system used by Wikipedia), and it lac

[2020-06-11 07:23] ElectricRCAircraftGuy commented on #306
![image](https://user-images.githubusercontent.com/6842199/84356873-a96b5e80-ab79-11ea-99e2-71f447cdfc32.png)

Image required for webviz page: http://wiki.ros.org/Webviz

[2020-06-11 18:11] kscottz commented on #258
@hazevedosa you are good to go.

[2020-06-11 18:18] dirk-thomas commented on #258
Not sure when my username was removed from the whitelist but please readd it again: `DirkThomas`.

[2020-06-11 18:26] ElectricRCAircraftGuy opened #307 "Add Google Translate toolbar to the ROS wiki"
Google Translate is really quite good these days. Can you integrate it into the wiki so people can easily choose their language of choice for automatic translation?

This has 2 huge benefits:

1. It allows translation to tons of languages to help users.
1. It perfectly syncs the wiki updates in English to all translations, as they are translated live.

A quick [google search for "add google transl

[2020-06-11 19:18] tfoote commented on #258
@dirk-thomas  You're already on the whitelist. There's been occasions when I've seen the permissions error and usually a reload will clear the ImmutablePage warning for me.

[2020-06-11 19:45] tfoote commented on #307
Google Translate is getting much better but there's also arguably many other online translators that are also good as well. For translating the whole website there are many browser plugins that can provide this and it's built into chromimum based browsers.

We also have several community efforts to actually translate the wiki manually which in many cases of technical documentation are still better

[2020-06-11 19:49] tfoote commented on #305
This is a feature request for the engine we're using Moin Moin. Please file it upstream. https://moinmo.in/ We won't make a significant change like that to our instance.

[2020-06-11 19:49] #305 closed

[2020-06-11 19:53] tfoote commented on #306
Hotlinking resources is bad practice unless you're specifically targeting a CDN where you have permission to do so. Having had people use this wiki abused in the past for hotlinking images it's not nice.

This will also break all the mirrors and other tools designed for working offline. And any future migration effort will be hampered by images hosted elsewhere with ambiguous licenses etc. And if

[2020-06-11 19:53] #306 closed

[2020-06-11 20:10] tfoote commented on #304
We did have content there. It looks like someone renamed a page on top of that file and that overwrote the old history.

For example you can see the translation of the old content here: https://wiki.ros.org/ja/EditingTheWiki

We should seek to restore that content maybe back translating from different resoruces.

[2020-06-11 20:16] tfoote commented on #307
Related I reverted the change to add links to Google Translate from our header. That's a distraction from the main message and an external automated translation service should not be the 3rd most important thing we're communicating. https://wiki.ros.org/action/diff/Documentation?action=diff&rev1=188&rev2=189 That paragraph is longer than our summary overview and takes up a large fraction of the co

[2020-06-11 20:37] ElectricRCAircraftGuy commented on #307
I see your point. Sounds fine. There were a ton of edits your revert just undid. Here's the page roughly as it was a few minutes ago.

[code]

[2020-06-11 20:40] ElectricRCAircraftGuy commented on #307
As this is the main Documentation landing page, I see a ton of improvements to make to it, which is what I was working on, as it's missing a bunch of links that are obscure, scattered, and otherwise hard to find. Your revert removed all of those too. One of those is the EditingTheWiki link, as that's a nearly impossible-to-find page right now: http://wiki.ros.org/EditingTheWiki.

[2020-06-11 20:45] ElectricRCAircraftGuy commented on #304
Here's what google translate shows for that page:
[code]

![image](https://user-images.githubusercontent.com/6842199/84437402-c2abf380-abe9-11ea-9e68-2f4ac3b648c2.png)

[2020-06-11 21:01] ElectricRCAircraftGuy commented on #304
@tfoote , if you restore the old page, we need to integrate my new content into it, or create a new "how to edit the wiki" type page for my new content. Here's what I've got in there now.

Check the page to see what it looks like: https://wiki.ros.org/EditingTheWiki

[code]

[2020-06-12 08:11] ElectricRCAircraftGuy opened #308 "Need help adding new ROS tutorial: "reading/extracting messages from a bag file" (it's already 100% written)"
I just wrote this new tutorial, including presenting a custom script I wrote, to easily extract messages on a given topic from a ROS bag file: http://wiki.ros.org/rosbag/Tutorials/reading%20msgs%20from%20a%20bag%20file.

Can I please get some help adding this to the ROS tutorials page?

http://wiki.ros.org/ROS/Tutorials

I'd like it after the "Recording and playing back data" one and before the "G

[2020-06-12 17:50] tfoote commented on #304
Your new version looks reasonable. The old content was a little less focused.

[2020-06-12 17:50] #304 closed

[2020-06-12 18:13] tfoote commented on #307
Adding a like to the Editing the wiki would be much better to add to the Wiki heading on the Contributing page: https://wiki.ros.org/Contributing  The vast majority of users are not looking to edit the wiki.

The support page is already linked.
A link to yourself is not useful.
This is the resource that wikipedia links to /cites. Linking back to a 3rdparty summary is a little bit backwards.
The Is

[2020-06-12 23:14] 130s opened #309 "Code API link shows index page for Noetic but other distro seems to work"
![Screenshot from 2020-06-12 16-13-35](https://user-images.githubusercontent.com/1840401/84553049-b8602700-acc7-11ea-9b20-f9dcb91f731a.png)
- NG http://docs.ros.org/noetic/api/rosmaster/html
- ok http://docs.ros.org/melodic/api/rosmaster/html
- ok http://docs.ros.org/kinetic/api/rosmaster/html

[2020-06-13 07:01] tfoote commented on #309
This looks like an issue with the doc jobs.

http://build.ros.org/view/Ndoc/job/Ndoc__ros_comm__ubuntu_focal_amd64/15/consoleFull#console-section-26

I see that it appears to be missing epydoc and dot as dependencies.

Looking a little deeper it appears we have a bit of a problem that epydoc doesn't support python3. This group switch to sphinx-epytext  https://github.com/tulip-control/tulip-contro

[2020-06-14 00:47] hazevedosa commented on #258
@kscottz apparently it did not work... I am still seeing this:
![image](https://user-images.githubusercontent.com/48081446/84582192-03a53300-adb7-11ea-8e0b-1890d49f1466.png)

[2020-06-15 13:07] kneave commented on #258
Please add "Keegan Neave" to the list for wiki editing.

[2020-06-15 18:49] kscottz commented on #258
@kneave you are good to go.

@hazevedosa I don't know what to tell you. You're on the list. We were having some problems with the wiki on Friday. Try again perhaps?

[2020-06-16 00:58] zihunkye commented on #258
Please add: kezi
Thanks :)!

[2020-06-17 10:19] NRottmann commented on #258
Hi, please add

NRottmann

to the list for wiki editing. I would like to add a wiki page regarding our ROS-Mobile application for Android operated devices.

https://github.com/ROS-Mobile/ROS-Mobile-Android

Best, Nils

[2020-06-17 20:44] kscottz commented on #258
@NRottmann & @zihunkye You now have access.

[2020-06-19 09:09] zerodamage commented on #258
Please add my username ChristianMai for access to the ROS wiki

[2020-06-19 19:05] kscottz commented on #258
@zerodamage welcome to the matrix. =)

[2020-06-21 01:53] Daedalus359 commented on #258
please add me to the whitelist: KevinBradner

[2020-06-21 17:56] hazevedosa commented on #258
@kscottz, can you add HebAzevedo instead? I'm gonna try with another account...

[2020-06-22 16:46] kscottz commented on #258
@Daedalus359 @hazevedosa you have been added

[2020-06-23 06:23] ElectricRCAircraftGuy commented on #308
I read this: http://wiki.ros.org/WritingTutorials and learned that the `## next.0.link` field at the top is used to link to the next tutorial, thereby creating a singly linked list of tutorials. Here are some example links to link to the "next" tutorial:

    ## next.0.link=[[rosbag/Tutorials/reading msgs from a bag file|Reading messages from a bag file]]
    ## next.0.link=[[rosbag/Tutorials/Prod

[2020-06-23 06:23] #308 closed

[2020-06-23 12:54] edmilsoncasarin commented on #258
Please add my username Edmilson Vieira Casarin  for access to the ROS wiki

[2020-06-23 23:58] kscottz commented on #258
@edmilsoncasarin you have been granted access.

[2020-06-24 16:23] fnaser commented on #258
Hello, please add me "felixnaser" to be allowed to edit the ROS Wiki. Thank you!

[2020-06-24 19:20] kscottz commented on #258
@fnaser you're good to go.

[2020-06-28 08:11] DanielWang123321 commented on #258
Hello, please add me "danielwang" to be allowed to edit the ROS Wiki. Thank you.

[2020-06-28 20:34] beingkartik commented on #258
Hi, can you add 'KartikGupta' to allow to edit ROS Wiki. Thanks

[2020-06-28 21:06] Exception4U commented on #258
please add me for edit permissions. My user name is 'tushar vaidya'

[2020-06-29 07:09] saheinisch opened #312 "I am getting mails from this list. How to deactivate the same?"
I am getting mails from this list. How to deactivate the same?

Thank you in advance for your support.

[2020-06-29 08:59] takahashi-e6 commented on #258
please add me for edit permissions. My user name is 'ShoTakahashi'

[2020-06-29 10:08] Andychou007 commented on #258
Hi, please add: Andy Chou
Thanks :)!

[2020-06-29 17:51] kscottz commented on #258
@beingkartik @Andychou007  @takahashi-e6  @Exception4U @DanielWang123321

Welcome to the ROS wiki. Go forth and edit.

[2020-06-29 22:57] lukelu0520 commented on #258
Dear, Please add: **lukelu**
Thank you :)

[2020-06-30 21:27] kscottz commented on #258
@lukelu0520 you are good to go.

[2020-07-02 02:41] penglongxiang commented on #258
please add: JasonPeng
Thanks.

[2020-07-02 02:51] matsuyama-v commented on #258
Please add: MorihitoMatsuyama
Thanks

[2020-07-02 05:44] vstone-vstone commented on #258
Please add: vstone vstone
Thanks

[2020-07-02 06:24] TravisHC commented on #258
Hi Please add: TravisHC
many thanks

[2020-07-02 07:30] zwn commented on #258
Please add ZbynekWinkler

[2020-07-02 13:05] johandicap commented on #258
Hi, please add me: JBruun
Thanks :)

[2020-07-02 17:39] kscottz commented on #258
@johandicap @zwn @TravisHC @vstone-vstone @matsuyama-v @penglongxiang

Wow, that's a lot all at once. Are y'all participating in an event?

I have added all of you to the wiki.

[2020-07-02 17:39] kscottz commented on #258
Sorry, fat fingered the ticket.

[2020-07-06 06:32] yikunXHW commented on #258
Hi, please add me: Xue Haowen
Thanks :)

[2020-07-06 17:43] kscottz commented on #258
@yikunXHW you have been added.

[2020-07-07 07:46] cesar-lopez-mar commented on #258
Hi,  can you please add me to the white list: César López

Regards,
César

[2020-07-07 19:18] kscottz commented on #258
@cesar-lopez-mar Welcome to the club.

[2020-07-08 11:00] OscarCabreraRodriguez commented on #258
Please add my username: ocabrod
Thanks!

[2020-07-09 08:05] dwzip commented on #258
Please add my username: dwzipl
Thanks!

[2020-07-09 23:26] Davidxswang commented on #258
Please add my username XuesongWang for access to the ROS wiki.
Thanks!

[2020-07-10 01:21] Bmoradi93 commented on #258
Please add my username: Behnam Moradi
Thanks!

[2020-07-13 18:28] kscottz commented on #258
@Bmoradi93 @Davidxswang @dwzip @OscarCabreraRodriguez Welcome to the ROS party. Let me know if you have any issues.

[2020-07-17 06:57] eduidl commented on #258
Please add my username: YumaHiramatsu
Thanks!

[2020-07-17 17:05] kscottz commented on #258
@eduidl You have been added.

[2020-07-18 11:45] FabianSchuetze commented on #258
Can you kindly add fabianschutze to the whitelist?
Thanks a lot!

[2020-07-19 02:05] wenjinwong commented on #258
please add wenjinwong.

[2020-07-20 18:36] kscottz commented on #258
@FabianSchuetze @wenjinwong You have been added.Go forth and document.

[2020-07-21 00:04] tfoote opened #313 "roswiki export failing due to missing neo python module"
It needs to be installled in the venv

I'm tracking resolving this with OSUOSL.

[2020-07-21 00:05] ros-discourse commented on #313
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/wiki-mirroring-not-functional/15477/2

[2020-07-23 04:49] cap-javeriana commented on #258
Juan David Contreras

[2020-07-23 17:11] kscottz commented on #258
@cap-javeriana you have been added.

[2020-07-23 20:29] cap-javeriana commented on #258
CAP_PUJ

[2020-07-24 09:06] allxone commented on #258
Please add **allxone**

[2020-07-24 11:39] cuneytunver commented on #258
Please add my username: **CuneytUnver** for access to the ROS wiki.
Thanks

[2020-07-27 15:40] tfoote commented on #313
Neo is installed now, but there still seems to be an issue with the tutorials rendering with the clearsilver templates.

[2020-07-27 19:40] kscottz commented on #258
@cap-javeriana I don't understand your question.

[2020-07-27 19:41] kscottz commented on #258
@allxone @cuneytunver You have been added.

[2020-07-28 06:19] cuneytunver commented on #258
Please add my username: "CUNEYT UNVER" for access to the ROS wiki.
I dont have sufficient permission to make changes to this page with the username: cuneytunver

[2020-07-28 16:48] i-make-robots commented on #258
Hello!  My username is i-make-robots.  I would like to add https://github.com/MarginallyClever/sixi-2/tree/master/ROSPackage to the list of available robots.  Thank you!

[2020-07-28 17:46] kscottz commented on #258
@cuneytunver I updated your name, let me know how it goes.

@i-make-robots Looks cool, but needs a readme. =). Consider making a post on ROS Discourse. We love to hear about new ROS robots.

[2020-07-28 17:51] i-make-robots commented on #258
Gladly.  I haven't added the wiki page and etc yet.  still building out the package, needed permissions first.  will go to discord now

[2020-07-29 15:30] bstankie commented on #258
bstankie

[2020-07-29 17:36] kscottz commented on #258
@bstankie you are good to go.

[2020-07-29 17:52] as-snehagn commented on #258
Please add "SnehaGanesh"  for access to the ROS wiki. Thanks!

[2020-07-29 17:59] amrutamhaske commented on #258
Please add "AmrutaMhaske"

[2020-07-29 22:47] rotu opened #314 ""Open Source Robotics Foundation" on every page"
Every page has ![image](https://user-images.githubusercontent.com/119948/88861216-1dfa6b00-d1c3-11ea-9a18-4c733deb0eab.png)
and a link to http://www.osrfoundation.org/ on the bottom, which redirects to https://www.openrobotics.org/

The url should be updated to avoid the redirect. It's unclear to me whether the logo image should say "Open Source Robotics Foundation" or "Open Robotics".

[2020-07-30 04:51] msc9533 commented on #258
Please add "msc9533" thanks!

[2020-07-30 17:53] kscottz commented on #258
@msc9533 @amrutamhaske @as-snehagn You have been added.

[2020-07-30 21:23] RoboticArts commented on #258
Please add "rvasquez" Thanks!

[2020-07-31 21:29] kscottz commented on #258
@RoboticArts You've been added.

[2020-07-31 23:28] rotu commented on #258
DanRose

[2020-08-02 12:59] yzx13183028562 commented on #258
请添加我的用户名： yao

[2020-08-02 21:36] DavidTorresOcana commented on #258
Please add David Torres

[2020-08-03 06:37] softwareasimov commented on #258
Please add my username logicraju for access to the ROS wiki

[2020-08-03 18:29] kscottz commented on #258
@softwareasimov @DavidTorresOcana @yzx13183028562 @rotu You should be good to go. Let me know if you have any problems.

[2020-08-04 15:24] schra commented on #258
Please add my username `Andre Schröder`, thanks in advance :)

[2020-08-04 20:36] kscottz commented on #258
@schra Welcome!

[2020-08-06 00:26] kscottz commented on #258
@Tim750823  you got it dude. :+1:

[2020-08-07 07:35] DavidMansolino commented on #258
Please add my username 'DavidMansolino' for access to the ROS wiki Thanks

[2020-08-07 08:39] SuperAruba commented on #258
Please add my username"SuperAruba" for getting editing permissions

[2020-08-07 17:12] Anvesh-Som commented on #258
Please add my username `Anvesh Som` for access to the ROS wiki

[2020-08-07 20:19] kscottz commented on #258
@Anvesh-Som @SuperAruba @DavidMansolino You should have access now.

[2020-08-08 15:46] lksark commented on #258
Please add my username lksark for access to the ROS wiki

[2020-08-09 01:04] skylee03 commented on #258
Mingtian Yang

[2020-08-10 11:51] ipa-cmh commented on #258
Please add my username ChristophHellmannSantos

[2020-08-10 18:34] kscottz commented on #258
@lksark @skylee03 @ipa-cmh

WELCOME!

[2020-08-11 06:42] WHOLIDAY0328 commented on #258
please add my username wangbo_RI for access to the ROS wiki.
Thanks
wangbo_RI

[2020-08-11 13:26] Software-PhysikInstrumente commented on #258
please add my username Norbert Jahr to the whitelist.

[2020-08-11 17:48] kscottz commented on #258
@WHOLIDAY0328 @Software-PhysikInstrumente you've been added.

[2020-08-13 08:41] min-zou commented on #258
Please add my username `GANZ` for access to the ROS wiki.
Thanks!

[2020-08-13 21:55] kscottz commented on #258
@min-zou you are in!

[2020-08-17 12:03] RainFromCN commented on #258
Please add my username Rain for access to the ROS wiki.

**Thanks!**

[2020-08-17 18:12] kscottz commented on #258
@RainFromCN Welcome!

[2020-08-17 19:19] ronwalf commented on #258
Please add my username "Ron Alford" for access to the ROS wiki.
I'd like to submit an edit to the dwa_local_planner. It references the parameter 'max_trans_vel,' but the code reads in 'max_vel_trans' (same for min_vel_trans)

[2020-08-18 08:31] xbcdbc opened #316 "please add my username pw_robot for access to the ROS wiki.thanks."

[2020-08-18 22:28] kscottz commented on #258
@ronwalf Done! Thx!

[2020-08-19 11:57] androbaza commented on #258
Please add my username Andrey Yershov for access to the ROS wiki.

Thanks!

[2020-08-19 22:18] kscottz commented on #258
Access granted!

[2020-08-19 22:49] kscottz commented on #258
Er, @androbaza Access Granted!

[2020-08-20 15:50] EngHyu commented on #258
Please add my username

**EngHyu**

Thanks!!!

[2020-08-20 20:53] JamesNewton commented on #258
Please add JamesNewton

[2020-08-21 07:57] bigbellmercy commented on #258
Please add my username `Jong` for access to the ROS wiki. Thank you, Katherine!

[2020-08-26 09:33] adivardi commented on #258
Please add my username: AV
thanks

[2020-08-26 18:15] kscottz commented on #258
@adivardi You're in, welcome.

[2020-08-27 15:16] isakcodes commented on #258
Please add my username IsakEngström

[2020-08-27 16:06] NumericalAdvantage commented on #258
Please add Ritwik Ghosh

[2020-08-28 11:29] Barrcap commented on #258
Please add my username BarrCaplan
Cheers

[2020-08-28 12:06] mdbsl commented on #258
Please add 'Francisco Ollero'.

[2020-08-28 18:52] kscottz commented on #258
@mdbsl @Barrcap @NumericalAdvantage @isakcodes You have all been added.

[2020-08-28 23:14] Steveh-1000 commented on #258
please add my username StephenH to the ros wiki

[2020-09-01 14:06] Steveh-1000 commented on #258
please add my username StephenHinchy to the whitelist
thanks

[2020-09-01 15:48] kscottz commented on #258
@Steveh-1000 you are in.

[2020-09-03 05:47] David-rn commented on #258
Please add my username DavidRedo to the whitelist. Thank you!

[2020-09-03 15:08] kscottz commented on #258
Hi @David-rn you have been added.

[2020-09-04 06:41] wjrjsdx commented on #258
please add my username wjrjsdx to the whitelist，tks！

[2020-09-07 14:54] KamalanathanN commented on #258
Please add my username KamalanathanN to the whitelist. Thank you :)

[2020-09-08 06:44] ROBOTIS-Will commented on #258
Please add my username `WillSon` for access to the ROS wiki. Thank you!

[2020-09-08 14:45] jparisu commented on #258
Please add my username JParis to the wiki whitelist. Thanks!

[2020-09-08 16:08] Weasfas commented on #258
Hey,

My username is "Weasfas", can you add me to the wiki whitelist, I would like to include some features and tutorials in a wiki page.

Thanks!

[2020-09-08 16:51] kscottz commented on #258
@Weasfas @jparisu @ROBOTIS-Will @KamalanathanN @wjrjsdx y'all have been added.

[2020-09-08 18:06] vmayoral commented on #258
Please add `VictorMayoral`, thanks!

[2020-09-09 08:48] toebgen commented on #258
Please add my username `TobiasRoth` for access to the ROS wiki. Thank you!

[2020-09-10 03:38] wdb0704 opened #317 "please add my username wdb0704 for access to the ROS wiki."
please add my username wdb0704 for access to the ROS wiki.
Thanks
Dongbing

[2020-09-10 09:32] jasminechoi419 commented on #258
Please add my username "Jasmine Choi" for access to the ROS wiki. Thanks !

[2020-09-10 14:48] Imraj commented on #258
Can you please add "imraj" to the wiki whitelist? Thank you!

[2020-09-10 18:31] kscottz commented on #258
@Imraj @jasminechoi419 @toebgen You have been added.

@vmayoral you are already on the list.

[2020-09-11 08:40] AftabHussain commented on #258
AftabHussain

[2020-09-11 08:47] xiaoqisz commented on #258
Please add my username "xiaoqi" for access to the ROS wiki. Thank you!

[2020-09-11 18:30] kscottz commented on #258
@AftabHussain @xiaoqisz You have been added.

[2020-09-13 11:04] louielinchichen opened #318 "Please add my username louielinchichen for access to the ROS wiki, thanks."

[2020-09-13 11:11] #318 closed

[2020-09-14 17:31] teyssieuman commented on #258
Can you please add me : 'FabriceLarribe', to the whitelist ?

[2020-09-14 17:48] kscottz commented on #258
@teyssieuman you have been added.

[2020-09-15 03:46] Alandougherty commented on #258
Please add the user AlanDougherty to the whitelist!

[2020-09-15 18:28] kscottz commented on #258
@Alandougherty  Done!

[2020-09-16 08:10] ll7 commented on #258
please add me to the whitelist: `LennartLuttkus`

[2020-09-16 19:00] kscottz commented on #258
@ll7 you have been added.

[2020-09-19 07:48] vcravi commented on #313
Not sure if this is related, but some other pages are also not rendering. For e.g. [the move_base page](https://opensource-robotics.tokyo.jp/ros.org/wiki.ros.org/move_base.html).

[2020-09-19 12:36] AlexanderHauf commented on #258
Please add me to the whitelist: AlexHauf

[2020-09-21 07:05] himanshugarg commented on #258
**The** spelled as **thew** [here](http://wiki.ros.org/action/login/ROS/Tutorials/NavigatingTheFilesystem) . Please fix or whitelist **Himanshu** in case I find others. Thanks.

[2020-09-21 16:54] kscottz commented on #258
@AlexanderHauf and @himanshugarg you have been added.

[2020-09-21 19:27] kenden commented on #258
Please add me the the whitelist: `kenden`.

[2020-09-22 13:57] IlyaDanilenko commented on #258
PleaPlease add me the the whitelist: ```Ilya Danilenko```

[2020-09-23 06:39] TopHillRobotics commented on #258
Please add me to the whitelist: Xinyu Zhang

[2020-09-23 08:56] MIP-robotics commented on #258
Please add my user name  on the whitelist: Luca Miller

[2020-09-23 08:59] MIP-robotics commented on #258
Please add my username to the whitelist: LucaMiller

[2020-09-23 11:56] MartinCornelis2 commented on #258
Please add me to the whitelist: MartinCornelis

[2020-09-24 22:41] tibordome commented on #258
Please add my username to the whitelist: TiborDome
Thanks

[2020-09-25 01:28] kscottz commented on #258
@kenden @IlyaDanilenko @MIP-robotics @MartinCornelis2 @tibordome @TopHillRobotics You have been added.

[2020-09-26 16:28] ringo47 commented on #258
Please add my username to the whitelist: VarshithSolipuram
Thank you.

[2020-09-28 17:13] kscottz commented on #258
@ringo47 You have been added.

[2020-09-29 10:11] septentrio-users commented on #258
Please add the username SeptentrioUser to the whitelist.
Thank you

[2020-09-29 19:18] kscottz commented on #258
@septentrio-users :+1: you're in!

[2020-09-30 04:32] skyzh commented on #258
Please add my username `Alex Chi` to whitelist, thanks!

[2020-10-01 00:44] kscottz commented on #258
@skyzh done

[2020-10-01 07:44] georgiablanco commented on #258
please add my username georgiablanco to whitelist, thanks!

[2020-10-01 18:07] kscottz commented on #258
@georgiablanco You have been added.

[2020-10-03 13:19] nshmyrev commented on #258
Please add my username NickolayShmyrev to whitelist, thank you!

[2020-10-03 18:37] chfritz commented on #258
Please add my username `Christian Fritz` for access to the ROS wiki

[2020-10-03 19:07] Barrcap commented on #258
please add my username BarrCaplan to the whiltelist
Cheers

[2020-10-04 15:58] Mithun2509 opened #319 "Please add my username MITHUN N S for access to the ROS wiki"
Please add my username MITHUN N S for access to the ROS wiki

[2020-10-05 18:19] kscottz commented on #258
@nshmyrev @chfritz @Barrcap You have been added!

[2020-10-06 08:46] Rayman commented on #258
Can you add my username `Rayman` to the whitelist?

[2020-10-06 17:17] kscottz commented on #258
@Rayman you're in.

[2020-10-07 21:00] aubrey-merlin commented on #258
please add AubreyK

[2020-10-08 15:54] kscottz commented on #258
@aubrey-merlin done!

[2020-10-10 01:27] joeyjyyang commented on #258
Please add JoeyYang. Thanks!

[2020-10-12 18:25] kscottz commented on #258
@joeyjyyang

[2020-10-12 18:25] kscottz commented on #258
@joeyjyyang you have been added.

[2020-10-14 14:05] davidferlop commented on #258
please add DavidFernandezLopez

[2020-10-14 14:16] Flova commented on #258
Please add Florian Vahl

[2020-10-14 20:11] kscottz commented on #258
@davidferlop @Flova You have been added.

[2020-10-15 07:26] Gianluca1977 commented on #258
Please add GianlucaPalli

[2020-10-15 10:01] ChoKasem commented on #258
Please add Chokpisit Kasemphaibulsuk

[2020-10-15 16:24] kscottz commented on #258
@Gianluca1977 @ChoKasem You have been added.

[2020-10-20 10:02] rfeistenauer commented on #258
Please add my username rfeistenauer for access to the ROS wiki

[2020-10-21 14:10] varad64 commented on #258
Please add my username VaradGalgali to the whitelist.
Thanks!

[2020-10-21 18:26] tfoote commented on #317
If you haven't already please make your request on #258 as instructed so we have a concise record.

[2020-10-21 18:26] #317 closed

[2020-10-21 18:26] tfoote commented on #319
If you haven't already please make your request on #258 as instructed so we have a concise record.

[2020-10-21 18:26] #319 closed

[2020-10-21 18:26] tfoote commented on #316
If you haven't already please make your request on #258 as instructed so we have a concise record.

[2020-10-21 18:26] #316 closed

[2020-10-21 18:29] tfoote commented on #312
It's not clear what mailing list you're referring to.

We ask that you please ask questions on http://answers.ros.org according to our support policy: http://wiki.ros.org/Support We try to keep the issue tracker reserved for bugs and feature developments.

[2020-10-21 18:29] #312 closed

[2020-10-21 18:52] kscottz commented on #258
@varad64 and @rfeistenauer you have been added.

[2020-10-23 13:49] cnaughton13 commented on #258
Please add my username ConorNaughton. Thanks!

[2020-10-23 22:50] kscottz commented on #258
@cnaughton13 welcome to the club! :pizza:

[2020-10-26 20:09] JessMotta commented on #258
@JessMotta  please add me to the whitelist. I would like to add a tutorial

[2020-10-27 00:19] kscottz commented on #258
@JessMotta you are already on the list.

[2020-10-27 12:52] JessMotta commented on #258
hi @kscottz I tried to insert a tutorial but I'm not allowed yet.
You are not allowed to edit this page.
How I can do this?

[2020-10-27 14:35] nnmm commented on #258
Please add my username nnmm for access to the ROS wiki. Thanks!

[2020-10-28 01:05] connoranderson commented on #258
Username "Connor Anderson" (with a space). Thank you!

[2020-10-28 16:29] manueldiaz96 commented on #258
Please add my username to the whitelist `manudiaz96`.
Thanks!

[2020-10-28 17:33] kscottz commented on #258
@nnmm @connoranderson @manueldiaz96 Y'all have been added.

@JessMotta I'll need more information than that (like a specific page). From my end you have a username and should be able to login. Once you are logged in you should be able to create and edit pages. Be aware certain pages may be locked. If you are trying to create a new page you simply enter your target URL to create the page and then s

[2020-10-28 17:45] JessMotta commented on #258
@kscottz  I tried to add a new tutorial for turtlesim in Python because has "Going straight, Rotate left/right and goal to goal location. And I want to add Grid and Spiral Cleaning.
http://wiki.ros.org/turtlesim/Tutorials/Moving%20in%20a%20Straight%20Line

[2020-10-28 18:00] kscottz commented on #258
Ok, like I said you need to login to the wiki, create the URL. [Instructions for editing the wiki are here](http://wiki.ros.org/EditingTheWiki). All you need to do is make your URL ([like this](http://wiki.ros.org/turtlesim/Tutorials/Moving%20in%20a%20Spiral)) and then click on the tutorial template link on the page that comes up ([for example this page](http://wiki.ros.org/turtlesim/Tutorials/Mov

[2020-10-28 19:58] JessMotta commented on #258
Thanks @kscottz

[2020-11-03 11:27] manuelgitgomes commented on #258
Good morning! Can you please add my username "Manuel Gomes" to the white list? Thanks!

[2020-11-03 12:29] manueldiaz96 commented on #258
@manuelgitgomes are you sure that your username is "Manuel Gomes"? Usually usernames do not have spaces in them. I believe you can see your username be it on the login screen as 'Name' or if you are already logged in right under the 'User' (which is under the '**More actions**' drop down menu) section in the right of any wiki article. :smile:

[2020-11-03 14:23] manuelgitgomes commented on #258
@manueldiaz96 Hello! Yes I am, it was really weird to me also, but to clear up things I changed it to `gomesnelito`. I hope it's more clear now. Thank you for your help!

[2020-11-03 17:41] kscottz commented on #258
@manueldiaz96 ROS Wiki user names can have spaces. Please don't spread false information.

@manuelgitgomes  I added you to the list. Welcome.

[2020-11-03 18:18] paulpavish commented on #258
White list me 'Paul Pavish'
thankyou

[2020-11-03 20:46] manuelgitgomes commented on #258
@kscottz Thank you for adding me!

[2020-11-03 20:53] manueldiaz96 commented on #258
@kscottz I am sorry I said that :cry:

[2020-11-03 21:39] claireyywang commented on #258
plz add `claireyywang` to whitelist. thanks

[2020-11-03 21:39] tfoote commented on #258
@claireyywang added

[2020-11-04 00:13] svelado commented on #258
please add mvelado to the whitelist as well. Thank you!

[2020-11-04 00:32] frivasc commented on #258
Please, add mi user **frivasc** to whitelist. Thanks

[2020-11-04 21:52] kscottz commented on #258
@svelado @frivasc Welcome to the club.

[2020-11-05 07:25] HuangCongQing commented on #258
please add **hcq** to the whitelist as well. Thank you!

[2020-11-05 10:21] EngraR commented on #258
Please add my user **Engra** to whitelist. Thanks!!

[2020-11-05 17:30] kscottz commented on #258
@EngraR @HuangCongQing You have been added.

[2020-11-06 04:31] mm-nasr commented on #258
Please add my username: **MahmoudNasr** to whitelist, Thank you!

[2020-11-06 21:19] kscottz commented on #258
@mm-nasr welcome to the club.

[2020-11-07 02:45] kokosabu commented on #258
Please add my username: 'MIURA Yasuyuki' to whitelist, Thank you!

[2020-11-09 00:22] marc-hanheide commented on #258
Please add me as `Marc Hanheide`, thanks

[2020-11-09 17:33] kscottz commented on #258
@kokosabu @marc-hanheide you have been added.

[2020-11-09 19:03] gpdas commented on #258
Can you add `GauthamDas` to the whitelist please? Thanks in advance.

[2020-11-09 21:33] pet1330 commented on #258
Hello, would you mind adding `Peter Lightbody` to the whitelist? Thanks! :)

[2020-11-10 07:55] gerardMiro commented on #258
Good morning! Can you please add my username "Gerard Miro" to the whitelist? Thanks!

[2020-11-10 08:14] mikekaram commented on #258
Please add my username `MikeKaramousadakis` for access to the ROS wiki

[2020-11-10 11:15] kokosabu commented on #258
Thank you.
But for some reason I still can't access it.
Was it bad to have a blank in the username?
<img width="906" alt="スクリーンショット 2020-11-10 20 14 57" src="https://user-images.githubusercontent.com/19239/98667201-71b74b80-2391-11eb-9930-caa460091170.png">

[2020-11-10 11:38] guijuzhejiang commented on #258
please add my username

[2020-11-12 23:41] JKBehrens commented on #258
Please add JanBehrens to the whitelist! Thank you!

[2020-11-13 19:15] kscottz commented on #258
@JKBehrens @mkhansenbot @mikekaram @gerardMiro @pet1330 @gpdas  -- you have been aded.

@guijuzhejiang  what name do you want? What username? Please be more explicit.

@kokosabu you are on the list try refreshing / logging in again.

Sorry about the delay, I was a bit busy with ROS world.

[2020-11-17 16:04] daniel-lopez-puig commented on #258
Please add my username `Daniel Lopez Puig`
Thanks!

[2020-11-17 17:57] kscottz commented on #258
@daniel-lopez-puig welcome to the club.

[2020-11-18 07:02] yakamoz423 commented on #258
Please add my username yakamoz423 for access to the ROS wiki

[2020-11-18 10:22] Inika29 commented on #258
Hi, please add my username DavidFloch to the ROS wiki.

Have a nice day, thanks !

[2020-11-18 12:27] SeptimiuVana commented on #258
Hello! Please add my username: SeptimiuVana

[2020-11-18 19:03] kscottz commented on #258
@SeptimiuVana @Inika29 @yakamoz423 You have been added.

[2020-11-19 18:53] zwoosks commented on #258
Please add my username IuriGuerrero for access to the ROS wiki

[2020-11-19 19:16] kscottz commented on #258
@zwoosks you have been added.

[2020-11-20 03:48] paulpavish commented on #258
Second time Requesting for whitelist -

Username : Paul Pavish

FOR ACCESS TO ROS WIKI

[2020-11-20 11:35] technocupid commented on #258
Hello! Please add my username: MilanYadav

[2020-11-20 14:36] kokosabu commented on #258
Refreshed and logged in does not seem to change.

[2020-11-20 23:06] kscottz commented on #258
@kokosabu it appears I  may have deleted the last "i" off your handle. Try again. My apologies.
@technocupid -- you have been added. First time I've seen that name so I don't know what you mean by "Second time requesting for whitelist."
@paulpavish -- you have been added

[2020-11-21 03:23] kokosabu commented on #258
@kscottz It worked well. Thank you.

[2020-11-21 14:25] koshnicharov commented on #258
Please add my username "koshnicharov" to the ROS wiki editors. I want to create useful ROS packages and make tutorials for them.

[2020-11-23 09:21] wenyishengkingkong opened #322 "加入社区"

[2020-11-23 19:41] kscottz commented on #258
@koshnicharov you have been added.

[2020-11-25 13:39] rventura commented on #258
Please whitelist me at the ROS wiki. My username there is RodrigoVentura.

Let me take the chance to ask how can I submit a short course on ROS to the ROS/Tutorials webpage. The course is available here: http://mediawiki.isr.ist.utl.pt/wiki/Short_course_on_ROS_programming_2020

Thank you,
Rodrigo Ventura

[2020-11-26 13:02] nilseuropa commented on #258
Hi,

please add me to the whitelist as MartonJuhasz .

Thanks!

[2020-11-28 01:22] amarsanadi commented on #258
'Amar Sanadi' to be added to white list.
Thanks

[2020-11-30 08:12] irvan-k commented on #258
hi erfan karimian thanks

[2020-11-30 19:10] ongbooncheong opened #323 "booncheong02"

[2020-11-30 19:10] #323 closed

[2020-12-01 11:06] AsherThomasBabu commented on #258
Please add: 'AsherThomasBabu' to the whitelist.
Thank you

[2020-12-01 18:15] kscottz commented on #258
@AsherThomasBabu @irvan-k @amarsanadi @nilseuropa @rventura

You have all been added. I apologize for the delay.

[2020-12-01 19:12] irvan-k commented on #258
thanks

[2020-12-04 14:30] jposterloh commented on #258
Please add `Jan-Patrick Osterloh` to the whitelist. Thanks!

[2020-12-04 17:31] kscottz commented on #258
@jposterloh you have been added

[2020-12-07 13:32] g-gemignani commented on #258
please add GuglielmoGemignani to the whitelist. Thanks!

[2020-12-07 19:49] joshnewans commented on #258
Hi, please add JoshNewans to the whitelist, thanks.

[2020-12-07 23:18] kscottz commented on #258
@g-gemignani @joshnewans You have been added.

[2020-12-09 06:47] lkunelk commented on #258
Hello, please add 'Nam' to the whitelist. Thank you!

[2020-12-09 07:53] RMichaelSwan commented on #258
Hi, please add RMichaelSwan to the whitelist; much appreciated!

[2020-12-09 21:01] kscottz commented on #258
@lkunelk @RMichaelSwan  you have been added.

[2020-12-11 04:06] malban commented on #258
Please add me as 'MarcAlban' to the whitelist.  Thanks.

[2020-12-11 07:18] deanmonnn opened #324 "Hello, please add me: aliTaskiran"

[2020-12-11 07:19] deanmonnn commented on #258
Hello, please add me to the whitelist. Regards.
nick:aliTaskiran

[2020-12-11 07:19] #324 closed

[2020-12-11 17:45] kscottz commented on #258
@malban @deanmonnn Welcome to the community.

[2020-12-17 10:47] amferreiraBEV commented on #258
Hi, please add me
AndreFerreira

Thanks in advance!

[2020-12-17 16:04] FabianSchuetze commented on #258
A few months after my initial (approved) request, I tried to make my first edit but pages are still declared to be "immutable" . Moreover, when logging in to ros-wiki, I am greeted by a text saying that I can gain permission to edit through this github page. Is the username fabianschuetze permitted to edit wiki pages? Does somebody know what I might be doing wrong?

[2020-12-17 17:47] kscottz commented on #258
@amferreiraBEV You have been added.

@FabianSchuetze you are on the list. Not all wiki pages are editable by all users, some of them are locked to prevent spam. I will need more information to help you with your issue. Please e-mail me.

[2020-12-18 10:01] tp4348 commented on #258
Please add my username: Teodor

Thanks

[2020-12-18 17:27] kscottz commented on #258
@tp4348 you have been added.

[2020-12-21 16:52] civerachb-cpr commented on #258
Hello, I'd like to be added to the whitelist, please: `ChrisIB`

[2020-12-21 17:29] kscottz commented on #258
@civerachb-cpr welcome!

[2020-12-22 09:35] Topsens commented on #258
Please add my username Topsens for access to the ROS wiki
Thanks!

[2020-12-22 14:48] kscottz commented on #258
@Topsens you have been added.

[2020-12-28 02:13] taeyoung75 commented on #258
Please add my username: Taeyoung Noh
Thanks!

[2020-12-28 15:28] kscottz commented on #258
@taeyoung75 Welcome to the club!

[2020-12-29 18:29] ashwinvk94 commented on #258
Please add my username **ashwinvk94**

[2020-12-30 15:36] BV-OpenSource commented on #258
Please add me: BV-OpenSource
Happy new year for all!!

[2020-12-30 16:16] kscottz commented on #258
@BV-OpenSource welcome to the club.

[2020-12-30 16:49] BV-OpenSource commented on #258
Still can't edit my wiki pages.

[2020-12-30 17:20] kscottz commented on #258
@BV-OpenSource you are aware that you need to create an account right? The name you listed here should be the wiki account name and not your Github handle.

[2020-12-30 17:21] kscottz commented on #258
@BV-OpenSource Also if you can't edit a page you need to give me the URL for the page you tried to edit.

[2020-12-30 17:24] BV-OpenSource commented on #258
Page to edit: http://wiki.ros.org/heifu

`To gain edit permissions for yourself, please comment on this GitHub ticket with your wiki UserName, 'BV-OpenSource', to be added to the whitelist. `

[2020-12-30 18:09] kscottz commented on #258
You may need to log out and log back in, or try in incognito mode. The wiki is pretty stubborn.

[This should be the direct edit link.](http://wiki.ros.org/action/edit/heifu?action=edit&editor=text)

![image](https://user-images.githubusercontent.com/967306/103372420-dc7a2e80-4a86-11eb-864b-2b19a675ff74.png)

[2020-12-30 18:11] BV-OpenSource commented on #258
I've tried both!
I'll try again tomorrow.

[2020-12-30 18:20] kscottz commented on #258
@BV-OpenSource Are you 100% sure you gave me the correct wiki name? That is usually the problem.

[2020-12-31 09:54] BV-OpenSource commented on #258
I've sent you the message I get when I login.

However, I've deleted the account and created another one:
BEV-OpenSource

[2021-01-02 11:32] FelipeGdM commented on #258
Please add me: FelipeGomes
Thank you!

[2021-01-04 13:46] mhepeyiler commented on #258
Pleaser add me: MuratHepeyiler
Thank you!

[2021-01-04 16:37] kscottz commented on #258
@BV-OpenSource I have updated your name.
@FelipeGdM and @mhepeyiler  you have been added.

[2021-01-04 17:40] BV-OpenSource commented on #258
Hi again,
I've changed my name again. This time without the hyphen: BEVOpenSource
I've logout and login several times and also tried in incognito mode. No luck.

My old usernames (AndreFerreira and BV-OpenSource) can be deleted.

[2021-01-05 04:20] th-lp commented on #258
Hi,
please add my username LP-Research for access to the wiki.
Thanks !

[2021-01-05 17:15] kscottz commented on #258
@BV-OpenSource Cool beans! Thanks for your patience.

[2021-01-09 03:55] qinyunchuan commented on #258
Please add my username qinyunchuan for access to the ROS wiki。
Thanks!

[2021-01-11 18:05] kscottz commented on #258
@qinyunchuan Welcome!

[2021-01-12 11:43] jara001 commented on #258
Hello!
Please add my username `jara001` for the ROS Wiki.
Thanks!

[2021-01-12 15:31] kscottz commented on #258
@jara001 welcome to the party.

[2021-01-12 19:12] xavier98occam commented on #258
Please add my user xavier98occam to the whitelist. Thank you!

[2021-01-13 11:47] tarasborov commented on #258
Please add my username `Taras Borovets` for access to the ROS wiki. Thanks.

[2021-01-13 17:12] kscottz commented on #258
@xavier98occam @tarasborov welcome to the club.

[2021-01-15 17:17] swiz23 commented on #258
Hi,

Can you add SolomonWiznitzer to the whitelist please?

[2021-01-17 07:26] PranaliDesai commented on #258
Please add my username Pranali access to the ROS wiki

[2021-01-18 10:14] NelsonOliveiraRS commented on #258
Username: Nelson Oliveira

[2021-01-19 20:09] kscottz commented on #258
@NelsonOliveiraRS @PranaliDesai @swiz23 You have been added.

[2021-01-19 21:22] kscottz commented on #258
@PranaliDesai can you please contact me at kat@openrobotics.org

[2021-01-19 21:41] PranaliDesai commented on #258
I sent you a mail @kscottz

[2021-01-22 10:50] maiertopo commented on #258
Please add my username `DennisMaier` for access to the ROS wiki. Thank you!

[2021-01-22 18:03] TangramAdam commented on #258
Please add my username `TangramVision` for access to the ROS wiki

[2021-01-22 20:38] DLu commented on #314
Closed via https://github.com/ros-infrastructure/roswiki/pull/311

[2021-01-22 20:40] DLu opened #325 "Markdown Macro does not handle relative links"
If the markdown contains a relative link, the generated link will point at `wiki.ros.org/relative_link`. [example](http://wiki.ros.org/nav_2d_utils)

[2021-01-22 20:42] ros-discourse commented on #325
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/use-markdown-on-wiki-ros-org/18608/1

[2021-01-22 23:04] kscottz commented on #258
@maiertopo @TangramAdam Welcome to the club!

[2021-01-26 00:11] rje1974 commented on #258
Please add my username 'JuanEduardoRiva' for accessing to the ROS wiki.. Thanks

[2021-01-26 02:45] WH-0501 commented on #258
please add Damon and WH-0501 for access to the ROS WIKI

[2021-01-26 18:18] kscottz commented on #258
@rje1974 you have been added. @WH-0501 I added both Damon and WH-0501. I'm not sure but I've heard about issues with dashes in user names.

[2021-01-30 11:38] rje1974 commented on #258
Hi, please add ros_es to the wiki. Thanks..

[2021-02-01 21:02] kscottz commented on #258
@rje1974 Welcome

[2021-02-01 22:08] emrebaltaci commented on #258
please add me "emrebaltaci" for access to the ROS WIKI

[2021-02-03 19:14] kscottz commented on #258
@emrebaltaci You have been added.

[2021-02-03 23:44] captsisko commented on #258
Please add "sisko" to the whitelist

[2021-02-04 23:20] Mecb1407 commented on #258
Hi, please add Manuel Contreras to the Wiki.Thanks..

[2021-02-04 23:28] kscottz commented on #258
![sisko](https://user-images.githubusercontent.com/967306/106968372-850e5480-66fd-11eb-9573-e9bb1b7fbbe3.gif)

Cheers @captsisko and @Mecb1407

[2021-02-10 12:34] frederico-klein commented on #258
Hi,
Can you add me to the whitelist?
user:`FrederIcoBKlein`
thx

[2021-02-10 18:12] kpmrozowski commented on #258
please, add my username to the whitelist: Mrozkor

[2021-02-10 19:41] kscottz commented on #258
@kpmrozowski @frederico-klein Welcome to the club!

[2021-02-11 14:03] Tristan9497 commented on #258
Please, add my username to the whitelist: TristanSchwörer
or add the parameter outline_map

[2021-02-11 22:33] kscottz commented on #258
Welcome to the club @Tristan9497

[2021-02-11 23:36] ChristianTsoungui commented on #258
Please add my username christian_Obama for access to the ROS wiki

[2021-02-12 20:16] Doomerdinger commented on #258
please, add my username to the whitelist: `Alec Tiefenthal`

[2021-02-12 22:26] kscottz commented on #258
@ChristianTsoungui @Doomerdinger You have been added.

[2021-02-13 13:19] Matze57 commented on #258
Please add my user name 'MatthiasGoettken' to the whitelist. Thanks in advance.

[2021-02-15 01:30] toyoshi commented on #258
Please add my username `RyuichiroToyoshi` for access to the ROS wiki. Thank you!

[2021-02-15 11:04] NicolasGuy97 commented on #258
Please add my username 'NicolasGuy' for access to the ROS wiki. Thanks in advance

[2021-02-16 16:48] jvila4 commented on #258
Please add my username 'jvila4' to the whitelist. Thank you.

[2021-02-16 16:58] taishin0 commented on #258
Please add my user name 'taishin' to the whitelist. Thanks in advance.

[2021-02-17 15:57] MarkNaeem commented on #258
Hello,
Please add my username "MarkNaeem" to the whitelist. Thanks.

[2021-02-17 17:51] kscottz commented on #258
@taishin0 @NicolasGuy97 @Matze57 @jvila4 @taishin0 -- We've had a vandalism problem as of late. Your accounts look a bit suspect as there is very little recent activity. I am going to ask that you e-mail me at kat@openrobotics<dot>org with a single sentence outlining what you want to edit along with your wiki name. Sorry for adding an extra step.

@MarkNaeem @toyoshi You have been added.

[2021-02-18 05:01] taishin0 commented on #258
p{margin-top:0;margin-bottom:0}

    Dear Sir/Ma'am,

Thanks for the reply, I'm a novice in ROS, and planning to study through the documents you provide online. Some menus in the right-side edge, like 'My documents', 'Copy Document', which are not sure to be the exact names in the English menu,  seem to require my own homepage which I'm supposed to create first. This is why I ask you to put me on

[2021-02-18 22:29] wvmcastro opened #326 "Please add: WellingtonCastro"

[2021-02-18 22:31] wvmcastro commented on #326
Please add: WellingtonCastro

[2021-02-18 22:31] #326 closed

[2021-02-18 22:32] wvmcastro commented on #258
Please add: WellingtonCastro

[2021-02-19 18:57] deadln commented on #258
Please add my username GlebShmakov for access to the ROS wiki

[2021-02-20 16:07] jweiser014 commented on #258
Add jweis012 Please :) Gotta fix these broken links!

[2021-02-20 16:10] jweiser014 commented on #258
Please add jweis012 :) (not 014, confusing) Gotta fix these broken links!

[2021-02-22 09:27] leslieam commented on #258
Please add username: Leslie Guan
Thanks.

[2021-02-23 03:44] taishin0 commented on #258
p{margin-top:0;margin-bottom:0}

    Sorry, but I don't understand what tweaking the wiki CSS means. Did I ever mention any problem?? I just want to use your site more efficiently with some privileges of the whitelist member. If this is not what your policy goes with, there's nothing I can do.

Sincerely,

Taishin Chung

--------- 원본 메일 ---------

        보낸사람: Katherine Scott <notifications@githu

[2021-02-24 05:27] kanishkaganguly commented on #258
Please add my username: KanishkaGanguly to the ROS wiki

[2021-02-24 23:51] kscottz commented on #258
@kanishkaganguly you have been added.

@taishin0 I don't understand what problem you are trying to fix or why you keep posting the same line of CSS i.e. `p{margin-top:0;margin-bottom:0}`. If there is a technical problem with the wiki please let us know and we'll try to fix it.

[2021-02-26 08:31] Yang-IFX commented on #258
Please add my username: YangIFX to ROS wiki

[2021-02-26 23:46] kscottz commented on #258
@Yang-IFX You have been added. I would love to know more about what you are working on.

[2021-03-01 08:32] RylJar commented on #258
Please add my username: JaroslawRylewicz to ROS wiki

[2021-03-01 18:53] kscottz commented on #258
Hi RylJar, I don't see much of a git history. Can you explain what you plan to do on the wiki?

[2021-03-02 06:49] RylJar commented on #258
Hi kscottz,
    it's simply because I am storing most of my work on the internal server. At the moment, I have no strong need to publish, but hope to change it soon.

[2021-03-03 22:28] kosmastsk commented on #258
Please add me on the whitelist: KosmasTsiakas
Thank you!

[2021-03-04 18:53] kscottz commented on #258
@kosmastsk @RylJar You have been added.

[2021-03-08 13:00] ArthurSiebenhaar commented on #258
Please add me on the whitelist: ArthurSiebenhaar
Thank you!

[2021-03-08 19:43] ashok2811 commented on #258
Please Add me on the whitelist: Ashok Kumar Chaudhary
Thank You

[2021-03-08 21:03] kscottz commented on #258
@ashok2811 you have been added.

@ArthurSiebenhaar You have very little git history. In order to prevent wiki vandalism we generally avoid adding those lacking history. Can you please provide me with more information about what you want to do with the wiki?

[2021-03-08 22:06] Netzahualcoyotl commented on #258
Netzahualcoyotl Guadarrama

[2021-03-09 05:58] Sudharsan10 commented on #258
Please add my username: Sudharsan to the ROS wiki

[2021-03-09 08:02] ArthurSiebenhaar commented on #258
@kscottz I am an intern and would like to take care of the sensor page of my company (Toposens).

[2021-03-10 01:38] kscottz commented on #258
@ariellamansfield to prevent vandalism we need to vet people without git histories a bit more, can you tell me what you plan to do with the wiki?

@ArthurSiebenhaar Your story checks out, welcome.

@Sudharsan10 @Netzahualcoyotl Welcome.

[2021-03-10 04:16] Sudharsan10 commented on #258
@kscottz I'm little confused, Edit/create permission still not available. is there a wait period to gain access after getting added to the waitlist? I have attached the screenshot of the msg.

Thank you

![Screenshot from 2021-03-09 23-12-29](https://user-images.githubusercontent.com/17234052/110575525-fbeba280-812c-11eb-9932-06a7142e9d6a.png)

[2021-03-10 19:40] ariellamansfield commented on #258
@kscottz:
I only have a minor update to suggest - if there is a better way of suggesting/requesting updates other than getting edit permission I would be fine with that as well. I was looking at the tutorials and saw that in the "Navigating the Filesystem" page, the usage for roscd was described as "roscd [locationname[/subdir]]" which did not match the explanation. When I compared this to the usa

[2021-03-11 19:32] kscottz commented on #258
@Sudharsan10 I fixed your user name, sorry about that.
@ariellamansfield  That's all I needed to know. That looks like a great first edit! Welcome to the community.

[2021-03-11 19:35] Sudharsan10 commented on #258
@kscottz Thank you, its all good. Now I have access.

[2021-03-12 16:50] bonnetst commented on #258
Please add stephanebonnet for access to the ROS wiki. Thanks a lot!

[2021-03-12 20:42] YueErro commented on #258
Please add my username `YueErro` for access to the ROS wiki. Thanks in advance!

[2021-03-15 00:15] saturnone1 commented on #258
Please add my username: SeoTaeWon
for access to the ROS wiki.
Thanks

[2021-03-15 18:12] kscottz commented on #258
@bonnetst @YueErro You have been added.

@saturnone1 Can you tell me what you want to do? I don't see a lot github history which makes me a bit worried. We do this to prevent spam.

[2021-03-15 21:13] marcelino-pensa commented on #258
Marcelino Almeida

[2021-03-16 18:44] kscottz commented on #258
@marcelino-pensa You've been added.

[2021-03-17 04:54] clobot-git commented on #258
Hi :)  Can you please add my username?
username : clobot
Thanks!

[2021-03-17 21:23] kscottz commented on #258
@clobot-git in order to reduce wiki spam we ask that github users without a long history give a brief description of what they plan to do with the wiki.

[2021-03-17 23:26] clobot-git commented on #258
Dear Katherine Scott.

CLOBOT Co.,Ltd is making a new mobile robot platform(h/w).
We want to share our various s/w packages(navigation, vision, etc.) based
on ROS 1.0 & ROS 2.0.
Thanks.

2021년 3월 18일 (목) 오전 6:23, Katherine Scott ***@***.***>님이 작성:

[2021-03-19 00:02] kscottz commented on #258
@clobot-git works for me! You've been added to the wiki.

[2021-03-20 15:17] williamnavaraj commented on #258
Could you please add me to the ros-wiki?
Username: William Navaraj

[2021-03-23 08:21] sahin52 commented on #258
Could you add me to whitelist
username: Sahin
And please, could you add a comments section to wiki pages, there are a lot of missing things, finding them on the net requires a lot of time. By adding comments, we can easily share problems and solutions

[2021-03-23 21:12] kscottz commented on #258
@williamnavaraj  you have been added.
@sahin52 you have been added. --  We're presently not adding features to the ROS wiki at this time. The underlying wiki is barely supported as is.

[2021-03-24 01:09] saturnone1 commented on #258
I'm a student in SouthKorea Hanyang Univ'. I just want to translate a
document in English into Korean. In ROS wiki, there are not many Korean
translation documents

2021년 3월 16일 (화) 오전 3:13, Katherine Scott ***@***.***>님이 작성:

[2021-03-25 18:50] matiasbavera commented on #258
Hi Guys,

Can you please add me to the `ros-wiki` whitelist? my username is `Matias Bavera`.

Thanks.

[2021-03-26 22:19] kscottz commented on #258
@matiasbavera you have been added.

@saturnone1 I can't add you without a user name. Are you planning on adding Korean pages to the wiki or creating a new document?

[2021-03-30 13:25] yoshi-ono commented on #258
Please add my username: YoshikiOnodera
to ROS wiki whitelist.
Thanks.

[2021-03-31 08:28] qwq321qwq commented on #258
thanks

[2021-04-01 18:29] siddalingesha-ds commented on #258
Please add my username: SiddalingeshaDS
Thanks

[2021-04-01 19:05] pratik-nichat commented on #258
Hello,
Please add my username: PratikNichat
Thank you.

[2021-04-02 20:47] defunctzombie commented on #258
Please add my username RomanS for access to the ROS wiki

[2021-04-03 10:46] lebarsfa commented on #258
Please add my username lebarsfa for access to the ROS wiki. I would like to contribute to http://wiki.ros.org/razor_imu_9dof .

[2021-04-05 18:58] kscottz commented on #258
@KristofRobot @lebarsfa @defunctzombie @pratik-nichat @siddalingesha-ds

All of you have been added.

[2021-04-06 14:39] Hasan1493 opened #327 ""Hasan""

[2021-04-06 14:39] #327 closed

[2021-04-06 14:40] Hasan1493 commented on #258
Please add my username "Hasan" for access to the ROS wiki

[2021-04-07 13:23] moguztas commented on #258
Please add my username "**moguztas**" for access to the ROS wiki. I'm the **instructor** of Udemy course which name is "Temelden Gelismise Python ile Uygulamalı ROS Eğitimi" and **author** of "Yeni Başlayanlar için Uygulamalarla Robot İşletim Sistemi (ROS)" e-book.

**Udemy Link**: https://www.udemy.com/course/temelden-gelismise-python-ile-uygulamali-ros-egitimi/?referralCode=3A570B37E433D7A44DA0

[2021-04-08 18:16] kscottz commented on #258
@moguztas you have been added.

@Hasan1493 Can you tell me more about why you want access to the wiki? We do this to prevent wiki spam.

[2021-04-09 05:05] Hasan1493 commented on #258
I want to translate some articles into Turkish.

[2021-04-09 08:40] Yang-IFX commented on #258
Hi @kscottz , could you please remove my email from the list of getting notification about this page? Whenever there is new comment, I would get email. Is it designed in this way? Or it's optional to choose to skip the notice? Thank you very much.

[2021-04-09 22:56] kscottz commented on #258
@Hasan1493 I granted you access.

@Yang-IFX You need to unsubscribe from the thread. Unfortunately, I can't change you e-mail notification settings.

[2021-04-12 03:44] aprilaaa commented on #258
Please add my username "guoguoguo" for access to the ROS wiki

[2021-04-12 16:25] kscottz commented on #258
@aprilaaa to prevent spam / bad edits we've been a bit more skeptical of potential wiki editors that lack a git history. Can you be more explicit about why you would like to edit the wiki? A sentence or two is sufficient.

[2021-04-13 23:04] kscottz commented on #258
Welcome @OAkyildiz. You have been added.

[2021-04-15 12:14] Yinlong-Bai commented on #258
Please add my username byl for access to the ROS wiki

[2021-04-19 23:12] kscottz commented on #258
@Yinlong-Bai Can you give me more context about what you plan to do on the wiki? You seem to have no public git history. We ask this to prevent wiki spam.

[2021-04-20 09:03] Anas-Alhashimi commented on #258
AnasAlHashimi

[2021-04-22 22:36] kscottz commented on #258
@Anas-Alhashimi Can you give me a brief description of what you want to edit on the wiki? We do this to prevent spam.

[2021-04-22 23:21] Anas-Alhashimi commented on #258
Hello
I have old ROSARIA tutorials http://wiki.ros.org/ROSARIA/Tutorials/Android%20teleop%20Pioneer%203at that I would to edit, renew, modify.

[2021-04-23 00:08] heat-jr opened #328 "Hi - please add hejoro to the whitelist. Thanks!"

[2021-04-23 00:11] heat-jr commented on #258
Please add username `hejoro` to the whitelist. Thanks!

[2021-04-23 00:14] heat-jr commented on #258
Please add my username `hejoro` for access to the ROS wiki. Thanks!

[2021-04-23 13:44] deanmonnn commented on #258
Hello,

How can i reach the ROS wiki ?

heat-jr ***@***.***>, 23 Nis 2021 Cum, 03:15 tarihinde şunu
yazdı:

--
ALI TASKIRAN
*ML, DL Developer & Mechatronics Engineer*

[2021-04-25 21:39] muratkayamurat commented on #258
Hello There,
Can you add "Murat" username to the whitelist ?

Thanks,

[2021-04-26 18:21] kscottz commented on #258
@muratkayamurat @heat-jr @Anas-Alhashimi  -- you have been added.

@deanmonnn Can you please clarify your question?

[2021-04-30 01:39] kemen209 commented on #258
Please add: Yun Lin, thanks

[2021-05-01 00:39] kscottz commented on #258
@kemen209 Welcome to the community.

[2021-05-01 17:21] deanmonnn commented on #258
@kscottz The whitelist that we added, I do not understand clearly what it is.

[2021-05-04 20:18] MadsRossen commented on #258
Please add: Mads Rossen, thanks

[2021-05-05 19:02] kscottz commented on #258
@deanmonnn That doesn't really clarify what you are asking for. Do you want to edit the wiki.

@MadsRossen Can you give me a one line description of what you want to add to the wiki?

[2021-05-05 19:30] MadsRossen commented on #258
@kscottz Sometimes I find minor misspellings and sentences with poor understanding of the subject on the ROS Wiki.

[2021-05-06 12:00] RobinBaruffa commented on #258
Hi, I'd like to be added on the whitelist, here is my username : _RobinBaruffa_

[2021-05-06 20:22] kscottz commented on #258
@RobinBaruffa @MadsRossen welcome to the cool kids club.

[2021-05-07 00:39] dsm1030 commented on #258
Hi, please add me to the whitelist, my username is: sdeng

[2021-05-13 18:03] kscottz commented on #258
@dsm1030 Can you tell me a bit more about what you want to edit on the wiki?

[2021-05-13 18:06] dsm1030 commented on #258
@kscottz I'd like to add wiki pages for my customized ros packages. Thanks.

[2021-05-16 08:21] iwangshuo commented on #258
Please add my username "MichaelShuo" for access to the ROS wiki

[2021-05-17 18:23] kscottz commented on #258
@dsm1030 @iwangshuo -- welcome to the wiki.

[2021-05-18 18:40] marcelino-pensa commented on #301
@tfoote what is the suggested alternative? Should we just not use latex anymore? Is there a workaround?
The wiki on [how to write a wiki](http://wiki.ros.org/WritingTutorials) still documents the usage of latex, even though it is no longer usable. Should that section be deleted?
Maybe we should add some comments there explaining that it isn't supported anymore, with guidelines on how to substitute

[2021-05-19 03:39] Bietduoc2021 commented on #258
Hi, please add me to the whitelist, my username is: Đỗ Thủy Tiên

[2021-05-19 18:43] kscottz commented on #258
@Bietduoc2021 your github profile says you do marketing work. Can you tell me what you plan to do with the ROS wiki? The ROS wiki is not a place for marketing.

[2021-05-20 03:30] Bietduoc2021 commented on #258
I'm studying AI and robotics

[2021-05-20 05:45] Bietduoc2021 commented on #258
My ROS: http://wiki.ros.org/Do%20Thuy%20Tien
Thanks

[2021-05-20 15:07] blaine141 commented on #258
Please add my username "BlaineMiller" for access to the ROS wiki

[2021-05-20 18:21] kscottz commented on #258
@blaine141 you have been added.

@Bietduoc2021 I need you to be more specific. Is there a page you wish to create or edit?

[2021-05-22 01:26] florcabral commented on #258
Please add my username florcabral for access to the ROS wiki

[2021-05-22 13:25] sdoering01 commented on #258
Please add my username SimonDoering for access to the ROS wiki

[2021-05-24 17:53] kscottz commented on #258
@florcabral I added you.

@sdoering01 you don't have a ton of git history. In a sentence or two can you tell me why you want access to the ROS wiki?

[2021-05-24 18:13] sdoering01 commented on #258
I want to correct a false import statement in a tutorial (https://answers.ros.org/question/378765/possible-error-in-quaternions-tutorial/). I think an 'official' tutorial should not contain such an error - which cost me like 2 hours thinking I hadn't installed the package correctly or something.

[2021-05-24 19:07] kscottz commented on #258
@sdoering01 Awesome. Thanks for being patient! I have added you!

[2021-05-28 18:51] dchaniel commented on #258
Please add my username DanielChan for access to the ROS wiki. (Hoping to fix latex errors here: http://wiki.ros.org/action/login/urdf/XML/joint)

[2021-05-30 16:35] AliTaima commented on #258
'Ali Taima'

[2021-06-01 18:11] kscottz commented on #258
@dchaniel you have been added.

@AliTaima you don't really have a git history. Can you please tell me what you wish to edit on the ROS wiki?

[2021-06-06 00:09] durovsky commented on #258
Hi guys, I would like to add Photoneo 3D Scanners to the Sensors list (http://wiki.ros.org/Sensors) and update the existing page to reflect recent changes. A link to ROS package link is here: https://github.com/photoneo/phoxi_camera, A link to Phoxi cemera ROS Wiki page is here: http://wiki.ros.org/phoxi_camera. Thanks

[2021-06-07 04:13] DJI-Colin commented on #258
Please add my username charles.huang for access to the ROS wiki.
Thanks~

[2021-06-07 18:04] kscottz commented on #258
@DJI-Colin -- you have been added. I am really curious about what you are working on. Drop me a line. kat@openrobotics.org

@durovsky -- your name was added a long time ago but there appears to have been a spelling error. I think I fixed it. Let me know if you have issues.

Welcome to the club!

[2021-06-07 21:48] esthersweon commented on #258
Please add my username `Esther Weon` for access to the ROS wiki.

[2021-06-08 00:11] peltolap commented on #258
Please add my username for access to the ROS wiki.  My wiki ROS username is: PhyllisPeltola

[2021-06-08 04:31] palakons opened #329 "Minor package name to reflect the newer version"
Under "Building your nodes"
http://wiki.ros.org/ROS/Tutorials/WritingPublisherSubscriber%28c%2B%2B%29

the sample code below use the older-version "genmsg"
`find_package(catkin REQUIRED COMPONENTS roscpp rospy std_msgs genmsg)`

It should reflect the newer one to match with the previous chapter of the tutorials
`find_package(catkin REQUIRED COMPONENTS roscpp rospy std_msgs message_generation)`

Be

[2021-06-08 08:20] shac12 commented on #258
Hi
Please add my `wiki UserName, 'Sharif'`

cheers

[2021-06-08 17:32] gsaponaro commented on #258
Please add my username `GiovanniSaponaro` to the ROS wiki editors list.
I would like to update the following page: http://wiki.ros.org/action/login/eyeware-ros

[2021-06-08 22:26] kscottz commented on #258
@esthersweon @shac12  -- you have been added.

@gsaponaro -- you were already on the list but some how your line got added to the previous line. It is now fixed. Sorry about that.

@peltolap Can you briefly tell me more about what you want to edit on the wiki?

[2021-06-11 15:31] M010 commented on #258
username: _moh_
Hi, I am a Russian student. I want to fix some mistakes and misspellings in Tutorials like "interupted" in [http://wiki.ros.org/action/login/tf2/Tutorials/Using%20stamped%20datatypes%20with%20tf2::MessageFilter](url)

[2021-06-11 18:26] EricMarcil commented on #258
Please add me to the whitelist for editing:
UserName: EricMarcil
I work for Yaskawa Motoman robotic and I'm a maintainer of the (Yaskawa) Motoman repo.  I need to update the tutorial for our repo.
http://wiki.ros.org/motoman/Tutorials
https://github.com/ros-industrial/motoman

[2021-06-11 22:52] kscottz commented on #258
@EricMarcil @M010 @peltolap.

You have been added to the wiki.

[2021-06-17 06:45] tfoote commented on #301
I removed the documentation of the content http://wiki.ros.org/action/diff/WritingTutorials?action=diff&rev1=123&rev2=124

Yes unfortunately with the low usage I'm going to recommend that we not use latex anymore. You can write it out in text or otherwise. The wiki is mostly for developer documentation and as such we don't need highly complicated math markup. If necessary you could make an image o

[2021-06-17 06:45] #301 closed

[2021-06-22 06:18] adler-1994 commented on #258
Please add me to the whitelist for editing:
UserName:  MHD ALI ALSHIKH KHALIL
I am a master student in Tishreen Uni and I have developed a new package for localization called gmcl . I want to make a Wiki on how to probably use the package.
https://github.com/adler-1994/gmcl.git

[2021-06-23 00:22] cubicleguy commented on #258
Please add my username RChow for access to the ROS wiki

[2021-06-23 19:15] kscottz commented on #258
@adler-1994 You have been added.

@cubicleguy you have no git history. Can you tell me more about what you plan to do with the wiki?

[2021-06-23 20:26] cubicleguy commented on #258
Hi Katherine,

I am an applications engineer who supports Epson IMU sensors (https://global.epson.com/products_and_drivers/sensing_system/).
So, I am doing early review on how to add to the Sensors wiki page to describe ROS1 & ROS2 packages that we have for these devices and link to where to download them.

I am also investigating to make the these devices ROS1/ROS2 packages available on the https

[2021-06-24 15:07] Nosille commented on #258
Please add my user name "Charles C Ellison" for access to the ROS Wiki.

[2021-06-25 16:45] kscottz commented on #258
@cubicleguy @Nosille you have been added. Welcome to the club.

[2021-06-25 17:09] cubicleguy commented on #258
I should have joined couple years ago back. Better late than never. Much appreciated.

[2021-07-01 19:15] pradhyumn commented on #258
Please add my username "Pradhyumn Bhale" for access to the ROS Wiki.
Thank you.
Pradhyumn

[2021-07-05 09:38] SOutaHI commented on #258
Please add my username : SoutaHirose for access to the ROS Wiki.
Thank you.

[2021-07-06 01:11] imsorapark commented on #258
Please add my username SoraPark for access to the ROS wiki

[2021-07-06 17:58] kscottz commented on #258
@SOutaHI You have been added.

@cygbot @imsorapark @pradhyumn In order to deter wiki spam can you please give me one line description of what you plan to do with the ROS wiki?

[2021-07-07 19:47] kscottz commented on #258
@cygbot I have added you and Sora Park. Please do make an announcment on ROS Discourse when you product has its initia release.

[2021-07-09 19:58] PeterBuchHansen commented on #258
Peter Hansen

[2021-07-10 06:28] malladi2610 commented on #258
Please add my username Malladi Naga Subhash for edit access to the ROS wiki

[2021-07-12 16:11] kscottz commented on #258
@malladi2610 I have granted you access.

@PeterBuchHansen Can you tell me a little bit more about why you want wiki edit access please?

[2021-07-13 18:34] edujaramillo commented on #258
please add my username Andres Jaramillo for access to the ROS wiki.
Thanks

[2021-07-13 18:57] kscottz commented on #258
@edujaramillo To prevent wiki spam, we ask that new accounts without a history give us a brief description of what they plan to do with the wiki.

[2021-07-16 08:34] soarbear commented on #258
Please add my username TATEO YANAGI to ROS wiki.
I want to upload our 9-aixs IMU product information.
Thanks.

[2021-07-16 21:26] kscottz commented on #258
@soarbear you have been added.

[2021-07-22 15:23] thomaspeyrucain commented on #258
Hello,
Could you please add my username: **thomaspeyrucain**
Thanks

[2021-07-22 22:30] kscottz commented on #258
@thomaspeyrucain Welcome to the ROS wiki.

[2021-07-27 21:36] muratkayamurat commented on #258
Hello,
I updated my username Murat to MuratKaya so could you please add me whitelist back with username: **MuratKaya**
Thanks.

[2021-07-29 04:53] weixrein commented on #258
Hello,
Could you please add my username: wei xiang
Thanks.

[2021-07-29 07:58] HRjunior commented on #258
Could you add me please? uName : RomainJEAN

Thanks

[2021-07-31 09:02] verma-robot opened #330 "Request to be added to ROS wiki whitelist v2 #258"
please add my username Verma Robotics for access to the ROS wiki.
Thanks Felix

[2021-08-01 02:15] Seba-san commented on #258
Hello,
Could you please add my username: sebasan
Thanks.

[2021-08-02 01:35] weixrein commented on #258
Hello, we are sorry that we have not edit intormation now.

发自我的iPhone

[2021-08-03 18:00] kscottz commented on #258
Sorry about the delay, I was on vacation for a few days.

@verma-robot @Seba-san @muratkayamurat @HRjunior -- you have been added.

@weixrein You don't have a lot of Git history. In a sentence or two can you tell me why you want access to the ROS wiki?

[2021-08-05 08:23] weixrein commented on #258
Hi, I am sorry ,that maybe have misunderstand the meaning of the above web of the wiki.ros.org.

At 2021-08-04 02:00:20, "Katherine Scott" ***@***.***> wrote:

Sorry about the delay, I was on vacation for a few days.

@***@***.***@***@***.*** -- you have been added.

@weixrein You don't have a lot of Git history. In a sentence or two can you tell me why you want access to the ROS wiki?

—
You are

[2021-08-05 23:21] rsinnet commented on #258
Hey yall, could you add me please? Guess I haven't updated the wiki in a while lol.

Ryan W. Sinnet

[2021-08-06 00:59] weixrein commented on #258
hi，I tried serval times to add you , but it is failed ，maybe because I have not projects now in the github.

发自我的iPhone

[2021-08-06 02:21] z-andrei-pak commented on #258
Please add my username `andrei` for access to the ROS wiki

[2021-08-09 12:56] jenniferdavid commented on #258
pls add my username jenniferdavid

[2021-08-09 15:17] JackFrost67 commented on #258
Please add me on the wiki whitelist: `FabioDElia`
Have a nice day.

[2021-08-09 18:36] kscottz commented on #258
@z-andrei-pak @jenniferdavid @JackFrost67 Welcome to the ROS Docs team.

[2021-08-10 01:56] weixrein commented on #258
hi，I am failed to add the username and maybe I have not projects now in the github to edit.

发自我的iPhone

[2021-08-10 08:18] QiayuanLiao commented on #258
Please add my username: QiayuanLiao

[2021-08-10 17:23] kscottz commented on #258
@QiayuanLiao @weixrein you have been added.

[2021-08-11 14:00] aliozyuksel commented on #258
Could you please add my username: Ali

[2021-08-11 17:17] kscottz commented on #258
Hi @aliozyuksel you don't have any git history. Can you give a short description of why you need write access to the ROS wiki?

[2021-08-13 08:42] alexsleat commented on #258
Hey, requesting write permissions on the wiki :) for UserName; alexsleat

[2021-08-13 10:06] weixrein commented on #258
hi,because the ros web suggest me to do so . I am sorry maybe I misunderstand the meaning.

发自我的iPhone

[2021-08-13 19:18] kscottz commented on #258
@alexsleat You have been added, @weixrein You've been added so I am not sure what the problem is exactly.

[2021-08-13 21:58] rossctaylor commented on #258
Please add my username RossTaylor for access to the ROS wiki

[2021-08-13 22:57] kscottz commented on #258
@rossctaylor welcome.

[2021-08-14 18:04] Ahmetf1 commented on #258
Please add my username **Ahmet Furkan Akıncı** for access to the ROS wiki.
I want to translate tutorials to Turkish.

[2021-08-16 18:41] kscottz commented on #258
@Ahmetf1 Can you briefly tell me what you want to do with the ROS wiki? We do this to prevent spam.

[2021-08-16 22:53] #314 closed

[2021-08-16 22:54] tfoote commented on #330
Please make your request on Issue #258 instead of opening a new issue.

[2021-08-16 22:54] #330 closed

[2021-08-16 22:55] tfoote commented on #328
Please open your request on #258 instead of opening a new issue.

[2021-08-16 22:55] #328 closed

[2021-08-16 22:56] tfoote commented on #322
There's not enough information in this to be actionable, closing.

[2021-08-16 22:56] #322 closed

[2021-08-16 22:58] tfoote commented on #329
This tracker is for infrastructure related wiki things. For changes in the wiki itself, please make the changes directly. If you're unsure about a change please ask if the change is accurate on answers.ros.org to get confirmation that the change is correct first.

To make this change on the site you may need to use the [Version Macro](http://wiki.ros.org/WikiMacros#Version) to avoid breaking older

[2021-08-16 22:58] #329 closed

[2021-08-16 23:02] #307 closed

[2021-08-18 11:41] sarn965 commented on #258
Please add username:BishanGu

[2021-08-22 13:28] teshanshanuka commented on #258
Hi! Please add TeshanLiyanage. I want to add [cmvision](http://wiki.ros.org/cmvision) for ROS noetic (Is it possible for me to add to an existing package but for a non existing version?)

[2021-08-23 16:47] ros-discourse commented on #258
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/new-mirror/21986/3

[2021-08-23 17:03] kscottz commented on #258
@RealManRobot @teshanshanuka You have been added.

[2021-08-23 17:38] Rotlink commented on #258
Needed to add mirror entry
Username: MikeRoss

[2021-08-24 17:45] kscottz commented on #258
Hi @Rotlink, that's a fairly new account which makes us concerned about potential wiki spam. Can you give me some context about why you are mirroring ROS materials?

[2021-08-24 17:55] Rotlink commented on #258
I can go on my other account if you want

[2021-08-24 17:55] Rotlink commented on #258
its a bit older

[2021-08-24 17:56] Rotlink commented on #258
As for why i am mirroring content of various open source communties i have interest in

[2021-08-24 22:47] kscottz commented on #258
Either account is fine. When we see a brand new github account, that's never contributed to ROS before, that wants to add a mirror to the ROS wiki we get a little concerned. We have had problems in the past, I just need to do a little bit of due dilligence to make sure you aren't listing a malicious mirror.

[2021-08-25 02:18] Rotlink commented on #258
Well its good you are concerned. Too much spam in my email too.

In terms of contributions, I've made some small modifications here and there, but i usually don't release them because they are too trival.

But since you are looking for some evidence, I just submitted a patch request to https://github.com/BrettRD/ros-gst-bridge/tree/ros2/gst_bridge, if that means anything.

[2021-08-27 15:26] umbertofontana93 opened #331 "please add UmbertoFontana to whitelist"

[2021-08-29 14:57] denesh-globotix commented on #258
Hi, please add den-globotix to the whitelist. Thank you!

[2021-08-30 17:43] kscottz commented on #258
@denesh-globotix @umbertofontana93 Your accounts are very new. To prevent spam, can you please give me a one sentence description of why you need access to the ROS wiki?

[2021-08-31 02:38] denesh-globotix commented on #258
Have been working with ROS for about 2 years and am now in a more comfortable capacity to contribute to the ROS community. Was hoping to be able to give back

[2021-08-31 02:46] realsnail commented on #258
Please add me to the whitelist, thankyou : realsnail

[2021-08-31 17:27] kscottz commented on #258
@denesh-globotix you've been added but you really didn't answer my question.

@hsb11 you have been added.

@realsnail to prevent spam, can you please give me a one sentence description what you plan to do to the wiki?

[2021-08-31 20:10] umbertofontana93 commented on #331
I work for the company that develop these packages

[2021-09-01 09:21] mzembsbg commented on #258
Please add my username michaelzemb for access to the ROS wiki.

[2021-09-01 09:25] umbertofontana93 opened #332 "@denesh-globotix @umbertofontana93 Your accounts are very new. To prevent spam, can you please give me a one sentence description of why you need access to the ROS wiki?"
@denesh-globotix @umbertofontana93 Your accounts are very new. To prevent spam, can you please give me a one sentence description of why you need access to the ROS wiki?

_Originally posted by @kscottz in https://github.com/ros-infrastructure/roswiki/issues/258#issuecomment-908550071_

I am the new maintainer of some packages released

[2021-09-01 09:26] umbertofontana93 commented on #258
@kscottz I am new maintainer of some released packages

[2021-09-02 03:00] realsnail commented on #258
@kscottz I found some translation typo in the Chinese tutorials :)

[2021-09-02 18:08] kscottz commented on #332
This is not the correct location for this discussion.

[2021-09-02 18:08] #332 closed

[2021-09-02 18:13] kscottz commented on #258
@umbertofontana93 @realsnail @mzembsbg

You should now have access.

[2021-09-03 11:24] hopechen8810 commented on #258
add my username hopechen8810 to whitelist, thank you!!!

[2021-09-03 17:05] GreenGhostMan commented on #258
please add my username Pyae soan aung to whitelist, thank you!!!!

[2021-09-03 21:52] kscottz commented on #258
@hopechen8810 you have been added.

@GreenGhostMan your user name was already on the list.

[2021-09-04 11:33] frontw commented on #258
Hi! Please, add my username RomanFedorenko to a whitelist to gain wiki edit permissions. Thnaks!

[2021-09-05 06:50] noshluk2 commented on #258
Hi , kindly add my username Muhammad Luqman to whitelist , i want to Upgrade the ros basic tuorials for noetic and add more detail to things

[2021-09-07 04:51] Dulani commented on #258
Please add username: "Dulani Woods" (with the space.. :-(

[2021-09-07 08:37] AliTaima commented on #258
Please add me "AliTaima" to access Ros Wiki

[2021-09-07 10:27] hello-binit commented on #258
Hello, I'd like my username, "BinitShah", to be added to the whitelist. I'm looking to update outdated parameters of dwa_local_planner.

[2021-09-07 14:36] Kmedrano101 commented on #258
Hello, please add me to the whitelist: Kmedrano101

[2021-09-07 17:56] kscottz commented on #258
@Kmedrano101 @hello-binit @Dulani @noshluk2 @frontw

You have been added. Are y'all working together on a project?

@AliTaima you don't have much git history. Can you quickly tell me why you need to access the ROS wiki?

[2021-09-07 18:16] hello-binit commented on #258
Thanks @kscottz! Nope, not working together.

[2021-09-07 20:05] murphym18 commented on #258
Hi, can you please allow me to edit the ROS wiki? My username is 'Michael Murphy' (with a space)

I want to update the [mavros page](http://wiki.ros.org/mavros#mavros.2FPlugins.setpoint_position) because the `~setpoint_position/global` topic has [an issue](https://github.com/mavlink/mavros/issues/1411). I know that issue is closed but it was only closed because a contributor didn't have time to fi

[2021-09-08 17:15] kscottz commented on #258
@murphym18 welcome to the club.

[2021-09-14 15:24] dcmesh opened #333 "roswiki documentation fails to load latex"
On at least two wiki pages, the example output of an element displays a latex error instead of the intended content. I was unsure of where to report this issue, so I apologize if this is the wrong location.

1) http://wiki.ros.org/urdf/XML/link
2) http://wiki.ros.org/urdf/XML/joint

[2021-09-17 12:26] hussein-fawzy commented on #258
Please add HusseinMohamed

[2021-09-19 02:53] ruochuyang commented on #258
Please add my username "RuochuYang" for access to the ROS wiki. Thank you!

[2021-09-20 17:13] kscottz commented on #258
@hussein-fawzy @ruochuyang you don't have a ton of git history. Can you tell me a bit more about what you plan to do to the wiki?

[2021-09-20 17:39] hussein-fawzy commented on #258
Actually I use git a lot but for private repos
I joined the whitelist because I saw some typos that I want to fix

-------- Original message --------
From: Katherine Scott ***@***.***>
Date: 9/20/21 7:13 PM (GMT+02:00)
To: ros-infrastructure/roswiki ***@***.***>
Cc: Hussein Fawzy ***@***.***>, Mention ***@***.***>
Subject: Re: [ros-infrastructure/roswiki] Request to be added to ROS wiki whitelist

[2021-09-21 07:02] parth0508 commented on #258
plz add - PANCHAL PARTH

[2021-09-21 07:03] parth0508 commented on #258
Please add my username "PANCHAL PARTH" for access to the ROS wiki. Thank you!

[2021-09-21 16:12] kscottz commented on #258
@parth0508 you have no git history. Can you tell me what you want to edit? We do this to prevent spam.

@hussein-fawzy You have been added.

[2021-09-22 11:42] IrekRybark commented on #258
Irek Rybark

[2021-09-22 13:58] BarisYazici commented on #258
Please add my username BarisYazici for access to the ROS wiki

[2021-09-22 14:10] onurbagoren commented on #258
Please add my username OnurBagoren - thank you!

[2021-09-22 16:56] kscottz commented on #258
@BarisYazici you have been added.

@IrekRybark @onurbagoren neither of you have a real git history. Can you tell me why you need access to the ROS Wiki?

[2021-09-25 09:07] IrekRybark commented on #258
I have noticed some mistakes and outdated info/links.
I was hoping to contribute to my abilities while I am learning ROS.

On Wed, Sep 22, 2021 at 12:57 PM Katherine Scott ***@***.***>
wrote:

[2021-09-26 06:15] fedorenchik commented on #258
Please add my username LeonidFedorenchik to edit wiki. Thanks!

[2021-09-26 07:03] SaailN commented on #258
Please add my ros wiki username "eBot" for creating a wiki. Thanks!

[2021-09-27 08:08] maxzieba commented on #258
Please add my ros wiki username "maxzieba" for creating a wiki. Thanks!

[2021-09-27 19:52] kscottz commented on #258
@maxzieba @SaailN @fedorenchik @IrekRybark Welcome to the club.

[2021-09-27 20:27] LukeSchmitt96 commented on #258
LukeSchmitt

[2021-09-29 14:44] tetov commented on #258
Please add my username AntonTetovJohansson for access to the ROS wiki.

[2021-09-29 17:57] ArielNicotena commented on #258
Please add my username "AriNick21" for access to the ROS wiki

[2021-09-29 22:53] kscottz commented on #258
@LukeSchmitt96 @tetov you have been added.

@ArielNicotena -- you don't have much of a git history, can you tell me why you want access to the wiki?

[2021-10-03 06:40] JohnTGZ commented on #258
Please add my username JohnTGZ for access to the ROS wiki. Thanks :)

[2021-10-04 13:17] torydebra commented on #258
Please add my username ( torydebra ) for access to the wiki. I would like to edit the pages for my repositories

[2021-10-04 18:49] kscottz commented on #258
@torydebra @JohnTGZ Welcome to the club!

[2021-10-05 18:27] ArielNicotena commented on #258
Hello, I want to access the wiki because I am working on the wiki ros with
Juan Eduardo Riva, and I need permission to continue translating the page
and make corrections on the wiki in Spanish

I do not speak English well.

El mié, 29 de sep. de 2021 a la(s) 19:53, Katherine Scott (
***@***.***) escribió:

[2021-10-07 18:48] kscottz commented on #258
@lukasfro @the-lost-explorer @peter-nebe -- Welcome to the community.

[2021-10-13 13:18] AlessioMorale commented on #258
Hi, please add "AlessioMorale"
thanks!

[2021-10-14 17:56] richardhroth commented on #258
Please add my username cChaos for access to the ROS wiki

[2021-10-14 18:03] kscottz commented on #258
Hi @richardhroth you don't have much of a git history. Can you tell me a bit about what you want to do on the wiki. I only ask because we're trying to prevent spam.

[2021-10-16 11:09] yang-yuke commented on #258
YukeYang

[2021-10-18 09:53] eansell-oxts commented on #258
Please add my username `Ethan Ansell` for access to the ROS wiki

[2021-10-19 23:13] Guitaricet commented on #258
Please add my username `vlialin` for access to the ROS wiki

[2021-10-29 19:00] whoenig commented on #258
Please add `WolfgangHoenig`. I'd like to update http://wiki.ros.org/Robots/Crazyflie. I am one of the maintainers of the ROS stack for these robots. Thanks!

[2021-10-29 22:31] kscottz commented on #258
@whoenig @speedzjy you have been added.

@AlbericLaj and @ianmooreparker can you tell me what you want to edit on the wiki? We sometimes ask this just to avoid spam.

[2021-10-29 22:58] ianmooreparker commented on #258
Hi @kscottz I would like to edit wiki.ros.org/microstrain_inertial_driver. Thanks!

[2021-10-30 03:19] carojaspaz commented on #258
Pls add Carlos Andres Rojas Paz Thanks

[2021-10-30 06:03] leizhenyu-lzy opened #334 "please add my username: Leizhenyu .Thanks"

[2021-10-30 06:05] leizhenyu-lzy commented on #258
please add my username Leizhenyu for access to the ROS wiki.
Thanks

[2021-10-30 06:05] #334 closed

[2021-11-01 18:53] kscottz commented on #258
@ianmooreparker @carojaspaz you have been added.

@leizhenyu-lzy can you tell me why you need access to the wiki?

[2021-11-01 19:24] AlbericLaj commented on #258
Hello @kscottz I would like to create a new page for this project: https://github.com/EPFLRocketTeam/real_time_simulator that was my master thesis, and that I would like to document

[2021-11-01 20:12] kscottz commented on #258
@AlbericLaj I added you.  That's super cool! Are you hitting LEO? I would love to have you do a post on ROS Discourse. We should chat about the Space ROS projects. Can you e-mail me.

[2021-11-01 20:29] richardhroth commented on #258
please keep me on the wiki but take me off this email list.
Thanks!

On Mon, Nov 1, 2021 at 1:13 PM Katherine Scott ***@***.***>
wrote:

[2021-11-01 20:33] kscottz commented on #258
@richardhroth you have to manually unsubscribe at the bottom of the e-mail.

[2021-11-03 13:24] vignif commented on #258
Hi Please add `FrancescoVigni` to the ROS wiki whitelist.
Thanks!

[2021-11-03 18:53] carojaspaz commented on #258
I'm master degree student and it is good have access to this resources

[2021-11-05 06:09] tiko5000 commented on #258
Hi Please add `TillKoch` to the Whitelist

[2021-11-05 18:53] kscottz commented on #258
@vignif @carojaspaz @Shanky-Robot @tiko5000 you have been added.

[2021-11-05 19:23] yamachaso commented on #258
Hi Please add my username `Hirotaka Yamada` for access to the ROS wiki. Thanks!

[2021-11-08 12:03] desengph commented on #258
Hi fellow ROS enthusiast. Please add PhilippSenger to the Whitelist.

[2021-11-09 11:57] grekichi commented on #258
Hi Sir,
Could you add my username "grekichi" for ROS wiki access ?

[2021-11-09 18:07] marinagmoreira commented on #258
Could you please add my username MarinaMoreira to the wiki?

[2021-11-09 23:29] kscottz commented on #258
@marinagmoreira  I have added you.

@grekichi @desengph @yamachaso -- all of you appear to be new to ROS, can you briefly tell me why you need it access to the ROS wiki? Are you following some tutorial?

[2021-11-10 01:58] chenjiegd commented on #258
Please add my username BlairChen for access to the ROS wiki.
Thanks :)

[2021-11-10 07:50] desengph commented on #258
Hi @kscottz. I'm working on a new release of the [ifm3d-ros  driver](https://github.com/ifm/ifm3d-ros) for our new camera platform. I inherited this project from a previous employee.

We are hoping to get more involved with the ROS community in the future and have our software available in the typical place such as wiki.ros.org and the ros index.

Best regards,
Philipp

[2021-11-10 08:41] White281879005 commented on #258
please,I want to good good study and day day up!

[2021-11-10 09:14] White281879005 commented on #258
Please add my username White for access to the ROS wiki.

[2021-11-10 12:26] grekichi commented on #258
Hi Ms Scott, thanks for your reply.

Recently I started studying ROS for my future job.
If I discover something to improve wiki contents for ROS, I would like to cooperate that.
Just I think.

Best regards,
grekichi

[2021-11-10 18:06] yamachaso commented on #258
Hi @kscottz. Thank you for your reply.
I've started to study ROS to develop a robot from DENSO WAVE.
There are not enough [tutorials](http://wiki.ros.org/denso_robot_ros/Tutorials) available on ROS wiki so I'm thinking of adding more contents in the future.

Also, in Japanese pages there are some parts that are difficult to read and some typos. As a Japanese, I would like to edit them so that it l

[2021-11-10 19:40] kscottz commented on #258
@yamachaso @grekichi @desengph you have been added.

@White281879005 -- your account is really new. Can you tell me briefly what you want to do with the wiki? We do this to prevent spam.

[2021-11-17 03:19] yeties commented on #258
Please add my username jerry.wang for access to the ROS wiki.
Thanks :)

[2021-11-17 03:19] yeties commented on #258
Please add my username jerry.wang for access to the ROS wiki.
Thanks :)

[2021-11-17 03:23] yeties commented on #258
Please add my username yeties for access to the ROS wiki.
Thanks :)

[2021-11-17 19:21] kscottz commented on #258
@yeties Please don't spam this issue. You don't have any git history. Can you tell me why you need access to the wiki?

[2021-11-17 20:22] tfoote opened #335 "wiki search bar broken with ros.org changeover"
The search was a specific hosted search page on ros.org which was setup to embed a site specific search google.

We can just change this to be a generic google search using `site:ros.org`

Reported on [ROS Discourse](https://discourse.ros.org/t/search-in-documentation-broken-returns-a-404/23141/2?u=tfoote)

[2021-11-17 20:22] ros-discourse commented on #335
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/search-in-documentation-broken-returns-a-404/23141/3

[2021-11-18 04:58] yeties commented on #258
Hello, I often use GitHub. I'm a motion capture user. I often use nokov's motion capture system in ROS. I want to modify the description and add nokov after vicon / optitrack /

[2021-11-18 09:16] Roboprotos commented on #258
Hello, I'm planning to release a ROS package on GitHub and ROS wiki for using some motor controllers, can you please add my username CyrilJourdan to the whitelist ?
Thank you !

[2021-11-18 12:11] aumphasit commented on #258
Hello my name is phasit thongtem my username PhasitThongtem please add me to the whitelist thank sir

[2021-11-18 15:50] benmitch commented on #258
Please add BenMitch to the whitelist, thanks, I'm interested in contributing some tutorial material

[2021-11-18 19:47] kscottz commented on #258
@Roboprotos @yeties You have been added.

@aumphasit @benmitch Can you be more specific about why you need access to the wiki?

[2021-11-19 04:15] chenjiegd commented on #258
@kscottz Hello, I am preparing to provide a ROS robot solution to the ROS wiki. Could you add my username BlairChen?

[2021-11-19 16:53] lola-masson commented on #258
Could you please add:
Username: LolaMasson
I am interested in publishing ROS drivers for 3D cameras.
Thanks :smiley:

[2021-11-24 10:45] luoruiming commented on #258
Please add my username **Ruiming Luo** for access to the ROS wiki.

[2021-11-24 12:10] ipa-hsd commented on #258
Please add my username to the ROS wiki.
username: HarshDeshpande

[2021-11-29 19:08] kscottz commented on #258
@ipa-hsd @luoruiming @lola-masson @chenjiegd

Welcome to the ROS wiki.

[2021-11-30 13:43] rcywongaa-work commented on #258
Please add my username RufusWong for access to the ROS wiki

[2021-12-01 19:16] kscottz commented on #258
Hi @rcywongaa-work, can you tell me a bit more about why you need wiki access?

[2021-12-01 22:57] bmcdorman commented on #258
Username: BradenMcDorman

I am interested in adding wiki pages for [Quori](https://www.quori.org/), a social robot. We need to document our packages and the robot itself.

[2021-12-01 23:58] rossmead commented on #258
**Username:** RossMead

I am interested in adding wiki pages for **[Quori](https://www.quori.org/)**, a social robot. We need to document our packages and the robot itself.  My relationship to the project can be verified on the **[People](https://www.quori.org/contact-us#people)** page.

[2021-12-02 14:53] AndrewSpecian commented on #258
**Username:** 'Andrew Specian'

I am interested in adding wiki pages for [Quori](https://www.quori.org/), a social robot. We need to document our packages and the robot itself. My relationship to the project can be verified on the [People](https://www.quori.org/contact-us#people) page.

[2021-12-02 15:54] kscottz commented on #258
@rossmead @AndrewSpecian @bmcdorman Cool robot! Welcome to the wiki.

[2021-12-02 19:08] BardiaMGTGC commented on #258
Hello
Please add my username "BardiaMoshiri"
I'm running a ros wiki mirror and want to add it to the list.

[2021-12-06 13:24] rcywongaa-work commented on #258
@kscottz I wish to edit the [xacro wiki](http://wiki.ros.org/xacro)

to add a link to https://github.com/ros/xacro/issues/225, clarifying that the supported substitution args is not the full list as [linked](http://wiki.ros.org/roslaunch/XML#substitution_args).  Most notably, it does not support `eval`.

[2021-12-06 14:40] simonleonard commented on #258
Please add my username sleonard for access to the ROS wiki

[2021-12-06 17:35] kscottz commented on #258
@simonleonard welcome!

@rcywongaa-work -- Awesome, what handle should I add to the wiki?

@BardiaMGTGC -- You have very little git history. Can you give me some context?

[2021-12-06 18:20] BardiaMGTGC commented on #258
I'm hosting mirrors of many distros and projects one of them is the ros wiki and probably ros docs in some time
https://mirror.bardia.tech
you can check it out
ros wiki is currently available over http http and rsync
rsync://mirror.bardia.tech/ros

[2021-12-07 08:35] rcywongaa-work commented on #258
@kscottz My wiki username is RufusWong you can add that, thanks!

[2021-12-09 06:39] zhusheng9 commented on #258
Please add my username Zhu Sheng for access to the ROS wiki

[2021-12-09 19:22] kscottz commented on #258
@rcywongaa-work I added  you. @zhusheng9 this looks like a new account, can you tell me why you need access to the wiki?

[2021-12-15 11:54] frcini commented on #258
Please add my username FrancescaCini for access to the ROS wiki.

I am interested in adding wiki pages for [Mia ](https://www.prensilia.com/portfolio/mia/), an anthropomorphic robotic hand. We need to document our packages that we have been releasing, and the robot itself. My relationship to the company and to project can be verified on this [People](http://aprilproject.eu/prensilia/) page.

[2021-12-15 18:02] andreabu commented on #258
Please add my username AndreaBurani for access to the ROS wiki.

I am interested in adding wiki pages for [Mia Hand](https://www.prensilia.com/portfolio/mia/), an anthropomorphic robotic hand. We need to document our packages, that we developed under a research project and we would like to release, and the robot itself. My relationship to the company can be verified on the project [page](http://ap

[2021-12-15 19:17] kscottz commented on #258
@frcini @andreabu Welcome to the club.

[2021-12-21 16:22] kscottz commented on #258
@0-pal, you're a fairly new account, can you tell me why you need access to the wiki?

[2021-12-26 02:34] lpyao commented on #258
Please add my username "lpyao" for access to the ROS wiki

[2021-12-27 16:42] robogeekcanada commented on #258
Please add my username "Omar Silva" for access to ROS wiki.

[2021-12-28 17:18] kscottz commented on #258
@robogeekcanada I added you.

@lpyao you have a fairly new account,  can you explain why you need access?

[2022-01-02 11:36] White281879005 commented on #258
Please add my username "White" for access to the ROS wiki

[2022-01-02 11:36] White281879005 commented on #258
Please add my username "White281879005" for access to the ROS wiki

[2022-01-04 20:11] kscottz commented on #258
@White281879005 you have very little git history. Can you tell me why you need access to the wiki?

[2022-01-05 09:26] 885288421 commented on #258
please add my username tang___xi for access to the ROS wiki.

[2022-01-05 20:37] kscottz commented on #258
@885288421 your account is fairly new, can you tell me why you need access to the ROS wiki?

[2022-01-06 13:25] White281879005 commented on #258
Because many questions about Ros can't be answered on csdn (China), I hope to learn Ros with you. At present, I'm still a novice in ros and I don't know how to use git, but I have used a lot of function packages on github. Please pass it. I've applied for a long time🙃

发自我的iPhone

------------------ Original ------------------
From: Katherine Scott ***@***.***&gt;
Date: Wed,Jan 5,2022 4:12 AM
To:

[2022-01-07 18:29] kscottz commented on #258
@885288421 I added you.

@White281879005 Can you be more specific? Is there are a specific package or page you wish to edit?

[2022-01-08 07:36] ZC-Haskal commented on #258
Please add my username 'NexusHimeko' for access to the ROS wiki

[2022-01-09 17:02] parakhm95 commented on #258
Hey, please add ParakhMGupta to access the ROS wiki

[2022-01-10 01:41] 885288421 commented on #258
when I want to create my ros-package it's tell me ''you are not allowed to edit this package",I should wait to it works?

[2022-01-10 02:06] 885288421 commented on #258
I have see the account is "tang_xi ",my account is "tang___xi",could your help me fix it?
Thanks

At 2022-01-08 02:30:10, "Katherine Scott" ***@***.***> wrote:

@885288421 I added you.

@White281879005 Can you be more specific? Is there are a specific package or page you wish to edit?

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notifications on the go with GitHub Mob

[2022-01-10 11:20] CumaOzavci commented on #258
Please add my username "CumaOzavci" for access to ROS wiki.

[2022-01-10 12:04] opalapps commented on #258
Sure, thanks for the request. I am new to the ROS Infrastructure too. I read throug wiki and tutorials and see here and there stuff I presumable could have formulated differently. In order to be able to suggest these improvements I needed the right to edit wiki.
Regards

Sure, thanks for the clarification request. I am new to the ROS Infrastructure too. I read through the wiki and tutorials and se

[2022-01-10 19:34] kscottz commented on #258
@CumaOzavci @parakhm95 I have added you.

@ZC-Haskal can you tell me a bit more about why you need write access to the wiki?

@885288421 I added the name you gave me "tang___xi", I went and changed it to "tang_xi", if that doesn't work you need to pick a name without underscores.

[2022-01-13 02:58] hjadb commented on #258
Please add my username opsx for access to the ROS wiki
thank you

[2022-01-13 19:50] kscottz commented on #258
@hjadb welcome to the ROS wiki.

[2022-01-17 10:09] noicane commented on #258
@noicane

[2022-01-17 10:10] noicane commented on #258
Please add my username noicane
 for access to the ROS wiki

[2022-01-17 16:53] sumedhsvijay commented on #258
Hi, Please add my username: SumedhSVijay for access to the ROS wiki
Thanks

[2022-01-18 18:19] kscottz commented on #258
@noicane -- you have no git history. Can you please tell me what you want to edit on the wiki?

@sumedhsvijay -- I have added you to the wiki editors list.

[2022-01-19 09:43] jiqixiaocao45 commented on #258
Please add my username "史鹏涛" for access to the ROS wiki

[2022-01-19 10:17] jiqixiaocao45 commented on #258
Please add my username: jiqixiaocao45 for access to the ROS wiki
Thanks

[2022-01-19 13:24] ElisaTosello commented on #258
Please add my username: TechTeam221e for access to the ROS wiki
Thanks

[2022-01-19 19:45] kscottz commented on #258
@jiqixiaocao45 @ElisaTosello both of you have very little git history. Can you please tell me what page of the wiki you wish to edit? We do this to prevent spam.

[2022-01-19 19:54] ElisaTosello commented on #258
@kscottz I'd like to add a wiki page for https://github.com/221eROS/mitch_v2_driver.git and https://github.com/221eROS/muse_v2_driver.git, respectively. @tfoote merged my commit into ros:master on yesterday. Thanks

[2022-01-20 19:47] kscottz commented on #258
@ElisaTosello I have added you to the wiki. Welcome to the community, and thank you for your contribution!

[2022-01-20 22:01] fegonzalez7 opened #336 "Whitelist request"
Hi,

Pls add me to the whitelist:
FelipeGonzalez

[2022-01-21 16:31] jiqixiaocao45 commented on #258
Please add my username: jiqixiaocao45 for access to the ROS wiki
Thanks

[2022-01-24 11:13] rfeistenauer commented on #258
Please add my username 'Richard' for access to the ROS wiki
Thanks

[2022-01-24 19:59] kscottz commented on #258
@rfeistenauer you have been added, welcome.

@jiqixiaocao45 You have no github history. Can you tell me more about what you want to edit on the wiki?

[2022-01-30 16:27] skj84 commented on #258
Please add my username 'skj84' to the ROS wiki.
Thanks

[2022-01-31 18:26] kscottz commented on #258
@skj84 Welcome to the wiki.

[2022-02-02 15:46] ruddyscent commented on #258
Please add my account, KyungwonChun
Thanks in advance.

[2022-02-02 19:42] kscottz commented on #258
@ruddyscent welcome to the wiki.

[2022-02-07 11:12] ElenaFG commented on #258
I'd like to edit https://wiki.ros.org/rc_visard
Please add my username 'ElenaGambaro' to the ROS wiki

[2022-02-07 22:23] kscottz commented on #258
Welcome @ElenaFG.

[2022-02-09 17:41] Pilat66 commented on #258
Please add my username 'KonstantinTokar' to the ROS wiki.
Thanks

[2022-02-09 20:14] kscottz commented on #258
@Pilat66, welcome to the club.

[2022-02-15 00:58] amacneil commented on #258
Please add `AdrianM` 😄

[2022-02-15 14:08] antarugile commented on #258
Hello, could you please add me to wiki.ros.org?
**RugileAntanaviciute**
Thanks!

[2022-02-15 17:09] beatrizleon commented on #258
Please add my username 'Beatriz Leon' for access to the ROS wiki
Thanks!

[2022-02-15 19:33] kscottz commented on #258
@amacneil and @beatrizleon you have been added, welcome.

@antarugile you don't have any Git history. Can you please let me know why you need access to the wiki?

[2022-02-17 15:39] antarugile commented on #258
@kscottz Hi, I would like to add missing robots by PAL Robotics.

[2022-02-17 19:45] kscottz commented on #258
@antarugile are you employed by PAL Robotics? What is your wiki user name?

[2022-02-18 08:09] antarugile commented on #258
@kscottz Yes, I work at PAL Robotics, my wiki user name is **RugileAntanaviciute**

[2022-02-21 02:19] kousuke-takeuchi commented on #258
@kscottz please add my username keisuugiken for access to the ROS wiki.
Thanks
Kousuke Takeuchi

[2022-02-22 19:48] kscottz commented on #258
@antarugile @saching13 @kousuke-takeuchi I have added you to the wiki. Welcome! ❤️ 🤖

[2022-02-23 12:44] takuya-ki commented on #258
@kscottz Please add my username: TakuyaKiyokawa
Thanks!

[2022-02-23 22:11] kscottz commented on #258
@takuya-ki welcome to the club.

[2022-02-25 15:53] jrbaxter0 commented on #258
Please add my username: `JamesBaxter`

[2022-02-26 00:53] kscottz commented on #258
@jrbaxter0 Welcome to the club!

[2022-03-02 18:34] kscottz commented on #258
@danthony06 Welcome to the club.

[2022-03-03 14:12] mgmeedendorp commented on #258
Please add my username mgmeedendorp for access to the ROS wiki

[2022-03-03 19:02] kscottz commented on #258
@mgmeedendorp welcome to the team.

[2022-03-04 10:27] Guillaumebeuzeboc commented on #258
Please add my username GuillaumeBeuzeboc for access to the ROS wiki

[2022-03-04 14:42] JChrysanthemum commented on #258
Plz add my name:  JChrysanthemum

[2022-03-07 01:21] sadmoody commented on #258
Add me as well please: MahmoodHikmet

[2022-03-07 18:32] kscottz commented on #258
@sadmoody @JChrysanthemum @Guillaumebeuzeboc welcome to the club.

[2022-03-08 12:29] BenAuc commented on #258
please add 'Benoit Auclair' to the whitelist

[2022-03-08 19:26] kscottz commented on #258
@BenAuc Can you tell me a little bit about why you need access to the wiki?

[2022-03-08 19:30] BenAuc commented on #258
Hi
I would simply like to expand it and contribute as I go through the
tutorials myself. I'm taking a uni course on ROS that's my main purpose for
interacting with the wiki for now.
Greetings

On Tue., Mar. 8, 2022, 20:27 Katherine Scott, ***@***.***>
wrote:

[2022-03-09 07:29] VictorHydra commented on #258
Please add my username VictorGe for access to the ROS wiki. Thanks!

[2022-03-09 20:56] kscottz commented on #258
@BenAuc @VictorHydra welcome to the team.

[2022-03-12 17:49] UaRYd commented on #258
Please add my username: zhang2814193
Thanks

[2022-03-13 11:38] midemig commented on #258
Please, add midemig to the list. I would like to contribute to the wiki. Thanks

[2022-03-15 17:43] kscottz commented on #258
@UaRYd @midemig @benthie Welcome to the club.

[2022-03-16 22:35] nznobody commented on #258
Please add: ManuLange.PFR
I wish to update the wiki for Advanced Navigation Support drivers.

[2022-03-17 02:56] yihuling opened #337 "Yihu LING"

[2022-03-17 02:56] yihuling commented on #337
Yihu LING

[2022-03-25 20:31] #335 closed

[2022-03-25 20:32] tfoote commented on #336
Please make your request on #258

[2022-03-25 20:32] #336 closed

[2022-03-25 20:32] tfoote commented on #337
I'm assuming you'd like access. Please comment on #330

[2022-03-25 20:32] #337 closed

[2022-03-25 20:33] tfoote commented on #331
Please comment on #258 for access.

[2022-03-25 20:33] #331 closed

[2022-03-25 20:36] tfoote commented on #333
We can't support the latex plugin anymore, see discussion in  #301. And please consider replacing it with another markup. I see that link 1 has already been replaced.

[2022-03-25 20:36] #333 closed

[2022-03-29 08:06] waillyam23 commented on #258
please add: GuillaumeGrunenberger

I wish to fix the depreciated instructions in http://wiki.ros.org/pilz_robots/Tutorials/MoveRobotWithPilzCommand_planner

[2022-03-29 18:16] kscottz commented on #258
@waillyam23 Welcome to the team.

[2022-04-01 15:49] mjd-x commented on #258
Can you please add username: mjd-x?
Thanks!

[2022-04-04 22:58] kscottz commented on #258
@mjd-x welcome to the team.

[2022-04-05 18:31] kscottz commented on #258
@Abdu-lybot welcome to the club.

[2022-04-06 10:21] elejmi86 commented on #258
Hi there, Abdussalam A.Alajami! In an effort to combat spam, we require that users be added to a whitelist to gain edit permissions. To gain edit permissions for yourself, please comment on [this GitHub ticket](https://github.com/ros-infrastructure/roswiki/issues/258) with your wiki UserName, 'Abdussalam A.Alajami', to be added to the whitelist. Thanks for your patience and support.
Still can't ed

[2022-04-06 14:28] grekichi commented on #258
Hi there !
Please add grekichi to white list.
Thanks. :)

[2022-04-08 18:22] JPJSea commented on #258
Hello, can jpjsea please be added

[2022-04-11 19:07] kscottz commented on #258
@grekichi @JPJSea you have been added. Welcome to the team.

[2022-04-14 10:27] WadeTech06 commented on #258
Hello,

Please add Lakiel Wade to the whitelist? Would like to create a new ROS wiki page

[2022-04-14 18:55] kscottz commented on #258
Welcome to the community @WadeTech06

[2022-04-18 14:02] datatecyl commented on #258
Please add YuLi for access to the ROS wiki. Thanks.

[2022-04-18 18:38] kscottz commented on #258
@datatecyl -- welcome to the club.

[2022-04-18 18:54] AlexisFetet commented on #258
Please add my username AlexisFetet for access to the ROS wiki
Thanks

[2022-04-19 14:02] cjue commented on #258
Please add my username cjue for access to the ROS wiki.
Thanks!

[2022-04-19 18:57] kscottz commented on #258
@AlexisFetet @cjue You have been added. Welcome to the community.

[2022-04-26 07:23] SubaruArai commented on #258
Please add my username `SuperA` for access to the ROS wiki.
Thanks!

[2022-04-26 07:35] SubaruArai opened #339 "Question: guidelines on python3 compatible documentation on ros wiki"
## The Problem

Currently, there are quite a lot of wiki pages written with only python2 in mind.
e.g. [actionlib_tutorials](http://wiki.ros.org/actionlib_tutorials/Tutorials/Writing%20a%20Simple%20Action%20Client%20%28Python%29)'s sample code, first shebang is `usr/bin/env python`

On the other hand, the last distro supporting python2 will be EOL next year (Melodic, 2023), and cpython's python2 i

[2022-04-26 09:11] SakuraYanhuo opened #340 "Hi, please add: yzx159357123 Thanks :)!"

[2022-04-26 09:12] SakuraYanhuo opened #341 "Hi, please add: yzx159357123 Thanks :)!"

[2022-04-26 09:13] #341 closed

[2022-04-26 18:58] tfoote commented on #340
Please comment on #258 to be added.

[2022-04-26 18:58] #340 closed

[2022-04-26 19:10] tfoote commented on #339
If you're doing something Python 2 versus Python3 specific you can use the Version macros to show a version for noetic vs melodic and assume the right version of python. https://wiki.ros.org/WikiMacros#Version

[2022-04-26 19:10] #339 closed

[2022-04-26 20:17] kscottz commented on #258
@SubaruArai welcome to the ROS community.

[2022-04-26 23:36] SubaruArai commented on #339
Ok, thanks for the patience!

[2022-04-27 01:56] SakuraYanhuo commented on #340
#258 Thank you!

[2022-04-27 01:57] SakuraYanhuo commented on #340
#258 Please add yzx159357123. Thank you!

[2022-04-29 17:28] twdragon commented on #258
Please add my username `Andrey Vukolov`

[2022-04-29 18:43] airfield20 commented on #258
please add `airfield20`

[2022-04-29 23:49] kscottz commented on #258
@airfield20 @twdragon you have been added.

[2022-05-02 10:47] thevigilante473 commented on #258
Please add my username AidenPierce for access to the ROS wiki

[2022-05-02 18:39] kscottz commented on #258
@thevigilante473 You have no git history, can you tell me more about why you need access to the wiki?

[2022-05-03 14:37] ros-discourse commented on #301
This issue has been mentioned on **ROS Discourse**. There might be relevant details there:

https://discourse.ros.org/t/latex-rendering-errors-in-ros-wiki/25404/2

[2022-05-05 07:28] duguguang commented on #258
duguguang

[2022-05-05 07:37] duguguang commented on #258
Please add my username duguguang for access to the ROS wiki

[2022-05-05 17:34] kscottz commented on #258
@duguguang welcome to the team.

[2022-05-09 01:09] rorosi commented on #258
please add my username Kim TaeJung

[2022-05-12 18:45] kscottz commented on #258
@rorosi you have been added.

[2022-05-13 05:20] rickarmstrong commented on #258
Please add username RickArmstrong to the ROS wiki whitelist.

[2022-05-14 00:35] kscottz commented on #258
@rickarmstrong @aarsht7 @pnathan01 Welcome to the party.

[2022-05-19 05:17] minhaj6 commented on #258
please add "minhaj6" to the whitelist.

[2022-05-20 02:12] developerdenesh commented on #258
Hi, please add developerden to the whitelist

[2022-05-21 11:42] sergiolopezsoriano commented on #258
Hi, please add me: Sergio López

[2022-05-22 04:14] ms-jagadeeshan commented on #258
Hi, please add me to whitelist
Username : "Jagadeeshan S"
Thanks

[2022-05-22 12:03] PranshuTople commented on #258
Please add my username - PranshuTople

[2022-05-23 20:29] kscottz commented on #258
@PranshuTople @ms-jagadeeshan @sergiolopezsoriano @developerdenesh @minhaj6 Welcome to the club.

[2022-05-27 05:26] FSund commented on #258
Hi, please add FilipSund to the whitelist. Thanks!

[2022-05-28 15:25] WeR-22 commented on #258
Please add my user name WeR to the whitelist.
Thank you :)

[2022-05-30 13:53] Doctor-N0 commented on #258
Please add "Dr.No" to the whitelist. Thanks :-)

[2022-06-01 11:44] JackMa-coder commented on #258
please add me: Ma Jiajun.
Thanks.

[2022-06-01 17:05] kscottz commented on #258
@JackMa-coder @Doctor-N0 @WeR-22 @FSund @Bitterisland6 welcome to the wiki.

[2022-06-07 04:26] BonghanKim commented on #258
Please add my user name : BonghanKim

Thanks.

[2022-06-08 10:07] alireza0x0f commented on #258
please add my username "Alireza Abdolkarimi" for access to the ROS wiki.
Thanks

[2022-06-09 06:03] Sagya7 commented on #258
please add my username "Sagar Walishetti" for access to the ROS wiki.
Thanks

[2022-06-10 11:21] clever0ne commented on #258
Hello there! Please add my username "IlyaPankov" in the whitelist. Thanks in advance!

[2022-06-15 23:34] w-personal-account commented on #258
Hello~! Please add my username "wkkim" in the whitelist
Thanks!

[2022-06-16 23:46] kscottz commented on #258
@clever0ne @alireza0x0f @BonghanKim You have been added.
@w-personal-account @Sagya7 -- to avoid spam we asked that newer accounts tell us why they need access. Can you tell me why you need write access to the wiki?

[2022-06-17 05:41] weizx208 commented on #258
Please add my username: weizx208
Thanks

[2022-06-18 06:52] blue-ring-octopus commented on #258
please add BenjaminWong

[2022-06-19 13:49] Sagya7 commented on #258
Hi Team,

I am working in Analog Devices. We are building a small project on ROS
framework so we were exploring all the features in ROS. we were exploring
Doxygen and online document format which is roswiki. This is why i needed
the access.

Thanks,
Sagar Walishetti

On Fri, Jun 17, 2022 at 5:16 AM Katherine Scott ***@***.***>
wrote:

[2022-06-21 15:42] ygoumaz commented on #258
Hi! Please add my username YannickGoumaz for access to the ROS wiki. Thanks in advance.

[2022-06-22 06:21] Sagya7 commented on #258
Hi,

What actually we were doing is we generated documents with rosdoc_lite when
i saw the main page it was pointing to a wiki page where i did not had the
access. Thats why i asked this access, please correct me if i am totally
wrong.

Thanks,
Sagar Walishetti

On Wed, Jun 22, 2022 at 6:54 AM Katherine Scott ***@***.***>
wrote:

[2022-06-23 09:13] linas-p commented on #258
Please add my username LinasPetkevicius for access to the ROS wiki

[2022-06-23 18:16] ZenithalHourlyRate commented on #258
Please add my username zenithal for access to the ROS wiki
Ref to https://github.com/ros-infrastructure/rosdep/pull/839#issuecomment-1164655530

[2022-07-04 10:21] linhdoan8 commented on #258
Please add me, LinhKästner to the whitelist for access to the ros wiki so that we can create a documentation for our learning-based planners. Thanks!

[2022-07-06 19:57] kscottz commented on #258
@Sagya7 -- that still doesn't tell me why you need access to the wiki.

@linhdoan8 @anastasispk @Autonics-LiDAR @ZenithalHourlyRate @linas-p you have been added to the wiki. Welcome.

[2022-07-12 06:36] Sagya7 commented on #258
Hi,

we are actually creating a ros package for our application and want to
provide more information on ros wiki. so i wanted this access.

Thanks,
Sagar Walishetti

On Thu, Jul 7, 2022 at 1:28 AM Katherine Scott ***@***.***>
wrote:

[2022-07-13 18:46] miguelriemoliveira commented on #258
Hello,

Please add my name MiguelRiemOliveira to the ros wiki whitelist.

I wanted to create a page for  ATOM, a calibration framework which we have been developing in the last few years.
This framework is tightly integrated into ROS and we believe it will be useful for a great deal of ROS users.

More info at:

https://github.com/lardemua/atom

and

https://lardemua.github.io/atom_documentation/

[2022-07-13 21:13] kscottz commented on #258
@miguelriemoliveira welcome to the club.

That's a really cool project. You should post it on ROS Discourse. I know a lot of people would be really interested in your work.

[2022-07-14 07:44] miguelriemoliveira commented on #258
Thanks @kscottz for the kind words. I will certainly do so.

[2022-07-17 02:45] EMIRO-PENS commented on #258
Please add my username Balisa16 for access to the ROS wiki

[2022-07-18 18:56] kscottz commented on #258
@Schteve-Earl welcome to the club.

@EMIRO-PENS -- Your account is brand new. Can you tell me more about why you need access to the wiki?

[2022-07-19 03:05] fk1000iq commented on #258
please add my username: kai fang for access to the ROS wiki

[2022-07-19 10:16] MrAsana commented on #258
Hi, please add `amberobotics`  to the whitelist, I am willing to add Amber Robotic Arm page, light-weight and modular robot with fully function support  ROS2. Thanks.

[2022-07-20 02:22] EMIRO-PENS commented on #258
Hi @kscottz .

We (EMIRO) are our campus research team specializing in multirotor helicopters. Since a few years ago, we are using ROS in our rides. I request access permission for the ROS wiki because sometimes I find errors in some instructions / commands contained in the ROS Wiki or need additional actions besides the actions mentioned on the ROS Wiki. We are currently the 9th generation of EMI

[2022-07-22 07:31] ztt2008 commented on #258
Thanks

[2022-07-25 02:29] jie-vs commented on #258
Please add my username: `Vstone JIE`
Thanks

[2022-07-25 14:24] MZandtheRaspberryPi commented on #258
Please add my username MichaelZiegltrum for access to the ROS wiki.

I need to update some of the documentation for our Ultrasonic sensors at Toposens: http://wiki.ros.org/action/login/toposens/Tutorials/Getting%20Started%20with%20ECHO%20ONE

[2022-07-25 17:43] kscottz commented on #258
@MZandtheRaspberryPi @jie-vs @ztt2008 @MrAsana @fk1000iq @EMIRO-PENS

I have added all of you to the wiki.

[2022-07-27 20:14] soniawang97 commented on #258
Please add my username Sonia Wang for access to the ROS wiki. Thanks

[2022-07-27 20:35] kscottz commented on #258
@soniawang97 you have no Github history. Can you tell me more about how you want to edit the ROS wiki?

[2022-07-28 08:13] soniawang97 commented on #258
Hi Katherine，

I am from The Construct, and I would like to add the latest ROS courses in
the Shorte Courses category.

Best regards

Sonia

El El mié, 27 jul 2022 a las 22:36, Katherine Scott <
***@***.***> escribió:

--
[image: facebook] <https://www.facebook.com/theconstructsim>
[image: twitter] <https://twitter.com/_theconstruct_>
[image: linkedin]
<https://www.linkedin.com/company/the-constru

[2022-07-28 18:20] kscottz commented on #258
@soniawang97 I added you to the wiki. Welcome.

[2022-07-28 18:41] soniawang97 commented on #258
Thank you!

El El jue, 28 jul 2022 a las 20:21, Katherine Scott <
***@***.***> escribió:

--
[image: facebook] <https://www.facebook.com/theconstructsim>
[image: twitter] <https://twitter.com/_theconstruct_>
[image: linkedin]
<https://www.linkedin.com/company/the-construct/mycompany/>
Sonia Wang

Marketing Assistant

The Construct
***@***.***
www.theconstructsim.com
<https://www.theconstructsim.co

[2022-07-29 15:40] lreiher commented on #258
Hi, please whitelist my username `LennartReiher`, thanks!

[2022-08-05 06:30] mabrobotics commented on #258
Please add my username MABRobotics for access to the ROS wiki. Thanks

[2022-08-09 13:21] ribeiro-silva-alysson commented on #258
Hello, can I have my user AlyssonSilva added to the whitelist? thx.

[2022-08-09 18:59] Sanoronas commented on #258
Hi, please whitelist my username Sanoronas. Thanks!

[2022-08-09 21:25] kscottz commented on #258
@mabrobotics @lreiher you have been added.

@ribeiro-silva-alysson, @Sanoronas you don't have a github history. Can you tell me more about why you need wiki access? Just pointing to the page you want to edit is sufficient.

[2022-08-11 07:28] Sanoronas commented on #258
There are some minor errors in the [Tutorial for writing a local planner plugin](http://wiki.ros.org/navigation/Tutorials/Writing%20a%20Local%20Path%20Planner%20As%20Plugin%20in%20ROS) which I wanted to fix.

[2022-08-17 00:03] kscottz commented on #258
@Sanoronas I have added you. Sorry about the delay.

[2022-08-18 02:16] llxTnT commented on #258
Please add my username llxTAT for access to the ROS wiki,Thanks!

[2022-08-20 14:41] Michdo93 commented on #258
Please add my username Michdo93 for access to the ROS wiki.

I would like to update and correct the entries for the Pepper and Nao robots. I have already had to deal with this in projects and have noticed that something went wrong there in the installation.

Also I have developed my own robot platform that works with ROS. Including a beginner tutorial.

And there is a much newer bridge between ope

[2022-08-26 02:51] llxTnT commented on #258
I would like to contribute to the ROS community by adding wiki pages of our robots.
I'm a developer of robot company which is as know as dobot.
https://en.dobot.cn/

Here's some the ROS packages for our products.
https://github.com/Dobot-Arm/CR_ROS
Thanks

[2022-08-27 19:19] jax200 commented on #258
Please add jax200.

thanks

[2022-08-29 17:52] kscottz commented on #258
@jax200 @llxTnT @Michdo93

You have been added.

[2022-09-01 18:14] Carter12s commented on #258
Please add my username `Carter Schultz` for edit access on the wiki please

[2022-09-01 18:51] Ammarazab commented on #258
Hi please add my AmmarAzab  for edit access on the wiki please

[2022-09-07 01:53] rezeck commented on #258
Hi, I would like to contribute to ROS wiki by adding some tutorials on how to use a robot we are building in our lab.
I appreciate it if you could add my user PauloRezeck for edit access. @rezeck

[2022-09-07 13:04] ribeiro-silva-alysson commented on #258
Sorry for the delay. I'm a doctoral student working in a multi-robot exploration stack. I've deployed it into ROS noetic installed in raspberry 3B clusters. Since they portray good stability with all scenarios I've tested so far during real exploration, I would like to update the installation regarding Noetic on raspberry.

http://wiki.ros.org/Installation/Raspbian
http://wiki.ros.org/ROSberryPi

[2022-09-07 18:25] kscottz commented on #258
@ribeiro-silva-alysson @rezeck @Carter12s you have been added. Welcome to the team.

@Ammarazab Can you tell me a bit more about why you need access to the wiki?

[2022-09-08 07:50] Ammarazab commented on #258
I want to improve Arabic ros wiki and translate more wiki page to Arabic

[2022-09-09 18:58] IAmContent commented on #258
Hi, could you please add my username, GregElderfield, to the whitelist?
I would like to add details to https://wiki.ros.org/action/login/es/docker/Tutorials/GUI#Using_VNC about how to use a Docker noVNC container to see graphical windows (e.g. from _rqt_graph_ or _rviz_) via a web browser.
See https://github.com/IAmContent/roscore-novnc

[2022-09-12 18:39] kscottz commented on #258
@IAmContent @Ammarazab you have been added to the wiki. Thank you for your support.

[2022-09-14 14:23] JulienSOCQUET commented on #258
Hi, can you add me to the wiki whitelist?
Username: JulienSOCQUET
Thanks!

[2022-09-16 05:36] mabrobotics commented on #258
Please add MABRobotics - we want to add out MD80 controller product wiki

[2022-09-16 18:45] DanilovaOV commented on #258
Please add me to wiki whitelist. OlgaDanilova

[2022-09-16 20:24] kscottz commented on #258
@DanilovaOV You don't have any github history. Can you please tell me why you need write access to the wiki?

@mabrobotics you already have an account.

@JulienSOCQUET you have been added. Enjoy!

[2022-09-20 20:11] Abdelraouf-Hawash commented on #258
Please add my username `Abdelraouf Hawash` for access to the ROS wiki

[2022-09-22 16:26] WenjingLi2036 commented on #258
Please add my username Kya Li for access to the ROS wiki.
Thank you so much!

[2022-10-02 13:00] Bhavadharani2076 commented on #258
Please add my username SBhavadharani for access to the ROS wiki

[2022-10-08 14:34] git-user44 commented on #258
Please add my name. There are problems with installing noetic on Fedora. I can update the instructions with some helpful advice.

[2022-10-08 14:35] git-user44 commented on #258
Please add the name "clueless" to the whitelist for updating the wiki.
There are problems installing noetic on Fedora, and I can edit the wiki with some helpful advice

[2022-10-10 23:32] kscottz commented on #258
@Bhavadharani2076 @WenjingLi2036 @Abdelraouf-Hawash you have been added.

@git-user44 you have no git history. Can you tell me why you need access?

[2022-10-11 17:28] git-user44 commented on #258
@kscottz I do not understand. Please define git history. I concede I have nothing at all from 2016 thru 2019, and only a couple of pull requests and merges. What specifically are you looking for ?

[2022-10-11 23:16] kscottz commented on #258
To prevent wiki spam we ask accounts with no profile / no repositories / minimal contributions to provide a single sentence about why they need to edit the wiki. I dug a bit deeper and see you have a few issues from earlier in the year. I'm going to go ahead and approve your request for access.

[2022-10-14 23:52] kscottz commented on #258
@lwachowiak welcome to the ROS wiki.

⚠️ We'll be at ROSCon / IROS for the next two weeks. Response times may be slower than usual. ⚠️

[2022-10-16 03:55] xylia2001 opened #344 "please add xyliachan thanks"

[2022-10-19 01:49] WintonWei commented on #258
please add Wei Wei to the whitelist.

[2022-10-19 05:37] ymohamed08 commented on #258
YoussefMohamed
youssefezzat12@gmail,com

Need to access http://wiki.ros.org/action/login/hri/Tutorials/ROS4HRI@IROS22 as i am a co-creator of ROS4HRI system, and would need to edit the tutorial of the installation

[2022-10-19 10:56] JamesOwensMTC commented on #258
could JamesOwensMTC please be added to the list.
I've found a few instances I'd like to fix where links are going to http://docs.ros.org/en/api/... which returns a 404error instead of http://docs.ros.org/en/<ROS1 distribution>/api/... e.g. http://wiki.ros.org/catkin/CMakeLists.txt#Installing_Python_Executable_Scripts has a link to the 'catkin manual' which doesn't work