[2013-01-04 22:01] chadrockey opened #1 "MsgSrvDoc macro is broken or not updating"
For example, on http://www.ros.org/wiki/sensor_msgs , the auto generated message links under section 1). ROS Message and Service Types do not include messages adding in Groovy such as:
Illuminance
Temperature
MagneticField

Here is the link to the messages that should appear:
https://github.com/ros/common_msgs/tree/groovy-devel/sensor_msgs/msg

[2013-01-04 22:46] chadrockey opened #2 "Weird effects for duplicated package"
http://www.ros.org/wiki/pointcloud_to_laserscan

This wiki page has been taken over by a community member since the turtlebot dropped it for groovy.

I'm not sure what the right way to handle this is, but it's being indexed twice.

For full strangeness, you may need to click on "Fuerte".

[2013-01-04 22:47] chadrockey opened #3 "Create mechanism to disable specific distro buttons on wiki pages"
The distro buttons are currently appearing for all packages and the last three releases (electric, fuerte, groovy).

However, new packages won't have an electric of furete component, and packages that were removed won't have a groovy component.

For example, depthimage_to_laserscan doesn't have an electric component:
http://www.ros.org/wiki/depthimage_to_laserscan

Another example is pointcloud_to

[2013-01-05 00:51] #2 closed, assigned to nobody

[2013-01-07 05:39] tfoote opened #4 "Extend MsgSrvDoc wiki macro for actions"
Migrating from: https://code.ros.org/trac/ros/ticket/3909

The wiki macro  MsgSrvDoc for messages and services does not include actions.

Therefore on pages like  arm_navigation_msgs one could think there aren't any actions in that package.

In the  linked Msg/Srv API actions are included with their generated messages, but not the original action files, which are linked nowhere as long as I can se

[2013-01-07 05:41] tfoote opened #5 "Deprecated comment doesn't suppress search"
From: https://code.ros.org/trac/ros/ticket/2436
I searched for "videre" in the wiki and found this page as the first hit:

http://www.ros.org/wiki/stereodcam

At the top of the page, it says, "The backed up content of this page is deprecated and will not be included in search results!"  Yet it clearly was included in my search results.

[2013-01-07 05:46] tfoote opened #6 "wiki_dumps: make dumps available in a non-tgz format"
From: https://code.ros.org/trac/ros/ticket/3282

It would be really nice is to have this available somewhere in _not_ just a tarball. I can see myself wanting to connect up a computer, sync my local copy of the docs/wiki really quick, then disconnect from the internet and get back to work. That would probably go quicker if we had something that could do incremental changes and only transmit the do

[2013-01-07 05:51] tfoote opened #7 "make experimental/unreleased packages much more visibly distinct on the wiki"
From: https://code.ros.org/trac/ros/ticket/3391

Something like a big watermark in red/yellow so people are more aware than a little (experimental) tag in the corner next to a link.

[2013-01-07 05:52] tfoote opened #8 "add a way to mark packages as unreleased against certain distros"
This would probably suppress or gray out the Version buttons on the wiki.

[2013-01-07 05:54] tfoote opened #9 "create a github ticket macro"
From: https://code.ros.org/trac/ros/ticket/3764

For cases like this:  https://github.com/laas/motion_analysis_mocap/issues

 http://ros.org/wiki/motion_analysis_mocap

[2013-01-07 05:57] tfoote opened #10 "Tutorials macros don't handle unicode"
From: https://code.ros.org/trac/ros/ticket/3204

From Yoonsoo:

[code]

[2013-01-07 05:58] tfoote opened #11 "Version wiki macro could take a list of arguments for which distros to display"
From: https://code.ros.org/trac/ros/ticket/3354

I'm updating the ni wiki page with the Version tag and it originally had unstable, diamondback, and cturtle instructions. However it currently doesn't display unstable, and it displays a boxturtle link which I cannot suppress. It would be nice to be able to say

<<Version(ROS diamondback unstable cturtle)>>

Where it goes (default, optional, optiona

[2013-01-07 06:03] tfoote opened #12 "Launch file arguments section in CS/NodeAPI"
From: https://code.ros.org/trac/ros/ticket/3512

I have launch files that load a bunch of nodelets into the same manager process, basically acting as one big node. The launch file has arguments to customize its behavior. Since it's filling the role of a node, I use the CS/NodeAPI template to document it, but I need a new section for the arguments - can have the same format as parameters.

Here's a

[2013-01-07 06:08] tfoote opened #13 "Extend PackageHeader to list declared plugins"
From: https://code.ros.org/trac/ros/ticket/4026

Would be useful if there were a way to generate a list of packages which contained plugins for a given other package.

Example, would be great if rviz wiki page had a list of packages which implement rviz plugins.

[2013-01-09 18:55] 130s opened #14 "Tutorials) Create & embed a macro with standard link to answers.ros.org with tags"
Currently people who have questions or comments on tutorial pages are commonly contacting the editors of those pages. Bad side of this is editors are not necessarily the maintainers of either that particular tutorials nor the corresponding packages so that they might not always have the answer. Moreover, individuals contacting directly might not be ideal for the eco system in general.

Solution is

[2013-01-10 01:42] 130s opened #15 "MsgLink macro doesn't take msg in certain pkgs"
Asked here http://answers.ros.org/question/49515/ros-message-api-documentation/

On wiki-marco level, patch can be made for `MsgLink.py` to accept `ROS distro` name with default value is '' so that only when it's specified, the macro generates URL with the distro name.

However, more ideal solution might be possible on URL generation from msgs (in particular, I'm not yet sure the purpose of 2 diff

[2013-01-10 02:09] eitanme opened #16 "Mirrors should also mirror javascript and wiki level images"
The mirrors don't actually mirror javascript or images for the wiki right now which results in pages looking pretty bad. For example, the distro buttons do not work. We should probably fix this.

[2013-01-10 02:19] 130s opened #17 "CodeRef.py not reflect the user's selection on the button (that's realized by Version)"
Line-by-line code snippet at http://www.ros.org/wiki/pluginlib/Tutorials/Writing%20and%20Using%20a%20Simple%20Plugin#Registering_the_Plugins always refer to the one that's shown by selecting Groovy button, which comes 1st in the source of the wiki page (checked on Jan 8, 2013).

[2013-01-10 02:43] #14 closed, assigned to nobody

[2013-01-10 02:55] jack-oquin opened #18 "Need a way for wiki pages to reference up-to-date package documentation explicitly"
There are probably hundreds of ROS wiki pages that link to auto-generated package documentation.

Formerly, that could be done with a generic link to the development documentation, like this:
- http://ros.org/doc/api/geodesy/html/python/geodesy.wu_point.html

Now, those links point to stale documentation versions compiled by the previous rosdoc indexer, which is no longer in use.

The new document

[2013-01-14 05:51] #11 closed, assigned to nobody

[2013-01-14 05:56] #8 closed, assigned to nobody

[2013-01-16 04:49] georgebrindeiro opened #19 "Attachment URLs do not work as expected"
Citing the ROS Wiki Attachments page:

"Attached Files
To refer to attachments on a page, use **attachment:filename**, as shown below in the list of files. Do **NOT** use the URL of the [get] link, since this is subject to change and can break easily."

However, I get a 500 Internal Server Error whenever I link that way (example [here](http://www.ros.org/wiki/rgbdslam?action=AttachFile&do=view&tar

[2013-01-16 18:30] 130s opened #20 "Gazebo tutorials) users are navigated to the wrong questions website"
Banner I added via #14 is applied to most of all tutorial pages, which is fine. But for `gazebo` tutorial pages, where questions should be pointed to answers.gazebosim.org, not the one on ros.org, this is misleading.

See also discussion http://answers.ros.org/question/47507/gazebo-ros-fuerte-crash/?answer=52374#post-id-52374

[2013-01-17 19:42] #20 closed, assigned to nobody

[2013-01-18 08:29] 130s opened #21 "Update Gazebo wiki pages to mention that they won't be actively maintained"
Discussed here http://answers.gazebosim.org/question/878/rosorg-instructions/

ps. If this issue tracker is not for `ROS` wiki contents, please let me know where I should post this.

[2013-01-21 00:40] #21 closed, assigned to nobody

[2013-01-30 23:25] 130s opened #22 "metapackage page listing all metapackages that contain it is confusing"
Probably falls into `enhancement` label.

For example, [a metapackage rqt](http://ros.org/wiki/rqt) page currently lists `moveit_source_build_deps` metapkg, that depends on `rqt`. A user who needs an info for `rqt` and reached this page might get confused because `moveit_source_build_deps` won't give much info for this user.

I understand the need for listing metapkgs, and I can't think of a solut

[2013-02-01 00:51] #9 closed, assigned to nobody

[2013-02-04 19:47] #22 closed, assigned to nobody

[2013-02-05 00:21] 130s opened #23 "FullSearch macro being capable of partial search often results in unwanted output"
Not sure if this is designed to be so or not.

In this page http://www.ros.org/wiki/robot_monitor/Reviews,

[code]

yields:

[code]

In this case, 2 review pages are related but should not necessarily be shown in the URL above.

[2013-02-07 09:16] ahornung opened #24 ""Releases" wiki pages / StackRelease macro broken"
The release overview pages all seem to be broken in the wiki, only returning "Newly proposed, mistyped, or obsolete stack. Could not find stack "XXX" in rosdoc

Examples:
http://www.ros.org/wiki/octomap_ros/Releases
http://www.ros.org/wiki/navigation/Releases
http://www.ros.org/wiki/ros_comm/Releases

[2013-02-12 23:10] BenBlumer opened #25 "StackList link broken."
As asked here: http://answers.ros.org/question/54974/ros-stacklist-link-broken-is-there-another-way-of-getting-there/ .

http://www.ros.org/wiki/ On the right hand side, under "Wiki", click "StackList", then click "stack list" then you get to an error page saying:

"Not Found The requested URL /browse/stack_list.php was not found on this server. Apache/2.2.14 (Ubuntu) Server at www.ros.org Port 80

[2013-02-12 23:57] #25 closed, assigned to nobody

[2013-02-14 07:16] 130s opened #26 ""Tutorials" link not appear for some pkgs"
In my understanding, wiki page for package `foo` shows "Tutorials" link in "Package Links" box on the right side, as long as there's a page whose URL is `foo/Tutorials`.

However, for example "Tutorials" link is missing in [ROS pkg](http://www.ros.org/wiki/ROS) even though there is a page with correct URL (http://www.ros.org/wiki/ROS/Tutorials/).

[2013-02-14 07:25] 130s opened #27 "Link to common tutorial from all pkgs per metapackage"
For example, [rqt_common_plugins](http://ros.org/wiki/rqt_common_plugins) and [rqt_robot_plugins](http://ros.org/wiki/rqt_robot_plugins) metapackages contain a bunch of pkgs but all of them share the general usage. In this case a wiki feature to show the same link (probably a link to `Tutorial` is good enough) in all pkgs throughout the metapackage would be benefitial.

ps. I don't have a priviled

[2013-02-18 16:41] jack-oquin opened #28 "roswiki: review status says "unreviewed", which is wrong."
Examples:
- http://www.ros.org/wiki/camera1394
- http://www.ros.org/wiki/camera_info_manager?distro=groovy
- http://www.ros.org/wiki/image_transport?distro=groovy

In the case of camera_info_manager, the Electric tab says "Doc reviewed", while Fuerte and Groovy say "unreviewed".

Is there some built-in assumption that a new review is required for every distribution? Even when the API and documenta

[2013-02-19 17:06] kalectro opened #29 "pcl entry missing for groovy"
I am trying to find the sources from where PCL was build. Unfortunately the button for groovy is missing on http://www.ros.org/wiki/pcl
I am not sure if that is a wiki problem since the indexer does not find the groovy release, but it does not show up in the wiki.

It would probably be enough to show the source link: https://github.com/ros-gbp/pcl-release

[2013-02-19 17:39] #29 closed, assigned to nobody

[2013-02-19 18:58] #10 closed, assigned to nobody

[2013-02-22 02:03] tfoote opened #30 "create an embed macro for google goups"
This will be useful for our SIGs

https://support.google.com/groups/answer/1191206?hl=en

[2013-02-22 02:15] #28 closed, assigned to nobody

[2013-02-22 02:38] #30 closed, assigned to nobody

[2013-02-25 01:55] k-okada opened #31 "add language switch"
We need a way to find translations, since there are already  a number of translations with a language prefix style.
http://www.ros.org/wiki/ja/
http://www.ros.org/wiki/ko/
http://www.ros.org/wiki/de/

One idea is to add features similar to switch button for ros distributions (electric/fuerte/groovy).

[2013-02-25 07:11] #18 closed, assigned to nobody

[2013-03-07 13:27] mintar opened #32 "RepoHeader wiki macro is broken"
The `RepoHeader` wiki macro is broken. For example, the [wg-ros-pkg](http://www.ros.org/wiki/wg-ros-pkg)  wiki page displays:

I couldn't find a single page where this macro works.

Once this is fixed, how do I tell the indexer that all stacks listed in `rosdistro/doc/fuerte/uos.rosinstall` should be listed under [uos-ros-pkg](http://www.ros.org/wiki/uos-ros-pkg)?

[2013-03-07 18:27] #32 closed, assigned to nobody

[2013-03-07 19:00] hershwg opened #33 "Packages appear in wiki to be contained in a random metapackage."
The PackageHeader macro always lists all the other packages in the current package's stack, even if the current package is not IN a stack.

Go to http://ros.org/wiki/rviz?distro=groovy and look at the header.  It looks like rviz is in the moveit_source_build_deps stack, which also contains lots of other random packages.

Perhaps there is another macro besides PackageHeader I should be using which

[2013-03-08 11:10] aginika opened #34 "Version macro seems not to work correctly in special cases"
I happened to find that version macro seems not to work correctly in following pages.
http://www.ros.org/wiki/tf/Tutorials/Introduction%20to%20tf
http://www.ros.org/wiki/tf/Tutorials/Writing%20a%20tf%20broadcaster%20%28C%2B%2B%29

At the bottom of that page, 6.rviz and tf,there should be a line which shows command what to type, although it doesn't appear if I don't touch version select button in t

[2013-03-14 17:15] dirk-thomas opened #36 "changed url of generated documentation"
Some generated documentation (i.e. rospkg) has been moved to a different url (independent). The current Wiki should be crawled and those URLs should be replace to fix numerous wrong links.

[2013-03-14 17:19] tfoote opened #37 "suppress all but run depends in metapackage listings."
This will prevent build and build_tool depends being listed (such as catkin)

[2013-03-21 18:06] #37 closed, assigned to dirk-thomas

[2013-03-25 03:59] #26 closed, assigned to nobody

[2013-04-02 21:58] tfoote opened #40 "clarify that the metapackage headers are metapackage headers"
It's not obvious why the headers are there.

[2013-04-10 17:38] tfoote opened #41 "create changelog viewing wiki macro"
This will help with ros/rosdistro#420

[2013-04-11 22:43] tfoote opened #42 "add hydro to the wiki buttons, but keep groovy the default"

[2013-04-26 20:51] #41 closed, assigned to dirk-thomas

[2013-04-27 01:32] tfoote opened #43 "provide visibility into the maintainership status for wiki packages"
We currently have it in the debbuild status page.  It would be great to have it in the wiki header as well for better visibility to users.

[2013-05-03 21:45] #24 closed, assigned to nobody

[2013-05-03 21:53] tfoote opened #44 "StackReleases does not display wet releases"
After fixing #24 I saw that only dry releases are represented. It needs to be integrated with the new rosdistro.

[2013-05-25 20:44] meyerj opened #46 "StackHeader/PackageHeader macros should display the development branch for each distro"
Currently the `StackHeader()` and `PackageHeader()` macros display the URI of the source repository, but without the version or branch information. One example where this information would be beneficial is the [hector_gazebo](http://ros.org/wiki/hector_gazebo) stack, where the fuerte and groovy versions diverged due to the updated Gazebo API in groovy. The default git branch groovy-devel will not

[2013-06-03 14:26] jbohren opened #47 "Wiki macro to read and display a repository's README file on the main page?"
It seems like it's common practice these days to put a lot of information in README files in the top level of ROS packages. Is there any interest to have this information displayed in the wiki?

[2013-06-11 21:59] #42 closed, assigned to tfoote

[2013-06-11 22:01] #33 closed, assigned to dirk-thomas

[2013-06-12 21:56] #43 closed, assigned to dirk-thomas

[2013-06-12 23:29] #46 closed, assigned to dirk-thomas

[2013-06-18 17:08] davetcoleman opened #48 "Stack Template Out of Date"
- Should be renamed to something more along the lines of a meta-package in Catkin
- The `TracLink` is no longer relevant since almost everything has switched to Github

[code]

[2013-06-27 21:42] davetcoleman opened #49 "Include macro links on edit page"
When editing the page there is a section at the bottom that says

[code]

It would be really convenient to also add links for
http://ros.org/wiki/WikiMacros/
and
http://ros.org/wiki/HelpOnMacros/

[2013-07-02 21:07] dirk-thomas opened #50 "search result page shows ads which truncates the results and hides page links"
E.g. search for `rosinstall_generator`

[2013-07-02 21:10] jbohren opened #51 "ROS Developers guide is severely out of date"
http://www.ros.org/wiki/DevelopersGuide

There's no mention of catkin, the QA process still deals with stacks etc...

[2013-07-02 23:09] jbohren opened #52 "Describe REPs on ROS Patterns page"
Right now the visibility and accessibility of REPs are really poor. Most people. if they even find [the rep page](http://ros.org/reps/rep-0000.html) are completely overwhelmed by it.

At the same time, the ROS ["best practices" page](http://www.ros.org/wiki/BestPractices) is stale and dying.

I've created this page: http://www.ros.org/wiki/ROS/Patterns with a bit more structure than the BestPracti

[2013-07-16 08:09] tfoote opened #53 "create a answers.ros.org macro for tutorials with a tag and this text"
[code]

[2013-07-16 22:49] davetcoleman opened #54 "Metapackage navigation on package's subpages"
A package that is part of a metapackage should have a navigation of other packages in its metapackage at the top, just like how stacks are done. This is missing in ROS Hydro.

See line 221, I think the fix is around here:
https://github.com/ros-infrastructure/roswiki/blob/master/macro/headers.py#L221

[2013-08-13 22:48] #54 closed, assigned to dirk-thomas

[2013-08-13 23:32] dirk-thomas opened #55 "conditionally including packages with package/stack headers break"
If a page includes other pages with package/stack headers (even if done conditionally) this will result in a lot of duplicates ids for tags. This will than break the javascript code to operate the distro selection, show the documentation status, show the dependencies and used-by, etc.

[2013-08-13 23:35] #55 closed, assigned to nobody

[2013-08-14 00:07] #1 closed, assigned to nobody

[2013-08-25 19:55] tfoote opened #56 "Integrate MsgSrvDoc into PackageHeader"
It's currently undocumented.  I think it might be better to deprecate it and integrate it's functionality into the PackageHeader macro with conditional display based on whether any messages or services are detected.  That will eliminate more boilerplate wiki markup.

[2013-08-28 23:20] tfoote opened #57 "answers search uses old tag syntax"
This means it doesn't filter by tags correctly.

[2013-08-28 23:20] tfoote opened #58 "update the lurker macro for the new list.ros.org lurker url"
It's still pointing to code.ros.org

[2013-08-30 09:24] tfoote opened #60 "remove the t directory"
I'm assuming it was a legacy/backup directory when we first imported it.  Now I'm guessing that we know it's extraneous?

[2013-08-30 17:25] gerkey opened #61 "wiki search is broken"
I can't get the wiki search to return any results.  Any search term gives me something like this:

![wiki-search](https://f.cloud.github.com/assets/1188842/1059348/087cb78e-1199-11e3-98e4-9e61e4d83d89.png)

[2013-09-03 15:47] dlaz opened #62 "MsgLink wiki macro points to wrong location"
MsgLink URL are formatted incorrectly, causing dead links. They are currently formatted like `"http://www.ros.org/doc/api/%s/html/msg/%s.html"%(pkg, base)`

Two issues
- Due to the move, should be docs.ros.org
- docs.ros.org now needs a distro, so URLs should be something like `"http://docs.ros.org/%s/api/%s/html/msg/%s.html"%(distro, pkg, base)`

This also applies to SrvLink.

[2013-09-03 21:28] shaun-edwards opened #63 "ROS version macro buttons broken"
The ROS version macro buttons do not switch content.

Ex: http://wiki.ros.org/simple_message

Select the "Fuerte" button.  The content does not change (the automatic header gets lost).

I am using the Chrome web browser (Version 29.0.1547.62 m) on Windows.  This doesn't appear to be a problem with IE (but who uses that browser ;)

[2013-09-03 22:39] #62 closed, assigned to dirk-thomas

[2013-09-06 09:33] #61 closed, assigned to dirk-thomas

[2013-09-09 09:51] 130s opened #64 "Directory docs.ros.org/independent is missing"
Coming from [this thread at ros-users](http://ros-users.122217.n3.nabble.com/broken-quot-www-quot-links-to-the-ROS-wiki-td4020264.html) initially posted by @shaun-edwards,

Both redirect to http://docs.ros.org/independent/api/rosinstall/html/rosws_tutorial.html but return `404` for me from both computer and cellphone (2 different network). http://docs.ros.org/ doesn't seem to contain `independent`

[2013-09-09 22:01] #64 closed, assigned to dirk-thomas

[2013-09-11 18:50] davetcoleman opened #65 "Hydro version needs to be updated"
Currently on the wiki the macro `<<Version(Hydro)>>` still outputs "Expected in Hydro Turtle". It needs to be updated to just say "Hydro" since it has been released.

[2013-09-13 23:34] #65 closed, assigned to dirk-thomas

[2013-09-19 22:20] #4 closed, assigned to dirk-thomas

[2013-09-20 00:09] #60 closed, assigned to dirk-thomas

[2013-09-20 00:17] #57 closed, assigned to dirk-thomas

[2013-09-20 00:23] #50 closed, assigned to nobody

[2013-09-20 00:31] #19 closed, assigned to nobody

[2013-09-20 00:34] #23 closed, assigned to nobody

[2013-09-20 00:48] #15 closed, assigned to nobody

[2013-09-20 01:00] #5 closed, assigned to nobody

[2013-09-20 01:05] #3 closed, assigned to nobody

[2013-09-20 01:24] #36 closed, assigned to dirk-thomas

[2013-09-20 02:40] tfoote opened #66 "autodocs are not being tarred correctly"
Most mirrors appear to have only diamondback and independent.

[2013-09-20 02:40] tfoote opened #67 "autodocs do not have the canonical link rewriting"
They should have this to give the official site proper page rank.

[2013-09-20 17:44] #34 closed, assigned to dirk-thomas

[2013-09-20 20:22] #63 closed, assigned to dirk-thomas

[2013-09-23 01:39] stonier opened #68 "Version macro on roswiki currently broken"
e.g. http://wiki.ros.org/WikiMacros#Version is now showing this error:

[code]

This is happening in both chrome and firefox for me.

[2013-09-23 18:13] #68 closed, assigned to dirk-thomas

[2013-09-24 04:02] bit-pirate opened #69 "MsgSrvDoc macro points to wrong URL"
The links currently generated by the MsgSrvDoc point to  `http://docs.org/api/moveit_msgs/...` (e.g. http://wiki.ros.org/moveit_msgs).

Changing the URL manually to `http://docs.ros.org/...` leads to the right page.

[2013-09-24 04:04] bit-pirate opened #70 "Extend MsgSrvDoc to MsgSrvActDoc"
Is it possible to extend the current MsgSrvDoc macro to also create links to action messages?

[2013-09-24 06:01] #70 closed, assigned to nobody

[2013-09-24 06:03] #69 closed, assigned to dirk-thomas

[2013-09-24 22:52] robograffitti opened #71 "Failing to run IncludeCSTemplate"
On the following page,
http://wiki.ros.org/ja/turtlebot/Tutorials/groovy/Installation#preview

The error like "Failed to run IncludeCSTemplate" occurred. This error also occurred immediately after creating the page with copying the scripts from the original page http://wiki.ros.org/turtlebot/Tutorials/groovy/Installation#preview

When I comment out the following line
<< IncludeCSTemplate(TutorialC

[2013-09-25 02:09] #71 closed, assigned to dirk-thomas

[2013-09-26 14:48] DorianScholz opened #72 "failure to display code examples for warehousewg tutorials"
There seems to be an issue generating code examples on the warehousewg wiki pages.
For example:
http://wiki.ros.org/warehousewg/Tutorials/Using%20the%20Python%20client%20library
shows

<pre>
GetTaggedCode: execution failed [EOF when reading a line] (see also the log)
</pre>

instead of the code.

[2013-09-26 17:14] #72 closed, assigned to dirk-thomas

[2013-10-08 17:36] #48 closed, assigned to dirk-thomas

[2013-10-08 22:42] dlaz opened #73 "MsgLink2 not being executed"
Calls to MsgLink2 are no longer resulting in a link at all, and instead are just showing the text of the macro call.

For example, see http://wiki.ros.org/move_base#Action_Subscribed_Topics

[2013-10-08 22:53] #73 closed, assigned to nobody

[2013-10-09 20:08] gavanderhoorn opened #74 "Obfuscate package maintainer / author email addresses"
Email addresses currently seem to be copied verbatim, plain-text from the `package.xml` into the source of the package wiki page. This allows those addresses to be easily harvested.

It would be nice if addresses on the wiki could be obfuscated in some way. This would keep the information available, but only to humans (ie: not spambots).

[2013-10-11 07:20] tfoote opened #75 "seesaw macro on chrome problem"
From: wiki.ros.org/turtlebot_bringup/Tutorials/TurtleBot%20Bringu

[code]

I too am having trouble with the TurtleBot Bringup page rendering in my chromium instance.

[2013-10-14 18:21] #56 closed, assigned to dirk-thomas

[2013-10-24 17:46] wjwwood opened #76 "[content] add catkin/rosbuild rocker"
http://wiki.ros.org/ROSNodeTutorialC%2B%2B

[2013-11-05 13:21] ahornung opened #77 "Package indexing not syncing to wiki"
I found that the roswiki indexing does not reflect a few recent changes to packages, is the indexer not syncing properly?

Example: http://wiki.ros.org/nao_extras
The documentation status lists groovy as last status from September, but nothing for hydro.  rosdistro file is up to date and the indexing jobs seem to be happy:

http://jenkins.willowgarage.com:8080/job/doc-hydro-nao_extras/
http://jenk

[2013-11-05 19:29] #77 closed, assigned to dirk-thomas

[2013-11-05 19:58] #74 closed, assigned to dirk-thomas

[2013-11-06 00:54] #27 closed, assigned to nobody

[2013-11-06 00:59] #49 closed, assigned to nobody

[2013-11-07 20:13] davetcoleman opened #78 "Tutorial Template Out of Data"
On the "new wiki page" page there is a link for creating a new tutorial:

The template still uses

`<<FullSearchWithDescriptionsCS(title:"@PAGE@/")>>`

When I believe it should use something like

`<<TutorialChain(urdf/Tutorials/Create your own urdf file)>>`

[2013-11-08 07:31] #78 closed, assigned to nobody

[2013-11-27 01:42] dirk-thomas opened #80 "clearsilver plugin fails for unicode characters printing stacktraces to the Apache log"
For some Japanese pages (e.g. `/ja/tf`) the plugin generates a stacktrace in the Apache log:

[code]

[2013-12-01 08:52] tfoote opened #81 "wiki dump is missing icons"
logo.png and the little world icon for external links seems to be missing now

[2013-12-01 09:15] #66 closed, assigned to nobody

[2013-12-01 09:21] #81 closed, assigned to nobody

[2013-12-01 23:50] #58 closed, assigned to dirk-thomas

[2013-12-02 21:47] tfoote opened #82 "show buildfarm file status for packages in PackageHeader"
This would be useful for better visibility.

Even better would be the dowload count. Maybe we could have a cron job which generates the metadata for the wiki display to do this, like the debbuild status pages.

[2013-12-18 17:19] #6 closed, assigned to tfoote

[2013-12-24 04:16] tfoote opened #83 "find and clear all fullsearch usages and disable"
A fullsearch invocation takes ~ 30seconds which bogs down the server greatly.

We should find all instances, find suitable replacements and then disable the macro.

[2013-12-26 08:07] tfoote opened #84 "improper line wrapping"
Screenshot attached. It appears to be caused by the long string of a url
in a comment.

![screenshot from 2013-12-26 00 05 38](https://f.cloud.github.com/assets/447804/1809749/c5f72fc0-6e04-11e3-8e2f-6659cbfa889c.png)

[2013-12-26 08:09] #84 closed, assigned to nobody

[2013-12-31 22:50] #82 closed, assigned to dirk-thomas

[2014-01-01 00:00] #7 closed, assigned to dirk-thomas

[2014-01-04 03:07] tfoote opened #90 "find and replace all uses of MediaServer"
Their hosting is uncertain. They should be uploaded to youtube.

[code]

[2014-01-06 08:22] tfoote opened #91 "ASCIIMathML.js takes ~ 0.5 seconds for every wiki page load"
It's a large js file and takes ~ 500ms to server for every webpage.

https://github.com/ros-infrastructure/roswiki/blob/master/custom/js/ASCIIMathML.js

If we could make it only load on demand for the pages which need it, it would significantly reduce our load.

Here's instructions for how to set it up with Moin Moin which I think we followed. http://moinmo.in/MathMlSupport/MathML%20HOWTO

[2014-01-06 19:15] #91 closed, assigned to nobody

[2014-01-08 02:14] #90 closed, assigned to tfoote

[2014-01-09 15:26] kleucht opened #92 "please add disk space estimates to ROS install instructions page"
I'm a newbie to both ROS and GITHUB, so please forgive me if I am in the wrong place for requesting ROS documentation tweaks.

I just installed ROS Hydro on my robot's computer and when I was done, I only had 10 megabytes of space remaining on my robot.  I wish I had known before I started how much disk space each install option (full, desktop, base) would take.

Thanks,
Kurt

[2014-02-03 03:53] 130s opened #93 "GUI editor automatically removes some linefeeds"
As reported [here](https://github.com/tork-a/rtmros_nextage/issues/33#issuecomment-33920581), roswiki's GUI interface removes some linefeeds, which might be necessary for some of the macros to work properly.

For example, I figured out that [CodeRef requires a new line](http://wiki.ros.org/action/info/WritingTutorials?action=diff&rev2=117&rev1=116) (correct it if wrong).

[2014-02-03 03:59] 130s opened #94 "Redundant wiki pages about wiki macros"
http://wiki.ros.org/WritingTutorials
http://wiki.ros.org/WikiMacros

Some macro overlap. Some are elaborated more in either page.

Maybe [WritingTutorials#Useful_Macros](http://wiki.ros.org/WritingTutorials#Useful_Macros) section and add link from there to `WikiMacros` page?

[2014-02-11 00:10] tfoote opened #97 "traceback from AllTutorialsSorted macro"
I saw this traceback during the moin dump process

[code]

[2014-02-14 17:50] tfoote opened #98 "Add Macro for RepositoryMirrorStatus"
I'd envision the macro looking just like MIrrorStatus from #96

Our repos have trace files at this url: http://packages.ros.org/ros/ubuntu/project/trace/repos.ros.org

The checkMirrorStatus could be parameterized on the prefix instead of being hard coded. The MirrorStatus could then pass in the wiki timestamp file. And the RepositoryMirrorStatus could pass in the other file path.

I'll try to subm

[2014-02-14 23:53] tfoote opened #99 "setup a way to run the cleanpage maintenance tool"
This may help our performance by clearing deleted and empty pages from the database.

[2014-02-21 22:23] kleucht opened #100 "tutorial for RVIZ, Hydro, Sending Basic Shapes does not work"
I don't know if this is the proper place for reporting Tutorial issues.  The ROS help world is very confusing to me.

I tried going through the RVIZ Sending Basic Shapes beginners tutorial and it failed.  The publisher code built and ran, but the RVIZ instructions were for a different version of RVIZ.  I was able to figure out how to add the Marker Display attached to the topic my code was publish

[2014-03-10 08:50] tfoote opened #101 "add reasonable timeout to GetCode and GetTaggedCode macros"
They break the rendering when an external resources is unavailable. Such as code.ros.org

[2014-03-10 17:51] dirk-thomas opened #103 "package header should show distros when package is released into it even without a doc job"
A Jenkins job could extract all information from the `package.xml` files available from the cached distro and generate and upload the `.yaml` files for the wiki.

[2014-03-10 21:13] #103 closed, assigned to dirk-thomas

[2014-03-18 23:15] #101 closed, assigned to esteve

[2014-04-10 15:32] robograffitti opened #105 "No access to http://wiki.ros.org/ja/tf"
@tfoote I can not access to http://wiki.ros.org/ja/tf because of an internal server error. I'm not sure why this specific page can not be shown.

[2014-04-10 21:31] #80 closed, assigned to dirk-thomas

[2014-04-10 21:31] #105 closed, assigned to nobody

[2014-04-18 12:51] ahornung opened #107 "Forwarding from ros.org/wiki to wiki.ros.org broken"
The forwarding from the old wiki locations to the new wiki.ros.org is broken with the current redesign of ros.org. E.g. http://ros.org/wiki/bloom results in a 404 error while it should point to http://wiki.ros.org/bloom/.

Technically this affects the ROS.org site and not the Wiki itself, is there a better place to report the issue?

[2014-04-18 16:31] #107 closed, assigned to dirk-thomas

[2014-04-22 21:16] tfoote opened #108 "Cannot delete attachments"
When you try to delete an attachment on the wiki you get the following error:

[code]

![del_attachment_failing](https://cloud.githubusercontent.com/assets/447804/2770825/37c2cfdc-ca63-11e3-8895-5104e3c08004.png)

It appears that there is aproblem with the session for you'll not that I do not appear to be logged in. However when I clear the error message I am still logged in.

[2014-05-21 23:07] #108 closed, assigned to nobody

[2014-07-23 17:43] #75 closed, assigned to nobody

[2014-07-29 21:33] #44 closed, assigned to nobody

[2014-07-29 21:43] #40 closed, assigned to nobody

[2014-07-29 21:45] #93 closed, assigned to nobody

[2014-07-30 17:50] trainman419 opened #110 "Provide version fallback for versioned pages"
Many ROS wiki pages try to maintain backward compatibility with old versions of ROS by supplying different versions of the page for different versions of ROS.

When a new version of ROS is released and the wiki is updated to default to the new version of ROS, these pages often appear empty at first glance, even though the documentation from the previous version of ROS most likely still applies. I'

[2014-11-17 16:37] shaun-edwards opened #112 "Version selector breaks table footnotes"
This issue was reported to ROS-Industrial ros-industrial/ros_industrial_issues#31.  The table [footnotes](http://wiki.ros.org/Industrial/supported_hardware#Industrial.2BAC8-supported_hardware.2BAC8-indigo.Notes) on the [main page](http://wiki.ros.org/Industrial/supported_hardware) are broken/incorrect.  It appears all the footnotes, from all the versions are listed.  Also, the table links do not w

[2015-01-22 00:17] tfoote opened #115 "editing rendering error with this applied"
I can not edit the tf Introduction to tf page now. I think it's a result of https://github.com/ros-infrastructure/roswiki/pull/114

It looks like @mikepurvis just updated it to use the new rendering: http://wiki.ros.org/tf/Tutorials/Introduction%20to%20tf?action=diff&rev1=97&rev2=98

The output of the text editor is only: http://wiki.ros.org/action/edit/tf/Tutorials/Introduction%20to%20tf?action=e

[2015-01-22 01:12] tfoote commented on #115
I can confirm that adding $ROS_DISTRO to a page breaks the preview too. I tried using it here: http://wiki.ros.org/teleop_twist_keyboard

[2015-01-22 04:39] mikepurvis commented on #115
Looking now.

It doesn't happen with JS off, but there isn't actually an explicit JS error showing up in the console. More details to come.

[2015-01-22 04:55] mikepurvis commented on #115
Still not entirely clear to me _why_ it's happening, but it's definitely a result of the `$("#page").html(replaced);` line. The sledgehammer fix would be to just avoid the replacement when a textarea is present, but there may be a more elegant solution. Will have a PR shortly.

[2015-01-22 16:48] #115 closed

[2015-01-25 17:03] Sumanthnr93 opened #117 "using_maker error"
I'm still new to this ROS and visualization. As mentioned in http://wiki.ros.org/rviz/Tutorials/Markers%3A%20Basic%20Shapes
when I tried this : rosrun using_markers basic_shapes
 I am getting using_makers not found, can anyone help me in this.

[2015-01-25 18:11] dirk-thomas commented on #117
Please ask questions on answers.ros.org

[2015-01-25 18:11] #117 closed

[2015-03-04 01:25] esteve commented on #17
Fixed.

[2015-03-04 01:25] #17 closed

[2015-03-04 14:04] gavanderhoorn opened #121 "Add installation hint for released packages"

[2015-03-04 14:20] gavanderhoorn commented on #121
Some mockups (I'm not a web designer):

#### Extra `li` below *Source*

![common_msgs_install_hint_ul_li_sshot](https://cloud.githubusercontent.com/assets/4550046/6485092/685222d0-c281-11e4-813f-ec609e257834.png)

---

#### Extra section

![common_msgs_install_hint_install_section_sshot](https://cloud.githubusercontent.com/assets/4550046/6485121/98f07f54-c281-11e4-8efb-bbd9bc10d06f.png)

---

####

[2015-03-04 14:28] jbohren commented on #121
What's the official pattern for converting a ros package name / distro into a debian package name?

Is it just the following?

[code]

[2015-03-04 14:33] dirk-thomas commented on #121
Yes.

[2015-03-04 14:34] gavanderhoorn commented on #121
This is from [bloom/rosdebian.py](https://github.com/ros-infrastructure/bloom/blob/062333ea16b24380f7055e0406983afc6891655d/bloom/generators/rosdebian.py#L103-L104):
[code]

The names in those mockups are actually from the `manifest.yaml` file that @dirk-thomas linked.

[2015-03-04 19:59] tfoote commented on #121
We should definitely consider needing to extend this to the RPM case. We are very close thanks to @cottsay

I like the last mockup the best. We should make sure to link to the installation instructions: http://wiki.ros.org/indigo/Installation/Ubuntu in that to know that they will have to add apt-sources etc.

We may need to consider adding some info to the manifest to specifcally call out which pa

[2015-03-04 20:03] tfoote commented on #121
Related to this we could also consider giving the matrix of versions available in shadow-fixed and public. aka the info here: http://www.ros.org/debbuild/indigo.html?q=roscpp_tutorials

[2015-03-04 20:04] gavanderhoorn commented on #121
All info shown (apart from the rpm line) can be extracted from the `manifest.yaml` files that the macro has access to. I was thinking of using the `release_jobs` entry for figuring out whether something's been released (or `is_stack_released()` in `headers.py`).

[2015-03-04 20:05] wjwwood opened #122 "Macro to help organize the wiki.ros.org/Robots page"
Currently it is just a MoinMoin wiki table and it has no apparent order.

I think it would be simpler if there was a macro to declare a robot and another macro to render it.

I think we should just render it alphabetically for fairness and maybe later we could have promoted sections or a sortable rendering (based on name or date updated/added).

The main point is that if there is a macro to declar

[2015-03-04 21:44] wjwwood commented on #122
http://wiki.ros.org/Robots

[2015-03-18 21:12] tfoote commented on #122
resolved in #123

[2015-03-18 21:12] #122 closed

[2015-03-18 21:34] tfoote opened #124 "Google Webmaster Tools complains about mobile usability issues"
An email from Google Webmaster Tools:

[code]

Related links:
https://developers.google.com/speed/docs/insights/UseLegibleFontSizes
https://developers.google.com/speed/docs/insights/SizeTapTargetsAppropriately
https://developers.google.com/web/fundamentals/layouts/rwd-fundamentals/
https://developers.google.com/web/fundamentals/layouts/rwd-fundamentals/size-content-to-the-viewport
https://www.goog

[2015-03-23 15:26] gavanderhoorn commented on #121
First attempt pushed to [gavanderhoorn:issue121_installation_hint](https://github.com/ros-infrastructure/roswiki/compare/master...gavanderhoorn:issue121_installation_hint). Not done yet, but I'd like to get some initial feedback on approach taken if possible.

Haven't yet tested this on a local instance of the wiki. Is there any documentation on how to set up a development instance of the wiki?

A

[2015-03-24 00:01] jihoonl opened #125 "Robots page seems broke"
http://wiki.ros.org/Robots/

Also the page links are pointing to Robots/Robots/\<robot name\>

![robots_page](https://cloud.githubusercontent.com/assets/1556736/6793160/2f41d462-d204-11e4-962e-5343822257fe.png)

[2015-03-24 00:13] tfoote commented on #125
The images missing happens if you load the page too often. There's a throttle on how many times in a minute you can load attachments. (60 in 60 seconds I believe)

That was dialed down due to spam, we can probably increase that now.

The links seem to always be being interpreted as relative instead of only being relative with a leading `/`

[2015-03-24 00:17] jihoonl commented on #125
So should the link be like /Robots/\<robot name\>?

[2015-03-24 00:23] tfoote commented on #125
No `Robots/<robot_name>` is correct. If you start with the `/` it should be relative then. (moin moin is backwards from standard pathing.)

The macro probably needs an update on what syntax it gives the macros.

Possibly here: https://github.com/ros-infrastructure/roswiki/blob/master/macro/RobotTable.py#L33

[2015-03-24 04:43] wjwwood commented on #125
Yeah, the image loading is a throttling artifact, I don't get it, but on a few which are actually broken links:

![screen shot 2015-03-23 at 9 37 12 pm](https://cloud.githubusercontent.com/assets/100427/6795890/86a93592-d1a5-11e4-8435-fab397e50324.png)

[2015-03-24 04:59] jihoonl commented on #125
When I refresh three times in a row, the throttling started to happen.

BTW, I wonder if it is possible to put distribution info on robots page. Current format is hard to know whether robot is supporting which distributions. For example, [NXT](http://wiki.ros.org/Robots/NXT) has been unmaintained since hydro. It would be nice if which robots are supporting indigo..

[2015-03-24 05:15] wjwwood commented on #125
@jihoonl We could add that with badges or something. I spent a lot of time on it already, if you're interested in modifying it further I'll help get it merged with a review.

As for the linking I think that's a bug, I guess I can try to look into it tomorrow, but I'm really busy. I'd appreciate any help with that.

[2015-03-24 05:25] wjwwood commented on #121
@gavanderhoorn I recently used https://github.com/ros-infrastructure/roswiki_vagrant and it worked to setup an instance of the roswiki using Vagrant.

[2015-05-05 02:02] wjwwood commented on #125
I'm going to close this for now, please open a new issue/pull request to track other features.

[2015-05-05 02:02] #125 closed

[2015-06-05 00:44] stonier opened #134 "Default 'Version' to display"
**About**

Lock down the default landing page of a wiki page that has a version bar. We've got quite a few
packages we only have the resources to support/upgrade for the long term
releases (e.g. indigo) and it's rather repetitive always having to click
back from the latest release page (where we usually put a message saying
it's not supported in this release) back to the indigo page.

Discussed in

[2015-06-05 00:48] stonier commented on #134
I'd like to actually make a pull request on this, but it's not clear how to reproduce a local instance of the wiki complete with macros to do some testing on this. They would be useful instructions to allow people to make pull requests for these scripts.

i.e. There is [roswiki/Mirrors](http://wiki.ros.org/Mirrors) which is very terse and hasn't got enough for me to reproduce things. Also [ros-inf

[2015-06-05 06:39] gavanderhoorn commented on #134
@wjwwood pointed me to https://github.com/ros-infrastructure/roswiki_vagrant some time ago. I haven't tried it yet, but it is on my todo list (for #121).

[2015-06-05 06:41] gavanderhoorn commented on #134
It would only be an 'empty wiki' though, according to the readme, so that may not be too useful.

[2015-06-12 09:15] raulperula opened #137 "MsgSrvDoc macro limited to last ROS version"
Hello, as @wjwwood recommended me in this [answer](http://answers.ros.org/question/211081/how-to-use-msgsrvdoc-in-wiki/?answer=211106#post-id-211106), I open this issue related to a limitation with the macro MsgSrvDoc in the ROS wiki.

It could be a good option that this macro works with all ROS versions, or at least with the LTS version and the last one. It could be a good option to be able to sp

[2015-06-15 19:43] wjwwood commented on #137
@raulperula You can have your packages "documented" without releasing them as long as they are catkin packages. Just follow this tutorial: http://wiki.ros.org/rosdistro/Tutorials/Indexing%20Your%20ROS%20Repository%20for%20Documentation%20Generation

[2015-06-15 20:06] tfoote commented on #137
The macro cannot work without being indexed for documentation since the source is unknown to the website.

[2015-06-15 21:00] tfoote commented on #137
Sorry, I misunderstood this. From @wjwwood there's a problem finding the right version of manifest.yaml

We should be detecting the rosdistro version on the `Version` rocker switch in the page and linking to the specific version of the API docs. It should probably also take a version as an explicit argument for manual use outside the `Version` macro.

And it should have fallback behavior for older

[2015-06-16 07:21] raulperula commented on #137
My packages are indexed, see: maggie_devices_msgs and maggie_skills_msgs in "distribution" file in rosdistro. But my version is only in hydro, not the rest.

[2015-06-16 08:51] gavanderhoorn commented on #137
Related: #134 ?

[2015-08-28 15:15] jack-oquin commented on #137
I recently noticed a similar problem with [bwi_msgs](http://wiki.ros.org/bwi_msgs) and [velodyne_msgs](http://wiki.ros.org/velodyne_msgs). The API links exist for Indigo and they both have doc stanzas in rosdistro. But, the generic distro-independent links are missing:

* http://docs.ros.org/indigo/api/velodyne_msgs/html/msg/VelodyneScan.html exists
* http://docs.ros.org/api/velodyne_msgs/html/msg

[2015-08-28 15:24] dirk-thomas commented on #137
http://docs.ros.org/api/ is a symlink to the latest ROS release which is currently http://docs.ros.org/jade/api/

There are new "folders" with a different semantic:
* http://docs.ros.org/latest/
* http://docs.ros.org/latest-available/
* http://docs.ros.org/latest-lts/
Maybe the macro should start using them? Probably the second one?

[2015-08-28 16:59] jack-oquin commented on #137
+1 Using latest-available makes sense to me, Dirk.

Neither bwi_msgs nor velodyne_msgs have been released yet to Jade. Is that why their docs.ros.org/api symlinks do not exist?

[2015-08-28 17:55] tfoote commented on #137
@jack-oquin it's just a symlink at the directory level `/api` -> `/jade/api` if there's nothing in `/jade/api` it won't be in `/api`

[2015-08-28 19:08] jack-oquin commented on #137
Yeah, that's what I figured.

[2015-09-05 15:45] jack-oquin commented on #137
Is this hard to fix? Would a pull request help?

I could see modifying [this statement](https://github.com/ros-infrastructure/roswiki/blob/master/macro/macroutils.py#L46) to this:
[code]
But, I don't know how to test it, and I don't know where else it's used.

[2015-09-06 18:11] dirk-thomas commented on #137
The proposed change would only show "something" for the wiki page of `velodyne_msgs` since it is currently not documented in the latest ROS release. And "something" means that the links / content might not match what is actually in the selected distro. That could be misleading.

E.g. for the `maggie_devices_msgs` page the change would not make a difference. In order to show the correct information

[2015-09-07 19:20] jack-oquin commented on #137
For most of this stuff showing "something" would be much better than "nothing", which is the current situation. In the case of ``velodyne_msgs``, nothing has changed in the last few years, so everything would be fine. The velodyne driver has not yet been released for Jade, but will be at some point.

While ``bwi_msgs`` do change fairly often, they are currently only supported on Indigo. Hydro supp

[2016-01-11 16:02] 130s opened #139 "Request to be added to ROS wiki whitelist"
If you would like access to edit the wiki please comment below with your ROS wiki username.

After you have been added you may want to unsubscribe from this ticket as there will be many updates. Use the button on the right sidebar to unsubscribe from future notifications.

---
UPDATE 6/7/2016; Title of the ticket originally was `ROS wiki is experiencing vast amount of spams`, for the record. I'm g

[2016-01-11 16:09] 130s commented on #139
As @tfoote mentioned [before](http://lists.ros.org/pipermail/ros-users/2015-April/069293.html), we can only manually revert/delete 1-by-1? Ok I'll start working on some..

[2016-01-11 16:30] 130s commented on #139
Spammers are viciously changing titles of pages, that may not be captured by looking at revision history?
E.g. Now http://wiki.ros.org/ROS/Tutorials is gone. And instead [this page](http://wiki.ros.org/%29%29%29%29%29%291%20800%20728%207356%2B%2B%2B%2BQuickbook%20pro%20tech%20support%20phone%20number%2C%2C%20quickbooks%20pro%20customer%20support%20service%20phone%20number) is there.

[2016-01-11 16:35] 130s commented on #139
I'm failing to revert the page name.
![roswiki_revert_fails](https://cloud.githubusercontent.com/assets/1840401/12239564/2b8c700e-b83e-11e5-9032-651205f97c7c.png)

[2016-01-11 16:37] 130s commented on #139
[Asked for volunteers](http://lists.ros.org/pipermail/ros-users/2016-January/069792.html).

[2016-01-11 16:42] gavanderhoorn commented on #139
Ouch. I see multiple pages per second.

@tfoote: is there some admin interface for deleting all contributions from certain users on the wiki?

[2016-01-11 16:44] dlaz commented on #139
It might make sense if an admin could make the wiki read-only for a little bit. There are pages that have been reverted and then re-spammed.

[2016-01-11 16:54] dirk-thomas commented on #139
I just changed the captcha to a random string. Which means all non-whitelisted users have to enter a string (which is unknown to anyone). Hopefully that will stop further edits.

If you want to help cleaning up the spam but your username is not on the list please post it here and I am happy to add it.

[2016-01-11 17:10] 130s commented on #139
Some newly created pages on recently-changed page seem not exist, but they still linger on the list.
E.g. [this page](http://wiki.ros.org/1800%2A298%2A2042%20QuickBooks%20Payroll%20Customer%20Support%20Phone%20Number%20CANADA). This makes harder to spot the pages that need to be deleted.

[2016-01-11 17:16] dirk-thomas commented on #139
I just wrote a script which moves pages with the substring "quickbooks" to a different location in the FS.

[2016-01-11 17:19] 130s commented on #139
@dirk-thomas that seems working great.

Now ROS/Tutorials page is renamed as I mentioned https://github.com/ros-infrastructure/roswiki/issues/139#issuecomment-170606737 (and now I don't see pulldown menu so I can't try renaming it back).

[2016-01-11 17:20] dirk-thomas commented on #139
I have to grep through the moved pages and find the few which had content before.

[2016-01-11 17:35] dirk-thomas commented on #139
http://wiki.ros.org/ROS/Tutorials seems to be the only renamed page. I restored it. As far as I can see it should be clean again now. If you still see any spam content please comment here and feel free to clean it up.

Thanks for all your help!

We still have to set a viable captcha again... @tfoote Any idea?

[2016-01-11 17:41] dirk-thomas commented on #139
Just for the record: I ran this script to move spam pages to a different location:

[code]

And then searched through these to find pages with real content:

[code]

[2016-01-11 17:57] awesomebytes commented on #139
Good to see it's fixed!

Also just for the record I made a selenium script that giving it a list of links or articles (well, writting them inside of the script, sorry) to delete it will access the delete page and click on delete (adding a comment "spam").

https://gist.github.com/awesomebytes/7dcc241eecc322bb7dcd

Maybe it can inspire some other tool in the future.

[2016-01-11 18:24] tfoote commented on #139
It seems like we're up against a real person since they were able to break 3 updated textchas in a row quickly.

We probably need to switch to use an external authentication source. The wiki does not have good user controls that can function at our scale.

[2016-01-12 01:24] moriarty commented on #139
Hi @tfoote, my username on the wiki.ros.org is the same as my github username.
Thanks for responding so quickly.

[2016-01-12 01:43] tfoote commented on #139
@moriarty you should be able to edit now.

[2016-01-12 13:29] allenh1 commented on #139
Looks like I'm a little late to the party, but let me know if there's anything I can do.

[2016-01-12 13:31] allenh1 commented on #139
My user is Hunter.Allen

[2016-01-12 14:04] moriarty commented on #139
A quick Google search shows that a large number of other wikis are experiencing the same troubles.

Within the past few minutes the same type of pages are showing up on the @jenkinsci wiki https://wiki.jenkins-ci.org/pages/listpages-dirview.action?key=JENKINS . They're coming from a username which was spamming GitHub issues a few months ago and has since been shut down.

Is there any more data/inf

[2016-01-12 16:05] moriarty commented on #139
@tfoote, I just tried again to update the page, I didn't realise think that MoinMoin would be CaseSensitive. My username is actually Moriarty - sorry.

As for your comment on the external auth source, I'm not familiar with MoinMoin but I took a look into the options available for it. In the mean time it may be worth adding "quickbook" to the BadContent page, and perhaps "1800". https://moinmo.in/H

[2016-01-12 16:33] allenh1 commented on #139
Could we just spam filter anything containing "Quickbook pro tech support phone number"? Looking at the Jenkins wiki link above and the posts in our wiki, that seems to be the intersection between all the posts, since the phone numbers and names are inconsistent.

[2016-01-13 03:24] tfoote commented on #139
@allenh1 I've added you. If you can propose some additions to the BadContent regexs that would match we could add them to the site. Though reviewing the titles they're really good at misspelling things or adding extra punctuation such as "s.u.p.p.o.r.t" And I do see some non-quickbooks things too.

The current regex is at http://wiki.ros.org/BadContent

[2016-01-13 07:21] trainman419 opened #140 "keyserver is "down" a lot"
I've seen a fair number of questions on ROS answers recently about what to do when the keyserver is down. The most recent is http://answers.ros.org/question/223996/how-to-install-ros-indigo-in-ubuntu-14043-lts-desktop-64-bit/

In addition, it looks like HKP is currently down or not turned on on more than half of the keyservers in the sks-keyservers pool: https://sks-keyservers.net/status/ .

I'm n

[2016-01-13 08:03] gavanderhoorn commented on #139
Could I be added as well? wiki username: GvdHoorn. Thanks.

[2016-01-13 08:19] gavanderhoorn commented on #140
I've been handling quite some questions about this as well. A quick [google](https://www.google.nl/search?q=%22pool.sks-keyservers.net:+Host+not+found%22) shows we're not alone.

Note that in some cases similar issues can be caused by overzealous firewalls interfering with `hkp`. In those cases running `sudo apt-key adv --keyserver p80.pool.sks-keyservers.net:80 --recv-keys ...` can help.

This ob

[2016-01-13 08:46] wjwwood commented on #140
Perhaps @jspricke can comment, he originally suggested we switch to a key server. I believe the idea was that it was more stable than GitHub which may or may not be true, but I'm open to do what ever if someone has a better suggestion. See:

http://wiki.ros.org/action/diff/jade/Installation/Sources?action=diff&rev1=2&rev2=3

[2016-01-13 08:53] tfoote commented on #139
@gavanderhoorn added

[2016-01-13 09:02] tfoote commented on #140
Using the keyservers is considered the most secure. There's a good overview of best practices on the docker official images guide: https://github.com/docker-library/official-images

Note I see them recommending a slightly different url with "high availability" which we should probably switch to use the `ha.pool.sks-keyservers.net`

[2016-01-13 09:05] trainman419 commented on #140
I like the thought of switching to the "high-availability" pool.

Can we track the status of the keyserver on status.ros.org , so that we can collect better data on how well it's (probably) working for new users?

[2016-01-13 09:24] gavanderhoorn commented on #140
@tfoote wrote:

According to [this](https://github.com/docker/docker/issues/13555#issuecomment-126315460) comment by @krifisk, the `ha` pool is nothing special 'at the moment' (2015-07-30):

Not sure we want to recommend that to our users then?

[2016-01-13 11:52] akifh commented on #139
Is there anything that I can do? My username is AkifHacinecipoglu

[2016-01-13 13:32] croesmann commented on #139
After trying to submit all changes to my package wiki entry, I recognized the whitelist thing ;-)
Could you please add me to the list? Username: ChristophRoesmann
Thank you very much!

[2016-01-13 13:45] krifisk commented on #140
the HA pool is now restricted to servers with load balanced / clustered setups as indicated above, so it currently differ from the normal pool again.

On a side note, aside from firewall issues for hkp / port 11371, another common problem are users with invalid IPv6 setups resulting in timeout. This can be countered by using ipv4 specific subpool at ipv4.pool.sks-keyservers.net

K_F

[2016-01-13 20:13] allenh1 commented on #139
@tfoote What about a `[.,_]?` ? That would check for commas, underscores and periods. We put that between all letters of the word. That would at least lessen the amount of spam...

[2016-01-13 20:24] tfoote commented on #139
@akifh @croesmann added

@allenh1 yes, the trick is to write the regex to not have too many false positives or negatives. If you can propose some full regexs we can review them.

[2016-01-14 01:46] tfoote commented on #139
Thanks for help cleaning up the spam. We have turned on recaptcha for the site. It should be back and operational now.

The diff is here: https://gist.github.com/tfoote/675b98df53369e199dea based on https://codereview.appspot.com/70400043 It is using https://pypi.python.org/pypi/recaptcha-client/1.0.6

If you see any issues please comment back here.

[2016-01-15 19:29] tfoote commented on #139
The spammers are back and are beating the recaptcha apparently?

[2016-01-15 19:58] monusharma commented on #139
My user is Monu Sharma

[2016-01-15 21:38] tfoote commented on #139
@monusharma I don't find a user 'Monu Sharma' what's your username on the wiki?

[2016-01-16 10:15] akifh commented on #139
@tfoote it seems like so, though it does not make sense. Maybe we are facing with real spammers in person. We may try to blacklist words like "quickbooks", phone number syntax etc. for a period. Or put them on moderator approval if MoinMoin has such feature.

[2016-01-18 18:07] kmhallen commented on #139
Requesting access. My wiki username is KevinHallenbeck.

[2016-01-18 18:31] tfoote commented on #139
Added KevinHallenbeck.

@akifh we've added some blacklisting

[2016-01-20 09:02] jvgomez commented on #139
I would like to be able to edit the wiki as well, my user is JavierVGomez thanks!

[2016-01-20 16:55] akgoins commented on #139
Request to edit the wiki.  User name is AlexGoins.

[2016-01-20 17:30] srikanthmalla commented on #139
Request to edit the wiki. User name is mallasrikanth

[2016-01-20 20:58] tfoote commented on #139
@jvgomez @akgoins @srikanthmalla You should have access now.

[2016-01-22 02:08] 130s opened #145 ""Code API" link goes to Apache's index page"
e.g. for robot_state_publisher [jade](http://docs.ros.org/jade/api/robot_state_publisher) or [indigo](http://docs.ros.org/indigo/api/robot_state_publisher/), I now see a bland index page.

![roswiki_codeapi_apacheindex](https://cloud.githubusercontent.com/assets/1840401/12500615/a5721c74-c069-11e5-9238-b96e35b09cec.png)

Under `html` I believe I see what we expect.

Is this part of recent work and

[2016-01-22 02:49] dirk-thomas commented on #145
The "Code API" link should point to the `html` subfolder directly (it did before). That is certainly due to the new build farm and it needs fixing. I will look into it.

[2016-01-22 03:19] #145 closed

[2016-01-22 03:20] dirk-thomas commented on #145
The `robot_state_publisher` page for Jade has been fixed. All other pages will be fixed when the doc jobs have been run another round.

[2016-01-22 15:33] tn0432 commented on #139
Hi! I am trying to upload my ROS package, ardrone2islab. I am at the step of creating wiki page on ROS.org. I can not open a new account because I do not what to fill in TextCha box. Please let me know what should I do next! Thanks

[2016-01-22 16:35] Suhine commented on #139
Request to edit the wiki. User name is Sunhine

[2016-01-22 18:11] tfoote commented on #139
@Suhine Added
@tn0432 I'm sorry at the moment I don't have a good workaround for you for creating a new user. We're trying to find a better user management solution.

[2016-01-22 20:43] 130s opened #146 "Contents lost from mirror sites?"
When I open the top page from the most of [mirror pages](http://wiki.ros.org/Mirrors), it shows something like this:

![mirror_tork_toppage_strange](https://cloud.githubusercontent.com/assets/1840401/12522412/61337e1c-c105-11e5-8c0f-5aee02d76f17.png)

Logged on to our mirror server and found that the most of wiki contents seem to be gone (the total amount shouldn't be as little as 13M I believe).

[2016-01-22 20:44] 130s commented on #146
Sorry, I had to modify the title to more appropriate one.

[2016-01-22 20:55] 130s opened #147 "changelog old?"
E.g.

for people package,
- [repositories.ros.org shows 1.0.10 is synched](http://repositories.ros.org/status_page/ros_jade_default.html?q=people)
- [changelogs is 1.0.9](http://docs.ros.org/jade/changelogs/people/changelog.html).
 (It's latest version was [listed to rosdistro 18 days ago](https://github.com/ros/rosdistro/pull/10192)).

rtmros_hironx
- [repositories.ros.org shows 1.1.3 is synched]

[2016-01-22 22:55] tn0432 commented on #139
@tfoote Hello! So do you know when I am able to make my ROS wiki? Thx

[2016-01-23 01:08] dirk-thomas commented on #147
First of all the released Debian packages and the changelog are independently generated. But I checked that the doc job for Jade `people` ran correctly. The changelog file has simply not been updated in the upstream repo: https://github.com/wg-perception/people/blob/indigo-devel/people/CHANGELOG.rst

For `rtmros_hironx` that is a different story. Upstream contains a newer version: https://github.c

[2016-01-23 01:08] #147 closed

[2016-01-23 01:47] 130s commented on #147
Thanks Dirk, I was a little too careless for this.

[2016-01-23 18:12] adamantivm commented on #139
Request to edit the wiki please, username jcerruti

[2016-01-23 18:43] matlabbe commented on #139
Request to edit the wiki. User name is MathieuLabbe

[2016-01-24 00:19] tfoote commented on #139
@adamantivm @matlabbe added.

[2016-01-28 21:19] rethink-imcmahon commented on #139
@tfoote Heya Tully, could I get access to create wiki pages? IanMcMahon is my username :) Thanks!

[2016-01-28 21:23] tfoote commented on #139
@rethink-imcmahon added

[2016-01-28 23:01] bmagyar commented on #139
I'd like to edit the wiki. Could you please add me too?
My user is BenceMagyar.

[2016-01-28 23:42] tfoote commented on #139
@bmagyar added

[2016-01-30 03:09] joshvillbrandt commented on #139
I am also trying to create a new user account right now. :( Please notify when fixed!

[2016-02-01 14:26] PaulBouchier commented on #139
Requesting user PaulBouchier to be given write access to the wiki. Man I hate destructive people.

[2016-02-01 14:30] awesomebytes commented on #139
Please add user SamPfeiffer.

[2016-02-01 16:03] bshaffer82 commented on #139
Please add user stanleyinnovation

[2016-02-01 18:00] tfoote commented on #139
@bshaffer82 @PaulBouchier @awesomebytes added

[2016-02-02 03:22] tfoote commented on #139
Today we have reenabled the textcha. It is required for account creation. However to edit a page you are required to be whitelisted. To become whitelisted please comment on this issue with your wiki UserName and we will monitor it and add you. I'm going to close this for now but we will still get notifications of new user requests.

[2016-02-02 04:10] joshvillbrandt commented on #139
Please add user `JoshVillbrandt`. Thank you!

[2016-02-02 04:25] gerkey commented on #139
Please add BrianGerkey

[2016-02-02 05:03] tfoote commented on #139
@gerkey @joshvillbrandt added

[2016-02-02 05:08] tonybaltovski commented on #139
Plese add username TonyBaltovski

[2016-02-02 05:09] gerkey commented on #139
Works great, thanks!

[2016-02-02 05:30] tfoote commented on #139
@tonybaltovski added

[2016-02-02 07:12] jordi-pages commented on #139
Please add 'Jordi Pages'

[2016-02-02 08:04] tfoote commented on #139
@jordi-pages added

[2016-02-02 08:44] ahcorde commented on #139
Please add 'Alejandro Hernández', Thanks!

[2016-02-02 08:46] goeker commented on #139
Please add GokerErtunc

[2016-02-02 08:50] vmayoral commented on #139
Please add "VictorMayoral". Thanks

[2016-02-02 08:54] orhangazi44 commented on #139
Please add, I'm 'Orhan Gazi Hafif'.
Thank You!

[2016-02-02 10:06] ipa-nhg commented on #139
Please add 'NadiaHammoudeh'
Thanks!

[2016-02-02 10:56] robotpilot commented on #139
Please add, My wiki username is '**Yoonseok Pyo**'.

[2016-02-02 12:36] tn0432 commented on #139
Hi! Please add 'TrungNguyen'
Thanks

[2016-02-02 13:46] AndyZelenak commented on #139
**AndyZelenak**, please

[2016-02-02 14:07] sonyccd commented on #139
BradBazemore please add for editing

[2016-02-02 14:38] spmaniato commented on #139
Spyros Maniatopoulos :+1:

[2016-02-02 14:46] archielee commented on #139
ArchieLee, thank you!

[2016-02-02 14:55] jamestaylor0903 commented on #139
Please add this user account. Thanks

[2016-02-02 15:30] TheDeepShark commented on #139
Ahmed Yahia TRAD add this account please

[2016-02-02 15:35] jhoare commented on #139
If you could, please add me. My wiki account is "John Hoare"

[2016-02-02 15:43] cliffwb commented on #139
BinWang, please add me ,thanks

[2016-02-02 15:52] ipa-rmb commented on #139
RichardBormann

[2016-02-02 16:05] cogniteam commented on #139
IgorMakhtes

[2016-02-02 16:23] makcakoca commented on #139
makcakoca

[2016-02-02 17:03] dringakn commented on #139
Peace

[2016-02-02 17:34] tfoote commented on #139
@ahcorde @makcakoca @cogniteam @ipa-rmb @cliffwb @jhoare @archielee @spmaniato @sonyccd @AndyZelenak @tn0432 @robotpilot @ipa-nhg @orhangazi44 @vmayoral @goeker  I've added your accounts.

@TheDeepShark @jamestaylor0903 @dringakn Please indicate your wiki usenames (different from your github usernames) if you'd like to be added.

[2016-02-02 18:04] paulbovbel commented on #139
PaulBovbel

[2016-02-02 18:16] iwanders commented on #139
IvorWanders

[2016-02-02 18:36] ipa-mdl commented on #139
MathiasLuedtke

[2016-02-02 19:34] tfoote commented on #139
@ipa-mdl @paulbovbel @iwanders added

[2016-02-02 20:52] marjinal1st commented on #139
Please add "AhmetSezginDuran"

[2016-02-02 23:13] tfoote commented on #139
@marjinal1st added

[2016-02-03 01:27] jordanjohnp commented on #139
JohnJordan

[2016-02-03 02:39] jvarley commented on #139
jakevarley

[2016-02-03 03:23] tfoote commented on #139
@jordanjohnp @jvarley added

[2016-02-03 04:28] jacobperron commented on #139
JacobPerron

[2016-02-03 05:12] tfoote commented on #139
@jacobperron added

[2016-02-03 06:45] dringakn commented on #139
dringakn

Kind Regards,

Ahmad Kamal Nasir, PhD
Assistant Professor of Electrical Engineering
LUMS School of Science & Engineering
Lahore, Pakistan
http://web.lums.edu.pk/~akn
Tel : +92 (42) 3560 8486
Fax:  + 92 (42) 572 2694

On Tue, Feb 2, 2016 at 10:34 PM, Tully Foote <notifications@github.com>
wrote:

[2016-02-03 06:50] tfoote commented on #139
@dringakn added

[2016-02-03 09:56] kosnark commented on #139
can you add KarelKosnar ? thanks

[2016-02-03 10:08] tfoote commented on #139
@kosnark added

[2016-02-03 10:45] Tones29 commented on #139
Hi, please add AndreasWachaja . Thanks!

[2016-02-03 15:31] pouryashahverdi commented on #139
Hi
Please add me!
@PouryaShahverdi

[2016-02-03 17:31] NikolasE commented on #139
NikolasEngelhard

[2016-02-03 17:32] destogl commented on #139
Please add DenisStogl

[2016-02-03 19:25] tfoote commented on #139
@Tones29 @pouryashahverdi @NikolasE @destogl added

[2016-02-03 20:32] yakirari commented on #139
Please add Ari Yakir

[2016-02-03 20:47] tfoote commented on #139
@yakirari added

[2016-02-03 21:48] GeorgHeppner commented on #139
Please add GeorgHeppner  thank you!

[2016-02-03 22:02] tfoote commented on #139
@GeorgHeppner added

[2016-02-04 01:06] GrigorBadalyan commented on #139
Request to edit the wiki. User name is GrigorBadalyan

[2016-02-04 04:28] tfoote commented on #139
@GrigorBadalyan added

[2016-02-04 09:36] matt3o commented on #139
Please add Matthias Hadlich. Thank you!

[2016-02-04 10:22] haxan7 commented on #139
Requesting rights to edit ros wiki. Username is `HassanNadeem`.

[2016-02-04 11:11] GertKanter commented on #139
Please add GertKanter

[2016-02-04 13:35] RodBelaFarin commented on #139
RodBelaFarin

[2016-02-04 14:11] cbogdon commented on #139
Please add ChrisBogdon to the white list.   Thanks!

[2016-02-04 17:23] kamiccolo commented on #139
Requesting for addition --- Kamiccolo.

[2016-02-04 18:26] aniskoubaa commented on #139
This me!

[2016-02-04 18:37] tfoote commented on #139
@kamiccolo @cbogdon @RodBelaFarin @GertKanter @haxan7 @matt3o added

@aniskoubaa What is your ROS wiki username?

[2016-02-04 22:48] vooon commented on #139
Requesting for adding: vooon

[2016-02-04 22:50] tfoote commented on #139
@vooon added

[2016-02-05 06:32] asmodehn commented on #139
Me me me : AlexV :) thanks

[2016-02-05 07:27] tfoote commented on #139
@asmodehn added

[2016-02-05 07:45] miquelmassot commented on #139
Request for adding: miquelmassot

[2016-02-05 08:10] tfoote commented on #139
@miquelmassot added

[2016-02-05 08:59] qboticslabs opened #149 "User name : qboticslabs"
Hi Guys

Commenting here for white listing **qboticslabs** for editing  the ROS wiki page as per the instruction from ROS website !!!

[2016-02-05 09:06] tfoote commented on #149
please comment on #139 with your wiki username to be added.

[2016-02-05 09:06] #149 closed

[2016-02-05 09:08] qboticslabs commented on #139
Requesting for adding : qboticslabs

Thanks !!!

[2016-02-05 09:10] tfoote commented on #139
@qboticslabs added

[2016-02-05 10:16] einig commented on #139
Request for adding: LasseEinig

Thank you

[2016-02-05 12:43] nlyubova commented on #139
Request for adding: NataliaLyubova

[2016-02-05 13:30] lucasw commented on #139
Add 'LucasWalter' to the whitelist please.

[2016-02-05 17:10] tfoote commented on #139
@lucasw @nlyubova @einig added

[2016-02-05 21:55] Kiloreux commented on #139
Request to add "kiloreux" to the whitelist please.
Thank you

[2016-02-05 21:58] adwilson10 commented on #139
Please add AndyWilson. Thanks

[2016-02-05 22:53] tfoote commented on #139
@adwilson10 @Kiloreux added

[2016-02-06 07:45] jspricke commented on #139
Please add JochenSprickerhof, thx.

[2016-02-06 09:01] poyoten commented on #139
Please add poyoten. Thanks

[2016-02-06 09:44] knorth55 commented on #139
Please add ShingoKitagawa, thanks

[2016-02-06 13:43] furushchev commented on #139
Hi, Please add Furushchev thanks in advance.

[2016-02-06 17:07] nerian-vision commented on #139
Please add Konstantin Schauwecker. Thank you

[2016-02-06 18:24] kk6axq commented on #139
Hello, Please add LukasSeveringhaus. Thanks!

[2016-02-06 21:20] tfoote commented on #139
@jspricke @knorth55 @furushchev @nerian-vision @kk6axq added

[2016-02-07 17:35] raulperula commented on #139
Hi, my username is: raul.perula

Thanks.

[2016-02-07 19:15] tfoote commented on #139
@raulperula added

[2016-02-07 20:12] KevinOchs commented on #139
Requesting permission to edit ROS wiki.
Username:  KevinOchs

[2016-02-07 20:47] tfoote commented on #139
@KevinOchs added

[2016-02-08 07:53] LeoSko commented on #139
LeonidSkorospelov

[2016-02-08 08:06] tfoote commented on #139
@LeoSko added

[2016-02-08 14:50] zrwang commented on #139
zrwang

[2016-02-08 17:50] tfoote commented on #139
@zrwang added

[2016-02-08 18:09] tfoote opened #153 "wiki dump script has an import error for yaml"
It continues but effects at least one page.

[code]

[2016-02-08 19:05] 130s commented on #146
Answered in [the ML](https://groups.google.com/a/osrfoundation.org/d/msgid/mirror-admins/CAM7qi7WmpyWHj6uB0X1B80HNUfTB4ggbnT2SKaAAsZdEoKQWKw%40mail.gmail.com?utm_medium=email&utm_source=footer). Also #153 might be related. Anyway this seems to be taken care of.

[2016-02-08 19:05] #146 closed

[2016-02-08 21:28] NikolausDemmel commented on #139
NikolausDemmel

[2016-02-08 22:54] tfoote commented on #139
@NikolausDemmel added

[2016-02-09 15:20] rgariepy commented on #139
RyanGariepy

[2016-02-09 17:52] tfoote commented on #139
@rgariepy added

[2016-02-09 22:50] wyngjf commented on #139
Jianfeng Gao

[2016-02-09 23:08] tfoote commented on #139
@wyngjf added

[2016-02-10 06:38] efernandez commented on #139
EnriqueFernandez

[2016-02-10 08:38] tfoote commented on #139
@efernandez added

[2016-02-10 09:56] nalt commented on #139
nalt

[2016-02-10 09:58] tfoote commented on #139
@nalt added

[2016-02-10 12:21] svepe commented on #139
svepe

[2016-02-10 14:30] maxbader commented on #139
Markus Bader

[2016-02-10 16:02] TheDash commented on #139
DevonAsh

[2016-02-10 16:25] sabrina-heerklotz commented on #139
Please add SabrinaHeerklotz - thanks

[2016-02-10 16:48] hrnr commented on #139
My username is: 'hrnr'

[2016-02-10 16:56] garyservin commented on #139
GaryServin

[2016-02-10 17:14] andreasBihlmaier commented on #139
AndreasBihlmaier

[2016-02-10 17:27] tfoote commented on #139
@andreasBihlmaier @garyservin @hrnr @sabrina-heerklotz @TheDash @maxbader @svepe added

[2016-02-10 18:09] corot commented on #139
Jorge Santos

[2016-02-10 19:27] tfoote commented on #139
@corot added

[2016-02-11 08:34] skasperski commented on #139
SebastianKasperski

[2016-02-11 08:50] tfoote commented on #139
@skasperski added

[2016-02-11 18:56] gavanderhoorn opened #154 "Packages show 'released' badge on wiki even when not released"
See fi [wiki/fanuc](http://wiki.ros.org/fanuc): that has definitely not been released into Jade, but shows the `Released` badge anyway.

IIUC `macro/headers.py::get_badges(..)` adds the `Released` badge whenever the `release_jobs` key is non-empty ([here](https://github.com/ros-infrastructure/roswiki/blob/e03c652de39a19aa62d7cfe5005e07e2b2b3e502/macro/headers.py#L179-L180)). Somehow `release_jobs`

[2016-02-11 20:14] dirk-thomas commented on #154
Thank you for reporting this. It is a problem in the new build farm code.

The same kind of problem exists for the generated documentation of only released package which don't have devel jobs. Their manifest.yaml lists devel jobs even without the repo having a `source` entry (e.g. http://docs.ros.org/jade/api/cv_backports/manifest.yaml).

ros-infrastructure/ros_buildfarm#208 will address both issu

[2016-02-11 20:17] tfoote commented on #153
This might be the cause of the reported errors from VC on the mailing list:
``
In case somebody hasn't already flagged it, just to let you know that the wiki mirroring still seems to have a glitch (see this page, for e.g. http://mirror-ap.wiki.ros.org/common_msgs.html); some pages are fine (for e.g. http://mirror-ap.wiki.ros.org/3d_navigation.html). HTH.
[code]

[2016-02-11 20:26] gavanderhoorn commented on #154
Great. Thanks for fixing.

[2016-02-11 20:30] #154 closed

[2016-02-12 23:59] robertsatya commented on #139
robertsatya : my username on both ROS Wiki and github.

[2016-02-13 00:15] ShawnSchaerer commented on #139
'Shawn Schaerer' is my username

[2016-02-13 00:27] tfoote commented on #139
@robertsatya @ShawnSchaerer added

[2016-02-13 22:49] mikeferguson commented on #139
@tfoote please add MichaelFerguson

[2016-02-14 03:48] Blue-Crescent commented on #139
Please add 'Crescent'

[2016-02-15 02:32] tfoote commented on #139
@mikeferguson @Blue-Crescent added

[2016-02-15 07:19] lharikrishnan1993 commented on #139
Harikrishnan Lakshmanan

[2016-02-15 11:56] robotican commented on #139
yamgeva

[2016-02-15 13:38] galou commented on #139
Please Add GaelEcorchard. Thanks for the effort!

[2016-02-15 14:25] tom1231 commented on #139
Hi my user name is tomwiss1231 thanks

[2016-02-15 19:05] pschillinger commented on #139
PhilippSchillinger

[2016-02-16 04:38] tfoote commented on #139
@pschillinger @tom1231 @galou @robotican @lharikrishnan1993  added

[2016-02-16 12:13] skohlbr commented on #139
StefanKohlbrecher

[2016-02-16 17:41] tfoote commented on #139
@skohlbr added

[2016-02-16 20:35] kschmeckpeper commented on #139
Please add KarlSchmeckpeper

[2016-02-16 22:03] aaronhoy commented on #139
Please add "aaronhoy"

[2016-02-16 22:39] chataign commented on #139
please add "chataign"

[2016-02-16 23:47] tfoote commented on #139
@chataign @aaronhoy @kschmeckpeper added

[2016-02-17 08:13] anlif commented on #139
Please add AndreasFlåten

[2016-02-17 08:44] tfoote commented on #139
@anlif added

[2016-02-17 10:09] dhood commented on #139
DHood please

[2016-02-17 17:32] tfoote commented on #139
@dhood added

[2016-02-17 22:14] phvass commented on #139
Please add Paul Hvass

[2016-02-17 22:23] tfoote commented on #139
@phvass added

[2016-02-18 05:24] rgleichman commented on #139
RobbieGleichman

[2016-02-18 08:17] tfoote commented on #139
@rgleichman added

[2016-02-18 12:52] JimmyDaSilva commented on #139
JimmyDaSilva

[2016-02-18 18:06] tfoote commented on #139
@JimmyDaSilva added

[2016-02-19 08:03] durovsky commented on #139
FrantisekDurovsky

[2016-02-19 08:04] tfoote commented on #139
@durovsky added

[2016-02-19 10:49] ks07 commented on #139
GeorgeField

[2016-02-19 10:56] dornhege commented on #139
ChristianDornhege

[2016-02-19 12:59] mzillich commented on #139
MichaelZillich - Hi Christian :)

[2016-02-19 16:43] tfoote commented on #139
@mzillich @dornhege @ks07 added

[2016-02-19 16:44] tfoote commented on #139
Note for anyone who's asked to be added here and doesn't want to get emailed each time someone else asks I recommend that you unsubscribe from this issue using the button in the right side bar.

[2016-02-19 16:58] lorenzoriano commented on #139
please add lorenzo_riano

[2016-02-19 17:36] tfoote commented on #139
@lorenzoriano added

[2016-02-19 18:19] xaxxontech commented on #139
please add:
Colin Adamson
Thanks!

[2016-02-19 18:26] tfoote commented on #139
@xaxxontech added

[2016-02-19 20:55] dekent commented on #139
davidkent

[2016-02-19 21:21] tfoote commented on #139
@dekent added

[2016-02-20 08:10] bergercookie commented on #139
NikosKoukis

[2016-02-20 12:48] StanleyYake commented on #139
Request to edit the wiki. User name is wuyan.Thanks in advance!

[2016-02-20 20:39] tfoote commented on #139
@StanleyYake @bergercookie added

[2016-02-20 20:43] enginbaglayici commented on #139
Engin Bağlayıcı

[2016-02-20 20:45] enginbaglayici commented on #139
Engin Bağlayıcı

[2016-02-21 02:48] tfoote commented on #139
@enginbaglayici added

[2016-02-21 03:15] stokescomp commented on #139
Please add Michael Stokes

[2016-02-21 07:09] tfoote commented on #139
@stokescomp added

[2016-02-21 08:44] fatmac78 commented on #139
DonalMcErlean

[2016-02-21 17:29] tfoote commented on #139
@fatmac78 added

[2016-02-21 21:31] davidbsp commented on #139
DavidPortugal

[2016-02-22 04:11] tfoote commented on #139
@davidbsp added

[2016-02-22 08:49] LMNcnu commented on #139
MengNanLi

[2016-02-22 08:52] tfoote commented on #139
@LMNcnu added

[2016-02-22 23:27] ricardoej commented on #139
RicardoJulio

[2016-02-23 00:05] tfoote commented on #139
@ricardoej added

[2016-02-23 04:34] thetay1 commented on #139
thetay

[2016-02-23 13:25] ipa-mirb commented on #139
MirkoBordignon from Fraunhofer IPA / ROS-Industrial Consortium Europe, thanks!

[2016-02-23 14:42] koenlek commented on #139
KoenLekkerkerker

[2016-02-23 17:17] cyborg-x1 commented on #139
cyborg-x1

[2016-02-23 17:46] jrgnicho commented on #139
jrgnicho

[2016-02-23 17:50] tfoote commented on #139
@thetay1 @ipa-mirb @koenlek @cyborg-x1 added

[2016-02-23 17:51] tfoote commented on #139
@jrgnicho added

[2016-02-23 18:11] jacquelinekay commented on #139
jkay

[2016-02-23 18:14] reed-adept commented on #139
Requesting to add permission to edit --  user ReedHedges

Thanks

[2016-02-23 19:58] tfoote commented on #139
@jacquelinekay @reed-adept added

[2016-02-24 00:50] jizhang-cmu commented on #139
jizhang-cmu

[2016-02-24 00:59] tfoote commented on #139
@jizhang-cmu added

[2016-02-24 07:26] trainman419 commented on #140
This continues to be a problem for new users: http://answers.ros.org/question/227228/cant-set-up-keys-server-times-out/

[2016-02-24 07:28] trainman419 commented on #140
I have confirmed that the ha pool appears to have our key (or at least, the one server that I hit has it). I am going to switch the wiki pages to reference the high-availability pool.

[2016-02-24 07:39] tfoote commented on #140
Sounds good.

[2016-02-24 07:41] trainman419 commented on #140
I dug a little more, and was able to retrieve our key from all seven servers that show up with an IPv4 address in the round-robin DNS for the ha pool:

[code]

I'm going to update the tutorials to use the ha pool.

[2016-02-24 07:54] trainman419 commented on #140
I have updated the keyserver link on the following pages to use the HA pool:

- http://wiki.ros.org/jade/Installation/Ubuntu
- http://wiki.ros.org/jade/Installation/UbuntuARM
- http://wiki.ros.org/jade/Installation/Sources
- http://wiki.ros.org/indigo/Installation/Ubuntu
- http://wiki.ros.org/indigo/Installation/UbuntuARM
- http://wiki.ros.org/indigo/Installation/Sources
- http://wiki.ros.org/Debi

[2016-02-24 08:23] wjwwood commented on #140
Thanks @trainman419! Can this be closed now?

[2016-02-24 08:29] trainman419 commented on #140
I don't think we can mark this as resolved until we see a lack of problems reported on answers.ros.org for some period of time, or until someone implements monitoring on the keyserver uptime.

We've only seen a few issues over the past 1.5 months, so I propose that we leave this open for another 2 months, and close it if we haven't seen this resurface within that time frame.

[2016-02-24 08:41] ipa-rmb-fj commented on #139
Requesting to add permissions to edit for Florian Jordan

Thank you

[2016-02-24 09:10] tfoote commented on #139
@ipa-rmb-fj added

[2016-02-24 14:48] Kukanani commented on #139
Requesting permission for user AdamAllevato (me).

[2016-02-24 17:08] lanyusea commented on #139
lanyusea

[2016-02-24 17:32] mwswartwout commented on #139
MatthewSwartwout

[2016-02-24 20:04] dbking77 commented on #139
Please add dbking77

[2016-02-24 21:22] tfoote commented on #139
@dbking77 @mwswartwout @lanyusea @Kukanani  added

[2016-02-24 22:03] jizhang-cmu commented on #139
Thanks!

[2016-02-24 23:59] mvollrath commented on #139
Please whitelist MattVollrath

[2016-02-25 00:52] moriarty commented on #139
@jizhang-cmu I think you are referring to the automatic notification emails from GitHub.

You must click the unsubscribe button on this page to manage the notifications.

[2016-02-25 01:00] jrlandau commented on #139
jrlandau

[2016-02-25 01:29] tfoote commented on #139
@jrlandau @mvollrath added

[2016-02-25 12:19] procopiostein commented on #139
ProcopioStein

[2016-02-25 17:56] tfoote commented on #139
@procopiostein added

[2016-02-25 21:31] zacwitte commented on #139
zacwitte

[2016-02-25 22:05] tfoote commented on #139
@zacwitte added

[2016-02-25 22:33] jstnhuang commented on #139
JustinHuang

[2016-02-25 22:39] tfoote commented on #139
@jstnhuang added with space

[2016-02-26 05:56] giphub commented on #139
My wiki username is PengLiu ,please add to whitelist,thanks

[2016-02-26 07:30] tfoote commented on #139
@giphub added

[2016-02-26 19:16] xernig commented on #139
Wiki username is xernig -- please add to whitelist, thank you!

[2016-02-27 01:26] tfoote commented on #139
@xernig added

[2016-02-27 05:31] qqfly commented on #139
Wiki username is QiangQiu-- please add to whitelist, thank you!

[2016-02-27 18:07] martonmiklos commented on #139
Wiki username is martonmiklos -- please add to whitelist, thank you!

[2016-02-27 20:35] ruffsl commented on #139
Wiki username is ruffsl -- please add to whitelist, thank you!

[2016-02-27 20:55] joselusl commented on #139
Wiki username is JoseLuisSanchezLopez -- please add to whitelist, thank you!

[2016-02-29 02:35] flluo commented on #139
flluo

[2016-02-29 18:20] tfoote commented on #139
@qqfly @martonmiklos @ruffsl @joselusl @flluo added

[2016-03-01 00:40] reaganlo commented on #139
Please add Reagan Lopez to the wiki whitelist. Thank you.

[2016-03-01 00:54] tfoote commented on #139
@reaganlo added

[2016-03-01 02:00] wences-mx commented on #139
Hi, please add me to the whitelist. Username: WenceslaoGranados

[2016-03-01 02:01] tfoote commented on #139
@wences-mx added

[2016-03-01 02:12] miccol opened #155 "I would like to add my ros package to the wiki"
my username is MicheleColledanchise

best

Michele

[2016-03-01 02:18] tfoote commented on #155
added

[2016-03-01 02:18] #155 closed

[2016-03-01 10:40] airglow commented on #139
My wiki username is: Raphael Memmesheimer

[2016-03-01 23:03] tfoote commented on #139
@airglow added

[2016-03-02 06:09] 299299 commented on #139
My wiki user name is Golden.Li, thanks!

[2016-03-02 08:12] tfoote commented on #139
@299299 added

[2016-03-02 16:19] uguryayan commented on #139
Please add user uguryayan.

[2016-03-02 16:55] JenniferBuehler commented on #139
Please add me, JenniferBuehler

[2016-03-02 16:57] tfoote commented on #139
@JenniferBuehler @uguryayan added

[2016-03-02 22:08] rctoris commented on #139
Please add `Russell Toris` -- thanks!

[2016-03-02 22:22] tfoote commented on #139
@rctoris added

[2016-03-03 08:31] OTL commented on #139
Could you add "Takashi Ogura" ?

[2016-03-03 08:34] tfoote commented on #139
@OTL  added

[2016-03-03 08:59] ykknkgw opened #157 "pls add our robots in ROS wiki robots page"
Hi all,
I'm Yuki Nakagawa, RT Corporation,Japan.
We'd like to add our robots force control robot arm "NEKONOTE" and Raspberry Pi Mouse (small wheel robot) to ROS wiki.
Pls add whitelist.

all the best,
Yuki Nakagawa
RT Corp.

[2016-03-03 09:58] DaikiMaekawa commented on #139
@tfoote I'm in too!

[2016-03-03 13:20] ayrton04 commented on #139
My wiki username is TomMoore. May I please be added? Thanks!

[2016-03-03 16:02] chukcha2 commented on #139
chukcha2

[2016-03-03 16:09] yoneken commented on #139
Add me "KentaYonekura"! Thanks!

[2016-03-03 16:19] pomerlef commented on #139
FrancoisPomerleau

[2016-03-03 17:50] tfoote commented on #157
Please comment in #139 with your ROS wiki username to be added to the whitelist. Then you will be able to add your robot information yourself.

[2016-03-03 17:50] #157 closed

[2016-03-03 18:34] tfoote commented on #139
@DaikiMaekawa @ayrton04 @chukcha2 @yoneken @pomerlef added

[2016-03-04 05:27] jkerfs commented on #139
JeremyKerfs

[2016-03-04 08:27] tfoote commented on #139
@jkerfs added

Reminder if you're getting a lot of these notifications and don't want to. Visit this issue and click the unsubscribe button on the right sidebar.

[2016-03-04 08:36] sonictl commented on #139
sonictl

[2016-03-04 08:37] sonictl commented on #139
in this page: http://wiki.ros.org/rostopic#rostopic_pub
change:
      `$ rostopic pub /topic_name std_msgs/String hello`
into:
      `$ rostopic pub /topic_name std_msgs/String "'hello'"`

[2016-03-04 08:47] tfoote commented on #139
@sonictl added,  Note that the extra quotes you suggest are not necessary.

[2016-03-04 22:38] sloretz commented on #139
Please whitelist my wiki account
Username: ShaneLoretz

What's the etiquette for editing wiki pages? Should I contact the package maintainer before making an edit?

I'd like to add a note to the costmap_2d VoxelLayerPlugin section that the maximum value of the z_voxels parameter is 16. I spent some time debugging issues after setting a larger value :-(

[2016-03-04 22:44] tfoote commented on #139
@sloretz added

If you're confident that the change is accurate go ahead and make the change. If you'd like a review you can send a link to the diff to the maintainer.

If you're not sure, the best approach is probably to as a question on answers.ros.org and if you get confirmation there edit the wiki page.

[2016-03-05 02:30] evenator commented on #139
EdVenator

[2016-03-05 02:40] tfoote commented on #139
@evenator added

[2016-03-07 07:07] MahmoudElShazly commented on #139
mahmoudelshazly

[2016-03-07 07:45] tfoote commented on #139
@MahmoudElShazly added

[2016-03-07 21:46] pbeeson commented on #139
PatrickBeeson

[2016-03-07 22:52] tfoote commented on #139
@pbeeson added

[2016-03-08 00:05] tfoote commented on #139
@codebot added

[2016-03-08 12:52] gaya- commented on #139
GayaneKazhoyan
Thanks!

[2016-03-08 16:25] miguel-faria commented on #139
miguel.faria

[2016-03-08 21:26] tfoote commented on #139
@gaya- @miguel-faria added

[2016-03-08 23:51] apojomovsky commented on #139
hi @tfoote, please add me: apojomovsky

[2016-03-08 23:59] tfoote commented on #139
@apojomovsky added

[2016-03-09 13:32] wkentaro commented on #139
Please add me:
KentaroWada

[2016-03-09 16:51] tfoote commented on #139
@wkentaro added

[2016-03-10 19:59] ak2166 commented on #139
Hey @tfoote please add:

AnthonyKolodzinski

[2016-03-11 03:36] fsuarez6 commented on #139
Please add me:
FranciscoSuarez

[2016-03-11 05:05] tfoote commented on #139
@fsuarez6 added

[2016-03-11 05:41] eric-wieser commented on #139
Hey, please add `Eric`

[2016-03-11 08:03] tfoote commented on #139
@eric-wieser added

[2016-03-11 13:28] heuristicus commented on #139
Hi, please add `MichalStaniaszek`

[2016-03-11 16:40] chainjakie commented on #139
add me as a user name chainjakie. Thank you

[2016-03-11 16:40] chainjakie commented on #139
Please whitelist my wiki account
username= chainjakie

[2016-03-11 18:23] tfoote commented on #139
@heuristicus @chainjakie added

[2016-03-11 19:27] anqixu commented on #139
Please add AnqiXu

[2016-03-11 19:51] tfoote commented on #139
@anqixu added

[2016-03-12 07:28] Moyago opened #158 "ROS wiki"
It is very useful to interact with robots.

[2016-03-12 10:24] behrooz-tahanzadeh commented on #139
Hi! Please add me...
```BehroozTahanzaden```

[2016-03-12 10:26] behrooz-tahanzadeh commented on #139
please add me!
**BehroozTahanzadeh**

[2016-03-12 19:15] tfoote commented on #139
@behrooz-tahanzadeh added

[2016-03-12 20:28] tfoote commented on #158
Thanks for the comment. However this is an issue tracker where we keep track of bugs and issues that need to be fixed. So I'm going to close this ticket. For more information on how to interact with the ROS community I suggest you read through http://wiki.ros.org/Support

[2016-03-12 20:28] #158 closed

[2016-03-13 00:55] Jmeyer1292 commented on #139
**JonathanMeyer** please.

[2016-03-13 02:04] tfoote commented on #139
@Jmeyer1292 added

[2016-03-14 01:25] DinnerHowe commented on #139
hi, my user name is 'DinnerHowe', please add me as well

[2016-03-14 02:01] minimaya commented on #139
Please add my usename: yanmin! Thanks!

[2016-03-14 02:16] jonbinney commented on #139
Please add jbinney, thanks!

[2016-03-14 02:23] wjwwood commented on #139
@jonbinney, @minimaya, @DinnerHowe I added your accounts (I think).

[2016-03-14 10:16] MarioSelvaggio commented on #139
please add me, my username is MarioSelvaggio, thanks!

[2016-03-14 19:07] tfoote commented on #139
@MarioSelvaggio added

[2016-03-15 22:46] phil333 commented on #139
please add me,username: PhilippeLudivig
thx

[2016-03-15 22:57] tfoote commented on #139
@phil333 added

[2016-03-16 10:55] rojas70 commented on #139
Please add me. My username is JuanRojas

[2016-03-16 15:08] SkyseRoma commented on #139
I'm not a robot :)
Please add me. My username is Roman Skyser

[2016-03-16 19:11] tfoote commented on #139
@rojas70 @SkyseRoma added

[2016-03-16 21:35] nbanyk commented on #139
Please add me! My username is RaffiZack

[2016-03-16 21:50] tfoote commented on #139
@nbanyk added

[2016-03-17 02:32] wsc2016 commented on #139
Hello.  May I be added, please.
Username: WalterC

[2016-03-17 17:23] tfoote commented on #139
@wsc2016 added

[2016-03-18 04:15] yuma-m commented on #139
Please add me. My username is YumaMihira.

[2016-03-18 10:13] gcorrente commented on #139
Hello,

please add me (GustavoCorrente)

[2016-03-18 17:58] tfoote commented on #139
@gcorrente @yuma-m added

[2016-03-19 02:13] sami1977 commented on #139
SamiHajjaj ... please add me .. thank you

[2016-03-19 19:35] ShikherVerma commented on #139
Please add me. Username : Shikher Verma

[2016-03-20 02:27] tfoote commented on #139
@sami1977 @ShikherVerma added

[2016-03-20 21:51] anya-a-irk commented on #139
Please add me: Anna Abdrakhimova

[2016-03-21 00:36] tfoote commented on #139
@anya-a-irk added

[2016-03-21 08:53] fatihinan commented on #139
fatihinan

[2016-03-21 08:55] tfoote commented on #139
@fatihinan added

[2016-03-22 01:42] geetesh commented on #139
please add me: geeteshdubey

[2016-03-22 03:30] tfoote commented on #139
@geetesh added

[2016-03-22 15:30] shibhansh commented on #139
Please add me. Username : Shibhansh Dohare

[2016-03-22 18:54] tfoote commented on #139
@shibhansh added

[2016-03-23 10:34] JanCCarstensen commented on #139
Please add me. Username :  JanCarstensen

[2016-03-23 12:45] RomanRobotnik commented on #139
Could you add me, please: RobotnikRoman

Thanks

[2016-03-23 18:41] tfoote commented on #139
@JanCCarstensen @RomanRobotnik added

[2016-03-23 19:43] JohanVanBauwel commented on #139
Hi, please add me: **JohanVanBauwel**
Thanks in advance!

[2016-03-23 19:52] tfoote commented on #139
@JohanVanBauwel added

[2016-03-23 21:39] fspindle commented on #139
Could you please add me: **FabienSpindler**

[2016-03-23 21:43] tfoote commented on #139
@fspindle added

[2016-03-24 02:12] FuzzAU commented on #139
Hello. Please add me: JustinYoung
Working through some tutorials and would love to suggest some fixes here and there

[2016-03-25 01:05] mikaelarguedas commented on #139
Hi, could you please add me to the whitelist ? username: Marguedas
Thanks!

[2016-03-25 01:18] tfoote commented on #139
@mikaelarguedas added

[2016-03-25 01:18] tfoote commented on #139
@FuzzAU added

[2016-03-25 06:41] Pou-Ian commented on #139
Hi, please add me, username: "pouianlei". Thanks!

[2016-03-25 18:01] tfoote commented on #139
@Pou-Ian added

[2016-03-25 18:02] Dulluhan commented on #139
Hello, my username is "Vincent Yuan"

[2016-03-25 18:41] tfoote commented on #139
@Dulluhan added

[2016-03-25 20:06] RomanKoshelev commented on #139
Here am I!

[2016-03-25 20:48] tfoote commented on #139
@RomanKoshelev what's your wiki username?

[2016-03-26 15:25] git233 commented on #139
Please add me,thanks. Username:miao

[2016-03-26 19:17] tfoote commented on #139
@git233 added​

[2016-03-28 06:41] QinZiwen opened #159 "How can we comment on roswiki?"
How can we  comment on roswiki?

[2016-03-28 06:43] QinZiwen commented on #139
love ROS! love open source

[2016-03-28 06:44] QinZiwen commented on #139
love ROS! love open source

[2016-03-28 08:37] moriarty commented on #159
Due to a lot of spam they've restricted editing to whitelisted user names.

See this issue #139

[2016-03-28 15:19] shugong commented on #139
Please add me,thanks. Username:edward_zhang

[2016-03-28 17:09] #159 closed

[2016-03-28 17:09] tfoote commented on #139
@shugong added

[2016-03-29 08:03] armando-montalvo commented on #139
Hi, could you add me to the list? User: ArmandoMontalvo Thanks in advance :+1:

[2016-03-29 08:29] tfoote commented on #139
@armando-montalvo added

[2016-03-29 09:16] QinZiwen commented on #139
add me , please

[2016-03-29 13:37] aaraujo11 commented on #139
Hi @tfoote , can you please add the wiki username INGENIARIUS to the whitelist. Thanks in advance!

[2016-03-29 14:55] ernestmc commented on #139
Could you please add me. My user is ErnestoCorbellini.

[2016-03-29 16:01] marceldebout commented on #139
Could you please add me as well. My user name is MarcelDebout. Thanks in advance!

[2016-03-29 18:50] tfoote commented on #139
@marceldebout @ernestmc @aaraujo11 added

@QinZiwen what's your wiki username?

[2016-03-29 21:46] mani-monaj commented on #139
Could you please add my username: `Mani M`?

[2016-03-29 22:15] tfoote commented on #139
@mani-monaj added

[2016-03-30 08:32] tgaspar commented on #139
Hi there. I would like to be added to the white list. ROS username is tgaspar.
I saw some minor inconsistencies on the wiki that I would like to suggest to edit.

Thank you.

[2016-03-30 08:35] tfoote commented on #139
@tgaspar added​

[2016-03-30 12:16] QinZiwen commented on #139
Ziwen Qin, thanks!

在 2016-03-30 02:50:15，"Tully Foote" <notifications@github.com> 写道：

@marceldebout@ernestmc@aaraujo11 added

@QinZiwen what's your wiki username?

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub

[2016-03-30 17:56] tfoote commented on #139
@QinZiwen added

[2016-03-31 02:52] ljxiang17 commented on #139
Could you please add me? My user name is ljxiang. Thanks.

[2016-03-31 03:39] tfoote commented on #139
@ljxiang17 added

[2016-03-31 20:26] baronep commented on #139
Can PatrickBarone get access to edit the wiki pages? Found some typos that I'd like to fix haha

[2016-03-31 20:48] tfoote commented on #139
@baronep added

[2016-04-01 10:54] JorgeArino commented on #139
Please, add JorgeArino. Thanks!

[2016-04-01 14:03] mstahl-iis commented on #139
Please add ManuelStahl. Thanks!

[2016-04-01 18:35] tfoote commented on #139
@JorgeArino @mstahl-iis added

[2016-04-01 20:48] misaugstad commented on #139
Please add MikeySaugstad, thank you!

[2016-04-02 20:14] rhaschke commented on #139
Please add rhaschke. Thanks.

[2016-04-02 20:18] tfoote commented on #139
@rhaschke added

[2016-04-03 19:42] atenpas commented on #139
Please add AndreasTenPas. Thank you, **tfoote**!

[2016-04-03 20:23] tfoote commented on #139
@atenpas added. you're welcome.

[2016-04-04 17:08] sloumotion commented on #139
Please add Christian Scheiderer! Thank you!

[2016-04-04 18:50] tfoote commented on #139
@sloumotion added

[2016-04-05 18:41] misaugstad commented on #139
Please add MikeySaugstad

[2016-04-07 09:19] SapphireT commented on #139
my ROS username: Sapphire佟
Thank you so much. I'm just a ROS beginner and want to modify some Chinese pages...
many thx!

[2016-04-07 09:32] tfoote commented on #139
@SapphireT added

[2016-04-07 13:50] keithicus commented on #139
Please add KeithSevcik

[2016-04-07 17:21] tfoote commented on #139
@keithicus added​

[2016-04-08 04:19] ishiguroJSK commented on #139
Hi, Nice to meet you.
Please add ishiguroJSK

[2016-04-08 04:51] tfoote commented on #139
@ishiguroJSK added

[2016-04-09 00:52] allenh1 commented on #139
Have we considered unblocking the wiki? It's been a while... I mean, I get why we should be concerned with spamming, but surely they have given up at this point. We should at least discuss the scenario.

[2016-04-09 01:10] wjwwood commented on #139
@allenh1 they've given up and come back multiple times. I have no doubt if we remove this whitelist requirement that they'll be back within a few weeks. Without some new form of deterrent to replace this, I don't think it's a good idea to remove it.

Isn't that what we're doing? I'm stumped as to what to do next, so bring up a suggestion and we can discuss it.

[2016-04-10 07:22] JeongsooLim opened #163 "Wiki User Name"
My Wiki user name is JeongsooLim

[2016-04-10 21:43] toddsampson commented on #139
I would like to be added to the whitelist.  My ros wiki username is ToddSampson.  Thanks.

[2016-04-11 01:25] adityamadhwa commented on #139
Please add me to the whitelist. my user id is Aditya

[2016-04-11 11:11] JeongsooLim commented on #139
I would like to be added to the whitelist. My username is JeongsooLim.

[2016-04-11 11:11] #163 closed

[2016-04-12 06:41] snozawa commented on #139
Hi, please add ShunichiNozawa, thanks in advance.

[2016-04-12 07:54] tfoote commented on #139
@snozawa @JeongsooLim @adityamadhwa @toddsampson added

[2016-04-12 07:55] locke87 commented on #139
Please add my FelixMauch user to the wiki. thx

[2016-04-12 07:57] adityamadhwa commented on #139
Thanks @tfoote !

[2016-04-12 08:16] YoheiKakiuchi commented on #139
Please add my user, YoheiKakiuchi
Thanks in advance.

[2016-04-12 11:07] meuchel commented on #139
'Patrick Feuser', to be added to the whitelist.

[2016-04-12 20:27] half-potato commented on #139
Please add AlexMai

[2016-04-12 22:49] tfoote commented on #139
@fmauch @YoheiKakiuchi @meuchel @half-potato added
@adityamadhwa you're welcome

[2016-04-12 23:36] msy22 commented on #139
Please add "MattYoung' to the whitelist. Thanks in advance.

[2016-04-12 23:50] tfoote commented on #139
@msy22 added

[2016-04-13 05:34] jennycao commented on #139
Request to edit the wiki. User name is "JennyCao", pls help to add to whitelist, Thanks

[2016-04-13 06:10] tfoote commented on #139
@jennycao added

[2016-04-13 13:49] angelmerino commented on #139
Please add user: "angelmerino" to the whitelist. Mantainer of bta_ros, argos3d_p100 and sentis_tof_m100. Thanks

[2016-04-13 14:46] JGMonroy commented on #139
Please add user "JavierGMonroy" to the whitelist. Thanks!

[2016-04-13 15:46] javatechs commented on #139
Please add user 'javatech' to the whitelist. Thanks.

[2016-04-13 17:28] tfoote commented on #139
@javatechs @JGMonroy @angelmerino added

[2016-04-13 19:16] lucbettaieb commented on #139
Hi Tully, would you please add me?  'LucBettaieb'

[2016-04-13 20:25] tfoote commented on #139
@lucbettaieb added

[2016-04-13 23:07] kuro9206 commented on #139
Please add user 'Juan Pablo' to the whitelist. Thanks

[2016-04-14 00:34] tfoote commented on #139
@kuro9206 added

[2016-04-14 09:59] nalepae commented on #139
Please add **Emmanuel NALEPA** to the whitelist. Thanks !

[2016-04-14 16:17] tfoote commented on #139
@nalepae added

Reminder: Anyone else if you are getting emails from this thread and don't want them, the unsubscribe button to the right side of the issue page will stop github from sending them to you for this issue.

[2016-04-14 18:12] NetBUG commented on #139
Hi @tfoote, my ROSWiki user name is same as here and I'd like to contribute a bit to iRobot Roomba and RPLidar parts, after couple weeks of tight work with them :)

[2016-04-14 19:54] tfoote commented on #139
@NetBUG added

[2016-04-14 23:31] becomesaflame commented on #139
Request to edit the wiki. User name is becomesaflame

[2016-04-14 23:44] becomesaflame opened #164 "manifest.xml file is still referenced in package documentation wiki pages"
Many pages dealing with documentation still call out manifest.xml instead of package.xml.  These include at least:

[rosdoc](http://wiki.ros.org/rosdoc)
[PackageDocumentation](http://wiki.ros.org/PackageDocumentation)
[Epydoc](http://wiki.ros.org/Epydoc)
[Doxygen](http://wiki.ros.org/Doxygen)

[2016-04-14 23:47] becomesaflame commented on #164
There also appear to be separate but identical pages for [catkin/package.xml](http://wiki.ros.org/catkin/package.xml) and [Manifest](http://wiki.ros.org/Manifest).  Should one of these redirect to the other?

[2016-04-15 00:01] wjwwood commented on #164
For any pages that mention `manifest.xml` instead of `package.xml`, feel free to update them if you think you can. Keeping the wiki update is a shared task. I had a look at the ones you linked:

This one is deprecated, as it says at the top:

This one is mentions the `package.xml` as well, with a TODO to document or link to it. Since you already found the `package.xml` pages, maybe you could add a

[2016-04-15 00:37] dirk-thomas commented on #164
The two catkin / Manifest pages are already reusing the same content. One of them is including the other one.

[2016-04-15 08:20] nesnes commented on #139
Can you add me please: AlexandreBrehmer
Thanks!

[2016-04-15 18:12] tfoote commented on #139
@becomesaflame @nesnes added

[2016-04-15 23:12] wjwwood commented on #164
Yup, I only checked one I think. So there's nothing that needs to be done there.

[2016-04-16 07:38] kintzhao commented on #139
Please add KintZhao to the whitelist. Thanks !

[2016-04-16 10:08] mtcairneyleeming commented on #139
Could you add MaxCairneyLeeming as well. Thank you

[2016-04-16 12:19] Myzhar commented on #139
Please add "Walter Lucetti". I'm going to update Jetson TK1 tweak for OpenCV

[2016-04-16 13:58] droter opened #165 "Add to Wiki"
Hi,

I would like to contribute to the wiki.  My username is droter.

Thanks,

Matt

[2016-04-17 00:32] rogererens commented on #139
Please add RogerErens.
I intend to update the page http://wiki.ros.org/Bags/Format which has a link to the deprecated rxbag package (superseded by rqt_bag).

[2016-04-17 10:09] ArnaudMarot commented on #139
Please add user 'ArnaudMarot' to the whitelist. Thanks

[2016-04-17 19:01] romainreignier commented on #139
Hi, please add "RomainReignier" user to the Wiki, I would like to help on this page:
http://wiki.ros.org/SBC
Thanks

[2016-04-17 19:27] tfoote commented on #139
@romainreignier @ArnaudMarot @rogererens @Myzhar @mtcairneyleeming @kintzhao added

[2016-04-17 19:36] tfoote commented on #139
@droter added from #165

[2016-04-17 19:37] tfoote commented on #165
@droter added

Others: Please don't open new ticket to be added and request access on #139

[2016-04-17 19:37] #165 closed

[2016-04-17 19:46] aeksiri commented on #139
Hi, please add me "AkkharaphongEKSIRI" to the Wiki.

[2016-04-17 19:49] tfoote commented on #139
@aeksiri added

[2016-04-18 10:10] adujardin commented on #139
Hi, could you add me please: 'AymericDujardin'. Thanks!

[2016-04-18 13:27] mdrwiega commented on #139
Please add user "MichalDrwiega". Thanks

[2016-04-18 16:10] tfoote commented on #139
@mdrwiega @adujardin added

[2016-04-19 08:59] fivef commented on #139
Please add "Steffen Pfiffner". Thanks!

[2016-04-19 09:12] peci1 commented on #139
Please, add "Martin Pecka", too :)

[2016-04-19 15:59] tngan commented on #139
Please add "tngan". Thanks! :)

[2016-04-19 22:09] bcfjohns commented on #139
Please add BenjaminJohnson to the white list. Thanks!

[2016-04-20 04:51] tfoote commented on #139
@bcfjohns @tngan @peci1 @fivef added

[2016-04-20 20:41] becomesaflame commented on #164
I updated references where they could clearly be replaced, and opened ros-infrastructure/rosdoc_lite#64 to request feedback on the examples that reference rosdoc config files or manifest.xml syntax.

[2016-04-20 20:41] #164 closed

[2016-04-20 20:43] wjwwood commented on #164
@becomesaflame thanks!

[2016-04-21 13:48] Augusto-Gomez-Eguiluz commented on #139
Hi,

I request to edit the wiki. My use name is 'Augusto Gómez Eguíluz'.

Cheers

[2016-04-21 20:38] tfoote commented on #139
@Augusto-Gomez-Eguiluz added

[2016-04-22 03:02] Sahloul commented on #139
You can know maintainers' git accounts using your database, or the _roslocate uri_ command, so why not to automate that? Also, many users here and there use the exact username, this could give extra automation clue...

Anyhow, please add the poor 'Sahloul'.

[2016-04-22 06:20] tfoote commented on #139
@Sahloul added

Unfortunately it's not trivial to add a custom identity database, and git maintainers IDs don't typically match wiki user names.

[2016-04-22 07:28] Myzhar commented on #139
@tfoote Please add "Walter Lucetti". I'm going to update Jetson TK1 tweak for OpenCV

[2016-04-22 07:43] tfoote commented on #139
@Myzhar I added you 5 days ago. https://github.com/ros-infrastructure/roswiki/issues/139#issuecomment-211091100 do you not have access?

[2016-04-22 08:08] imuguruza commented on #139
Hi there!

I would like to edit stuff related to Erle, my name is ' inigomuguruza'

Cheers!

[2016-04-22 08:31] Myzhar commented on #139
@tfoote sorry, I missed the feedback, everything's fine

[2016-04-22 09:35] kirstyellis commented on #139
Please can you add me, "Kirsty Ellis", thanks!

[2016-04-22 16:54] tfoote commented on #139
@kirstyellis @imuguruza added @Myzhar great

[2016-04-23 08:42] norbekaiser commented on #139
Hi
aehm wiki username is "NorbertRuehl"

Greetings norb

[2016-04-23 18:01] tfoote commented on #139
@norbekaiser added

[2016-04-24 03:56] c-herring commented on #139
Please add HerringChris to whitelist. Found some small error in raspberry pi installation instruction.

[2016-04-24 05:39] tfoote commented on #139
@c-herring added​

[2016-04-25 02:57] JiaShiwei commented on #139
yes  ,now I am giving a comment.   that is OK now!

[2016-04-25 05:20] tfoote commented on #139
@JiaShiwei Would you like to edit the ROS wiki? If so please post your wiki.ros.org username and it can be given access.

[2016-04-25 05:38] JiaShiwei commented on #139
jiashiwei

------------------ 原始邮件 ------------------
发件人: "Tully Foote";<notifications@github.com>;
发送时间: 2016年4月25日(星期一) 中午1:20
收件人: "ros-infrastructure/roswiki"<roswiki@noreply.github.com>;
抄送: "NATURE"<1101164110@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [ros-infrastructure/roswiki] ROS wiki is experiencing vast amountof spams (#139)

@JiaShiwei Would you like to edit the ROS wik

[2016-04-25 07:31] tfoote commented on #139
@JiaShiwei added
​

[2016-04-25 23:58] j-rivero commented on #139
the free beers are here?

[2016-04-26 00:29] gbiggs commented on #139
GeoffreyBiggs

[2016-04-26 01:12] tfoote commented on #139
@j-rivero @gbiggs added

[2016-04-26 08:58] felixduvallet commented on #139
Please add FelixDuvallet

[2016-04-26 13:58] zastrix commented on #139
Hello, please add:

DanielMiller

Thank you!

[2016-04-26 14:31] tfoote commented on #139
@felixduvallet @zastrix added

[2016-04-26 16:40] UrsusExplorans commented on #139
Hello,
please add: EckardRiedenklau
Thanks in advance!

[2016-04-26 19:46] tfoote commented on #139
@UrsusExplorans added

[2016-04-26 20:30] rbirac commented on #139
Please add  AlexBrown

[2016-04-26 20:39] defunctzombie commented on #139
RomanShtylman

[2016-04-27 00:44] tfoote commented on #139
@defunctzombie @rbirac added

[2016-04-28 00:54] scpeters commented on #139
StevePeters

[2016-04-28 01:11] JiaShiwei commented on #139
JiaShiwei

------------------ 原始邮件 ------------------
发件人: "Tully Foote";<notifications@github.com>;
发送时间: 2016年4月27日(星期三) 上午8:44
收件人: "ros-infrastructure/roswiki"<roswiki@noreply.github.com>;
抄送: "NATURE"<1101164110@qq.com>; "Mention"<mention@noreply.github.com>;
主题: Re: [ros-infrastructure/roswiki] ROS wiki is experiencing vast amountof spams (#139)

@defunctzombie @rbirac added

—
You are recei

[2016-04-28 09:17] orhangazi44 commented on #139
Hi, I have a question.

When will this application be complete? The Wiki Website has a lot of outdated and some wrong information.

[2016-04-28 15:07] ivanscm commented on #139
IvanSCM

[2016-04-28 16:33] tfoote commented on #139
@ivanscm @JiaShiwei @scpeters added
@orhangazi44 please ask questions on http://answers.ros.org

[2016-04-29 14:46] orhangazi44 commented on #139
Hi again,

I think accidentally my old (white-spaced one: `Orhan Gazi Hafif`) username had been added to User Group. I was commented here with non spaced one: `OrhanGaziHafif` but I had just changed it with non-spaced one before commenting here.

I've changed back to white-spaced one, I can edit pages now. AFAIK white spaces in Username is not recommended, isn't it? Should you change with non-spac

[2016-04-29 17:47] cureinside commented on #139
dpwicaksa

[2016-04-29 18:08] orhangazi44 commented on #139
OrhanGaziHafif

[2016-04-29 18:27] tfoote commented on #139
@orhangazi44 @cureinside added

[2016-04-30 09:17] peterborkuti commented on #139
PeterBorkuti

[2016-04-30 15:53] tfoote commented on #139
@peterborkuti added

[2016-05-01 11:56] anantmalewar commented on #139
Anant Malewar

[2016-05-01 12:10] anantmalewar commented on #139
nexrobotics

[2016-05-01 18:35] DShackleford commented on #139
Please add DShackleford

[2016-05-01 19:20] Nickolaim commented on #139
Please add NickMedveditskov

[2016-05-02 02:00] tfoote commented on #139
@anantmalewar @DShackleford @Nickolaim added

[2016-05-04 14:29] carlosfm1989 commented on #139
Please add carlosfern

Thank you!

[2016-05-04 15:32] tfoote commented on #139
​@carlosfm1989 added

[2016-05-05 13:47] jarvisschultz commented on #139
Please add `jarvisschultz`

[2016-05-05 17:42] tfoote commented on #139
@jarvisschultz added

[2016-05-05 18:20] laazizi commented on #139
hello ros word
i am mohamedlaazizi

[2016-05-05 18:23] laazizi commented on #139
Requesting access. My wiki username is mohamedlaazizi.

[2016-05-05 18:27] tfoote commented on #139
@laazizi added

[2016-05-05 21:40] BrettHemes commented on #139
Requesting addition of BrettHemes

[2016-05-05 22:11] tfoote commented on #139
@BrettHemes added

[2016-05-06 06:22] JiaShiwei opened #166 "how to quite from editing after rosed has been used"
Hi !
i have edited CMakeList.txt  by rosed command. how can I quite from rosed after I finished editing?

 thanks !

[2016-05-06 07:49] tfoote commented on #166
Please ask questions on http://answers.ros.org

[2016-05-06 07:49] #166 closed

[2016-05-06 14:25] scalfs commented on #139
Can you please add VitorEscalfoni?

Thank you!

[2016-05-06 17:26] tfoote commented on #139
​@scalfs added

[2016-05-07 03:18] xuefengchang commented on #139
Requesting access. My wiki username is xuefengchang.

[2016-05-08 03:35] tfoote commented on #139
@xuefengchang added
​

[2016-05-09 08:07] RonaldEnsing commented on #139
I would like to gain permission. My wiki username is RonaldEnsing.

[2016-05-09 08:11] tfoote commented on #139
@RonaldEnsing added

[2016-05-09 09:18] MalcolmMielle commented on #139
Hello. Could you add MalcolmMielle ? Thank you

[2016-05-09 14:11] JBWortley commented on #139
Requesting Access,
Johandre Wortley

[2016-05-09 18:30] tfoote commented on #139
@MalcolmMielle @JBWortley added

[2016-05-10 02:34] jrschramm13 commented on #139
Requesting Access
Joseph Schramm

[2016-05-10 08:24] tfoote commented on #139
@jrschramm13 added​

[2016-05-11 08:36] andruino commented on #139
Please add andruino
Thanks

[2016-05-11 08:40] proger commented on #139
Hi from VladKi

[2016-05-11 09:25] tfoote commented on #139
@andruino @proger added

[2016-05-11 09:35] marcoesposito1988 commented on #139
MarcoEsposito

thanks!

[2016-05-11 10:01] tfoote commented on #139
@marcoesposito1988 added

[2016-05-11 15:32] oramosutec commented on #139
Hi, please add me: OscarRamos

Thanks

[2016-05-11 20:00] tfoote commented on #139
@oramosutec added

[2016-05-12 21:55] cjds commented on #139
CarlSaldanha

Danke!!

[2016-05-12 22:09] tfoote commented on #139
@cjds bitte!

[2016-05-13 16:43] v4ven27 commented on #139
Hi, I'm VenkatGanesh and I'd like to be added to the whitelist
Thanks!

[2016-05-13 17:21] bxs1260 commented on #139
Bhupender Singh

-Thanks

[2016-05-13 17:58] tfoote commented on #139
@v4ven27 @bxs1260 added

[2016-05-16 02:44] albertshaomeng commented on #139
Hi, I'm Meng Shao and I'd like to be adder to the whitelist

[2016-05-16 04:25] tfoote commented on #139
@albertshaomeng added

[2016-05-16 13:40] nacicatus commented on #139
Hi I'm Saurabh and I would like to be added to the whitelist

[2016-05-16 13:43] nacicatus commented on #139
Changed my ROS wiki username from Saurabh to SaurabhSikka

[2016-05-17 01:38] tfoote commented on #139
@nacicatus added

[2016-05-17 10:41] knowrob commented on #139
MoritzTenorth

[2016-05-17 13:31] talregev commented on #139
tal

[2016-05-17 15:40] tfoote commented on #139
@knowrob @talregev added

[2016-05-18 02:57] Voidminded commented on #139
Can you please whitelist me ?
User: Voidminded
Thanks

[2016-05-18 04:16] tfoote commented on #139
@Voidminded added

[2016-05-18 13:07] QinZiwen opened #167 "ROS:No devices connected.... waiting for devices to be connected"
A question hits me that [ INFO] [1463576402.886843254]: No devices connected.... waiting for devices to be connected when roslaunch freenect_launch freenect-debug.launch . help me, please!

[2016-05-18 17:25] wjwwood commented on #167
This isn't the right place to ask questions like this. Please see: http://wiki.ros.org/Support

[2016-05-18 17:25] #167 closed

[2016-05-18 23:22] jsfurtad commented on #139
Please add 'Joshua Furtado'

[2016-05-18 23:29] tfoote commented on #139
@jsfurtad added​

[2016-05-19 02:36] QinZiwen commented on #167
Thank you!

[2016-05-19 02:39] yantramanava commented on #139
Please add 'Harsha Kikkeri'   The github account is yantramanava

[2016-05-19 03:50] tfoote commented on #139
@yantramanava added​

[2016-05-19 17:28] chris-smith commented on #139
chris-smith

[2016-05-19 17:59] tfoote commented on #139
@chris-smith added​

[2016-05-20 03:21] buckmole commented on #139
I have no idear how to comment this issue, maybe next time!

[2016-05-20 17:41] tfoote commented on #139
@buckmole added

[2016-05-23 12:16] Pointinger commented on #139
Please add ArminPointinger to the whitelist. Thanks!

[2016-05-23 23:15] jacquelinekay commented on #134
I also have a few ideas about how the version macro could be improved that came up today while auditing documentation for Kinetic. I would like a way to hide inactive/EOL'd distros in the header bar by default and have a button to toggle showing them.

It sounds like we would all benefit from improving the vagrant experience to make external contributions to the wiki infrastructure easier. Persona

[2016-05-23 23:27] tfoote commented on #139
@Pointinger added

[2016-05-24 19:42] gaspereira commented on #139
Please add GuilhermePereira to the whitelist. Thank you.

[2016-05-24 21:54] tfoote commented on #139
@gaspereira added

[2016-05-25 00:53] iory commented on #139
Please add iory to the whitelist.

[2016-05-25 02:36] nznobody commented on #139
ManuLange

[2016-05-25 02:57] amineHorseman commented on #139
Please add 'amineHorseman' to the white list

[2016-05-25 13:35] jpuderer commented on #139
Please add 'JamesPuderer' to the white list.  Thank you!

[2016-05-25 16:03] alexalspach commented on #139
Please add me to the white list. Thank you!
'AlexAlspach'

[2016-05-25 17:31] tfoote commented on #139
@alexalspach @jpuderer @amineHorseman @nznobody @iory added

[2016-05-25 19:04] jpuderer commented on #139
Thanks!

[2016-05-25 22:53] trhermans commented on #139
Been a few years since I edited the wiki, trying to again now. Username: TuckerHermans

[2016-05-26 14:07] vincentrou commented on #139
Please add VincentRousseau to the whitelist. Thank you for all the great work !

[2016-05-26 18:04] tfoote commented on #139
@vincentrou @trhermans added

[2016-05-27 09:23] samuelba commented on #139
Request to edit the wiki. User name is SamuelBachmann

[2016-05-27 10:04] ryuichiueda commented on #139
Please add 'RyuichiUeda' to the list.

Thank you.

[2016-05-27 10:59] Dan1126 commented on #139
Wiki edit request. Username is DanielReardon

[2016-05-27 12:18] rguzman1 commented on #139
Please add 'RobertoGuzman' to the list.

[2016-05-27 13:36] kaizadr commented on #139
Request to edit wiki. Username: Kaizad Raimalwala

[2016-05-27 19:58] tfoote commented on #139
@kaizadr @rguzman1 @Dan1126 @ryuichiueda @samuelba added

[2016-05-27 22:47] mikebentley15 commented on #139
Please add 'MichaelBentley' to the list

I want to fill in the TODO section in the exception safety for the C++ coding standard guide.

[2016-05-27 22:51] tfoote commented on #139
@mikebentley15 added

[2016-05-28 21:54] janga1997 commented on #139
Request to edit wiki. Username: **Janga**
I want to edit the wiki of a ros3djs tutorial, as it is unclear at a few places.

[2016-05-29 05:12] tfoote commented on #139
@janga1997 added

[2016-05-30 00:05] Theosakamg commented on #139
Please add 'theosakamg'. Thank

[2016-05-30 01:45] tfoote commented on #139
@Theosakamg added

[2016-05-30 08:21] msadowski commented on #139
Please add 'MateuszSadowski'. Thank you!

[2016-05-30 08:21] msadowski commented on #139
Please add 'MateuszSadowski'. Thank you!

[2016-05-30 08:28] tfoote commented on #139
@msadowski added

[2016-05-30 11:37] xlh145 commented on #139
Please add 'LongHua'. Thank you!

[2016-05-30 12:05] LongHuaXie commented on #139
Please add 'LongHuaXie'. Thank

[2016-05-30 15:04] ZWaqar commented on #139
Please add 'ZaveenWaqar'. ThankYou!

[2016-05-30 21:38] tfoote commented on #139
@ZWaqar @LongHuaXie added

[2016-05-31 06:40] MantianXue commented on #139
Please add 'MantianXue'. Thank you!!!

[2016-05-31 08:33] marbosjo commented on #139
Please, add me: MarcBosch. Thank you!

[2016-05-31 09:22] tfoote commented on #139
@MantianXue @marbosjo added

[2016-05-31 14:27] laazizi commented on #139
Ok
Le 5 mai 2016 20:28, "Tully Foote" <notifications@github.com> a écrit :

[2016-05-31 15:47] yangfuyuan commented on #139
Please, add me: 'yfy'. Thank you!

[2016-05-31 15:54] yangfuyuan commented on #139
Please, add me: YangFuYuan. Thank you!

[2016-05-31 18:51] tfoote commented on #139
@yangfuyuan added

[2016-06-01 12:17] LariscusObscurus commented on #139
Please, add me: LeonhardtSchwarz. Thank you.

[2016-06-01 15:35] GuillaumeFortier commented on #139
Please add me to the whitelist : GuillaumeFortier
Thanks

[2016-06-01 16:01] mjezersky commented on #139
Hi,
please add me to the whitelist - username mjezersky. I want to add wiki page for my project - robotcloudserver.

Thank you.

[2016-06-01 17:50] tfoote commented on #139
@mjezersky @GuillaumeFortier @kliu-kelvin @LariscusObscurus added

[2016-06-02 01:28] JinglinZhang commented on #139
Please add me to the whitelist:张京林. Thank you!

[2016-06-02 18:23] tfoote commented on #139
@JinglinZhang added

[2016-06-02 21:56] advaitjain-google commented on #139
Please add me to the whitelise: AdvaitJain

[2016-06-02 22:23] tfoote commented on #139
@advaitjain-google added

[2016-06-03 13:52] bhaskara commented on #139
BhaskaraMarthi :)

[2016-06-03 17:50] tfoote commented on #139
@bhaskara added​

[2016-06-04 19:40] Scheik commented on #139
Fabian Prinzing

[2016-06-04 20:14] tfoote commented on #139
@Scheik added

[2016-06-05 16:05] HugoCMU commented on #139
HugoP

[2016-06-06 07:49] tfoote commented on #139
@HugoCMU added

[2016-06-07 18:01] gruffen commented on #139
AlexLin

[2016-06-07 19:23] jmichiels commented on #139
JacquesMichiels
Thank you.

[2016-06-07 20:24] tfoote commented on #139
@jmichiels @gruffen added

[2016-06-07 21:47] mattcurf commented on #139
Please add MattCurfman

[2016-06-07 22:06] tfoote commented on #139
@mattcurf added

[2016-06-08 11:41] JoseRobotnik commented on #139
Please add JoseRapado to the whitelist.
Thanks

[2016-06-08 17:30] tfoote commented on #139
@JoseRobotnik added

[2016-06-09 19:17] davidlandry93 commented on #139
Please add DavidLandry

[2016-06-09 20:19] tfoote commented on #139
@davidlandry93 added

[2016-06-10 19:22] AlvaroPaz commented on #139
Please, add me AlvaroPaz
thanks

[2016-06-10 21:10] tfoote commented on #139
@AlvaroPaz added

Reminder to everyone who's getting notifications on this issue:

After you have been added you may want to unsubscribe from this ticket as there will be many updates. Use the button on the right sidebar to unsubscribe from future notifications.

[2016-06-11 10:17] VictorLamoine commented on #139
VictorLamoine

[2016-06-13 08:41] carlos3dx commented on #139
carlosvillar

[2016-06-13 17:19] tfoote commented on #139
@carlos3dx added

[2016-06-14 12:53] cxdcxd commented on #139
edwin babaians , please add me to  whitelist ... thx

[2016-06-14 16:18] cxdcxd commented on #139
please add edwin babaians , thx

[2016-06-14 18:03] JTShepard commented on #139
JohnShepard

Thanks!

[2016-06-14 18:38] tfoote commented on #139
@JTShepard @cxdcxd added

[2016-06-15 00:21] 130s opened #170 "URL link to a section on a certain ROS distro leads to the page top of the default distro"
For example http://wiki.ros.org/image_view/#image_view.2BAC8-diamondback.image_saver (the distro name in the URL shouldn't matter -- that's what wiki returns on any distro page)

- expected: `image_saver` section (and hopefully be able to specify distro, but with the URL above it might not make much sense since diamondback is EOLed and there's not even tab for it).
- actual: blank page, I think be

[2016-06-15 00:29] tfoote commented on #170
You can specify the distro using `?distro=electric` like http://wiki.ros.org/image_view/?distro=electric#image_view.2BAC8-diamondback.image_saver however diamondback is no longer a valid one so it won't resolve.

There's so many levels of redirection happening I'm not sure why the sectoin reference doesn't work. The include, the version tag, etc.

[2016-06-15 00:39] 130s commented on #170
Ah, I see. So in my particular case I just needed `?distro=` attribute.

Let me change the title then to make the ticket more useful (unless it's already reported) and make the problem simple. I barely remember back in old days clicking the tab leads to a specific distro page, but it no longer does these days. Am I wrong?

[2016-06-15 03:26] liminglong commented on #139
MinglongLi
Thanks.

[2016-06-15 07:27] tfoote commented on #139
@liminglong added

[2016-06-16 16:48] dpkoch commented on #139
DanielKoch

Thanks!

[2016-06-16 17:44] tfoote commented on #139
@dpkoch added

[2016-06-17 12:55] raidiun commented on #139
RobertClarke
Thanks

[2016-06-17 19:29] asthakeshan commented on #139
AsthaKeshan

Thanks!!

[2016-06-17 22:06] tfoote commented on #139
@raidiun @asthakeshan added

[2016-06-17 22:15] juztamau5 commented on #139
juztamau5

you rock

[2016-06-17 22:37] tfoote commented on #139
@juztamau5 added

[2016-06-17 23:55] tfoote opened #171 "Robots page is now a large fraction of the server load"
Since this is a very popular page. The current macro is nice, but we should find a more efficient solution. Possibly move this off the wiki to a statically generated github page where we can take PRs and embed it into the wiki page.

![robots_load](https://cloud.githubusercontent.com/assets/447804/16167607/1b7ec2a8-34ac-11e6-9fdd-d7b3bcc12cbb.png)

[2016-06-18 13:34] RDChilders commented on #139
request to be added

[2016-06-18 15:03] daichi-yoshikawa commented on #139
Daichi Yoshikawa

Thank you !

[2016-06-18 16:32] khatribharat commented on #139
Bharat Khatri

[2016-06-18 20:34] tfoote commented on #139
@daichi-yoshikawa @khatribharat added

@RDChilders what's your wiki username?

[2016-06-19 05:53] RDChilders commented on #139
I am not sure.

RDChilders  (will that work?.......my preference is R. D. Childers)

R. D. Childers

512-826-1457

http://www.linkedin.com/in/rdchilders

From: Tully Foote [mailto:notifications@github.com]
Sent: Saturday, June 18, 2016 3:35 PM
To: ros-infrastructure/roswiki
Cc: RDChilders; Mention
Subject: Re: [ros-infrastructure/roswiki] Request to be added to ROS wiki whitelist (#139)

@daichi-y

[2016-06-19 09:00] tfoote commented on #139
@RDChilders you need to create an account on wiki.ros.org and then provide the username here to be granted write access. Once you have created your account. Please comment back here with your username.

[2016-06-19 15:33] RDChilders commented on #139
It looks like I am R. D. Childers on Wiki.ros.org

[2016-06-19 16:43] tfoote commented on #139
@RDChilders added

[2016-06-20 09:52] SebastianDenz commented on #139
SebastianDenz
please.

[2016-06-20 16:53] tfoote commented on #139
@SebastianDenz added

On Mon, Jun 20, 2016 at 2:52 AM, SebastianDenz <notifications@github.com>
wrote:

[2016-06-20 20:31] tfoote commented on #124
There's a responsive bootstrap theme here: https://github.com/dossist/moinmoin-memodump

We have quite a bit of customization so we can't just switch unfortunately though.

[2016-06-20 22:06] Sotilrac commented on #139
CarlosAsmat

Thanks!

[2016-06-20 22:54] tfoote commented on #139
@Sotilrac added

[2016-06-20 23:40] kandatz commented on #139
Please add YayanPrimaNugraha to whitelist
thx

[2016-06-21 00:06] tfoote commented on #139
@kandatz added

[2016-06-21 18:12] jugerardy commented on #139
Please add julien gérardy to the list :)

[2016-06-21 19:13] tfoote commented on #139
@jugerardy added

[2016-06-21 19:37] jugerardy commented on #139
@tfoote
I think nothing happened ? My objective is to publish and to make a tutorial about a package. Thanks

[2016-06-21 19:54] tfoote commented on #139
@jugerardy I see you edited your request to a slightly different username. I've updated the whitelisted username to be the edited value `Julien gérardy`

[2016-06-22 11:05] lumingwang commented on #139
Please add me to the whitelist, the username is PatrickWang.
Thx.

[2016-06-22 16:18] AchrafBouguerra commented on #139
i wanna be added to the whitelist please, Achraf_Bouguerra.

[2016-06-22 16:38] thk1 commented on #139
Please add ThomasKeh.

[2016-06-22 17:51] tfoote commented on #139
@thk1 @AchrafBouguerra @lumingwang added

Reminder to everyone who's getting notifications on this issue:

After you have been added you may want to unsubscribe from this ticket as there will be many updates. Use the button on the right sidebar to unsubscribe from future notifications.

[2016-06-23 09:15] ipa-mig commented on #139
Please also add MatthiasGruhler. Thank you!

[2016-06-23 17:45] tfoote commented on #139
@ipa-mig added

[2016-06-24 01:22] mdhorn commented on #139
Please rename my ros wiki username from 'Mark Horn' to 'mdhorn' to match my github if that is allowed; otherwise please remove the space.
Oh, and please add to the white list to allow editing.

[2016-06-24 01:44] tfoote commented on #139
@mdhorn you should be able to change your own username. Click on your preferences. Once you've updated it please comment here with the new value to be added to the whitelist.

[2016-06-24 02:32] mdhorn commented on #139
Please add 'mdhorn' for edit status.

[2016-06-24 04:10] tfoote commented on #139
@mdhorn added​

[2016-06-24 06:13] snakeninny commented on #139
wiki name: snakeninny

Thanks!

BTW The page I wanna edit is http://wiki.ros.org/action/login/ROS/Tutorials/UnderstandingTopics, under "0.1 ROS Topics", seems we should s/while turtlesim subscribes/while turtlesim_node subscribes

[2016-06-24 17:22] tfoote commented on #139
@snakeninny added​

[2016-06-26 00:46] Felicien93 commented on #139
wiki name: Felicien93

Thanks in advance

[2016-06-26 08:28] tfoote commented on #139
@Felicien93 added​

[2016-06-27 13:51] ipa-rmb-fj commented on #139
wiki name: FlorianJordan

Thanks!

[2016-06-27 17:59] tfoote commented on #139
@ipa-rmb-fj added

[2016-06-29 16:10] armona1 commented on #139
Wiki Name: ArmonAlavi

Thank you

[2016-06-29 18:47] momar82 commented on #139
Wiki Name: Mohammad Omar Salameh

please add me
yes I dont know how I get my full name with space

[2016-06-29 21:26] PeterMitrano commented on #139
please add me :) PeterMitrano

[2016-06-30 00:38] blackzafiro commented on #139
Wiki Name: BlackZafiro

please add me
cheers

[2016-06-30 13:00] cwecht commented on #139
Please Add ChristopherWecht
Thx.

[2016-07-01 23:42] davidrotor commented on #139
please add davidrotor

ty.

[2016-07-02 15:52] Ruthrash commented on #139
Please add :  H_Ruthrash
Thanks!

[2016-07-04 07:21] ipa-josh commented on #139
josh

[2016-07-05 05:28] 43970117 commented on #139
Please add: 43970117
Thanks!

[2016-07-06 09:02] AliquesTomas commented on #139
AliquesTomas

[2016-07-06 13:21] m4k2k commented on #139
Please add: 'm4k'
many thanks

[2016-07-06 18:54] pjreed commented on #139
PhillipReed

[2016-07-08 00:02] Becojo commented on #139
Benoit Côté-Jodoin

[2016-07-08 00:05] 130s opened #173 "TOC macro seems to ignore distro version"
Example
In http://wiki.ros.org/bloom/Tutorials/PrereleaseTest, TOC seems to always show the content from indigo or earlier.
I tested using `preview` button and found when the older content is removed, preview shows the content from the latest distro tag.

[2016-07-10 11:53] momar82 commented on #139
Mohammad Omar Salameh

[2016-07-11 04:31] ramanpreet9 commented on #140
the tutorials seem to list the old keyserver which doesnt work for me.
Is there any working server to set up the keys currently?

[2016-07-11 05:31] tfoote commented on #140
The key server is working for me at the moment.
[code]

[2016-07-11 06:16] krinkin commented on #139
KirillKrinkin

[2016-07-11 15:08] ct2034 commented on #139
ChristianHenkel
thanks! :)

[2016-07-11 16:04] colindavey commented on #139
ColinDavey

[2016-07-11 17:39] tfoote commented on #139
@colindavey @ct2034 @krinkin @momar82 @Becojo @pjreed @m4k2k @AliquesTomas @43970117 @ipa-josh @Ruthrash @davidrotor @cwecht @blackzafiro @PeterMitrano @armona1  added

Sorry for the delay, I was somehow unsubscribed to this thread.

[2016-07-11 18:52] AliquesTomas commented on #139
No problem at all, Thanks!

2016-07-11 19:39 GMT+02:00 Tully Foote <notifications@github.com>:

[2016-07-12 05:53] VitalyPesternikov commented on #139
VitalyPesternikov

[2016-07-12 11:46] raucha commented on #139
Please add: AkioShigekane
Thank you

[2016-07-12 17:34] tfoote commented on #139
@VitalyPesternikov @raucha added

[2016-07-12 20:46] satyamsingh168 opened #174 "editing wiki"
my user name satyamsingh168

[2016-07-12 22:07] tfoote commented on #174
Please comment on #139 to be added

[2016-07-12 22:07] #174 closed

[2016-07-13 14:05] rt-net commented on #139
Pls add 'Yuki Nakagawa' to add our robot products to robot list.

[2016-07-13 15:16] ShawnXu10 commented on #139
I'd like to edit the wiki. Could you please add me too?
My user is ShawnXu.

[2016-07-13 15:47] ShuoL commented on #139
ShuoLiu, for whitelist.

[2016-07-13 17:02] tfoote commented on #139
@rt-net @ShawnXu10 @ShuoL added

[2016-07-13 23:47] boilerbots commented on #139
cmeyers

[2016-07-14 00:43] tfoote commented on #139
@boilerbots added

[2016-07-15 18:14] stefanmay opened #175 "Please add user StefanMay"

[2016-07-15 18:21] tfoote commented on #175
Please comment on #139 to request access.

[2016-07-15 18:21] #175 closed

[2016-07-15 19:03] stefanmay commented on #139
Please add user StefanMay

[2016-07-15 19:50] tfoote commented on #139
@stefanmay added​

[2016-07-16 12:30] Logrus commented on #139
Please add me to the whitelist. Nick: VladislavTananaev
Thanks!

[2016-07-17 16:08] ross144hart opened #176 "Please Add ross144hart"
pls add ross144hart

[2016-07-18 00:08] jsaluja commented on #139
Request for edit permissions to ros wiki

[2016-07-18 03:35] aknay commented on #139
Please add me to the list.  Thanks. username: `aknay`
I just want to amend
`sudo apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net --recv-key 0xB01FA116` to `sudo apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-key 0xB01FA116` at [this page](http://wiki.ros.org/indigo/Installation/Ubuntu). Problem related to [this link](http://superuser.com/questions/620765/sudo-apt-key-a

[2016-07-18 06:14] mahmoudabdulazim commented on #139
GalileoGaleli

[2016-07-19 05:56] ponsheng commented on #139
Please add me to the list : username: PonshengChen
Thanks.

[2016-07-19 16:40] gsubramani commented on #139
GuruSubramani

[2016-07-20 09:56] Petrox commented on #139
PeterKopias

[2016-07-21 18:05] 130s opened #177 "Meta package "robot""
Found so far at the following, only with Kinetic selected. What is this `robot` category? Meta package?

http://wiki.ros.org/robot_state_publisher?distro=kinetic
http://wiki.ros.org/xacro?distro=kinetic

![xacro_wiki_kinetic](https://cloud.githubusercontent.com/assets/1840401/17033421/ec789776-4f32-11e6-939f-bdc5020c765c.png)

[2016-07-21 18:08] dirk-thomas commented on #177
The `robot` metapackage is specified in [REP 142](http://www.ros.org/reps/rep-0142.html).

[2016-07-21 18:55] 130s commented on #177
Thanks for the informative link.

My question now narrows down: for some packages in for instance `robot` metapkg, their wiki page doesn't say that they are in `robot` metapkg. E.g. http://wiki.ros.org/control_msgs?distro=kinetic

![screenshot from 2016-07-21 11-50-40](https://cloud.githubusercontent.com/assets/1840401/17034875/682fcd0c-4f39-11e6-87c6-ec6dea5f7b0e.png)

Not a big deal after all, b

[2016-07-21 19:14] dirk-thomas commented on #177
The metapackage group is shown since it can be useful in case like http://wiki.ros.org/roscpp to see its "siblings". And since the metapackages specified in the REP are technically the same they can't be treated differently.

To the question why `control_msgs` doesn't show the metapackage it is obviously in: The information shown in the wiki is coming from the `manifest.yaml` files which are gener

[2016-07-21 19:20] 130s commented on #177
Then I support the current spec then as long as the behavior looks consistent to the end users. Thanks for handling all these.

[2016-07-21 19:20] #177 closed

[2016-07-21 23:06] dcconner commented on #139
DavidConner

[2016-07-22 12:48] FrostHand commented on #139
TinGoose

[2016-07-22 14:18] Tabjones commented on #139
Federico Spinelli

[2016-07-23 11:42] JoseRobotnik commented on #139
I can't recover my wiki ros user password. The web interface says: Your token is invalid!" I tried a lot of times following the recovery procedure. What can I do?

My user is JoseRapado.

[2016-07-23 16:16] angeloadkins commented on #139
Angelo Adkins

[2016-07-26 19:47] tfoote commented on #176
please comment on #139 not open a new ticket

[2016-07-26 19:47] #176 closed

[2016-07-26 21:11] tfoote commented on #139
@angeloadkins @Tabjones @FrostHand @dcconner @Petrox @gsubramani @ponsheng @mahmoudabdulazim @aknay @jsaluja @Logrus added

Sorry for the delay.

[2016-07-26 21:53] duo3d commented on #139
My user is AlexanderPopovich

[2016-07-26 22:20] tfoote commented on #139
@duo3d added

[2016-07-28 00:47] evanlinjin commented on #139
EvanLin

[2016-07-28 01:45] tfoote commented on #139
@evanlinjin added

[2016-07-28 10:39] job-1994 commented on #139
JobvanDieten

[2016-07-28 20:50] tfoote commented on #139
@job-1994 added​

[2016-07-29 06:07] simlabrobotics commented on #139
Hi, this is Sean Yi.
Allegro Hand catkin-ized version has been released.

[2016-07-29 14:42] BYUMarsRover2016 commented on #139
Erich Mielke

[2016-07-29 18:06] tfoote commented on #139
@simlabrobotics @BYUMarsRover2016 added

[2016-07-30 01:58] inonme commented on #139
wang libing

[2016-07-30 16:10] tfoote commented on #139
@inonme added

[2016-08-01 16:16] ruipiresc commented on #139
RuiCarvalho

[2016-08-01 16:53] tfoote commented on #139
@ruipiresc added

[2016-08-01 22:26] scheng98 opened #178 "Please add wiki UserName, 'Steve Cheng', to be added to the whitelist. Thanks"

[2016-08-01 22:46] tfoote commented on #178
Please comment on #139 to request to be added.

[2016-08-01 22:46] #178 closed

[2016-08-01 23:11] scheng98 commented on #139
Please add wiki UserName, 'Steve Cheng', to be added to the whitelist.

[2016-08-02 00:30] willdzeng commented on #139
DiZeng

Thanks

[2016-08-02 01:35] tfoote commented on #139
@scheng98 @willdzeng added

[2016-08-03 08:42] pandemie commented on #139
DimitriSchachmann

Thank you!

[2016-08-03 17:52] tfoote commented on #139
@pandemie added

[2016-08-05 10:23] tihme commented on #139
ThomasIhme

Thanks.

[2016-08-05 15:22] marc-killpack commented on #139
Please add me:

MarcKillpack

[2016-08-05 17:00] tfoote commented on #139
@marc-killpack @tihme added

[2016-08-05 20:19] jon-morris commented on #139
Please whitelist

JonMorris

[2016-08-05 21:00] tfoote commented on #139
​@jon-morris added

[2016-08-07 09:21] fahmiroi commented on #139
Fahmiroi

[2016-08-07 17:37] Juxi commented on #139
JuxiLeitner
thanks!

[2016-08-08 07:14] tfoote commented on #139
@fahmiroi @Juxi added

[2016-08-10 16:49] l0g1x commented on #139
Krystian Gebis
Thanks much

[2016-08-10 18:23] tfoote commented on #139
@l0g1x added

[2016-08-11 12:18] vmatos commented on #139
Could you please whitelist me? user: RoboSavvy
Thank you

[2016-08-11 20:56] tfoote commented on #139
@vmatos added

[2016-08-12 01:36] Sayter99 commented on #139
Chi-Ju Wu
Thanks

[2016-08-12 08:19] runbren commented on #139
runbren

[2016-08-12 14:24] adrianohrl commented on #139
@tfoote, please, could you whitelist me too?
My user name is AdrianoLeite.
Thanks in advance.

[2016-08-12 17:10] tfoote commented on #139
@Sayter99 @runbren @adrianohrl added

[2016-08-14 13:57] fsteinhardt commented on #139
Please add my account: FlorianSteinhardt

[2016-08-14 20:06] muratagenc commented on #139
MuratAhmetGenc
to be added to the WhiteList
best

[2016-08-15 05:35] tfoote commented on #139
@fsteinhardt @muratagenc added

[2016-08-15 07:45] tfoote commented on #139
@popibot added

[2016-08-15 14:35] fuadinridho commented on #139
please add : fuadinridho

[2016-08-15 17:27] tfoote commented on #139
​@fuadinridho added

[2016-08-16 02:09] contradict commented on #139
please add 'contradict'

[2016-08-16 05:00] tfoote commented on #139
@​contradict added

[2016-08-16 14:34] fuadinridho commented on #139
please add : fuadinridho

[2016-08-16 19:44] tfoote commented on #139
@fuadinridho you've already been added ([here](https://github.com/ros-infrastructure/roswiki/issues/139#issuecomment-239867833))

[2016-08-17 00:55] rohbotics commented on #139
@tfoote please add RohanAgrawal

[2016-08-17 05:26] Jjaegers commented on #139
@tfoote please add JohannesJaegers

[2016-08-17 05:53] tfoote commented on #139
@rohbotics @Jjaegers added

Reminder for those who've been added it's recommended to unsubscribe from this issue using the "Unsubscribe" button on the right sidebar so you won't get everyone else's requests.

[2016-08-17 08:55] wjonuee commented on #139
wjonuee

[2016-08-17 17:07] kevincwells commented on #139
Username: KevinWells

[2016-08-17 18:48] tfoote commented on #139
@wjonuee @kevincwells added

[2016-08-18 00:47] ROBOTIS-zerom commented on #139
Username: zerom

[2016-08-18 01:04] tfoote commented on #139
@ROBOTIS-zerom added

[2016-08-18 06:25] jontromanab commented on #139
Please add my account  : abhijitmakhal

[2016-08-18 19:38] tfoote commented on #139
@jontromanab added

[2016-08-19 01:15] ROBOTIS-Kayman commented on #139
Username: Kayman

[2016-08-19 01:24] tfoote commented on #139
@ROBOTIS-Kayman added

[2016-08-19 03:37] fday04 commented on #139
Username: fday04

[2016-08-19 03:55] tfoote commented on #139
@fday04 added​

[2016-08-21 02:49] fday04 commented on #139
Username: FaisalDayani

[2016-08-21 03:13] fday04 commented on #139
Username: FaisalDayani

[2016-08-21 10:52] caguero commented on #139
Could you please add my account: CarlosAguero

[2016-08-22 10:00] rkojcev commented on #139
Could you please add my account: RistoKojcev

[2016-08-22 13:46] pfankhauser commented on #139
Could you please add my account: PeterFankhauser

[2016-08-22 17:01] dustingooding commented on #139
Username: DustinGooding

[2016-08-22 17:42] tfoote commented on #139
@dustingooding @pfankhauser @rkojcev @caguero added

[2016-08-23 02:41] frankjoshua commented on #139
JoshuaFrank

[2016-08-23 06:19] tfoote commented on #139
@frankjoshua added

[2016-08-23 07:50] routiful commented on #139
Could you please add my account : Darby Lim

[2016-08-23 08:36] JHoef commented on #139
Add me please :)

[2016-08-23 16:36] tfoote commented on #139
@routiful added
@JHoef what's your wiki username?

[2016-08-23 17:36] aniskoubaa commented on #139
I would like to be added

[2016-08-23 18:51] tfoote commented on #139
@aniskoubaa what's your username on the wiki?

[2016-08-23 18:59] aniskoubaa commented on #139
I login as AnisKoubaa
Thanks
Anis

On Tuesday, August 23, 2016, Tully Foote <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

--

--------------------------------------------
Anis Koubaa, PhD.,
Senior Fellow of the HEA (SFHEA)
ACM Chapter Chair (Saudi Arabia)
Associate Professor
Prince Sultan University, Saudi Arabia
http://www.dei.isep.ipp.pt/~akoubaa
h

[2016-08-23 19:06] tfoote commented on #139
@aniskoubaa added

[2016-08-23 22:44] tfoote commented on #139
@aniskoubaa added

[2016-08-24 05:45] Jay-Song commented on #139
JaySong

[2016-08-24 05:47] s-changhyun commented on #139
s-changhyun

[2016-08-24 06:17] gokul-gokz commented on #139
Request to add to whitelist.
Username:GokulNarayanan

[2016-08-24 13:39] DentOpt commented on #139
JanDentler

[2016-08-24 13:40] DentOpt commented on #139
DentOpt

[2016-08-24 18:29] tfoote commented on #139
@Jay-Song @s-changhyun @gokul-gokz @DentOpt added (as JanDentler)

[2016-08-25 04:59] bsb808 commented on #139
BrianBingham

[2016-08-25 06:39] dajianli opened #179 "hello"

[2016-08-25 06:42] dajianli commented on #139
ROSClub.cn Is a Chinese ROS communication community，we welcome you at any time!

[2016-08-25 06:44] dajianli commented on #139
ROSClub.cn Is a Chinese ROS communication community，So trouble you to add "dajianli" to the white list，Thankyou

[2016-08-25 12:19] dkurzaj commented on #139
DorianKurzaj

[2016-08-25 14:37] #179 closed

[2016-08-25 19:41] tfoote commented on #139
@dkurzaj @dajianli @bsb808 added

[2016-08-25 22:54] baishibona commented on #139
Bona

[2016-08-26 00:34] tfoote commented on #139
@bona added​

[2016-08-26 13:08] dronesinma commented on #139
dronesinma

[2016-08-26 17:56] tfoote commented on #139
@dronesinma added​

[2016-08-26 19:43] dabeegmon opened #180 "comment requested re: white list"
Greetings
Directions were to leave a comment to be 'white listed'.

Have left comment.

Da beegmon

[2016-08-26 20:14] tfoote commented on #180
Please comment on #139 with your ROS wiki username.

[2016-08-26 20:14] #180 closed

[2016-08-26 20:53] dabeegmon commented on #180
On Fri, Aug 26, 2016 at 3:14 PM, Tully Foote <notifications@github.com>
wrote:

asking me to do!

There is no comment button so what hoop is it that I am to jump through now?

Dee

[2016-08-26 20:56] wjwwood commented on #180
If you go to issue https://github.com/ros-infrastructure/roswiki/issues/139 (click on the link) there is a comment box at the bottom of the page...

[2016-08-27 02:29] dabeegmon commented on #139
Request to add to white list.
User = dabeegmon

[2016-08-27 06:14] tfoote commented on #139
@dabeegmon added​

[2016-08-28 19:51] SquirrelCZE commented on #139
Request to add to white list
User = JanKoniarik

[2016-08-29 05:20] tfoote commented on #139
@SquirrelCZE added

[2016-08-29 10:58] ipa-jts commented on #139
Request to add to white list
User = JohannesStoll
Thanks

[2016-08-29 18:13] jon-weisz commented on #139
Request to add to white list
User = JonWeisz

[2016-08-29 18:44] tfoote commented on #139
@ipa-jts @jon-weisz added

[2016-08-30 13:23] ksatyaki commented on #139
Please add me to the whitelist.
Username: Chittaranjan Srinivas Swaminathan
Thanks.

[2016-08-30 14:16] Git26 commented on #139
A request to be added to the whitelist.
Username: Mohamed Almagboul

[2016-08-30 16:15] tfoote commented on #139
@ksatyaki @Git26 added

[2016-08-30 16:27] dabeegmon opened #181 "ROS and its security"
(Starting with a preamble) A total noob at programming but thinking I am going to be learning by what I would like to do. Have been running Debian for quite a few years as I wanted some constancy and have been slowly increasing my security understanding as our world is piling onto the internet wagon.
Have run an ubuntu system for my wife for a number of years. I have gotten really anal about secur

[2016-08-30 16:57] tfoote commented on #181
Hi @dabeegmon, please ask questions on http://answers.ros.org This is an issue tracker where we track bugs in the website implementation.

There are definitely a lot of different practices around security and depending on your application there are different approaches with different strengths.

[2016-08-30 16:57] #181 closed

[2016-08-30 17:35] meyerj commented on #139
Please whitelist my username: `JohannesMeyer`
Thanks!

[2016-08-30 18:46] tfoote commented on #139
@meyerj added

[2016-08-30 20:01] dabeegmon commented on #181
Very interesting as that is where I first raised the issue and was told that that was NOT the place and that I was to go here. You have killed this here - - - so where do I go - - - I suppose that what I'm being told is that this isn't of interest and that I'm supposed to get lost - - - is that true?

[2016-08-30 20:17] wjwwood commented on #181
@dabeegmon I don't think the takeaway is "get lost". Can you post a link to your previous question? Just because this isn't the right place to discuss the topic doesn't mean it isn't a topic worth discussing.

Even better than answers.ros.org, this might be better raised on our mailing lists so that it reaches a wider audience: http://discourse.ros.org/c/general You might be asked to further scope

[2016-08-30 20:27] gavanderhoorn commented on #181
I was the one that advised @dabeegmon to post here on the roswiki tracker ([how to convert debian root to sudo with security](http://answers.ros.org/question/242625), as I felt that some discussion about practices might make sense before going in and changing the installation tutorials.

As I remembered some earlier discussion issues here, I figured this particular issue might also be something to

[2016-08-30 20:31] gavanderhoorn commented on #181
@dabeegmon wrote:

well, I didn't exactly say that it was 'not the place', I suggested that a discussion on a different site than ROS Answers might be more suitable, and increase your chances of getting relevant input.

[2016-08-30 20:43] wjwwood commented on #181
I see, well since the topic was about documentation, I can see how you might point @dabeegmon here. In my mind, this repository's issue tracker is for technical issues and content and layout issues with things on the wiki, so long as they don't match some other issue tracker, i.e. issues with a package's wiki pages could be better posted on their issue trackers. But I can see why this topic could

[2016-08-30 21:21] tfoote commented on #181
And when you do post, please link to previous parts of the discussion. Aka [here](https://github.com/ros-infrastructure/roswiki/issues/181) and the [answers.ros.org question](http://answers.ros.org/question/242625) so that others can read more history if they want.

[2016-08-30 21:46] dabeegmon commented on #181
What I am finding incredibly challenging is understanding the differences in what is wanted and where. One place says detail the next says minimal. Interesting is that a login (and thereby account) is asked for on many of the different parts. Its almost like there are x number of discreet parts to ros and each one has a different way of doing things. There doesn't feel like there is a lot of cohes

[2016-08-31 01:48] ROBOTIS-Leon commented on #139
LeonJung

[2016-08-31 06:50] gavanderhoorn commented on #181
Would it be necessary to include all parts of any discussion? (ie could parts be not linked)

There are only 'two parts' to this, right? @tfoote just means to include a link to your ROS Answers question and to this issue. Basically the links he already included in his https://github.com/ros-infrastructure/roswiki/issues/181#issuecomment-243585241.

[2016-08-31 11:11] astumpf commented on #139
Please add me to the whitelist: AlexanderStumpf
Thanks in advance!

[2016-08-31 12:48] timn commented on #139
Requesting edit permission for the wiki: TimNiemueller
Thanks!

[2016-09-01 06:08] ipa-uhr commented on #139
Please add edit permissions for UlrichReiser.
Thanks!

[2016-09-01 09:40] yowlings commented on #139
Please add edit permissions for rocwang.
Thanks!

[2016-09-01 17:05] simonschmeisser commented on #139
Please add me as well: SimonSchmeisser
Thanks a lot!

[2016-09-02 11:09] ipa-rmb-mr commented on #139
Please add me as well: ipa-rmb-mr
Thanks in advance.

[2016-09-02 12:27] karolmajek commented on #139
My username: karolmajek

Thanks

[2016-09-02 12:36] NikolausDemmel opened #182 "Surge protection triggers due to coorporate firewall"
It seems the ROS wiki surge protection triggers because of Bosch employees being behind the same proxy and thus causing too many requests from the same IP.

It might have happened before, but I am personally witnessing it for the first time now. We have been locked out for > 30 Minutes now, maybe longer.

I just read http://wiki.ros.org/HelpOnConfiguration/SurgeProtection. As a workaround it is su

[2016-09-02 13:33] NikolausDemmel commented on #182
PS, the response from the wiki reads:

[code]

We are still not able to connect to the wiki as of now.

[2016-09-02 15:14] NikolausDemmel commented on #182
Looks like we can access the wiki again. Outage for us was > 4h.

Maybe someone could still comment on the possibility of whitelisting certain IPs to avoid this in the future.

[2016-09-02 18:04] wjwwood commented on #182
@NikolausDemmel sorry to hear that. I'm not familiar with MoinMoin's surge protection, so I'll wait for @tfoote to comment, but he's on vacation, so expect to wait a few days for that at least.

[2016-09-02 18:07] NikolausDemmel commented on #182
It is not super urgent, since it seems it happens infrequently for now. We can wait for @tfoote no problem. I will also post again should I notice additional occurances.

[2016-09-02 18:40] dirk-thomas commented on #182
After a short grep through the wiki code it doesn't have a config option to white list addresses for the surge protection. But the code compares the remote IP against a static white list (basically everything local) which could easily be extended. So adding a few IP addresses should be easily possible.

Should we do that or will that negatively affect the wiki performance? Instead we could increas

[2016-09-02 22:28] VictorDaCosta commented on #139
Hey there !

Could you please whitelist me? username: vdc

Thanks

[2016-09-05 08:59] fcolas commented on #139
Can you please add me to the white list: FrancisColas

[2016-09-05 12:45] bulwahn commented on #139
Hi, please add me to the white list: Lukas Bulwahn

Thank you very much.

[2016-09-05 22:57] Trexter commented on #139
KevinSheridan is my user name. thanks

[2016-09-06 04:09] tfoote commented on #153
The virtual env running the dump script was missing pyyaml and clearsilver. I added them and ran the [dump script](https://github.com/ros-infrastructure/roswiki/blob/wiki_dump_script/dump_wiki) manually without these exceptions occurring.

[2016-09-06 04:09] #153 closed

[2016-09-06 04:22] 130s opened #183 "Order of robots/books list"
I often notice that a robot or a book gets added to http://wiki.ros.org/Robots / http://wiki.ros.org/Books page, at the top of the list by presumably a person affiliated to a commercial company, author of the book etc. To maintain fairness I suggest to ask the editors to keep certain order.
Alphabetical?
Date added? If so asc/descendant?

[2016-09-06 08:35] Hamulus commented on #139
Sergey Kravchenko is my username on Wiki

[2016-09-06 16:24] dirk-thomas commented on #183
When these lists grow it becomes more and more difficult to "find" certain entries when they are just appended at the end (or prepended in the front).

For the robots list I think alphabetical order makes the most sense. As far as I can see that is already the case for 99% of the page.

For the books I can see that an alphabetical list would be ok. Certainly editing the list just to move "your" bo

[2016-09-06 23:26] anelliot commented on #139
Please add me to the whitelist! AmberElliot

[2016-09-07 05:34] hendriyawanachmad commented on #139
Hi @tfoote, my username is hendriyawanachmad

[2016-09-07 19:00] tfoote commented on #182
We could look at adding some specific IPs, though from the site you linked it sounds like MoinMoin's recommended approach is to suggest users login. You should be able to login, the surge limits are per action and the login action is not listed with surge protection.

For reference the surge limits are set here: https://github.com/ros-infrastructure/roswiki/blob/conf/roswiki.py#L110-L122 Note that

[2016-09-07 19:32] tfoote commented on #183
The robots thumbnails are sorted by by the macro to be alphabetical. For the books I think publication date order might be nice.

Note that I've been working on a replacement for the Robots page. It's available at: http://robots.ros.org/ the source is here: https://github.com/ros-infrastructure/robots.ros.org I've been filling in content before circulating it. Pull-requests welcome for content or

[2016-09-07 19:53] tfoote commented on #139
@hendriyawanachmad @anelliot @Hamulus @Trexter @bulwahn @fcolas @VictorDaCosta @karolmajek @ipa-rmb-mr @ROBOTIS-Leon @astumpf @timn @ipa-uhr @yowlings @simonschmeisser thanks for your patience. Added.

[2016-09-07 22:01] 130s commented on #183
Thanks, all clear now. Since you @dirk-thomas took the most cumbersome part, adding the original issue date, I also contributed supported ROS distros and programming languages.

Hm, I don't see any problematic image. If you mean [this image](http://wiki.ros.org/Robots/AddingRobotEntry?action=AttachFile&do=get&target=roswiki_pagenotfound.png), that is intentional (when one opens an URL that doesn't

[2016-09-07 22:01] #183 closed

[2016-09-07 22:52] dheater commented on #139
Request to add DanielHeater to the whitelist

[2016-09-07 23:21] tfoote commented on #139
@dheater added

[2016-09-08 01:35] Xianyong commented on #139
Please add my wiki user name, XianyongLiu, to the whitelist. Thanks.

[2016-09-08 01:46] tfoote commented on #139
@Xianyong added

[2016-09-08 02:01] our-robotics commented on #139
liuxin

[2016-09-08 03:16] auboliuxin commented on #139
Request to add auboliuxin to the whitelist

[2016-09-08 18:38] tfoote commented on #139
@our-robotics @auboliuxin added

[2016-09-08 20:36] avonsternberg commented on #139
AlexVonSternberg

[2016-09-08 20:41] tfoote commented on #139
@avonsternberg added​

[2016-09-09 08:08] kopp commented on #139
Please add kopp to the whitelist.

[2016-09-09 08:46] NikolausDemmel commented on #182
If I notice this again I will check if login would work while you are already looked out by directly going to http://wiki.ros.org/action/login/Documentation?action=login. At the same time I will recommend to people to stay logged in to prevent it happening in the first place.

If logging in afte the fact doesn't work, or if the issue appears more frequently, I will raise it again and we could look

[2016-09-09 08:46] #182 closed

[2016-09-09 17:11] tfoote commented on #139
@kopp added​

[2016-09-11 19:31] anantanurag commented on #139
AnantAnurag : please add to whitelist

[2016-09-11 19:45] tfoote commented on #139
@anantanurag added

Reminder for those who've been added it's recommended to unsubscribe from this issue using the "Unsubscribe" button on the right sidebar so you won't get everyone else's requests.

[2016-09-12 13:59] ipa-fmw-ce opened #184 "permission"
Please whitelist my username: rmbce
Thanks!

[2016-09-12 14:00] #184 closed

[2016-09-12 14:01] ipa-fmw-ce commented on #139
Please whitelist my username: rmbce
Thanks!

[2016-09-12 17:06] tfoote commented on #139
@ipa-fmw-ce added

[2016-09-13 15:48] VioletS commented on #139
Please add me: VioletSteenhoff
Thanks!

[2016-09-13 19:17] tfoote commented on #139
@VioletS added

[2016-09-14 02:19] qdzhaozx commented on #139
Please whitelist my username: qdzhaozx
Thank you very much!

[2016-09-14 03:54] tfoote commented on #139
@qdzhaozx added​

[2016-09-14 19:53] peterpolidoro commented on #139
Please whitelist my username: PeterPolidoro
Thanks!

[2016-09-14 20:35] tfoote commented on #139
@peterpolidoro added

[2016-09-16 07:22] HUETGET commented on #139
Request to edit the wiki. User name is kingzhao.

[2016-09-16 07:42] tfoote commented on #139
@HUETGET added

[2016-09-16 16:17] robert-groensfeld commented on #139
RobertGroensfeld

[2016-09-16 17:20] tfoote commented on #139
@robert-groensfeld added​

[2016-09-16 17:30] JohannesAck commented on #139
"Johannes Ackermann"

Actually I just want to fix the external link [here](http://wiki.ros.org/action/login/opencv3)

[2016-09-16 17:42] tfoote commented on #139
@JohannesAck added​

[2016-09-19 13:34] matejsladek commented on #139
MatejSladek

[2016-09-19 22:30] tfoote commented on #139
@matejsladek added

[2016-09-20 17:32] ArminHopf commented on #139
Request to edit the wiki - User: ArminHopf
thx

[2016-09-20 20:51] tfoote commented on #139
@ArminHopf added

[2016-09-21 13:31] sbianti commented on #139
request for edition permition please: usename=  "Sébastien Bianti"

[2016-09-21 17:01] olmerg commented on #139
my user name is olmerg

[2016-09-21 17:17] tfoote commented on #139
​@sbianti @olmerg added

[2016-09-21 17:21] tlharmanphd opened #185 "ThomasHarman Comments"
We wish to add a ROS book to the booklist.

T.L. Harman

[2016-09-21 17:31] tlharmanphd commented on #139
My user name is ThomasHarman

[2016-09-21 18:16] tfoote commented on #185
It's a wiki, you can go ahead and add it yourself. If you don't already have permission to edit the wiki please request access in #139

[2016-09-21 18:16] #185 closed

[2016-09-21 18:17] tfoote commented on #139
​@tlharmanphd added

[2016-09-21 19:40] tlharmanphd commented on #139
Greetings:

Thank you for adding me to the Whitelist.

Also, our lab team appreciates your important contributions to ROS.

Tom Harman and Carol Fairchild

Dr. Thomas L. Harman
 Professor and Chair of Engineering Department
 Faculty Senate President 2002-2003
 Distinguished Professor 2005-2007, 2016-2017
 Member National Electrical Code Panel #2
University of Houston/Clear Lake
2700 Bay Area Boule

[2016-09-21 23:15] kent-williams commented on #139
Please add 'KentWilliams'
thank you!

[2016-09-21 23:31] tfoote commented on #139
@kent-williams added

[2016-09-22 07:20] iocchi commented on #139
Asking for edit permissions
User name: LucaIocchi

Thank you
Luca Iocchi, Sapienza University of Rome, Italy

[2016-09-22 15:23] taherahmadi commented on #139
Please Add `TaherAhmadi`
Thanks.

[2016-09-22 19:25] FairchildC commented on #139
Please add CarolFairchild to the whitelist.

[2016-09-22 22:27] tfoote opened #186 "wiki export stops alphabetically at stereo_image_proc alphabetically"
All pages after  `stereo_image_proc.html` alphabetically do not get generated.

It does all capitals first so they do exist.  I ran the trash and deleted page cleanup yesterday too so maybe  another trigger will work better?

[2016-09-22 23:30] tfoote commented on #139
@FairchildC @taherahmadi @iocchi added

[2016-09-23 05:43] derweeYang commented on #139
Please add derwee to the whitelist. @FairchildC @taherahmadi @iocchi

[2016-09-23 17:20] tfoote commented on #139
@derweeYang added

[2016-09-25 19:34] chrisspen commented on #139
ChrisSpencer

[2016-09-25 23:09] tfoote commented on #139
@chrisspen added

[2016-09-27 07:02] twiniars opened #187 "please add me to wiki contributors"
I found a number of bugs in ROS tutorial. I want to correct this. Please add my login to wiki whitelist
yoyekw

best regards,
Tomasz Winiarski
assistant professor
Warsaw University of Technology

[2016-09-27 07:09] tfoote commented on #187
Please ask on #139

[2016-09-27 07:09] #187 closed

[2016-09-27 07:16] twiniars commented on #139
Please add me to  whitelist:
yoyekw

[2016-09-27 17:25] tfoote commented on #139
@twiniars added

[2016-09-28 15:23] vikcp commented on #139
Please add me to whitelist:
VictorCasamayor

[2016-09-28 15:53] angel-santamaria commented on #139
Hi there, I request to edit the wiki. User name **asantamaria**

[2016-09-28 18:39] tfoote commented on #139
@vikcp @angel-santamaria added

[2016-09-29 03:34] pcarleton commented on #139
Hi, I would like to make edits to the wiki. My user name is **PaulCarleton**  Thanks!

[2016-09-29 15:41] yujianyuan commented on #139
Hi,I would like to edit roschina tutorials. My username is **xy1zzz** thanks a lot!

My purpose is translating those tutorials into Chinese, so that others in my country would be easier to read. Thank you.

[2016-09-29 18:15] tfoote commented on #139
@yujianyuan @pcarleton added

[2016-10-01 10:44] mmacsek commented on #139
Please add me to whitelist:
MarkusMacsek

[2016-10-01 13:04] Levi-Armstrong commented on #139
Please add me to the list:
LeviArmstrong

[2016-10-01 19:02] tfoote commented on #139
@mmacsek @Levi-Armstrong added

[2016-10-02 05:14] sivteck commented on #139
Please add me to the whitelist
wiki username: sivteck

[2016-10-02 06:06] tfoote commented on #139
@sivteck added

[2016-10-02 18:30] doctorseus commented on #139
Please whitelist my wiki user: doctorseus
Thanks!

[2016-10-02 20:59] tfoote commented on #139
@doctorseus added​

[2016-10-03 09:28] mttamtam commented on #139
Please add me to the whitelist.
username : JuntaroTamura
Thanks in advance.

[2016-10-03 13:24] laurent-george commented on #139
Hi, please add me the the whitelist,
username: LaurentGeorge

Thanks

[2016-10-03 17:51] tfoote commented on #139
@mttamtam @laurent-george added

[2016-10-04 08:54] HoriSun commented on #139
Hi, please add me to the whitelist.
Username: HoriSun

Thanks

[2016-10-05 03:46] tfoote commented on #139
@HoriSun added​

[2016-10-05 09:19] CPR-Robots commented on #139
Hi, please add me to the whitelist.
Wiki username: ChristianMeyer
Thank you!

[2016-10-05 11:19] nikonikolov commented on #139
Hi, please add me to the whitelist.
Wiki username: NikolayNikolov
Thanks!

[2016-10-05 13:59] ojura commented on #139
Hi, please add me. Username is jurajorsulic. Thanks.

[2016-10-05 16:33] itsb commented on #139
please add username itsb

[2016-10-05 19:06] AmmarJN opened #188 "I am not a spam"

[2016-10-05 19:13] AmmarJN commented on #139
My user name is AmmarJN. please add me!

[2016-10-05 19:16] #188 closed

[2016-10-05 19:41] tfoote commented on #139
@CPR-Robots @nikonikolov @ojura @itsb @AmmarJN added

@AmmarJN please be patient and thoughtful when contributing

[2016-10-07 16:31] mikemellos commented on #139
gettin' on board

[2016-10-07 16:51] mikemellos commented on #139
Please add me, username is mgmellos. Thanks

[2016-10-07 17:03] tfoote commented on #139
@mikemellos added​

[2016-10-08 08:23] molyb commented on #139
Please add me. Thanks.
User name: molyb

[2016-10-08 15:34] tfoote commented on #139
@molyb added​

[2016-10-09 05:42] tllam commented on #139
Request to be added to ROS wiki whitelist Thanks.
User name: tllam

[2016-10-09 06:20] karamach commented on #139
Please add me to whitelist
KarthikRamachandran

[2016-10-09 16:56] kejriwalnishant1990 commented on #139
Please add me to the whitelist
Username : Nishant Kejriwal

[2016-10-10 04:09] tfoote commented on #139
@karamach @tllam @kejriwalnishant1990 added

[2016-10-10 10:07] vfdev-5 commented on #139
Please add me too. Username : vfdev
Thanks

[2016-10-10 15:32] DorianScholz commented on #139
DorianScholz

[2016-10-10 20:42] tfoote commented on #139
​@DorianScholz @vfdev added

[2016-10-11 02:56] sunjiayuan0 commented on #139
Please add me to the whitelist
Username : sunjiayuan
Thanks

[2016-10-11 07:37] tfoote commented on #139
@sunjiayuan added​

[2016-10-11 19:20] aaost commented on #139
Please add _autonomy_ to the whitelist

[2016-10-11 20:53] tfoote commented on #139
@aaost  added

[2016-10-12 03:50] jihoonl commented on #139
jihoonl

[2016-10-12 06:26] tfoote commented on #139
@jihoonl added

[2016-10-12 09:42] gergia commented on #139
Please add IvanGavran to the whitelist

[2016-10-12 12:53] atiderko commented on #139
please add AlexanderTiderko to whitelist

[2016-10-12 17:43] tfoote commented on #139
@gergia @atiderko added

[2016-10-13 05:29] machewil commented on #139
MatthewWilson

[2016-10-13 05:47] rrison commented on #139
rrisoncai

[2016-10-13 18:07] tfoote commented on #139
@machewil @rrison added

[2016-10-14 10:20] EnricF commented on #139
EnricFernandez.

I want to edit section 2.4 (http://wiki.ros.org/action/login/indigo/Installation/UbuntuARM). I think it must be:

           sudo apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-key 0xB01FA116

[2016-10-14 18:07] tfoote commented on #139
@EnricF added

Please copy the info from: http://wiki.ros.org/indigo/Installation/Sources

[2016-10-16 17:24] adnanademovic commented on #139
AdnanAdemovic

[2016-10-17 00:03] tfoote commented on #139
@adnanademovic added

[2016-10-17 11:18] dmgongora commented on #139
DanGongora

[2016-10-17 12:29] SyrianSpock commented on #139
SalahMissri

[2016-10-17 12:39] MoriKen254 commented on #139
MoriKen

[2016-10-17 15:21] zosnap commented on #139
Zoe Snape

[2016-10-17 17:45] tfoote commented on #186
I'm not sure what changed, but it's now running fully and the mirrors have all the content including index.html (which appeared to be lost when it terminated early too.)

[2016-10-17 17:45] #186 closed

[2016-10-17 19:39] tfoote commented on #139
@zosnap @MoriKen254 @SyrianSpock @dmgongora added

[2016-10-18 21:39] ledmonster commented on #139
JunyaHayashi

[2016-10-18 22:04] rst0git commented on #139
Please 'rst0ros', to be added to the whitelist

[2016-10-18 22:42] jpswensen commented on #139
Could I be added to edit access.
JohnSwensen

I want to edit http://wiki.ros.org/ROSberryPi/Installing%20ROS%20Indigo%20on%20Raspberry%20Pi
to include instruction about how to use an older commit of urdfdom_header to prevent problems with urdfdom_header HEAD having removed boost::shared_ptr and replaced it with std::shared_ptr, and other parts of ROS Indigo (e.g. robot_model) expecting types.h to

[2016-10-18 22:43] tfoote commented on #139
@jpswensen @rst0git @ledmonster added

[2016-10-19 13:57] micros-uav commented on #139
Hi, please add me to the whitelist.
Wiki username: tangdengqing
Thank you!

[2016-10-19 16:43] tfoote commented on #139
@micros-uav added​

[2016-10-19 17:58] clebercoutof commented on #139
Hi, i would like to be added in the whitelist.
Username: CleberCoutoFilho

I want to create a new section in http://wiki.ros.org/turtlesim/Tutorials with the python tutorial for the Turtlesim Cleaning Aplication.

[2016-10-19 18:06] tfoote commented on #139
@clebercoutof added

[2016-10-20 13:38] dersimn commented on #139
Hi,
I would like to be added in the whitelist. Username: dersimn

[2016-10-20 16:52] facontidavide commented on #139
Hi, I would like to be added to document ros_type_introspection on the wiki
Username: DavideFaconti

[2016-10-20 17:41] tfoote commented on #139
@dersimn @facontidavide added

[2016-10-21 06:42] fjperezgrau commented on #139
Hi, I'm requesting to be added to the whitelist, my username is FranciscoJPerezGrau.
Thanks!

[2016-10-21 21:19] tfoote commented on #139
@fjperezgrau added

[2016-10-22 10:22] FelixMarek commented on #139
Hi,
I would add a new local planner.
Can you add me to the whitelist?

[2016-10-22 12:26] sirop commented on #139
Hallo.
Sometimes I come across obsolete links in the tutorials.
Would edit these.
Username: BorisSkegin

[2016-10-24 03:29] tfoote commented on #139
@sirop @FelixMarek  added

For those of you recently added I recommend unsubscribing from this ticket using the button at the right.

[2016-10-24 09:01] artivis commented on #139
Hi,
I would like to be added in the whitelist.
Username: jeremiederay

[2016-10-24 10:15] tfoote commented on #139
@artivis added

[2016-10-25 06:24] DominikLaupheimer commented on #139
I would like to be added in the whitelist.
Username: DominikLaupheimer

[2016-10-25 14:26] MDierschke-SickAG commented on #139
Hi,

can you please add me to the whitelist?
Username: MarcoDierschke

Thank you

[2016-10-25 18:17] tfoote commented on #139
@DominikLaupheimer added​

[2016-10-25 21:44] tfoote commented on #139
@MDierschke-SickAG added

[2016-10-26 05:11] geoffviola commented on #139
Please add me. My wiki username is GeoffreyViola. Thanks.

[2016-10-27 06:21] wangbinhai commented on #139
Hi @tfoote, could you please add me to the white list? My wiki username is BinhaiWang. Many thanks in advance!

[2016-10-27 06:29] uli2k commented on #139
Hi @tfoote , Could I be added as well? My wiki username is uli2k. Thanks.

[2016-10-27 12:33] stephankurzawe commented on #139
Hi, please add me to the whitelist. My wiki username is: StephanKurzawe.

[2016-10-27 15:37] tfoote commented on #139
​@geoffviola added

[2016-10-27 20:42] tfoote commented on #139
@wangbinhai @uli2k @stephankurzawe added

[2016-10-28 01:29] EdenHY commented on #139
The ros tutorials are for the beginners are useful. The INTERMEDIATE tutorials are not abundant, especially  the  interaction with hardware.

[2016-10-28 02:20] gaojiao commented on #139
Hi, could I be added to the whitelist, my username is "JeffGao".

[2016-10-28 05:09] tfoote commented on #139
@gaojiao added​

[2016-10-29 04:22] sktometometo commented on #139
Hi, could I be added to the whitelist? my user name is "KoukiShinjo".

[2016-10-29 20:44] tfoote commented on #139
@sktometometo added

[2016-10-30 10:30] TMats commented on #139
Hi, I'd like to edit the wiki, could I be added?
My user name is `TMats`
Thanks.

[2016-10-30 16:59] tfoote commented on #139
@TMats added

[2016-10-30 22:20] Affonso-Gui commented on #139
I would like to be able to edit the wiki, my user is 'Guilherme Affonso'.

Thank you very much

[2016-10-31 01:17] tfoote commented on #139
@Affonso-Gui added

[2016-11-01 02:51] sunzifei commented on #139
Hi, could I be added to the whitelist? My user name is sunzifei.

[2016-11-01 05:24] tfoote commented on #139
@sunzifei added

[2016-11-01 07:16] YeunhoKim commented on #139
Hi I want to be a one of the whitelist members My wiki id is 'YeunhoKim'
I hope your nice day.
thanks.

[2016-11-01 07:23] tfoote commented on #139
@YeunhoKim added

[2016-11-01 12:39] Active8Robots commented on #139
Hello, could I be added to the white list please, Id like to add a robot to the robots page
name : NickHornsey
Thank you

[2016-11-01 21:18] tfoote commented on #139
@Active8Robots added

[2016-11-02 02:50] willchamberlain commented on #139
WilliamChamberlain is me

[2016-11-02 03:33] tfoote commented on #139
@willchamberlain added​

[2016-11-02 19:12] dirk-thomas opened #190 "Use case driven distro recommendations outdated"
http://wiki.ros.org/Distributions#Which_distribution_to_use

@130s Since you added that paragraph initially maybe you can update it.

[2016-11-03 10:40] Tobi2001 commented on #139
Hello,
could you please add me as well? My username is: TobiasAllgeyer
Thank you

[2016-11-03 12:49] sbarthelemy commented on #139
Hi, could you add me too?

username: SebastienBarthelemy.

thx!

[2016-11-03 13:43] roberto-martinmartin commented on #139
Hi guys,

I would like to get added to the ROS white list. I'm not a spammer! ;)

username: RobertoMartin

[2016-11-03 13:45] roberto-martinmartin commented on #139
Ups, sorry, my mistake

username: RobertoMartinMartin

[2016-11-03 17:30] tfoote commented on #139
@roberto-martinmartin @sbarthelemy @Tobi2001 added

[2016-11-03 20:56] janeelke commented on #139
Hi! I'd like to be added to the whitelist. My username is JaneMiller.

[2016-11-03 23:04] tfoote commented on #139
@janeelke added

[2016-11-03 23:38] aaronskpark opened #191 "Aaron Park from ROBOTIS"
Hello, this is Aaron from ROBOTIS.  Could you please give an access (ID: aaronskpark) to edit the page: http://wiki.ros.org/ROBOTIS

Thank you

[2016-11-04 00:07] tfoote commented on #191
Please comment on #139

[2016-11-04 00:07] #191 closed

[2016-11-04 00:12] dirk-thomas commented on #191
@tfoote I don't know how the current instructions read but based on the number of users which open new tickets (rather then commenting on the existing one) it might be everything but clear.

Maybe it needs to be rephrased? Maybe the referenced tickets needs to be updated to clearly state at the top that it is fine to comment on it even though its closed?

Anyway when users create a ticket I don't

[2016-11-04 01:08] tfoote commented on #191
People successfully comment on that ticket most of the time. The large majority of people end up in the right place >500 so far.

The link is pretty explicit saying to comment ["on this ticket"](https://github.com/ros-infrastructure/roswiki/blob/f9549edc004808183dc42f6639500a19ca4253c9/theme/rostheme.py#L232)

Feel free to update it to be clearer. I reordered the description at the top of the tick

[2016-11-04 01:20] InnaTlisov commented on #139
Hello! Please add me to the whitelist. My username is InnaTlisov.

Best,
Inna

[2016-11-04 04:21] dirk-thomas commented on #191
I agree that the message in the wiki itself is already pretty precise. The new paragraph at the beginning of the ticket is good. I hope it helps to encourage people to comment their (rather then open a new ticket).

[2016-11-04 08:02] AlysonQ commented on #139
Request to edit the wiki. User name is "AlysonChen".
Thanks :)))

[2016-11-04 18:24] tfoote commented on #139
@AlysonQ added
@InnaTlisov you're already listed is that your ROS Wiki username as well as your GitHub username?

[2016-11-04 18:34] InnaTlisov commented on #139
Hi @tfoote. Yes, my ROS Wiki username is the same as my GitHub username.

Best,
Inna

[2016-11-04 19:03] PuneethBC commented on #139
Hi,
    Please add me to the whitelist

[2016-11-04 19:05] tfoote commented on #139
@PuneethBC what is your wiki username?

[2016-11-04 19:15] PuneethBC commented on #139
Puneeth

[2016-11-04 20:23] tfoote commented on #139
@PuneethBC added

[2016-11-06 03:22] ronekko commented on #139
Hi, please add ronekko to the whitelist.

[2016-11-06 09:16] tfoote commented on #139
@ronekko added

[2016-11-06 09:18] 130s commented on #190
[Done](http://wiki.ros.org/action/info/Distributions?action=diff&rev2=80&rev1=79).
There might be discussions for the change though (e.g. not entirely sure about LTS recommendation).

[2016-11-06 13:37] ssavrim commented on #139
Request to edit the wiki please, username kreolite

[2016-11-06 15:55] dirk-thomas commented on #190
Thx

[2016-11-06 15:55] #190 closed

[2016-11-07 01:32] tfoote commented on #139
@ssavrim added
​

[2016-11-07 06:31] MahmoudElsayed0 commented on #139
Request to edit the wiki please, usernameMahmoud

[2016-11-07 07:21] tfoote commented on #139
@MahmoudElsayed0 added​

[2016-11-07 16:43] asr-ros commented on #139
Request to edit the wiki please, username PascalMeißner

[2016-11-07 20:43] tfoote commented on #139
@asr-ros added

[2016-11-08 03:35] ekaszubski commented on #139
Request to edit the wiki please, username: Semio

Thanks!

[2016-11-08 05:30] tfoote commented on #139
@ekaszubski added

[2016-11-08 15:12] vtalats commented on #139
Request to edit the wiki, username: Alan Lattimer

[2016-11-08 20:21] jacksonkr commented on #139
Whitelist request: Jackson Rollins

[2016-11-08 22:32] tfoote commented on #139
@vtalats @jacksonkr added

[2016-11-09 11:02] dilipkumar25 commented on #139
Hi. I'd like to be whitelisted. My wiki user name is Dilip Kumar

[2016-11-09 18:23] tfoote commented on #139
@dilipkumar25 added​

[2016-11-10 05:25] AsimovRoboticsPvtLtd commented on #139
Request to whitelist. Wiki Username Asimov Robotics

[2016-11-10 16:33] Dav1dK commented on #139
Whitelist request, wiki username: DavidKahles

[2016-11-10 16:57] tfoote commented on #139
@AsimovRoboticsPvtLtd @Dav1dK added

[2016-11-11 03:45] kevin2renee commented on #139
hi there,I'd like to do some contribution, my username '胡飞'

[2016-11-11 04:25] brawner commented on #139
Hey Tully, I would like to edit the wiki. username StephenBrawner

[2016-11-11 07:49] tfoote commented on #139
@kevin2renee @brawner added

[2016-11-14 09:35] johnnyjacob commented on #139
WhiteList Request "Johnny Jacob" .

[2016-11-14 17:16] Ver1Sus commented on #139
Hi! Please, add ValeriyProvkov, Thanx)

[2016-11-14 19:35] tfoote commented on #139
@Ver1Sus @johnnyjacob added

[2016-11-14 19:44] FAD0 commented on #139
Please as DirkReese to the whitelist.  Thank you.

[2016-11-14 20:49] tfoote commented on #139
@FAD0 added

[2016-11-15 01:50] johnnyjacob commented on #139
@tfoote I'm still not able to edit. I realized in my initial request there was a whitespace in my username, it is now "JohnnyJacob" .

[2016-11-15 08:08] tfoote commented on #139
@johnnyjacob whitespace removed

[2016-11-15 09:42] olayasturias commented on #139
Whitelist request, wiki username: olaya

[2016-11-15 13:02] EndoYuuki commented on #139
Whitelist request "EndoYuuki"

[2016-11-15 13:21] dimaershov commented on #139
Whitelist Request by "Dmitriy Ershov"

[2016-11-15 19:18] tfoote commented on #139
@dimaershov @EndoYuuki @olayasturias added

[2016-11-15 23:37] gguy1 commented on #139
Whitelist Request, wiki username: gguy1

[2016-11-16 00:31] tfoote commented on #139
@gguy1 added​

[2016-11-16 06:36] mkawabe7 commented on #139
Whitelist request , wiki username: MitsuhisaKawabe

[2016-11-16 06:58] tfoote commented on #139
@mkawabe7 added

[2016-11-16 14:16] JoseRobotnik commented on #139
Hello, I registered long time ago and I couldn't recover my password with the token. The page always respond "Invalid token". My ROS wiki user is JoseRapado.

Thank you!

[2016-11-16 14:47] ThomasLeMezo commented on #139
Whitelist Request, wiki username: ThomasLeMezo
Thank you!

[2016-11-16 14:49] ThomasLeMezo commented on #139
Whitelist Request, wiki username: ThomasLeMezo
Thank you!

[2016-11-16 18:41] tfoote commented on #139
@ThomasLeMezo added
@JoseRobotnik I see you're already whitelisted. And I checked that the password reset appears to be working for me. Can you make sure to try using the clickable url in a private window to make sure it's not a copy and paste issue with the token, or possibly a browser autofill or spell correction in the browser?

[2016-11-18 23:02] diosla commented on #139
I would like to be added to the whitelist, thanks.
wiki UserName: DiegoOspina

[2016-11-18 23:15] tfoote commented on #139
@diosla added​

[2016-11-20 10:54] Ri0S commented on #139
Whitelist Request, wiki username: RioS
Thank You!!

[2016-11-20 23:17] tfoote commented on #139
@RioS added​

[2016-11-21 02:04] iceburgconner2 commented on #139
Request to edit the wiki. User name is wy

[2016-11-21 02:25] xiaoying0 commented on #139
@130s added

[2016-11-21 03:46] tfoote commented on #139
@iceburgconner2 added

@xiaoying0 are you asking to be added? @130s already has access.

[2016-11-21 03:58] xiaoying0 commented on #139
yes

[2016-11-21 03:59] xiaoying0 commented on #139
@tfoote  yes

[2016-11-21 06:17] tfoote commented on #139
@xiaoying0 what is your ROS Wiki username?

[2016-11-21 19:02] ChuChuIgbokwe commented on #139
Whitelist request. Wiki username: chuchuigbokwe

[2016-11-21 21:54] tfoote commented on #139
@ChuChuIgbokwe added​

[2016-11-22 00:22] xiaoying0 commented on #139
@tfoote   Wiki username: xiaoying

[2016-11-22 01:22] tfoote commented on #139
@xiaoying0 added​

[2016-11-23 03:11] pAIgn10 commented on #139
NickLamprianidis

[2016-11-23 07:31] tfoote commented on #139
@pAIgn10 added

[2016-11-23 19:40] andre-nguyen commented on #139
AndreNguyen

Thanks!

[2016-11-24 01:21] dwikyerl commented on #139
Wiki username : DwikyErlangga

[2016-11-24 07:14] gstavrinos commented on #139
GeorgeStavrinos

[2016-11-24 09:11] tfoote commented on #139
@gstavrinos @dwikyerl @andre-nguyen added

[2016-11-25 01:42] zq15952344 commented on #139
zq15952344

thanks

[2016-11-25 03:43] ibaranov-cp commented on #139
Requesting editing permissions, username IliaBaranov
(from Clearpath :) )

[2016-11-25 11:00] tschamm commented on #139
tschamm

Thanks!

[2016-11-25 17:17] danielsnider commented on #139
danielsnider

I'm thinking about creating a Jetson TX1 wiki page or making mention of the newer TX1 on the [TK1 wiki page](http://wiki.ros.org/action/login/NvidiaJetsonTK1).

Thank you!

[2016-11-26 19:28] tfoote commented on #139
@zq15952344 @ibaranov-cp @tschamm @danielsnider added

[2016-11-29 02:54] petern3 commented on #139
Requesting permission: PeterNicholls
Thanks!

[2016-11-29 06:28] tfoote commented on #139
@petern3 added

[2016-11-29 15:20] nesnes commented on #139
Hi,
Can you add EdwinAzzam please?
Thanks a lot.

[2016-11-29 20:58] tfoote commented on #139
@nesnes added​

[2016-11-30 00:01] jpiramirez commented on #139
JuanPabloRamirez

Please add me to the list of wiki editors. Thanks.

[2016-11-30 01:06] tfoote commented on #139
@jpiramirez added

[2016-11-30 22:24] ckchow commented on #139
chrischow on the wiki.

[2016-11-30 23:33] kogut commented on #139
GregKogut

[2016-12-01 02:04] tfoote commented on #139
@kogut @ckchow added

[2016-12-01 16:48] mithunjacob commented on #139
Please add @mithunjacob to the wiki

[2016-12-01 20:01] tfoote commented on #139
@mithunjacob what's your username on the ROS wiki?

[2016-12-01 20:52] mithunjacob commented on #139
Sorry about that. It's MithunJacob.

On Dec 1, 2016 12:01 PM, "Tully Foote" <notifications@github.com> wrote:

[2016-12-01 21:05] jwm commented on #139
Please add write access for `John Morrissey`.

[2016-12-02 04:05] Java-YHB commented on #139
My username to the ROS wiki is 叶活斌.
Thanks for your effort!

[2016-12-02 16:40] floriel commented on #139
my username in the ROS wiki: floriel

[2016-12-02 20:21] tfoote commented on #139
@floriel @Java-YHB @jwm @mithunjacob added

[2016-12-03 23:05] zkytony commented on #139
My username is 'KaiyuZheng'. I'd like to improve the Navigation Tuning Guide. I wrote a more detailed guide myself here: [ROS Navigation Tuning Guide](http://www.zkytony.com/documents/navguide.pdf)

[2016-12-04 05:16] simubhangu commented on #139
I would like to add Rasbian with ROS customize image. Request to edit the wiki. User name is simranjeet

[2016-12-04 08:32] FAD0 commented on #139
Just curious, does the ROS image have rqt and rviz?  I have a very hard time getting those installed.  I running Jessie,

On Dec 4, 2016, at 1:16 PM, simubhangu <notifications@github.com<mailto:notifications@github.com>> wrote:

I would like to add Rasbian with ROS customize image. Request to edit the wiki. User name is simranjeet

-
You are receiving this because you were mentioned.
Reply to this

[2016-12-04 09:04] simubhangu commented on #139
yes, image have both rviz and rqt.

[2016-12-04 09:11] FAD0 commented on #139
Sweet!  I would greatly appreciate it if you could Let me know when you've got it posted.  Thanks.

On Dec 4, 2016, at 5:04 PM, simubhangu <notifications@github.com<mailto:notifications@github.com>> wrote:

yes, image have both rviz and rqt.

-
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/ros-infrastructure/roswiki/issues/139

[2016-12-04 09:14] simubhangu commented on #139
Welcome, As soon as i got the edit access, i will post it to wiki and notify you !!!

[2016-12-04 20:49] almeidajp commented on #139
Please add write access for **JoaoBarbosa**

Thanks

[2016-12-04 22:37] tfoote commented on #139
@simubhangu added, however for security reasons please do not add instructions for non-reproducible 3rd party hosted binaries.

@almeidajp added

[2016-12-04 22:40] zkytony commented on #139
Hi @tfoote , did you miss my comment?

My username is 'KaiyuZheng'. I'd like to improve the Navigation Tuning Guide. I wrote a more detailed guide myself here: ROS Navigation Tuning Guide

[2016-12-04 22:42] tfoote commented on #139
@zkytony sorry I added you yesterday but forgot to @ mention it back here. added.

[2016-12-04 22:50] zkytony commented on #139
@tfoote Thanks! A quick question: Is there a way to host a pdf on the ROS Wiki website, or do I need to put a link to external website for the document?

[2016-12-04 23:10] tfoote commented on #139
@zkytony you can attach pictures and pdfs to the webpages, though generally we recommend making sure that things are reproducable/editable in the future.

[2016-12-05 05:17] simubhangu commented on #139
@tfoote is there any security issue if i provide the rasbian image with ROS?

[2016-12-05 07:18] tfoote commented on #139
@simubhangu Yes, when downloading an OS image you must trust the packager to have setup everything securely and also not be malicious. The packager has had unlimited root access before you have. I trust that you're trying to be helpful and most people would be as well. But we do not want to recommend that people get into the habit of trusting binaries submitted from the community. There are some t

[2016-12-07 17:28] Itamare4 commented on #139
ItamarEliakim

Thanks.

[2016-12-07 19:25] tfoote commented on #139
@mantouRobot @Itamare4 added

[2016-12-07 19:27] tfoote commented on #139
Note for anyone who's asked to be added here and doesn't want to get emailed each time someone else asks I recommend that you unsubscribe from this issue using the button in the right side bar.

[2016-12-08 02:06] SawYer-Robotics commented on #139
Can I edit with my robot with wiki? usename with wiki: SawYer-Robotics
Thanks !

[2016-12-08 03:18] tfoote commented on #139
@SawYer-Robotics added

On Wed, Dec 7, 2016 at 6:06 PM, SawYer-Robotics <notifications@github.com>
wrote:

[2016-12-08 04:02] SawYer-Robotics commented on #139
@tfoote Hi, I can find my wiki name on http://wiki.ros.org/UserGroup, but it's showing me the package with add to whitelist, can you tell me how should I do next?
Thanks!

[2016-12-08 05:06] tfoote commented on #139
@SawYer-Robotics can you clarify what you mean by "the package with add to whitelist" If you're on the list you should have access.

[2016-12-08 07:02] SawYer-Robotics commented on #139
@tfoote Hi, now I change my wiki username: ' SawYer', and now I can edit.
Thanks!

[2016-12-08 21:20] sontran1001 commented on #139
sontran

[2016-12-09 00:47] tfoote commented on #139
@sontran1001 added

[2016-12-09 00:57] vcravi commented on #153
Thanks for the effort to get this closed! It makes a world of difference when referring to the wiki offline!

[2016-12-13 23:16] jtib commented on #139
Request to edit the wiki. User name is JulietteTibayrenc

[2016-12-14 08:41] EnginTas03 commented on #139
Request to edit the wiki.

[2016-12-14 18:47] tfoote commented on #139
@jtib added
@EnginTas03 what is your wiki username?

[2016-12-20 07:15] masc0122 commented on #139
Request to edit the wiki. User name is MatthiasSchaechter
Thanks in advance!

[2016-12-20 08:59] suiauthon commented on #139
Marko Car

thanks

[2016-12-20 13:26] EnginTas03 commented on #139
EnginTas03

iPhone'umdan gönderildi

Marko Car <notifications@github.com> şunları yazdı (20 Ara 2016 11:59):

[2016-12-21 07:17] MandeepManku commented on #139
Request to edit the wiki.
User Name : Mandeep Singh
Thanks.

[2016-12-21 21:39] tfoote commented on #139
@MandeepManku @EnginTas03 @suiauthon @masc0122 added

[2016-12-22 09:50] Ydcool commented on #139
Request to edit the wiki.
UserName: `Dominic Yin`
Thanks.

[2016-12-22 18:22] tfoote commented on #139
@Ydcool added

[2016-12-24 08:28] pryre commented on #139
I would like to get some access to the wiki.
Username: KyeMorton
Thanks

[2016-12-24 11:54] zakaria220 commented on #139
Hi! Please add 'AliZakaria'
Thanks

[2016-12-24 12:35] igorrecioh commented on #139
IgorRecio

Thanks!

[2016-12-27 05:32] tfoote commented on #139
@igorrecioh @zakaria220 @pryre added

[2016-12-27 16:14] davidfischinger commented on #139
Request to edit the wiki please, username DavidFischinger

[2016-12-27 22:58] svkapustin commented on #139
Please whitelist: sergey

Cheers!

[2016-12-29 02:07] tfoote commented on #139
@svkapustin @davidfischinger  added

[2017-01-01 17:26] clydemcqueen commented on #139
Please whitelist: ClydeMcQueen.

Happy New Year!

[2017-01-02 18:22] dwulkan opened #193 "Whitlist me"
DaveWulkan

[2017-01-02 18:24] dwulkan commented on #139
Whitlelist me, please: DaveWulkan

[2017-01-03 06:44] tfoote commented on #139
@dwulkan added

[2017-01-03 06:44] tfoote commented on #193
Please don't post things multiple times. It just clutters up histories and causes more notifications to be sent.

[duplicate](https://github.com/ros-infrastructure/roswiki/issues/139#issuecomment-270005417)

[2017-01-03 06:44] #193 closed

[2017-01-03 10:24] inesba commented on #139
Whitlelist me, please: @InesBenAbdallah

[2017-01-03 11:34] Enova-Robotics commented on #139
Wissem Achour

[2017-01-03 11:41] WissemEng commented on #139
Whitlelist me, please: Wissem Achour

[2017-01-03 17:00] deb0ch commented on #139
Whitelist me, please: Thomas de Beauchêne (@deb0ch)

[2017-01-03 21:23] tfoote commented on #139
@deb0ch @WissemEng @inesba added

[2017-01-06 09:16] SimonBirrell commented on #139
My username is SimonBirrell.

I would like to add a few instructions to the page at http://wiki.ros.org/action/login/ur_gazebo to show people how to make the demo work on Kinetic. From my closed issue at https://github.com/ros-industrial/universal_robot/issues/281

[2017-01-06 19:48] tfoote commented on #139
@SimonBirrell added

[2017-01-07 23:40] zakizadeh opened #194 "rotation two Gears in RViz and Gazebo"
i have two gears in my urdf . i want rotate two gears in same time . U31_1 and U32_1 are gears .
[image](http://answers.gazebosim.org/upfiles/14837212822134564.jpg)

my urdf :

 <link
    name="link_U31_1">
    <inertial>
      <origin
        xyz="-8.87891218881443E-11 7.94085594724159E-07 -0.00670118881241989"
        rpy="0 0 0" />
      <mass
        value="0.0791354618215319" />
      <inerti

[2017-01-08 00:46] wjwwood commented on #194
This is only for issues with the wiki.ros.org website. Please see http://wiki.ros.org/Support.

[2017-01-08 00:46] #194 closed

[2017-01-08 22:40] eaparra01 commented on #139
Hello,
Please add eaparra to the whitelist.
Thanks.

[2017-01-09 00:09] tfoote commented on #139
@eaparra01 added

[2017-01-09 11:42] SandeepLerio opened #195 "I'm new to ROS"
ROS wiki @SandeepLerio

[2017-01-09 18:50] tfoote commented on #195
Are you requesting to be added to the wiki access list? If so, please comment on #139

[2017-01-09 18:50] #195 closed

[2017-01-10 04:15] SandeepLerio commented on #195
#139

[2017-01-10 06:32] MrGeva commented on #139
EranGeva

[2017-01-10 09:31] jim-v commented on #139
Please add JimVaughan to the whitelist - I'd like to document the packages I maintain.

[2017-01-10 14:55] henriquepatusco commented on #139
Henrique Patusco

[2017-01-11 09:43] prasun2712 commented on #139
Prasun Pallav

[2017-01-11 23:03] tfoote commented on #139
@prasun2712 @henriquepatusco @jim-v @MrGeva added

[2017-01-12 09:17] jonpol01 commented on #139
add me please 'JohnPaulSoliva'

[2017-01-12 09:59] plieningerweb commented on #139
Please add me 'klare'

[2017-01-12 13:22] mxrchn commented on #139
Add me 'iROS', thanks.

[2017-01-12 18:58] tfoote commented on #139
@mxrchn @plieningerweb @jonpol01 added

[2017-01-13 05:02] alittleharry commented on #139
alittleharry

[2017-01-13 17:52] tfoote commented on #139
@alittleharry added​

[2017-01-16 18:03] mikeodr commented on #139
Request to add:

MikeODriscoll

[2017-01-17 02:45] tfoote commented on #139
@mikeodr added​

[2017-01-18 14:17] elhayrobotican commented on #139
Please add: elhay

[2017-01-18 18:30] shoemakerlevy9 commented on #139
Please whitelist: nickfragale

[2017-01-18 23:44] tfoote commented on #139
@shoemakerlevy9 @elhayrobotican added

[2017-01-20 14:07] AmaurX commented on #139
please add AmauryCms
I would like to correct some mistakes on the tf2 tutorials

[2017-01-20 21:54] starthal commented on #139
Please add: StephenAlbert

[2017-01-21 19:21] felramfab commented on #139
Please add: felramfab

[2017-01-22 20:17] rkoyama1623 commented on #139
Please add: rkoyama1623

[2017-01-23 08:08] orhanoz commented on #139
please add: orhanoz

[2017-01-23 13:32] PerrineAguiar commented on #139
Please add: PerrineAguiar

[2017-01-24 00:56] JUST1043 commented on #139
Please add: rong. Thanks very much!

[2017-01-24 10:33] smits commented on #139
Please add: RubenSmits

[2017-01-24 14:37] matheusns commented on #139
Please add: Matheus Nascimento (matheus_ns) matheus94.ns@gmail.com.

[2017-01-24 17:26] tfoote commented on #139
@matheusns Which is your wiki username?

@smits @JUST1043 @PerrineAguiar @orhanoz @rkoyama1623 @felramfab @starthal @AmaurX added

[2017-01-24 19:13] matheusns commented on #139
My nickname is Matheus Nascimento.

[2017-01-24 19:47] tfoote commented on #139
@matheusns added​

[2017-01-25 12:59] guilhermeguimaraes commented on #139
Please add: Guilherme Guimarães

[2017-01-25 18:28] tfoote commented on #139
@guilhermeguimaraes added​

[2017-01-25 18:47] guilhermeguimaraes commented on #139
Thank you!

[2017-01-25 20:52] clalancette commented on #139
Please add: ChrisLalancette

[2017-01-25 23:18] tfoote commented on #139
@clalancette added

[2017-01-26 02:24] quattrinili commented on #139
Please add: AlbertoQuattriniLi

[2017-01-26 02:47] tfoote commented on #139
@quattrinili added

[2017-01-26 07:46] rbbg commented on #139
RubenBurger, Thanks.

[2017-01-26 20:05] simchanu29 commented on #139
SimonChanu, please add for editing.

[2017-01-26 20:09] tfoote commented on #139
@simchanu29 added​

[2017-01-26 22:31] tfoote commented on #139
@rbbg added

[2017-01-27 04:52] TJMolnar commented on #139
Please add: TMolnar

[2017-01-27 07:40] tfoote commented on #139
@TJMolnar added

[2017-01-28 23:09] sharst commented on #139
Please add: SimonHarst

[2017-01-29 02:30] tfoote commented on #139
@sharst added​

[2017-01-30 09:33] JuliusGel commented on #139
Please add: JuliusGelsvartas
Thanx

[2017-01-30 19:41] tfoote commented on #139
@JuliusGel added

[2017-01-31 06:45] skylvr1289 commented on #139
Please add:
'Abhishek Kumar'

[2017-01-31 07:21] tfoote commented on #139
@skylvr1289 added

[2017-01-31 10:11] packtpartner commented on #139
Please add "PacktPub"

[2017-01-31 13:11] tfoote commented on #139
@packtpartner added

[2017-01-31 22:59] ancakes commented on #139
Please add:

"MatthewPan"

[2017-01-31 23:02] tfoote commented on #139
@ancakes added​

[2017-02-01 22:57] ckirksey3 commented on #139
CalebKirksey

[2017-02-02 01:09] tfoote commented on #139
@ckirksey3 added

[2017-02-02 12:07] henriqueribeiro commented on #139
HenriqueSilva

Thanks

[2017-02-02 19:33] tfoote commented on #139
@henriqueribeiro added​

[2017-02-03 05:17] ShotaChikushi commented on #139
Please add
Shota Chikushi

[2017-02-03 17:26] RockyPLPL commented on #139
RockyLP, please grant me a privilege.

[2017-02-03 20:43] BillTJbl commented on #139
Bill Tonnies
I would like to update some of the links on the CPP style guide to the correct URLs

[2017-02-03 23:16] banerjs commented on #139
Wiki username: SiddharthaBanerjee
Trying to release a new package. Thanks!

[2017-02-03 23:16] tfoote commented on #139
@BillTJbl @RockyPLPL @ShotaChikushi aadded

[2017-02-03 23:17] tfoote commented on #139
@banerjs added

[2017-02-03 23:37] VictorYu2015 opened #196 "ros is an amazing OS for robotics"
I think ros is an amazing OS for robotics